<template>
    <div class="notice-content">
        <div class="notice-head">
            <img src="../images/email-success.png" alt="" v-if="type == 'email'">
            <img src="../images/success.png" v-else="type == 'success'">
            <span>{{ type == 'email' ? '请登录邮箱'+ email +'查阅来自问路石的邮件，点击邮件中的链接重置您的登录密码': '恭喜您！账号：'+ email +'已注册成功，向您的邮箱发送了一封激活邮件，请点击邮件中的链接完成激活'}}</span>
        </div>
         <div class="notice-handle">
             <!--<button class="btn bg-main-color">{{ type == 'email' ? '去邮箱重置密码' : '立即激活邮箱'}}</button> -->
             <a class="main-color" href="javascript:;" @click="reSend">没收到？再次发送</a>
         </div>
    </div>
</template>

<script lang="babel">
    export default{
        mounted(){
        },
        data(){
            return{
                email: this.$route.params.email,
                type: this.$route.params.type,
            }
        },
        methods:{
            reSend(){
                switch (this.type){
                    case 'email':
                        this.$http.put('auth/reset-password', {
                            email: this.email
                        }).then((response) => {

                        }, (response) => {
                            console.log(response)
                        }).finally(() => {
                        });
                        break;
                    default:
                        this.$http.put('auth/re-send-register-email', {
                            email: this.email
                        }).then((response) => {

                        }, (response) => {
                            console.log(response)
                        }).finally(() => {
                        });
                        break;
                }
            }
        }
    }
</script>

<style lang="scss">
    .notice-content{
        padding: 20em 0;
        text-align: center;
        .notice-head{
            margin-bottom: 6em;
            img{
                margin-right: 2em;
                width: 5em;
                vertical-align: middle;
            }
            span{
                display: inline-block;
                width: 24em;
                vertical-align: middle;
                text-align: left;
                line-height: 2;
            }
        }
        .notice-handle{
            margin-left: 5em;
            button{
                padding: 10px 2em;
                margin-right: 2em;
            }
            a{
                font-weight: 500;
            }
        }
    }
</style>
