<template>
    <div class="container text-center">
        <h4 class="main-color">重置密码</h4>
        <form @submit.prevent="sendForm" class="col-sm-offset-4 col-sm-4">
            <div class="form-group input-ico left" :class="{ 'has-error': errors().has('email') }">
                <div class="ico">
                    <img src="images/ico_email.png">
                </div>
                <input type="email" v-model="form.$fields.email" class="form-control" required placeholder="邮箱">
                <div class="help-block" v-if="errors().has('email')">{{ errors().get('email') }}</div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-block bg-main-color" type="submit">下一步</button>
            </div>
        </form>
    </div>
</template>

<script lang="babel">
    export default {
        data () {
            return {
                form: {
                    $fields: {
                        email: null
                    },
                    $errors: {},
                    $busy: false
                }
            }
        },
        methods:{
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            sendForm(){
                this.form.$busy = true;
                this.$http.put('auth/reset-password', this.form.$fields).then((response) => {
                    this.$router.push({
                        name: 'Notice',
                        params:{
                            'type': 'email',
                            'email': this.form.$fields.email
                        }
                    })
                }, (response) => {
                    this.form.$errors = response.data;
                }).finally(() => {
                    this.form.$busy = false
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .container{
        padding: 10em 0;
        text-align: center;

        h4{
            margin: 3rem 0;
        }
    }
</style>
