<template>
    <div class="container" v-if="is_show">
        <h4>产品推广有效性</h4>
        <chartjs-bar :value="chart_data"></chartjs-bar>
    </div>
</template>

<script lang="babel">
   import ChartjsBar from '../components/ChartjsBar.vue'
    export default{
        components:{
            ChartjsBar
        },
        created(){
            this.getData()
        },
        data(){
            return{
                form:{
                    wechat: 0,
                    network: 0,
                    brochure: 0,
                    friend: 0,
                    activity: 0,
                    other: 0,
                },
                is_show: false
            }
        },
        computed:{
            chart_data(){
                let data = this.form;
                return [
                    {
                        name: '微信公众号',
                        value: data.wechat
                    },
                    {
                        name: '互联网',
                        value: data.network
                    },
                    {
                        name: '宣传手册',
                        value: data.brochure
                    },
                    {
                        name: '朋友',
                        value: data.friend
                    },
                    {
                        name: '近期活动',
                        value: data.activity
                    },
                    {
                        name: '其他',
                        value: data.other
                    }
                ];
            }
        },
        methods:{
            getData(){
                this.$http.get('survey').then((r)=>{
                    this.form = r.body;
                    this.is_show = true
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .container{
        padding-top: 9em;

        h4{
            font-size: 15px;
            margin-bottom: 2em;
        }
    }
</style>
