<template>
    <div class="leave-message">
        <form @submit.prevent="submit" v-if="isShowEdit(-1)">
            <div class="form-group">
                <textarea class="form-control" rows="5" v-model="form.content"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn bg-main-color">发布留言</button>
            </div>
        </form>
        <div class="conversation-list">
            <div v-for="(v,index) in messages">
                <form @submit.prevent="update(index)" method="post">
                    <div class="content" :class="{'new': compareTime(v.user.id, v.id, readId)}">
                        <span v-if="!isShowEdit(index)">{{ v.content }}</span>
                        <span class="label label-warning" v-if="compareTime(v.user.id, v.id, readId)">新</span>
                    </div>
                    <div>{{ v.user.nickname ? v.user.nickname :'匿名' }}&nbsp;&nbsp;{{ v.created_at }}&nbsp;&nbsp;<i class="glyphicon glyphicon-edit" @click="setEditIndex(index)" v-if="isCurrentUser(v.user.id)"></i>&nbsp;<i class="glyphicon glyphicon-trash" v-if="UserPower(v.user.id)" @click="remove(index, v)"></i></div>
                    <textarea class="form-control" rows="5" v-if="isShowEdit(index)" v-model="temp_content"></textarea>
                    <div class="text-right" v-if="isShowEdit(index)">
                        <button type="button" class="btn border-main-color"  @click="setEditIndex(-1)">取消</button>
                        <button type="submit" class="btn bg-main-color">修改留言</button>
                    </div>
                </form>
                <hr/>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'

    export default{
        created(){
            this.fetch();
        },
        props: {
            period: {
                type: String,
                default: ''
            },
            readId: {
                type: Number,
                default: 0
            }
        },
        data(){
            return{
                messages: [],
                form: {
                },
                edit_index: -1,
                temp_content: ''
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
            url(){
                return 'service/study-abroad/' + this.$route.params.id + '/' + this.period + '/messages/';
            },
        },
        methods: {
            isCurrentUser(id){
                return id == this.$store.state.user.id;
            },
            UserPower(userId){
                if(this.user.role == 'admin') return true;
                if(this.user.id == userId) return true;
            },
            isShowEdit(index){
                return this.edit_index == index;
            },
            setEditIndex(index){
                if(index >= 0){
                    this.temp_content = this.messages[index].content;
                }
                this.edit_index = index;
            },
            submit(){
                this.$busy = true;
                this.$http.post(this.url, this.form).then((r)=>{
                    this.messages = r.body.data;
                    this.form = {};
                }, (response) => {
                }).finally(() => {
                    this.busy = false
                });
            },
            update(index){
                let message = this.messages[index];
                this.$busy = true;
                this.$http.put(this.url+message.id, {
                    content: this.temp_content
                }).then((r)=>{
                    message.content = this.temp_content;
                }, (response) => {
                }).finally(() => {
                    this.setEditIndex(-1)
                });
            },
            fetch(){
                this.$http.get(this.url).then((r)=>{
                    this.messages = r.body.data;
                    let latestId = 0;
                    if(this.messages.length > 0){
                        let latestObj = this.messages[0];
                        latestId = latestObj.id;
                    }
                    this.refreshReadId(latestId)
                });
            },
            refreshReadId(readId){
                this.$http.post('service/read-message', {
                    'apply_id': this.$route.params.id,
                    'period': this.period,
                    'read_id': readId
                });
            },
            remove(index, message){
                this.$http.delete(this.url+message.id);
                this.messages.splice(index, 1);
            },
            compareTime(userId, id, readId){
                if(this.user.id == userId) return false;
                return id > readId;
            }
        },
    }
</script>

<style lang="scss" scoped>
    textarea{
        resize: none;
    }
    .conversation-list {
        color: #9c9c9c;

        textarea{
            margin-top: 1em;
        }
        button{
            width: 106px;
            margin: 1em 0 0 1em;
        }

        & > div {
            line-height: 25px;

            .content {
                color: #000;
                font-size: 16px;
            }

            .new {
                font-weight: 700;

                span {
                    color: #000;
                    &:last-child{
                        padding: 0.1em .4em .2em;
                        margin-left: 5px
                    }
                }
            }

            .glyphicon{
                cursor: pointer;
            }
        }
    }
</style>
