<template>
    <div class="wish-info">
        <div class="card-info" v-if="value.type">{{ value.type }},</div>
        <div class="card-info" v-if="value.country">{{ value.country }},</div>
        <div class="card-info" v-if="value.season">{{ value.season.year+'年'+value.season.name }}</div><br/>
        <div class="card-info" v-if="value.major" >{{ value.major }}
            <span class="aqua" v-if="Array.isArray(value.school) && value.school.length" :title="value.school.join(',')">
                            [{{ value.school.length }}所院校]
                        </span><span v-if="value.secondary || value.other_requirement">,</span>
        </div>
        <div class="card-info" v-if="value.secondary">{{ value.secondary }}
            <span class="aqua" v-if="Array.isArray(value.secondary_school) && value.secondary_school.length" :title="value.secondary_school.join(',')">
                            [{{ value.secondary_school.length }}所院校]
                        </span>
        </div><br/>
        <div class="card-info" v-if="value.other_requirement">{{ value.other_requirement }}</div>
    </div>
</template>

<script lang="babel">

    export default{
        components: {},
        props:['value'],
        data(){
            return {}
        },
    }
</script>

<style lang="scss" scoped>
    $line-color: #d1d1d1;
    .wish-info{
        .card-info{
            display: inline-block;
            border: 1px solid transparent;
            text-align: center;
            margin-bottom: 5px;
            margin-right: 3px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
</style>