<template>
    <div class="widget-left" v-if="value && value.user">
        <div class="left-items">
            <div class="left-user-info">
                <img class="avatar" :src="value.user.avatar">
                <div class="left-name"><router-link :to="{name:'Service.AuditingUser',params:{id: value.user.id}}">{{ value.user.nickname ?  value.user.nickname : '匿名' }}</router-link></div>
                <div class="left-school" v-if="value.user_education">{{ value.user_education.school }} | {{ value.user_education.specialty }} | {{ value.user_education.degree }}</div>
            </div>
            <div class="left-user-req">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" :style="{'width' : value.study_abroad_applies.progress +'%'}">
                        <span class="hide">{{ value.study_abroad_applies.progress }}%</span>
                    </div>
                </div>
                <div class="left-user-card">
                    <h4 class="left-items-title"><i class="left-items-icon icon-wish"></i>申请目标</h4>
                    <wish :value="value.study_abroad_applies"></wish>
                </div>
            </div>
        </div>
        <div class="left-items" v-if="value.user_exams">
            <h4 class="left-items-title"><i class="left-items-icon icon-grade"></i>考试成绩</h4>
            <div class="left-items-grade">GPA - {{ value.user_exams.school_work.gpa_score }}/{{ value.user_exams.school_work.gpa_score_system }}</div>
            <div class="left-items-grade" v-if="value.user_exams.english.type == 'toefl' && value.user_exams.english.toefl">
                TOEFL - {{ toeflResult }}
                <br/>
                Listening - {{ value.user_exams.english.toefl.hearing }},
                Speaking - {{ value.user_exams.english.toefl.speaking }},<br/>
                Reading - {{ value.user_exams.english.toefl.read }},
                Writing - {{ value.user_exams.english.toefl.writing }}
            </div>
            <div class="left-items-grade" v-if="value.user_exams.english.type == 'ielts' && value.user_exams.english.ielts">
                IELTS - {{ ieltsResult }}
                <br/>
                Listening - {{ value.user_exams.english.ielts.hearing }},
                Speaking - {{ value.user_exams.english.ielts.speaking }},<br/>
                Reading - {{ value.user_exams.english.ielts.read }},
                Writing - {{ value.user_exams.english.ielts.writing }}
            </div>
            <div class="left-items-grade" v-if="value.user_exams.postgraduate.type == 'gre' && value.user_exams.postgraduate.gre">
                GRE - {{ greResult }}
                <br/>
                Verbal - {{ value.user_exams.postgraduate.gre.math }},
                Quantitative - {{ value.user_exams.postgraduate.gre.chinese }},<br/>
                Writing - {{ value.user_exams.postgraduate.gre.writing }}
                <span v-if="value.user_exams.postgraduate.gre.special">,Subject - {{ value.user_exams.postgraduate.gre.special }}</span>
            </div>
            <div class="left-items-grade" v-if="value.user_exams.postgraduate.type == 'gmat' && value.user_exams.postgraduate.gmat">
                GMAT - {{ gmatResult }}
                <br/>
                Verbal - {{ value.user_exams.postgraduate.gmat.math }},
                Quantitative - {{ value.user_exams.postgraduate.gmat.chinese }},<br/>
                Writing - {{ value.user_exams.postgraduate.gmat.writing }}
                <span v-if="value.user_exams.postgraduate.gmat.special">,Subject - {{ value.user_exams.postgraduate.gmat.special }}</span>
            </div>
        </div>
        <div class="left-items" v-if="value.tutor">
            <h4 class="left-items-title"><i class="left-items-icon icon-tutor"></i>分配导师</h4>
            <div class="left-tutor">
                <router-link :to="{name:'Service.AuditingUser',params:{id: value.tutor.id}}" class="left-tutor-name">{{ value.tutor.nickname ? value.tutor.nickname : '匿名' }}</router-link>
                <div class="left-tutor-info" v-if="value.tutor.education">{{value.tutor.education.school}} | {{value.tutor.education.specialty}}  | {{value.tutor.education.degree}}</div>
                <div class="left-tutor-info" v-if="value.tutor.experience">{{value.tutor.experience.company}} | {{value.tutor.experience.position}} </div>
            </div>
        </div>
        <div class="left-items" v-if="value.tutor  && current_id == value.user.id">
            <h4 class="left-items-title"><i class="left-items-icon icon-question"></i>问题解答</h4>
            <div class="left-question">
                提问次数 - {{value.meetings.length}}&nbsp;
                <div class="btn-group dropdown" role="group">
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [我要提问]
                    </a>
                    <ul class="dropdown-menu">
                      <li><router-link :to="{name: 'Group.quiz', params:{tutorId: value.tutor.id, type: 1, mode: '在线回复'}}">在线回复</router-link></li>
                      <li><router-link :to="{name: 'Group.quiz', params:{tutorId: value.tutor.id, type: 1, mode: '语音会议'}}">语音会议</router-link></li>
                    </ul>
                </div>
                <br/>
                会议用时 - {{meetingTotalTime}}&nbsp;小时
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import Wish from './LeftWish.vue'
    import {mapGetters} from 'vuex'

    export default{
        components: {
            Wish
        },
        created(){
            this.getData();
        },
        data(){
            return{
                value: null
            }
        },
        watch: {
            '$route' (to, from) {
                this.getData();
            }
        },
        computed:{
            ...mapGetters([
                'user',
                'current_id'
            ]),
            'toeflResult'(){
                if(!this.value.user_exams.english.toefl)return 0;
                return this.sum(this.value.user_exams.english.toefl);
            },
            'ieltsResult'(){
                if(!this.value.user_exams.english.ielts)return 0;
                let average = (this.sum(this.value.user_exams.english.ielts) / 4).toFixed(3);
                if (!Number.isInteger(average)) {
                    let Decimal_places = Number((average * 1000).toString().substr(-3));
                    let int_average = Math.floor(average);
                    if (Decimal_places >= 750) {
                        average = int_average + 1
                    } else if (Decimal_places >= 250) {
                        average = int_average + 0.5
                    } else {
                        average = int_average
                    }
                }
                return average;
            },
            'greResult'(){
                if(!this.value.user_exams.postgraduate.gre)return 0;
                let arr = [
                    this.value.user_exams.postgraduate.gre.math,
                    this.value.user_exams.postgraduate.gre.chinese
                ]
                return this.sum(arr);
            },
            'gmatResult'(){
                if(!this.value.user_exams.postgraduate.gmat)return 0;
                let arr = [
                    this.value.user_exams.postgraduate.gmat.math,
                    this.value.user_exams.postgraduate.gmat.chinese
                ]
                return this.sum(arr);
            },
            'meetingTotalTime'(){
                let meetings = this.value.meetings;
                if(meetings.lenght < 1) return 0;
                let sumTime = 0;
                for(let v of meetings){
                    sumTime += v.duration;
                }
                return Math.floor(sumTime / 0.6) / 100;
            }
        },
        methods:{
            getData(){
                let applyId = this.$route.params.id;
                if (applyId == 'my') {
                    applyId = this.$store.state.study_abroad_apply_id;
                }
                this.$http.get('study-abroad/applies/' + applyId).then((r)=> {
                    this.value = r.data;
                });
            },
            sum(arr){
                let result = 0;
                if(typeof arr == 'object'){
                    arr = Object.values(arr)
                }
                if(Array.isArray(arr)){
                    for(let v of arr){
                        if(v)result += Number(v)
                    }
                }
                return result;
            },
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $blue-color: #1a85ff;
    $line-color: #d1d1d1;

    .widget-left {
        padding: 30px 0;
        .left-user-info{
            text-align: center;
            .avatar{
                width: 6em;
                height: 6em;
                border-radius: 100%;
            }
            .left-name{
                margin: 15px 0 10px 0;
                color: $blue-color;
                font-size: 18px;
            }
        }
        .left-user-req{
            .progress{
                margin: 15px 0;
                .progress-bar{
                    line-height: 12px;
                }
            }
        }
        .left-items{
            border-bottom: 1px solid $line-color;
            margin: 0 0 20px 0;
            padding-bottom: 15px;

            &:last-child{
                border: none;
            }

            .left-items-title{
                color: $color;
                font-size: 15px;
                .left-items-icon{
                    display: inline-block;
                    width: 24px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;

                }
                .icon-wish{
                    background: url("../../../../images/icon-wish.png") no-repeat center center;
                    background-size: 18px;
                }

                .icon-question{
                    background: url("../../../../images/icon-question.png") no-repeat center center;
                    background-size: 24px;
                }

                .icon-grade{
                    background: url("../../../../images/list.png") no-repeat center center;
                    background-size: 18px;
                }
            }
            .left-items-grade{
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 2;
            }
            .left-tutor{
                line-height: 1.8;
                .left-tutor-name{
                    color: $blue-color;
                    font-size: 15px;
                }
            }
            .left-question{
                line-height: 2;
                .ask{
                    color: $blue-color;
                    font-size: 15px;
                }
                a{
                    color: #1a85ff;
                    border: none;
                    background: transparent;
                }
                .dropdown{
                    .btn{
                        padding-left: 10px;
                    }
                    &:hover{
                        background: transparent;
                        .dropdown-menu{
                            display: block;
                        }
                    }
                }
            }
            .dropdown-menu{
                min-width: 100px;
                margin: 0;

                li{
                    &>a{
                        border-bottom: 1px #fff solid;
                        color: #000;

                        &:last-child{
                            border-bottom:none;
                        }

                        &:hover{
                            color: $color;
                        }
                    }
                }
            }
        }
    }
</style>
