<template>
    <div>
        <template v-if="user">
            <c-header></c-header>
            <div id="base">
                <div id="content">
                    <router-view></router-view>
                </div>
                <menubar></menubar>
            </div>
        </template>
        <template v-else>
            <router-view></router-view>
        </template>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import CHeader from './components/header.vue'
    import menubar from './components/menubar.vue'

    export default {
        components: {
            CHeader,
            menubar
        },
        created(){
            this.checkUser();
        },
        mounted(){
            $('body').addClass('menubar-hoverable header-fixed menubar-pin');
        },
        data () {
            return {}
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods:{
            ...mapActions([
                'setUser',
            ]),
            checkUser(){
                this.$http.get('my').then((response) => {
                    this.setUser(response.data);
                    if(this.$router.currentRoute.name == 'Login'){
                        this.$router.push({
                            name: 'Home',
                        })
                    }
                }, () => {
                    this.$router.push({
                        name: 'Login',
                    })
                });
            }
        },
    }
</script>

<style lang="css">
    @import '~font-awesome/css/font-awesome.min';
    @import "~bootstrap/dist/css/bootstrap.min";
    @import "~toastr/build/toastr.min.css";

    @import "./styles/material_admin/css/materialadmin1.css";
</style>

<style lang="scss">
    @import "./styles/reset_bootstrap";

    .gui-icon{
        text-align: center;
    }
</style>
