.btn, .form-control, .input-group-addon {
  border-radius: 0;
}

.btn {
  padding: 6px 24px;
  &:focus, &:active:focus {
    outline: 0;
  }
}

.breadcrumb, .input-group-addon {
  background: none;
}

.progress {
  height: 10px;
  border-radius: 0;
  margin-bottom: 0;
}

.form-control:focus {
  border-color: initial;
  box-shadow: initial;
  color: #333333
}

.form-group {

  label {
    font-weight: normal;
    color: #898989
  }
}

.pagination {
  border-radius: 0;

  & > .active > a,
  & > .active > a:focus,
  & > .active > a:hover,
  & > .active > span,
  & > .active > span:focus,
  & > .active > span:hover {
    background-color: #da244f;
    border-color: #da244f;
  }

  & > li:first-child > a,
  & > li:first-child > span,
  & > li:last-child > a,
  & > li:last-child > span {
    border-radius: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
    line-height: initial;
  }
}


label{
  font-weight: normal;
}

@media (min-width: 768px){
  .form-horizontal .control-label {
    text-align: initial;
    white-space: nowrap;
  }
}

.input-group-addon:last-child, .input-group-addon:first-child{
  border: none;
}

@media (min-width: 1200px){
  .admin-panel .container {
      width: auto;
      max-width: 1170px;
  }
}

