.jconfirm.jconfirm-wenlushi {
  .jconfirm-bg {
    background: #000;
    opacity: .2;
  }
  .jconfirm-box {
    border-radius: 0 !important;
    padding: 0!important;
    &.loading {
      &:before {
      }
      &:after {
      }
    }
    div.jconfirm-closeIcon {
    }
    div.jconfirm-title-c {
        background: #d52045!important;
        color: #FFF!important;
        font-size: 18px!important;
        line-height: 35px!important;
        padding: 5px 20px!important;
        .jconfirm-title{
          padding-bottom: 0!important;
        }
    }
    div.jconfirm-content-pane {
    }
    div.jconfirm-content {
        padding: 1em 1em 0 20px!important;
        text-align: justify;
        .cont-list{
            margin-top: 10px;
            div{
                &:before{
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background: #d52045;
                    vertical-align: middle;
                }
                span{
                    display: inline-block;
                    margin-left: 10px;
                    width: 98%;
                }
            }
        }
      &:empty {
      }
    }
    .jconfirm-buttons {
        float: none!important;
        width: 100%!important;
        text-align: center!important;
        button{
            width: 7em!important;
            border-radius: 0;
            &.btn-default{
                background: #d52045;
                color: #FFF!important;
                border: 1px solid #d52045;
            }
            &.bg-white{
                background: #FFF;
                border: 1px solid #d52045;
                color: #d52045!important;
            }

          &:hover{
                background: #d52045!important;
                color: #FFF!important;
            }

        }
    }
    &.hilight {
    }
  }
}
