<template>
    <div class="">
        <table class="issue-all">
            <thead>
                <tr>
                    <th width="10%">状态</th>
                    <th width="30%">主题</th>
                    <th width="8%">类型</th>
                    <th width="8%">导师</th>
                    <th width="8%">应答</th>
                    <th width="10%">提交</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
            <template v-if="meetings" v-for="(v,index) in meetings">
                <tr :class="{'orange-color' : v.status == 'untake'}">
                    <td><i class="iconfont icon-downArrow main-color" @click="showToggle(v)" :class="{'downArrow-trans': v.showList}"></i>{{parameter.meetingStatus[v.status]}}</td>
                    <td><router-link :to="{name: 'Group.edit', params:{id: v.id}}">{{v.theme}}</router-link></td>
                    <td>{{v.apply_id ? '留学申请' : '普通提问' }}</td>
                    <td v-if="v.tutor">{{v.tutor.nickname ? v.tutor.nickname : '匿名'}}</td>
                    <td>{{v.mode}}</td>
                    <td>{{v.time_calculate}}</td>
                    <td class="table-icon">
                        <router-link :to="{name: 'Group.edit', params:{id: v.id}}" v-if="isEdit(v.status)"><i class="glyphicon glyphicon-edit main-color" title="编辑"></i></router-link>
                        <i class="glyphicon glyphicon-trash" title="删除" @click="remove(index, v)"></i>
                    </td>
                </tr>
                <tr class="table-childBox" v-if="v.showList">
                    <td colspan="7">
                        <div class="table-child">
                            <div><span>描述</span><span>{{v.description}}</span></div>
                            <div v-if="v.session.length > 0 && !v.calendar_id"><span>预约</span>
                                <div class="seesion-list">
                                    <p v-for="i in v.session">{{ getTimeFormat(i.date, i.hour, i.period) }}</p>
                                </div>
                            </div>
                            <div v-if="v.calendar"><span>预约</span>
                                <span style="margin-left:-11px">
                                {{ getTimeFormat(v.calendar.date, v.calendar.hour, v.calendar.period) }}
                                </span>
                            </div>
                            <div v-if="v.status == 'service-in' && v.mode == '语音会议'"><span>{{v.tutor.contact_tool}}</span><span>{{v.tutor.contact_tool_no}}</span></div>
                            <div v-if="v.status == 'resolve' && v.mode == '语音会议' "><span>时长</span><span>{{v.duration}}</span></div>
                            <div v-if="v.status == 'resolve'"><span>解答</span><span>{{v.answer}}</span></div>
                            <div v-if="v.status == 'refuse'"><span>原因</span><span>{{v.remark}}</span></div>
                        </div>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <div class="text-center">
            <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
        </div>
    </div>
</template>

<script lang="babel">
    import Pagination from '../../../components/Pagination.vue'
    import parameter from '../../../config/parameter'

    export default{
        mixins: [require('./common').default],
        components:{
            Pagination
        },
        created(){
            this.getData()
        },
        data(){
            return{
                parameter,
                pagination_parameter: {},
                page: 1,
                meetings:{}
            }
        },
        computed: {
        },
        methods:{
            changePage(page){
                this.page = page;
                this.getData()
            },
            isEdit(status){
                return $.inArray(status,['untake', 'service-in'] ) == -1 ? false : true;
            },
            showToggle(item){
                if(item.showList) {
                    this.$set(item, 'showList', false);
                } else {
                    this.$set(item, 'showList', true);
                }
            },
            getData(){
                this.$http.get('my/meeting', {
                    params: {page: this.page}
                }).then((r)=>{
                    this.meetings = r.body.data
                    this.pagination_parameter = r.body;
                });
            },
             remove(index, item){
                let o = this;
                $.confirm({
                    title: '删除问题',
                    content: '你是否确定要删除：'+item.theme,
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '删除',
                            action: () => {
                                o.$http.delete('my/meeting/' + item.id).then((r) => {
                                    o.meetings.splice(index, 1)
                                });
                            }
                        },
                    }
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .orange-color{
        color: rgb(250, 167, 1);
    }
    .issue-all{
        width: 100%;
        thead{
            background: #d52045;
            color: #FFF;
            th{
                padding: 5px 0;
                &:first-child{
                    padding-left: 30px;
                }
            }
        }
        tr{
            &:first-child td{
                padding: 15px 0 0 0;
            }
        }
        td{
            i.icon-downArrow{
                font-size: 30px;
                vertical-align: middle;
                display: inline-block;
                vertical-align: middle;
                transition: all 0.3s;

                &.downArrow-trans{
                    transform: rotate(180deg);
                 }
            }
            i.upArrow{
                display: inline-block;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
            }
            &.table-icon{
                i{
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
        }
        .table-child{
            width: 100%;
            border-top: 1px solid #d1d1d1;
            background: #f4f4f4;
            line-height: 2;
            padding: 10px 0 10px 30px;
            span{
                margin-right: 6em;
                &:first-child{
                    color: #8a8a8a;
                    display: inline-block;
                    width: 80px;
                    margin-right: 2em;
                    vertical-align: top;
                }
            }
            .seesion-list{
                display: inline-block;
                margin-top: 10px;
                margin-left: -11px;

                p{
                    line-height: 13px;
                }
            }
        }
    }
</style>
