<template>
    <div class="container issue-cont">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">我的服务</a>&nbsp;&gt;&nbsp;查看全部提问
        </div>
        <router-view></router-view>
    </div>
</template>

<script>

    export default{
        data(){
            return{
            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $bg-gray: #d1d1d1;
    $color-gray: #8a8a8a;
    .issue-cont{
        padding: 80px 0;
    }
    .breadcrumb {
        position: relative;
        height: 48px;
        line-height: 48px;
        margin-bottom: 3em;
    }
    a.gray {
        color: #999;
    }
    .arrow {
        position: absolute;
        left: 0;
        color: $color!important;
        i{
            font-size: 30px;
        }
    }


</style>
