<template>
    <div class="circle-container">
        <div class="type">{{type1}}</div>
        <div class="text" :style="{ transform: 'rotate(-'+rotate_deg+'deg)' }">
            <svg viewBox="0 0 100 100">
                <path d="M 4 50, C 10 111, 90 111, 96 50" stroke="none" fill="transparent" id="circle"/>
                <text :fill="type2 ? '#da244f' : 'gray'" font-size="10" text-anchor="start">
                    <textPath xlink:href="#circle">{{circle_text}}</textPath>
                </text>
            </svg>
        </div>
        <img v-if="service=='studyAbroad'" src="http://og9i0ercv.bkt.clouddn.com/ico_state.png">
        <img v-if="service=='meeting'" src="../../../../images/ico_meeting.png">
    </div>
</template>

<script lang="babel">
    export default{
        props:['type1', 'type2', 'service'],
        data(){
            return{
                rotate_deg: 0
            }
        },
        computed:{
            circle_text(){
                let text = this.type2;
                if(!text) text = '服务范围';
                text = (String(text)).split('').join(' ');
                this.rotate_deg = Math.round(20 / text.length)*21
                return text;
            }
        },
    }
</script>

<style lang="scss" scoped>
    .circle-container{
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: 26px;
        color: #fff;

        .type{
            position: absolute;
            font-size: 1em;
            left: 0;
            top: 30%;
            width: 100%;
            text-align: center;
        }

        img{
            max-width: 100%
        }

        .text{
            position: absolute;
            font-size: .4em;
            color: #da244f;
            top: 0;
            width: 100%;
            text-align: center;
            left: 0;
        }
    }
</style>
