<template>
    <div class="row study-abroad-box">
        <div class="col-sm-6 study-abroad-items" v-for="(item, index) in meetings">
            <div class="study-abroad-user"  @click="clickRedirect(item)" :class="{'border-bottom-none': isHidenBorderBottom(index) }">
                <div class="left">
                    <ui-circle :type1="getType1(item.mode)" :type2="getType2(item.apply_id)" :service="'meeting'"></ui-circle>
                </div>
                <div class="right" v-if="item.user">
                    <div><span class="user-name">{{ item.user.nickname ? item.user.nickname : '匿名' }}</span>
                        <span class="days">{{item.time_calculate}}</span>
                    </div>
                    <div class="education" v-if="item.user && item.user.education">
                        <span>{{item.user.education.school}}</span>
                        <span>{{item.user.education.specialty}}</span>
                        <span>{{item.user.education.degree}}</span>
                    </div>

                    <div class="remark gray" v-if="item.status != 'refuse'">{{item.theme}}</div>
                    <div class="remark gray" v-if="item.status == 'refuse'">{{item.remark}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import UiCircle from './Circle.vue'
    import parameter from '../../../../config/parameter'
    export default{
        components: {
            UiCircle,
        },
        created(){
        },
        props: ['meetings'],
        data(){
            return {
                parameter
            }
        },
        methods: {
            getType1(mode){
                return mode.substr(2, 2);
            },
            getType2(applyId){
                return applyId ? '留学服务' : '普通用户';
            },
            isHidenBorderBottom(index){
                const length = this.meetings.length;
                if(length <= 2){
                    return true;
                }
                if(length %2 == 0 && length - 2 <= index){
                    return true
                }else if(length - 1 == index){
                    return true
                }
                return false
            },
            clickRedirect(item){
                this.$router.push({
                    name: 'Service.quizInfo',
                    params: {
                        id: item.id,
                        status: this.$route.params.status
                    }
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .study-abroad-user{
        display: block;
        margin: 20px 10px 0 10px;
        padding-bottom: 0;
        min-height: 120px;
        border-bottom: 1px #ccc solid;
        padding-left: 100px;
        cursor: pointer;

        .left{
            width: 100px;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .right{
            .user-name{
                display: inline-block;
                font-size: 26px;
            }
            .days{
                display: inline-block;
                margin-left: 30px;
                font-size: 1rem;
                color: #aaa;
            }

            .progress{
                margin: 10px 0 5px 0;
                .progress-bar {
                    line-height: 1;
                    font-size: 10px;
                }
            }

            .education{
                min-height: 2.0em;
                line-height: 2.0em;
                span{
                    border-right: 1px #000 solid;
                    padding: 0 5px;

                    &:last-child{
                        border-right: none;
                    }
                }
            }

            .remark{
                padding: 5px 5px;
            }

        }
    }
</style>
