<template>
    <div class="row study-abroad-box">
        <div class="col-sm-6 study-abroad-items" v-for="(item, index) in StudyAbroadUsers">
            <div class="study-abroad-user" @click="clickRedirect(item)" :class="{'border-bottom-none': isHidenBorderBottom(index) }">
                <div class="left">
                    <ui-circle :type1="item.type" :type2="item.start ? item.start.service_scope : null" :service="'studyAbroad'"></ui-circle>
                    <!--<div class="xl-ico" :class="'ico_ca_'+parameter.degree[item.type]"></div>-->
                </div>
                <div class="right">
                    <div><span class="user-name">{{ item.user.nickname ? item.user.nickname : '匿名' }}</span>
                        <!-- <span class="days" v-if="item.submit_at_friendly">{{item.submit_at_friendly}}</span> -->
                        <span class="days" v-if="item.season">{{item.season.year}}{{item.season.name}}</span>
                    </div>
                    <div class="education" v-if="item.user && item.user.education">
                        <span>{{item.user.education.school}}</span>
                        <span>{{item.user.education.specialty}}</span>
                        <span>{{item.user.education.degree}}</span>
                    </div>
                    <div class="progress" v-if="isShowstatusRecord(item.status)">
                        <div class="progress-bar bg-main-color" :aria-valuenow="item.progress" role="progressbar" :style="{width:item.progress+'%'}">
                            <span class="hide">{{item.progress}}%</span>
                        </div>
                    </div>
                    <div class="stop gray" v-if="item.status == 'stop' && item.remarks">{{item.remarks}}</div><div class="result" v-if="item.status == 'complete' && item.online_apply">
                        <div v-if="item.online_apply.apply_school_id">
                            <span class="main-color" v-if="item.online_apply.apply_school_id == v.id" v-for="v in item.apply_schools">
                                    {{v.school.name}} | {{v.specialty.name}} | {{apply_school_status[v.result]}}&nbsp;</span>
                        </div>
                        <div class="unadmit" v-else>未录取</div>
                    </div>
                    <div class="gray" v-if="isShowstatusRecord(item.status)">{{parameter.statusRecord[item.status_record]}}</div>
                    <div class="gray" v-if="item.description">{{item.progress.description}}</div>
                </div>
            </div>
            <div class="text-center" v-if="item.status == 'stop'">
                <button class="btn bg-main-color" @click="restartService(item)">重启</button>
                <button class="btn bg-blur-color" @click="deleteService(item)">删除</button>
            </div>
        </div>
    </div>

</template>

<script lang="babel">
    import UiCircle from './Circle.vue'
    import parameter from '../../../../config/parameter'
    export default{
        components: {
            UiCircle,
        },
        created(){
        },
        props: ['StudyAbroadUsers'],
        data(){
            return {
                parameter
            }
        },
        computed:{
            apply_school_status(){
                return {
                    'own_expense' : '自费',
                    'fellowship'  : '助学金',
                    'scholarship' : '奖学金'
                };
            }
        },
        methods: {
            isHidenBorderBottom(index){
                const length = this.StudyAbroadUsers.length;
                if(length <= 2){
                    return true;
                }
                if(length %2 == 0 && length - 2 <= index){
                    return true
                }else if(length - 1 == index){
                    return true
                }
                return false
            },
            isShowstatusRecord(status){
                return ['sales-in','service-in'].indexOf(status) >= 0;
            },
            clickRedirect(item){
                let route;
                switch (this.$route.params.status) {
                    case 'stop':
                    case 'sales-in':
                        route = {
                            name: 'StartService',
                            id: item.user.id
                        };
                        break;
                    case 'complete':
                    case 'service-in':
                         route = {
                            name: 'Service.study_service',
                            id: item.id
                        };
                        break;
                }
                this.$router.push({
                    name: route.name,
                    params: {
                        id: route.id
                    }
                });
            },
            deleteService(item){
                $.confirm({
                    title: '删除服务',
                    content: '是否删除此留学申请服务？',
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '删除',
                            action:()=>{
                                this.$http.delete('study-abroad/applies/'+item.id).then((r)=>{
                                    window.location.reload()
                                });
                            }
                        }
                    },
                });

            },
            restartService(item){
                this.$http.put('study-abroad/applies/'+item.id,{'status':'restart'}).then((r)=>{
                    if(r.data.status == 'error') {
                        $.dialog('重启动服务失败');
                    } else {
                        this.$router.push({
                            name: 'Admin.StudyAbroad',
                            params:{
                                status: 'service-in'
                            }
                        });
                    }
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .study-abroad-user{
        display: block;
        margin: 20px 10px 0 10px;
        padding-bottom: 0;
        min-height: 120px;
        border-bottom: 1px #ccc solid;
        padding-left: 100px;
        cursor: pointer;

        .left{
            width: 100px;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .right{

            .user-name{
                display: inline-block;
                font-size: 26px;
            }
            .days{
                display: inline-block;
                margin-left: 30px;
                font-size: 1rem;
                color: #aaa;
            }

            .progress{
                margin: 10px 0 5px 0;
                .progress-bar {
                    line-height: 1;
                    font-size: 10px;
                }
            }
            .result {
                div{
                    padding: 5px 5px;
                    &.unadmit{
                        color: rgb(250, 167, 1);
                    }
                }
            }
            .stop {
                padding: 5px 5px;
            }

            .education{
                span{
                    border-right: 1px #000 solid;
                    padding: 0 5px;

                    &:last-child{
                        border-right: none;
                    }
                }
            }

        }
    }
</style>
