<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;结束服务
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon downAirplane-icon"></i>结束服务</h2>
            <div class="subtitle" :class="{'service-time-flag':form.progress != 1}">{{service_start}}至{{service_end}}
            <span v-if="form.progress != 1" class="flag" :class="{underway: form.feedback}">
                <span v-if="form.feedback">进行中</span>
                <span v-else>未开始</span>
                <span class="triangle"></span>
            </span>
        </div>
            <img class="seal" v-if="form" :class="{'active' : form.progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class=" badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <form class="card form form-disabled-readonly" :class="{'readonly': readonly}" @submit.prevent="submit" v-if="tab_active_index == 1">
            <div class="finish-items">
                <div class="strategy-title" :class="{'strategy-active': isLock(0) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(0)"></i>调查反馈</h4>
                </div>
                <div class="strategy-content">
                    <div class="survey-list" v-if="!isReadonly(0)">
                        <div class="range-item">
                            <label>整体质量</label>
                            <Range v-model="form.whole_evaluation" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item">
                            <label>前景评估</label>
                            <Range v-model="form.prospect_evaluation" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item">
                            <label>策略制定</label>
                            <Range v-model="form.strategize" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item" v-if="isInProgress('promotion')">
                            <label>背景提升</label>
                            <Range v-model="form.promotion" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item" v-if="isInProgress('document')">
                            <label>文书创作</label>
                            <Range v-model="form.document" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item" v-if="isInProgress('online_apply')">
                            <label>网络申请</label>
                            <Range v-model="form.online_apply" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item" v-if="isInProgress('visa')">
                            <label>签证培训</label>
                            <Range v-model="form.visa_training" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item">
                            <label>服务沟通</label>
                            <Range v-model="form.service_communication" :disableds="isReadonly(0)"></Range>
                        </div>
                        <div class="range-item">
                            <label>服务价格</label>
                            <Range v-model="form.service_price" :disableds="isReadonly(0)"></Range>
                        </div>
                    </div>
                    <chartjs-bar :value="chart_data" :progresses="progresses" v-if="isReadonly(0)"></chartjs-bar>
                    <div class="survey-issue">
                        <div>
                            <label class="survey-issue-label">您是否使用过其他机构的类似服务？</label><span v-if="isReadonly(0)">{{ form.use_service == '1' ? '是' : '否'  }}</span>
                            <div class="survey-issue-input" v-if="!isReadonly(0)">
                                <label><input type="radio" value="1" v-model="form.use_service" :disabled="isReadonly(0)"> 是</label>
                                <label><input type="radio" value="0" v-model="form.use_service" :disabled="isReadonly(0)"> 否</label>
                            </div>
                        </div>
                        <div>
                            <label class="survey-issue-label">您是否会向朋友推荐问路石教育的留学申请服务？</label><span v-if="isReadonly(0)">{{ form.recommend_service == '1' ? '是' : '否'  }}</span>
                            <div class="survey-issue-input" v-if="!isReadonly(0)">
                                <label><input type="radio" value="1" v-model="form.recommend_service" :disabled="isReadonly(0)"> 是</label>
                                <label><input type="radio" value="0" v-model="form.recommend_service" :disabled="isReadonly(0)"> 否</label>
                            </div>
                        </div>
                        <div>
                            <label class="survey-issue-label">如果需要您是否会再次选择问路石教育所提供的服务？</label><span v-if="isReadonly(0)">{{ form.service_again == '1' ? '是' : '否'  }}</span>
                            <div class="survey-issue-input" v-if="!isReadonly(0)">
                                <label><input type="radio" value="1" v-model="form.service_again" :disabled="isReadonly(0)"> 是</label>
                                <label><input type="radio" value="0" v-model="form.service_again" :disabled="isReadonly(0)"> 否</label>
                            </div>
                        </div>
                    </div>
                    <div class="survey-items" v-if="!isReadonly(0) || !is_empty">
                        <div class="survey-title">其它意见</div>
                        <textarea rows="3" v-autosize v-model="form.advice" :disabled="isReadonly(0)" placeholder="可选"></textarea>
                    </div>
                </div>
            </div>
            <div class="finish-items">
                <div class="strategy-title" :class="{'strategy-active': isLock(1) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(1)"></i>导师评价</h4>
                </div>
                <div class="strategy-content">
                    <range v-model="form.tutor_score" v-if="!isReadonly(1)"></range>
                    <div v-else>{{ form.tutor_score }}分 / 100分</div>
                    <textarea rows="3" v-autosize v-model="form.tutor_evaluation" placeholder="可选" v-if="!isReadonly(1)"></textarea>
                    <textarea rows="3" v-autosize v-model="form.tutor_evaluation" placeholder="可选" :disabled="isReadonly(1)" v-if="isReadonly(1) && form.tutor_evaluation"></textarea>
                </div>
            </div>
            <div class="finish-items">
                <div class="strategy-title" :class="{'strategy-active': isLock(2) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(2)"></i>费用支付</h4>
                </div>
            </div>
            <div class="finish-items">
                <div class="strategy-title" :class="{'strategy-active': isLock(3) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(3)"></i>经验总结</h4>
                </div>
                <div class="strategy-content">
                    <textarea rows="3" v-autosize v-model="form.experience_sharing" placeholder="可选" v-if="!isReadonly(3)"></textarea>
                    <textarea rows="3" v-autosize v-model="form.experience_sharing" placeholder="可选" :disabled="isReadonly(3)" v-if="isReadonly(3) && form.experience_sharing"></textarea>
                </div>
            </div>
            <div class="text-center produce-button" v-if="!readonly">
                <button type="submit" :disabled="busy" class="btn bg-main-color">保存</button>
                <button type="submit" :disabled="busy || is_complete" @click="complete" class="btn bg-main-color">完成</button>
            </div>
        </form>

        <leave-message v-if="tab_active_index == 3" :period="'finish'"></leave-message>

    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'
    import Range from '../../../components/Range.vue'
    import ChartjsBar from '../../../components/ChartjsBar.vue'
    import '../../../directive/textareaAutoSize'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage,
            ChartjsBar,
            Range,
        },
        mounted(){

        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return {
                form: {
                    whole_evaluation: 50,
                    prospect_evaluation: 50,
                    strategize: 50,
                    promotion: 50,
                    document: 50,
                    online_apply: 50,
                    visa_training: 50,
                    service_communication: 50,
                    service_price: 50,
                    use_service: null,
                    recommend_service: null,
                    service_again: null,
                    tutor_score: 50,
                    advice: null
                },
                progresses: [],
                process: [],
                schedule: {},
                promotion: {},
                busy: false,
                tab_active_index: 1,
                readId: 0,
                newMessages: 0,

            }
        },
        computed:{
            is_complete(){
                return this.form.status == 'complete'
            },
            readonly(){
                const user = this.$store.state.user;
                if(user && user.role == 'admin')return;
                return true
            },
            is_empty(){
                const advice = this.form.advice;
                let ret = false;

                if(advice == '' || advice == undefined) {
                    ret = true;
                }
                return ret;
            },
            lock(){
                if(!this.form.lock)this.$set(this.form, 'lock', {});
                return this.form.lock
            },
            service_start(){
                let result = this.schedule && this.schedule.feedback && this.schedule.feedback.start;
                return result ? this.schedule.feedback.start : '--';
            },
            service_end(){
                let result = this.schedule && this.schedule.feedback && this.schedule.feedback.end;
                return result ? this.schedule.feedback.end : '--';
            },
            chart_data(){
                let data = this.form;
                return [
                    {
                        name: '整体质量',
                        value: data.whole_evaluation
                    },
                    {
                        name: '前景评估',
                        value: data.prospect_evaluation
                    },
                    {
                        name: '策略制定',
                        value: data.strategize
                    },
                    {
                        name: '背景提升',
                        value: data.promotion
                    },
                    {
                        name: '文书创作',
                        value: data.document
                    },
                    {
                        name: '网络申请',
                        value: data.online_apply
                    },
                    {
                        name: '签证培训',
                        value: data.visa_training
                    },
                    {
                        name: '服务沟通',
                        value: data.service_communication
                    },
                    {
                        name: '服务价格',
                        value: data.service_price
                    },
                ];
            }
        },
        methods: {
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/feedback?applyId='+applyId).then((r)=>{
                    this.setFormData(r.data.feedback);
                    this.schedule = r.data.schedule;
                    this.promotion = r.data.promotion;
                    this.progresses = r.data.progresses;
                    this.process = r.data.process;
                });
            },
            setFormData(data){
                $.each(data, (k,v)=>{
                    if(k == 'lock') {
                        if(!v) v = {};
                    }
                    this.$set(this.form, k, v);
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'finish'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            isInProgress(i){
                return this.progresses && this.progresses.indexOf(i) >= 0;
            },
            complete(){
                this.$http.put('study-abroad/applies/' + this.$route.params.id, {
                    status: 'complete'
                });
            },
            submit(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/feedback/'+applyId,o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text:'确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });
                }, (response) => {
                    o.busy = false;
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .finish-items{
        margin: 2em 0;
    }
    .produce-button{
       button{
        padding: 6px 2.5em;
       }
    }
    .survey-list{
        .range-item{
            padding-left: 80px;
            position: relative;
            label{
                margin-right: 1em;
                vertical-align: middle;
                position: absolute;
                left: 0;
                line-height: 58px;
            }
            .finish-range{
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }
        }
    }

    textarea{
        width: 100%;
    }
    .survey-issue{

        & > div{
            list-style: none;
            margin-bottom: 1em;
            .survey-issue-label{
                width: 28em;
                font-weight: normal;
            }
            .survey-issue-input{
                display: inline-block;
                margin-left: 1em;
                input{
                    vertical-align: middle;
                    margin-top: 0;
                }
                label{
                    margin: 0 4em 0 10px;
                    color: #727272;
                    font-weight: normal;
                }
            }
        }
    }
</style>
