<template>
    <div class="user-study-abroad">
        <left class="left"></left>
        <div class="right">
            <router-view ></router-view>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script lang="babel">
    import Left from './widget/left.vue'

    export default{
        mounted(){

        },
        data(){
            return{

            }
        },
        methods: {

        },
        components:{
            Left
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $blur-color: #8a8a8a;
    .page-title{
        position: relative;
    }
    .user-study-abroad{
        margin-top: 70px;

        display: inline-block;
        border-left: 320px solid #f8f8f8;/*==此值等于左边栏的宽度值==*/
        position: relative;
        vertical-align: bottom;
        width: 100%;

        >.left {
            float: left;
            width: 320px;
            margin-left: -320px;/*==此值等于左边栏的宽度值==*/
            position: relative;
            padding: 20px;
            overflow-y: auto;
            max-height: calc(100vh - 161px);
        }
        >.right{
            float: left;
            width: 100%;
            overflow-y: auto;
            max-height: calc(100vh - 161px);

            >div{
                .breadcrumb {
                    position: relative;
                    height: 48px;
                    line-height: 48px;
                }

                .arrow {
                    position: absolute;
                    left: 0;
                    margin-left: -8px;
                    color: $color;
                    i{
                        font-size: 30px;
                    }
                }

                a.gray {
                    color: #999;
                }

                .seal {
                    position: absolute;
                    top: 20px;
                    right: 20%;
                    z-index: 255;
                    width: 100px;
                    height: 100px;
                    display: none;

                    &.active {
                    display: block;
                    }
                }

                .service-title {
                    width: 100%;
                    padding: 30px 0;

                    li {
                        display: inline-block;
                        margin: 0 20px;
                        padding: 5px 0;
                        font-size: 18px;
                        font-weight: 400;
                        cursor: pointer;
                        list-style: none;
                        color: $blur-color;

                        &.active {
                            border-bottom: 4px solid $color;
                            color: $color;
                        }
                    }
                }
            }
        }
    }
    .service-time-flag{
        margin-left: 88px;
    }
    .service-add{
        padding-bottom: 2em;
        border-bottom: 1px solid #dddddd;
        margin: 0 0 2em 0;
        label{
            padding: 6px 0;
            font-weight: normal;
        }
        input,select{
            width: 100%;
        }
    }
    .strategy-delete{
        color: #d1d1d1;
    }
    .strategy-active{
        h4{
            text-decoration: line-through;
            color: #999;
        }
        i{
            color: #7aa196 !important;
        }
    }
    .strategy-input-active{
        background: #FFF!important;
        border: 0!important;
        padding-left: 0 !important;
    }
</style>
