<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;申请院校
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon network-icon"></i>申请院校</h2>
            <div class="subtitle" :class="{'service-time-flag':form.online_apply && form.online_apply.progress != 1}">{{service_start}}至{{service_end}}
            <span v-if="form.online_apply && form.online_apply.progress != 1" class="flag" :class="{underway: form.online_apply}">
                <span v-if="form.online_apply">进行中</span>
                <span v-else>未开始</span>
                <span class="triangle"></span>
            </span>
        </div>
            <img class="seal" v-if="form.online_apply" :class="{'active' : form.online_apply && form.online_apply.progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class="badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <div v-if="tab_active_index == 1">
            <form class="card form" @submit.prevent="submitMainForm" v-if="form.apply_schools && form.apply_schools.length > 0">
                <div class="network-content">
                    <div class="network-items" v-for="(v, index) in form.apply_schools">
                        <div class="strategy-title row" :class="{'strategy-active': isLock(index+1) }">
                            <h4 class="col-sm-11"><i class="glyphicon glyphicon-ok" @click="setLock(index+1)"></i>{{v.school.name}}  |  {{v.specialty.name}}{{v.professor ? '  |  '+v.professor : ''}} </h4>
                            <div class="strategy-delete col-sm-1 text-right" v-if="!isLock(index+1) && !readonly" >
                                <i class="glyphicon glyphicon-trash" @click="remove(v.id, index)"></i>
                            </div>
                        </div>
                        <ul class="network-items-list">
                            <li>
                                <span class="network-items-label">成绩要求</span>
                                <span v-if="v.grade">
                                <span v-if="v.grade.gpa">GPA:{{v.grade.gpa}}&nbsp;</span>
                                <span v-if="v.grade.tofel">TOFEL:{{v.grade.tofel}}&nbsp;</span>
                                <span v-if="v.grade.ielts">IELTS:{{v.grade.ielts}}&nbsp;</span>
                                <span v-if="v.grade.gre">GRE:{{v.grade.gre}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="network-items-label">申请截止</span>
                                <span>{{v.deadline_at}}</span>
                            </li>
                            <li v-if="v.inform_at">
                                <span class="network-items-label">结果通知</span>
                                <span>{{v.inform_at}}</span>
                            </li>
                            <li>
                                <span class="network-items-label">申请状态</span>
                                <div class="network-list-select">
                                    <select v-model="v.result" :disabled="isReadonly(index+1)" :class="{'strategy-input-active': isReadonly(index+1)}">
                                        <option v-for="(v,index) in parameter.applySchoolStatus" :value="index">{{v}}</option>
                                    </select>
                                    <a class="main-color" v-if="v.link && v.result == 'not_submit'" :href="v.link" target="_blank">打开申请网址</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="network-items" v-show="school_admit.length">
                        <ul class="network-items-list network-items-list-finally">
                            <li>
                                <span class="network-items-label" :class="{'strategy-active': isLock(0) }"><i class="glyphicon glyphicon-ok" @click="setLock(0)"></i>最终选择</span>
                                <span class="network-list-select">
                                    <select v-model="form.online_apply.apply_school_id" :disabled="isReadonly(0)" :class="{'strategy-input-active': isReadonly(0)}">
                                        <option v-for="i in school_admit" :value="i.id">{{i.school.name}} | {{i.specialty.name}}</option>
                                        <option disabled>----</option>
                                        <option value="">放弃选择</option>
                                    </select>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-center produce-button"  v-if="!readonly">
                    <button type="submit" :disabled="busy" class="btn bg-main-color">保存</button>
                </div>
            </form>
            <div class="text-center main-color" v-else>请前往制定策略添加申请学校</div>
        </div>

        <leave-message v-if="tab_active_index == 3" :period="'online_apply'" :readId="readId"></leave-message>

    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'
    import parameter from '../../../config/parameter'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage,
        },
        mounted(){

        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return {
                parameter,
                form: {
                    apply_schools: {},
                    online_apply: {
                        lock: {}
                    }
                },
                schedule: {},
                apply: {},
                process: [],
                busy: false,
                tab_active_index: 1,
                readId: 0,
                newMessages: 0
            }
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && user.role == 'admin')return false
                return true
            },
            lock(){
                return this.form.online_apply.lock;
            },
            school_admit(){
                let schools = [];
                $.each(this.form.apply_schools, (k, v)=>{
                    if(['own_expense','fellowship','scholarship'].indexOf(v.result) >= 0){
                        schools.push(v);
                    }
                });
                return schools;
            },
            service_start(){
                let result = this.schedule && this.schedule.online_apply && this.schedule.online_apply.start;
                return  result ? this.schedule.online_apply.start : '--';
            },
            service_end(){
                let result = this.schedule && this.schedule.online_apply && this.schedule.online_apply.end;
                return result ? this.schedule.online_apply.end : '--';
            }
        },
        watch:{
            'form.online_apply':(val)=>{
                if (!$.isPlainObject(val)) {
                    val = {};
                }
                if (!Array.isArray(val.lock)) {
                    val.lock = [];
                }
            }
        },
        methods: {
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/apply-school?applyId='+applyId).then((r)=>{
                    let data = r.data;
                    this.form.apply_schools = data.apply_schools;
                    this.form.online_apply = data.online_apply;
                    this.schedule = data.schedule;
                    this.process = data.process
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'online_apply'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            submitMainForm(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/apply-school/'+applyId,o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });

                }, (response) => {
                    o.busy = false;
                });
            },
            remove(id, index){
                this.$http.delete('study-abroad/apply-school/'+id).then((r)=>{
                    this.form.apply_schools.splice(index, 1);
                    this.lock.splice(index + 1, 1);
                });
            }
        },
    }
</script>

<style lang="scss">
    .network-add{
        border-bottom: 1px solid #d1d1d1;
        margin: 0;
        label{
            font-weight: normal;
        }
        select{
            width: 80%;
            margin-left: 15px;
        }
        button{
            margin: 20px 0;
        }
    }
    .produce-button{
       button{
        padding: 6px 2.5em;
       }
    }
    .network-items{
        margin: 20px 0;
        min-height: 14em;
        .strategy-title h4{
            font-size: 16px;
        }
        label{
            font-weight: normal;
        }
    }
    .network-items-list{
        padding: 0 24px;
        li{
            list-style: none;
            margin-bottom: 10px;
            .network-items-label{
                color: #8a8a8a;
                margin-right: 40px;
            }
        }
    }
    .network-list-select{
        display: inline-block;
        select{
            width: 20em;
            margin-right: 20px;
        }
        a{
            font-size: 13px;
        }
    }
    .network-final{
        padding: 0 24px;
        select{
            width: 20em;
            margin-left: 20px;
        }
    }
    .network-items-list-finally{
        padding-left: 0;
        i{
            font-size: 20px;
            color: #d1d1d1;
            margin-right: 5px;
            cursor: pointer;
        }
    }
</style>
