<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;创作文书
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon page-icon"></i>创作文书</h2>
            <div class="subtitle" :class="{'service-time-flag':progress != 1}">
                {{service_start}}至{{service_end}}
                <span v-if="progress != 1" class="flag" :class="{underway: status }">
                    <span v-if="status">进行中</span>
                    <span v-else>未开始</span>
                    <span class="triangle"></span>
                </span>
            </div>
            <img class="seal" :class="{'active' : progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class="badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <div v-if="tab_active_index == 1">
            <form class="card form form-horizontal" @submit.prevent="submitMainForm">
                <div class="produce-record">
                            <div class="produce-content">
                                <div class="produce-items" v-for="(v, index1) in form">
                                    <div v-if="v.type == '写作培训'">
                                        <div class="row">
                                            <div class="produce-items-title col-sm-9 main-color">
                                                <h4>▌{{v.type}}</h4>
                                            </div>
                                        </div>
                                         <div class="produce-items-files" v-for="(i,index2) in v.file">
                                            <div class="form-group">
                                                <div class="produce-items-title col-sm-2" :class="{'strategy-active': isLock(i) }">
                                                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(i)"></i>&nbsp;{{i.desc}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="row">
                                            <div class="produce-items-title col-sm-9 main-color">
                                                <h4>▌{{v.type}}</h4>
                                            </div>
                                            <span class="col-sm-3 text-right produce-items-handle">
                                                <a class="add main-color" @click="addFile(v.file, v.type)">+添加</a>
                                            </span>
                                        </div>
                                        <div class="produce-items-files" v-for="(i,index2) in v.file">
                                        <div class="form-group">
                                            <div class="produce-items-title col-sm-2" :class="{'strategy-active': isLock(i) }">
                                                <h4><i class="glyphicon glyphicon-ok" @click="setLock(i)"></i>&nbsp;文件{{index2+1}}</h4>
                                            </div>
                                            <div class="col-sm-8 desc-input">
                                                <input type="text" v-model="i.desc" :disabled="isLock(i)" :class="{'strategy-input-active': isLock(i)}">
                                            </div>
                                            <span class="col-sm-2 text-right produce-items-handle">
                                                <i class="iconfont icon-downArrow main-color" @click="showToggle(i, index1, index2)" :class="{'downArrow-trans': i.showList}"></i>
                                                <FileUpload class="avatar-mask" @upload="upload" :pram="{index1: index1,index2: index2}"  :accept="accept.join(',')" v-if="!isLock(i)">
                                                    <i class="glyphicon glyphicon-open main-color"></i>
                                                </FileUpload>
                                                <i class="glyphicon glyphicon-trash produce-delete" v-if="!isLock(i)" @click="remove(v.file, index2)"></i>
                                            </span>
                                        </div>
                                        <div class="form-group" v-if="isShowList(i)">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <table class="table table-file">
                                            <thead>
                                                <tr>
                                                    <th width="40%">文件名</th>
                                                    <th width="20%">时间</th>
                                                    <th width="18%">提交人</th>
                                                    <th width="">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(j, i_index) in i.content">
                                                    <td>{{ j.file_name }}</td>
                                                    <td>{{ j.file_time }}</td>
                                                    <td>{{ j.user.name }}</td>
                                                    <td class="text-center">
                                                        <a :href="j.file_url" :download="j.file_name">
                                                            <i class="glyphicon glyphicon-save main-color"></i>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="javascript:;" v-if="!isLock(i)" @click="remove(i.content, i_index)">
                                                            <i class="glyphicon glyphicon-trash produce-delete" ></i>
                                                        </a>
                                                    </td>
                                                 </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center produce-button">
                    <button class="btn bg-main-color">保存</button>
                </div>
            </form>
        </div>

        <leave-message v-if="tab_active_index == 3" :period="'document'" :readId="readId"></leave-message>

    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'
    import FileUpload from '../../../components/FileUpload.vue'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage,
            FileUpload

        },
        mounted(){
        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return {
                accept: [
                    'application/msword',
                    'application/vnd.ms-powerpoint',
                    'application/vnd.ms-excel',
                    'application/pdf',
                    'image/*'
                ],
                cache:{
                    cur_item: null
                },
                form: {},
                file: {},
                status: true,
                progress: 0,
                schedule: {},
                process: [],
                errors: {},
                busy: false,
                tab_active_index: 1,
                readId: 0,
                newMessages: 0
            }
        },
        watch:{
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && ['admin', 'tutor'].indexOf(user.role) >= 0)return false;
                return true
            },
            service_start(){
                let result = this.schedule && this.schedule.document && this.schedule.document.start;
                return result ? this.schedule.document.start : '--';
            },
            service_end(){
                let result = this.schedule && this.schedule.document && this.schedule.document.end;
                return result ? this.schedule.document.end : '--';
            }
        },
        methods: {
            showToggle(item, index1, index2){
                if($.isArray(item.content) && item.content.length > 0) {
                    item.showList = !item.showList;
                    this.$set(this.form[index1].file, index2, item);
                }
            },
            isShowList(i){
                if(!Array.isArray(i.content)){
                    this.$set(i, 'content', []);
                }
                return i.content.length > 0 && i.showList
            },
            remove(arr, index){
                arr.splice(index, 1);
            },
            upload(file, pram, value){
                file.user = {
                    name: this.$store.state.user.name,
                    id: this.$store.state.user.id
                };

                let item = this.form[pram.index1].file[pram.index2];
                if(!Array.isArray(item.content)) {
                    item.content = [];
                }
                item.content.splice(0, 0, file);

                if(!item.showList){
                    item.showList = true;
                }

                this.$set(this.form[pram.index1].file, pram.index2, item);
            },
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/document?applyId='+applyId).then((r)=>{
                    let data = r.data;
                    this.form = data.apply.documents;
                    this.progress = data.progress;
                    this.schedule = data.apply.schedule;
                    this.process = data.apply.process;
                    if(data.apply.documents.length < 1) {
                        this.status = null;
                        let start = data.apply.start;
                        if(start){
                            this.initType(start.document_type, start.service_scope);
                        } else {
                            this.initType();
                        }

                    }
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'document'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            initType(types, service_scope){
                let initTypes = ["个人陈述","个人简历","推荐信", "套瓷信", "补充材料"];
                if(['文书点石成金', '综合留学申请'].indexOf(service_scope) >= 0){
                    initTypes = ["写作培训","个人陈述","个人简历","推荐信", "套瓷信", "补充材料"];
                }

               $.each(initTypes, (k,v)=>{
                    let initFile = [];
                    if(v == '写作培训'){
                        initFile = [{desc:'科技论文写作'}, {desc:'申请文书写作'}];
                    }

                    if(types){
                        if(types.indexOf(v) >= 0){
                            if(v == '推荐信'){
                                initFile = [{desc:'推荐信-1'}, {desc:'推荐信-2'}, {desc:'推荐信-3'}];
                            }
                            if(v == '个人陈述') {
                                initFile = [{desc:'个人陈述-通用'}]
                            }
                            if(v == '个人简历') {
                                initFile = [{desc:'个人简历-通用'}]
                            }
                        }
                    } else {
                        if(v == '推荐信'){
                            initFile = [{desc:'推荐信-1'}, {desc:'推荐信-2'}, {desc:'推荐信-3'}];
                        }
                        if(v == '个人陈述') {
                            initFile = [{desc:'个人陈述-通用'}]
                        }
                        if(v == '个人简历') {
                            initFile = [{desc:'个人简历-通用'}]
                        }
                    }
                    this.form.push({
                        type: v,
                        file: initFile
                    });
                });
            },
            submitMainForm(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/document/'+applyId,o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });

                }, (response) => {
                    o.errors = response.data;
                    o.busy = false;
                });
            },
            addFile(file, type){
                file.push({});
            }
        },
    }
</script>

<style lang="scss">
    .produce-title{
        font-size: 16px;
    }
    .produce-content{
        margin: 3em 0;
        .produce-delete{
            font-size: 16px;
            color: #d1d1d1;
        }
        .table-file{
            color: #fff;
            border-spacing: 5px;
            border-collapse: collapse;
            th{
                background: #999;
                border: 1px solid #aaa;
                border-bottom: none !important;
                font-weight: normal;
            }
            td{
                border: none;
                border: 1px solid #aaa;
                color: #000;
                &:last-child{
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
    }
    .produce-items{
        margin: 1em 0;

        .desc-input {
            padding-top: 4px;
        }
    }
    .produce-items-files{
        input{
            width: 98%;
        }
        .strategy-input-active{
            border: 3px solid transparent !important;
            padding-left: 0;
        }
    }
    .produce-items-title{
        h4{
            font-weight: normal;
            font-size: 15px;
            white-space: nowrap;
        }
        i{
            color: #d1d1d1;
            margin-right: 5px;
        }
    }
    .produce-items-title, .produce-items-handle{
        height: 43px;
        line-height: 43px;
    }
    .produce-items-handle,.produce-list-handle{
        i{
            margin-left: 10px;
            font-size: 16px;
            cursor: pointer;
            &.icon-downArrow{
                font-size: 28px;
            }
        }
    }
    .produce-items-handle{
        padding-right: 20px;
    }
    .produce-list{
        border-top: 1px solid #d6d6d6;
        background: #f4f4f4;
        margin-top: 10px;
        padding: 0 23px;
        li{
            list-style: none;
            padding: 20px 0;
        }
        .produce-list-name{
            color: #1a85ff;
        }
    }
    .icon-downArrow{
        display: inline-block;
        vertical-align: middle;
        transition: all 0.3s;

        &.downArrow-trans{
             transform: rotate(180deg);
         }
    }

    .produce-button{
       button{
        padding: 6px 2.5em;
       }
    }
</style>
