<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;提升背景
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon up-icon"></i>提升背景</h2>
            <div class="subtitle" :class="{'service-time-flag':progress != 1}">{{service_start}}至{{service_end}}
            <span v-if="progress != 1" class="flag" :class="{underway: form.promotion}">
                <span v-if="form.promotion">进行中</span>
                <span v-else>未开始</span>
                <span class="triangle"></span>
            </span>
        </div>
            <img class="seal" :class="{'active' : progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class="badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <div v-if="tab_active_index == 1">
            <div class="promotion-notice text-center">问路石专家团队根据学员的自身特点制定最佳的学术背景快速提升方案</div>
            <form class="card form form-disabled-readonly" :class="{'readonly': readonly}" @submit.prevent="submit" v-if="form.promotion">
                <div class="promotion-items" v-if="form.promotion.content" v-for="(v, index) in form.promotion.content">
                    <div class="row">
                        <div class="strategy-title col-sm-9" :class="{'strategy-active': isLock(v) }">
                            <h4><i class="glyphicon glyphicon-ok" @click="setLock(v)"></i>{{v.activity}}</h4>
                        </div>
                        <span class="strategy-delete col-sm-3 text-right" v-if="!isLock(v) && !readonly">
                            <i class="glyphicon glyphicon-trash" @click="remove(index, v)"></i>
                        </span>
                    </div>
                    <div class="strategy-content">
                        <textarea rows="5" v-model="v.content" v-if="!isReadonly(v)"></textarea>
                        <textarea rows="3" v-autosize v-model="v.content" :disabled="isReadonly(v)" v-if="isReadonly(v) && v.content"></textarea>
                    </div>
                </div>
                <div class="text-center promotion-save"  v-if="!readonly">
                    <button :disabled="busy" class="btn bg-main-color">保存</button>
                </div>
            </form>
            <div class="text-center main-color" v-else>请前往制定策略添加提升背景项目</div>
        </div>

        <leave-message v-if="tab_active_index == 3" :period="'promotion'" :readId="readId"></leave-message>
    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage
        },
        mounted(){
        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return{
                form:{
                    promotion: {}
                },
                schedule: {},
                process: [],
                busy: false,
                tab_active_index: 1,
                readId: 0,
                newMessages: 0
            }
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && ['admin', 'tutor'].indexOf(user.role) >= 0)return false
                return true
            },
            progress(){
                return this.form.promotion ? this.form.promotion.progress : 0;
            },
            service_start(){
                let result = this.schedule && this.schedule.promotion && this.schedule.promotion.start;
                let time = result ? this.schedule.promotion.start : '--';
                return  this.form.promotion && this.progress == 1 ? this.form.promotion.created_at.substr(0, 10) : time;
            },
            service_end(){
                let result = this.schedule && this.schedule.promotion && this.schedule.promotion.end;
                let time = result ? this.schedule.promotion.end : '--';
                return  this.form.promotion && this.progress == 1 ? this.form.promotion.updated_at.substr(0, 10) : time;
            }
        },
        methods: {
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/promotion?applyId='+applyId).then((r)=>{
                    let data = r.data;
                    this.form.promotion = data.promotion;
                    this.schedule = data.schedule;
                    this.process = data.process;
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'promotion'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            remove(index, v){
                this.form.promotion.content.splice(index, 1);
            },
            submit(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/promotion/'+applyId, o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        }
                    });
                }, (response) => {
                    o.busy = false;
                });
            }
        }
    }
</script>

<style lang="scss">
    .promotion-notice{
        margin-bottom: 4em;
        margin-top: 2em;
    }
    .promotion-name{
        font-size: 18px;
        margin: 2em 0;
    }
    .promotion-items{
        margin-bottom: 2em;
        h4{
            font-size: 16px;
            font-weight: normal;
        }
        .strategy-delete{
            color: #aeaeae;
            cursor: pointer;
        }
    }
    .promotion-content{
        margin-left: 2em;
        textarea{
            width: 100%;
        }
    }
    .promotion-save{
        margin: 4em 0;
        button{
            padding: 5px 2.5em;
        }
    }
</style>
