<template>
    <div class="user-study-abroad-report right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">{{ isCurrentUser ? '我的服务' : '全部学员'}}</a>&nbsp;&gt;&nbsp;留学申请服务报告
        </div>
        <div class="start-service report-items" v-if="isShowStage(1)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon start-icon"></i>启动服务
                </p>
                <p class="desc">
                    {{start_time_start}}至{{start_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="start" :class="{'active' : start.progress == 1 }">
                <router-link :to="{name: 'StartService', params:{id:$route.params.id}}" class="to">
                    <span v-if="start">进入</span>
                    <span v-else>开始</span>
                    &nbsp;>
                </router-link>
            </div>
            <div v-if="start">
                {{start.evaluation}}
            </div>
            <div class="report-content desc" v-else>
                背景评估结果...
            </div>
        </div>
        <div class="strategy report-items" v-if="isShowStage(2)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon strategy-icon"></i>制定策略
                </p>
                <p class="desc">
                    {{strategy_time_start}}至{{strategy_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="strategy" :class="{'active' : strategy.progress == 1 }">
                <router-link :to="{name: 'strategy', params:{id:$route.params.id}}" class="to">
                    <span v-if="strategy">进入</span>
                    <span v-else>开始</span>
                    &nbsp;>
                </router-link>
            </div>
            <div v-if="strategy">
                {{strategy.strategy}}
            </div>
            <div class="report-content desc" v-else>
                制定总体策略，选择院校、专业与教授，策划背景提升活动，规划各阶段时间
            </div>
        </div>
        <div class="enhance-bg report-items" v-if="isShowStage(3)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon up-icon"></i>提升背景
                </p>
                <p class="desc">
                    {{promotion_time_start}}至{{promotion_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="promotion"
                     :class="{'active' : promotion.progress == 1 }">
                <router-link :to="{name: 'promotion', params:{id:$route.params.id}}" class="to">
                    <span v-if="promotion">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div v-if="promotion">
                <p v-for="v in promotion.content">{{v.activity}} {{v.content ? ':' + v.content : ''}}</p>
            </div>
            <div class="report-content desc" v-else>
                通过发表学术论文、参加赴美夏令营等活动提升个人背景
            </div>
        </div>
        <div class="document report-items" v-if="isShowStage(4)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon page-icon"></i>创作文书
                </p>
                <p class="desc">
                    {{document_time_start}}至{{document_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="report.documentProgress"
                     :class="{'active' : report.documentProgress == 1 }">
                <router-link :to="{name: 'produce', params:{id:$route.params.id}}" class="to">
                    <span v-if="documents && documents.length > 0">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div class="report-content" v-if="documents && documents.length > 0">
                <div class="report-user-info">
                    <div class="report-comment">
                        <div class="document-item-type" v-for="v in documents">
                            <div class="document-item" v-if="v.file && v.file.length > 0 && v.type != '写作培训'">
                                <span v-for="i in v.file" :class="{'unfinish': !i.lock}">{{i.desc}}<i v-if="!i.lock" class="iconfont icon-comment"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-content desc" v-else>
                策划、写作、翻译与润色申请所需的各种文书
            </div>
        </div>
        <div class="online-apply report-items" v-if="isShowStage(5)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon network-icon"></i>申请院校
                </p>
                <p class="desc">
                    {{online_apply_time_start}}至{{online_apply_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="online_apply" :class="{'active' : online_apply.progress == 1 }">
                <router-link :to="{name: 'network', params:{id:$route.params.id}}" class="to">
                    <span v-if="online_apply">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div class="report-content" v-if="online_apply">
                <div class="report-content" v-if="apply_schools && apply_schools.length > 0">
                    <p>
                        <span class="apply-school-span" v-for="v in apply_schools">{{v.school.name}} | {{v.specialty.name}} ({{apply_school_status[v.result]}})&nbsp;<i v-if="online_apply.apply_school_id == v.id" class="main-color glyphicon glyphicon-ok"></i></span>
                    </p>
                </div>
                <div v-else>
                    无录取通知
                </div>
            </div>
            <div class="report-content desc" v-else>
                递交网路申请，邮寄书面材料，准备申请面试，等待申请结果
            </div>
        </div>
        <div class="visa report-items" v-if="isShowStage(6)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon ccie-icon"></i>准备签证
                </p>
                <p class="desc">
                    {{visa_time_start}}至{{visa_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="visa" :class="{'active' : visa.progress == 1 }">
                <router-link :to="{name: 'visa', params:{id:$route.params.id}}" class="to">
                    <span v-if="visa">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div class="report-content" v-if="visa">
            </div>
            <div class="report-content desc" v-else>
                准备签证需要的材料，完成面试培训
            </div>
        </div>
        <div class="feedback report-items" v-if="isShowStage(7)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon survey-icon"></i>调查反馈
                </p>
                <p class="desc">
                    {{feedback_time_start}}至{{feedback_time_end}}
                </p>
                <router-link :to="{name: 'survey', params:{id:$route.params.id}}" class="to">
                    <span v-if="feedback">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div class="report-content" v-if="feedback">
                <chartjs-bar :value="chart_data" :progresses="progresses" v-if="feedback.progress == 1"></chartjs-bar>
            </div>
            <div class="report-content desc" v-else>
                评价服务各个环节的质量
            </div>
        </div>
        <div class="feedback report-items" v-if="isShowStage(8)">
            <div class="project-title-bg">
                <p class="title">
                    <i class="service-icon downAirplane-icon"></i>结束服务
                </p>
                <p class="desc">
                    {{feedback_time_start}}至{{feedback_time_end}}
                </p>
                <img src="../../../images/seal_finish.png" v-if="feedback"
                     :class="{'active' : feedback.progress == 1 }">
                <router-link :to="{name: 'finish', params:{id:$route.params.id}}" class="to">
                    <span v-if="feedback">进入</span>
                    <span v-else>开始</span>&nbsp;>
                </router-link>
            </div>
            <div class="report-content" v-if="feedback">
                <chartjs-bar :value="chart_data" :progresses="progresses" v-if="feedback.progress == 1"></chartjs-bar>
            </div>
            <div class="report-content desc" v-else>
                调查用户满意度，评价导师，总结经验
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import ChartjsBar from '../../../components/ChartjsBar.vue'
    import {mapGetters} from 'vuex'

    export default{
        components: {
            ChartjsBar
        },
        created(){
            this.getData()
        },
        data(){
            return {
                report: {
                    apply: {}
                }
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
            isCurrentUser(){
                return this.report.apply.user_id == this.user.id ? true : false
            },
            apply_school_status(){
                return {
                    'own_expense' : '自费',
                    'fellowship'  : '助学金',
                    'scholarship' : '奖学金'
                };
            },
            progresses(){
                return this.report.progresses;
            },
            chart_data(){
                if(!this.report.apply.feedback)return {};
                let data = this.report.apply.feedback;
                return [
                    {
                        name: '整体质量',
                        value: data.whole_evaluation
                    },
                    {
                        name: '前景评估',
                        value: data.prospect_evaluation
                    },
                    {
                        name: '策略制定',
                        value: data.strategize
                    },
                    {
                        name: '背景提升',
                        value: data.promotion
                    },
                    {
                        name: '文书创作',
                        value: data.document
                    },
                    {
                        name: '网络申请',
                        value: data.online_apply
                    },
                    {
                        name: '签证培训',
                        value: data.visa_training
                    },
                    {
                        name: '服务沟通',
                        value: data.service_communication
                    },
                    {
                        name: '服务价格',
                        value: data.service_price
                    },
                ];
            },
            start(){
                return this.report.apply.start;
            },
            start_time_start(){
                let time = this.report.apply && this.report.apply.created_at ? this.report.apply.created_at.substr(0, 10) : '--';
                return time;
            },
            start_time_end(){
                return this.start && this.start.progress == 1 ? this.start.updated_at.substr(0, 10) : '--';
            },
            strategy(){
                return this.report.apply.strategy;
            },
            strategy_time_start(){
                let time = this.report.apply && this.report.apply.submit_at ? this.report.apply.submit_at.substr(0, 10) : '--';
                return this.strategy ? this.strategy.created_at.substr(0, 10) : time;
            },
            strategy_time_end(){
                let time = this.report.apply && this.report.apply.strategy_end ? this.report.apply.strategy_end.substr(0, 10) : '--';
                return this.strategy && this.strategy.progress == 1 ? this.strategy.updated_at.substr(0, 10) : time;
            },
            visa(){
                return this.report.apply.visa;
            },
            visa_time_start(){
                let time = this.schedule && this.schedule.visa.start != null ? this.schedule.visa.start : '--';
                return this.visa && this.visa.progress == 1 ? this.visa.created_at.substr(0, 10) : time;
            },
            visa_time_end(){
                let time = this.schedule && this.schedule.visa.end != null? this.schedule.visa.end : '--';
                return this.visa && this.visa.progress == 1 ? this.visa.updated_at.substr(0, 10) : time;
            },
            promotion(){
                return this.report.apply.promotion;
            },
            promotion_time_start(){
                let time  = this.schedule && this.schedule.promotion.start != null ? this.schedule.promotion.start : '--';
                return  this.promotion && this.promotion.progress == 1 ? this.promotion.created_at.substr(0, 10) : time;
            },
            promotion_time_end(){
                let time = this.schedule && this.schedule.promotion.end != null? this.schedule.promotion.end : '--';
                return  this.promotion && this.promotion.progress == 1 ? this.promotion.updated_at.substr(0, 10) : time;
            },
            schedule(){
                return this.report.apply.schedule;
            },
            apply_schools(){
                return this.report.apply.apply_schools;
            },
            online_apply(){
                return this.report.apply.online_apply;
            },
            online_apply_time_start(){
                let time = this.schedule && this.schedule.online_apply.start != null ? this.schedule.online_apply.start : '--';
                return this.online_apply && this.online_apply.progress == 1 ? this.online_apply.created_at.substr(0, 10) : time;
            },
            online_apply_time_end(){
                let time = this.schedule && this.schedule.online_apply.end != null? this.schedule.online_apply.end : '--';
                return this.online_apply && this.online_apply.progress == 1 ? this.online_apply.updated_at.substr(0, 10) : time;
            },
            documents(){
                return this.report.apply.documents;
            },
            document_time_start(){
                return  this.schedule && this.schedule.document.start != null ? this.schedule.document.start : '--';
            },
            document_time_end(){
                return this.schedule && this.schedule.document.end != null? this.schedule.document.end : '--';
            },
            feedback(){
                return this.report.apply.feedback;
            },
            feedback_time_start(){
                let time = this.schedule && this.schedule.feedback.start != null ? this.schedule.feedback.start : '--';
                return this.feedback && this.feedback.progress == 1 ? this.feedback.created_at.substr(0, 10) : time;
            },
            feedback_time_end(){
                let time = this.schedule && this.schedule.feedback.end != null? this.schedule.feedback.end : '--';
                return this.feedback && this.feedback.progress == 1 ? this.feedback.updated_at.substr(0, 10) : time;
            },
        },
        methods: {
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/report/' + applyId).then((r)=> {
                    this.report = r.data;
                });
            },
            /**
             * 是否显示阶段
             * @param stage 阶段序号
             * @returns {boolean}
             */
            isShowStage(stage){
                switch (stage){
                    case 1://启动服务
                        return this.checkRoles(['tutor']);
                        break;
                    case 2://制定策略
                        return this.isInProgresses('strategy');
                        break;
                    case 3://提升背景
                        return this.isInProgresses('promotion');
                        break;
                    case 4://创作文书
                        return this.isInProgresses('document');
                        break;
                    case 5://申请院校
                        return this.isInProgresses('online_apply');
                        break;
                    case 6://准备签证
                        return this.checkRoles(['tutor']) && this.isInProgresses('visa');
                        break;
                    case 7://调查反馈
                        return this.checkRoles(['tutor', 'admin']);
                        break;
                    case 8://结束服务
                        return this.checkRoles(['student', 'tutor']);
                        break;
                    default:
                        return false;
                        break;
                }
            },
            /**
             * @param roles ['student', 'service', 'tutor', 'admin']
             * @param type 1:== 0:!=
             * @returns {boolean}
             */
            checkRoles(roles, type = 0){
                const user = this.$store.state.user;
                if (!user || !user.role) {
                    return false
                }
                for (let i = 0; i < roles.length; i++) {
                    let role = roles[i];
                    if(user.role == role){
                        return !!type;
                    }
                }
                return !type;
            },
            isInProgresses(i){
                return this.progresses && this.progresses.indexOf(i) >= 0
            }
        }
    }
</script>

<style lang="scss">
    .user-study-abroad-report {
        .report-items {
            margin-bottom: 20px;
            min-height: 18em;
        }
        .project-title-bg {
            padding-top: 35px;
            margin-bottom: 20px;
            border-bottom: 1px solid #d52045;
            position: relative;

            .title {
                color: #d52045;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            img {
                position: absolute;
                bottom: -30px;
                right: 50px;
                display: none;

                &.active {
                    display: block
                }
            }

            .desc {
                text-align: center;
                color: #999;
                font-size: 11px;
            }

            a.to {
                position: absolute;
                right: 0;
                bottom: 15px;
                color: #d52045;

                &:hover, &:active, &:visited {
                    color: #d52045;
                }
            }
        }
        .report-icon {
            display: inline-block;
            width: 26px;
            height: 36px;
            margin-right: 10px;
            font-size: 24px;
            vertical-align: middle;
            background-size: 23px;
        }
        .report-content {
            &.desc{
                color: #999;
            }
            .apply-school-span {
                margin-right: 15px;
            }
            .report-user-info {
                span {
                    margin-right: 1em;
                    width: 70px;
                    display: inline-block;
                }
                .report-comment {
                    display: inline-block;
                    font-size: 13px;
                    cursor: pointer;

                    .document-item-type {
                        display: inline-block;
                    }
                    .document-item {
                        display: inline-block;

                        .unfinish {
                            color: #aeaeae;
                        }
                    }
                    span {
                        display: inline-block;
                        width: auto;
                    }
                    i {
                        font-size: 18px;
                        vertical-align: middle;
                    }
                }
            }
            .report-meet-info {
                span {
                    margin-right: 2em;
                }
            }
        }
    }
</style>
