<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <span v-if="status!='sales-in'">
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;
            </span>
            启动服务
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon start-icon"></i>启动服务</h2>
            <div class="subtitle">{{service_date}}至{{ service_end }}</div>
            <img class="seal" :class="{'active' : form.progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class="badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <form class="card form form-disabled-readonly" :class="{'readonly': readonly}" @submit.prevent="submit" v-if="tab_active_index == 1">
            <div>
                <div class="strategy-title" :class="{'strategy-active': isLock(0) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(0)"></i>背景评估</h4>
                </div>
                <div class="strategy-content">
                    <textarea rows="3" v-autosize v-model="form.evaluation" v-if="!isReadonly(0)"></textarea>
                    <textarea rows="3" v-autosize v-model="form.evaluation" :disabled="isReadonly(0)" v-if="isReadonly(0) && form.evaluation"></textarea>
                </div>
            </div>
            <div>
                <div class="strategy-title" :class="{'strategy-active': isLock(1) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(1)"></i>销售约谈</h4>
                </div>
                <div class="strategy-content">
                    <textarea rows="3" v-autosize v-model="form.seller_conversation" v-if="!isReadonly(1)"></textarea>
                    <textarea rows="3" v-autosize v-model="form.seller_conversation" :disabled="isReadonly(1)" v-if="isReadonly(1) && form.seller_conversation"></textarea>
                </div>
            </div>
            <div>
                <div class="strategy-title" :class="{'strategy-active': isLock(2) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(2)"></i>专家约谈</h4>
                </div>
                <div class="strategy-content">
                    <textarea rows="3" v-autosize v-model="form.expert_conversation" v-if="!isReadonly(2)"></textarea>
                    <textarea rows="3" v-autosize v-model="form.expert_conversation" :disabled="isReadonly(2)" v-if="isReadonly(2) && form.expert_conversation"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="strategy-title col-sm-2" :class="{'strategy-active': isLock(3) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(3)"></i>服务范围</h4>
                </div>
                <div class="col-sm-10 strategy-service-scope">
                    <select class="form-control" v-model="form.service_scope" :disabled="isReadonly(3)" @change="onChangeServiceCope">
                        <option v-for="(value, key, index) in parameter.ServiceArea" :data="index" :value="key">{{ key }}{{isReadonly(3)?getDocumentTypes(key):''}}</option>
                    </select>
                </div>
            </div>
            <div class="row" v-show="isShowDocumentType && !isReadonly(3)">
                <div class="col-sm-offset-2 col-sm-10">
                    <label class="strategy-title col-sm-2">文书类型</label>
                    <span class="col-sm-2">
                        <input type="checkbox" value="个人陈述" v-model="form.document_type">
                        个人陈述
                    </span>
                    <span class="col-sm-2">
                        <input type="checkbox" value="个人简历" v-model="form.document_type">
                        个人简历
                    </span>
                    <span class="col-sm-2">
                        <input type="checkbox" value="推荐信" v-model="form.document_type">
                        推荐信
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="strategy-title col-sm-2" :class="{'strategy-active': isLock(4) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(4)"></i>合同签订</h4>
                </div>
                <div class="col-sm-10">
                    <div class="row strategy-contract">
                        <div class="col-sm-9">{{ form.contract.file_name }} &nbsp; &nbsp; {{ form.contract.file_time }}</div>
                        <div class="col-sm-3 text-right">
                            <FileUpload v-if="!isLock(4) && !readonly" class="avatar-mask" @upload="upload" :accept="accept.join(',')">
                                <i class="glyphicon glyphicon-open main-color"></i>
                            </FileUpload>
                            <a v-if="form.contract.file_url" :href="form.contract.file_url" :download="form.contract.file_name">
                                <i class="glyphicon glyphicon-save main-color"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="strategy-title col-sm-2" :class="{'strategy-active': isLock(5) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(5)"></i>导师分配</h4>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="strategy-tutor" v-if="tutor">
                                <router-link :to="{name:'Service.AuditingUser',params:{id: tutor.id}}" class="tutor-name">{{tutor.nickname ? tutor.nickname : '匿名'}}</router-link> &nbsp; &nbsp;
                                <span v-if="tutor.education">{{ tutor.education.school }}  |  {{ tutor.education.specialty }}   |  {{ tutor.education.degree }} </span>
                                <span v-if="tutor.experience">{{ tutor.experience.company }}  |  {{ tutor.experience.position }} </span>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right main-color">
                            <span @click="isShowAddStaff = true" v-show="!isLock(5) && !readonly"><i class="icon-tutor"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center startService-btn" v-if="!readonly">
                <button type="submit" :disabled="busy" class="btn bg-main-color">保存</button>
                <button type="button" :disabled="busy" class="btn bg-blur-color" @click="stopService()">终止</button>
            </div>
        </form>

        <leave-message v-if="tab_active_index == 3" :period="'start'" :readId="readId"></leave-message>
        <transition name="sildes">
            <addStaff v-if="isShowAddStaff" :prompt="'分配导师'" @add="addTutor" roles="tutor" @close="isShowAddStaff = false" :service="'留学服务'"></addStaff>
        </transition>
    </div>
</template>

<script lang="babel">
    import {mapActions} from 'vuex'
    import LeaveMessage from './widget/LeaveMessage.vue'
    import AddStaff from '../../../components/RightPanel/AddStaff.vue'
    import FileUpload from '../../../components/FileUpload.vue'

    import '../../../directive/textareaAutoSize'

    import parameter from '../../../config/parameter'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage,
            AddStaff,
            FileUpload
        },
        created(){
            this.getData();
            this.newMessage()
        },
        mounted(){
        },
        data(){
            return{
                parameter,
                accept: [
                    'application/msword',
                    'application/vnd.ms-powerpoint',
                    'application/vnd.ms-excel',
                    'application/pdf',
                    'image/*'
                ],
                form: {
                    evaluation: null,
                    seller_conversation: null,
                    expert_conversation: null,
                    service_scope: null,
                    contract: {},
                    tutor_id: null,
                    lock: {},
                    document_type: [],
                    progress: 0,
                },
                status: null,
                process: [],
                service_at: null,
                applyUserId: null,
                tutor: null,
                errors: {},
                busy: false,
                tab_active_index: 1,
                isShowAddStaff: false,
                isShowDocumentType: false,
                readId: 0,
                newMessages: 0
            }
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && user.role == 'admin')return false
                return true
            },
            lock(){
                return this.form.lock;
            },
            service_date(){
                return this.service_at ? this.service_at.substr(0, 10) : '--';
            },
            service_end(){
                return this.form.progress==1 ? this.form.updated_at.substr(0, 10) : '--';
            }
        },
        methods: {
            addTutor(user){
                this.tutor = user;
                this.form.tutor_id = user.id;
            },
            cleanTutor(){
                this.tutor = null;
                this.form.tutor_id = null;
            },
            getDocumentTypes(scope){
                if(['文书点石成金','文书基础写作','文书加急写作'].indexOf(scope) >= 0){
                    if(this.form.document_type == null) return;
                    if(this.form.document_type.length == 3) return '（全部文书）';
                    if(this.form.document_type.length  > 0) return '（'+this.form.document_type+'）';
                }
            },
            upload(file){
                this.$set(this.form, 'contract', file);
            },
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/start?applyId=' + applyId).then((r)=> {
                    let data = r.body;
                    this.setFormData(data.start);
                    this.applyUserId = data.user_id;
                    this.tutor = data.tutor;
                    this.service_at = data.created_at;
                    this.process = data.process;
                    this.status = data.status
                });
            },
             newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'start'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k, v)=> {

                    if (k == 'lock' || k == 'contract') {
                        if (!v) v = {}
                    }

                    // if(k == 'document_type'){
                    //     if (!v){
                    //         v = []
                    //     } else {
                    //         this.isShowDocumentType = true
                    //     }
                    // }
                    form[k] = v;
                });
                if (!$.isEmptyObject(data)) {
                    this.$set(this, 'form', form);
                }
            },
            onChangeServiceCope(e){
                let index = $(e.target).find('option:selected').attr('data');
                if(['2','3','4'].indexOf(index) >= 0){
                    this.form.document_type = ['个人陈述', '个人简历', '推荐信'];
                    this.isShowDocumentType = true
                } else {
                    this.form.document_type = [];
                    this.isShowDocumentType = false;
                }
            },
            stopService(){
                let o = this;
                let userId = this.applyUserId;
                $.confirm({
                    title: '终止服务',
                    content: '<div class="form-group"><input autofocus type="text" id="input-name" placeholder="请填写原因" class="form-control"></div><p class="text-danger" style="display:none">&nbsp;&nbsp;终止原因必须填写</p>',
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '确定',
                            action() {
                                var input = this.$content.find('input#input-name');
                                var errorText = this.$content.find('.text-danger');
                                if (input.val() == '') {
                                    errorText.show();
                                    return false;
                                } else {
                                    let data = {'status': 'stop', 'remarks': input.val()};
                                    o.$http.put('study-abroad/applies/' + userId, data).then((r)=> {
                                        if (r.data.status == 'error') {
                                            $.dialog('终止服务失败');
                                        } else {
                                            o.$router.push({
                                                name: 'Admin.StudyAbroad',
                                                params: {
                                                    status: 'stop'
                                                }
                                            });
                                        }
                                    });
                                }
                            }
                        }
                    },
                });
            },
            submit(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/start/' + applyId, o.form).then((r)=> {
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });

                }, (response) => {
                });
            }
        },
    }
</script>

<style lang="scss">
    .strategy-tutor, .strategy-contract{
        line-height: 46px;
        span{
            margin-right: 20px;
        }
        .tutor-name{
            color: #1a85ff;
            font-weight: 500;
        }
    }
    .strategy-service-scope {
        padding-top: 8px;
    }
    .icon-tutor{
        display: inline-block;
        width: 24px;
        height: 32px;
        vertical-align: middle;
    }
    .strategy-delete{
        color: #8a8a8a;
        cursor: pointer;
    }
    .strategy-tutor-info{
        padding-left: 0;
    }
    .startService-btn{
        margin: 6em 0 0 0;
        button{
            padding: 5px 2.5em;
            margin: 0 8px;
        }
    }
    .sildes-enter-active, .sildes-leave-active {
      transition: all .5s
    }
    .sildes-enter{
        right: -100%!important;
    }
    .sildes-leave, .sildes-leave-active {
        right: -100%!important;
    }
</style>
