<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;制定策略
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon strategy-icon"></i>制定策略</h2>
            <div class="subtitle">{{service_start}}至{{ service_end }}</div>
            <img class="seal" :class="{'active' : form.strategy.progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class=" badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <form class="card form form-horizontal strategy-form form-disabled-readonly" :class="{'readonly': readonly}" @submit.prevent="submitMainForm" v-if="tab_active_index == 1">
            <div class="whole-strategy" v-if="form.start.service_scope != '文书加急写作'">
                <div class="strategy-title" :class="{'strategy-active': isLock(0) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(0)"></i>整体策略</h4>
                </div>
                <div class="strategy-content">
                    <textarea rows="3" v-autosize v-model="form.strategy.strategy" v-if="!isReadonly(0)" :class="{'strategy-input-active': isReadonly(0)}"></textarea>
                    <textarea rows="3" v-autosize v-model="form.strategy.strategy" :disabled="isReadonly(0)" v-if="isReadonly(0) && form.strategy.strategy"></textarea>
                </div>
            </div>
            <div class="apply-school" v-if="isInProcess('online_apply') || isInProcess('school_counseling') || form.start.service_scope == '文书加急写作'">
                <div class="strategy-title"  :class="{'strategy-active': isLock(1) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(1)"></i>申请学校</h4>
                    <a class="add" @click="add(form.apply_schools)" v-show="!isLock(1) && !readonly">+添加专业</a>
                </div>
                <div v-for="(v, index) in form.apply_schools" class="strategy-content">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">专业{{index+1}}</label>
                        <div class="col-sm-11 display-flex">
                            <select class="form-control flex-grow-1" placeholder="请输入专业" v-model="v.specialty" :disabled="isReadonly(1)" :class="{'strategy-input-active': isReadonly(1)}" @change="specialtyChange(v)">
                                <option v-for="i in specialties">{{ i.name }}</option>
                            </select>
                            <button v-if="!(isReadonly(1) || isLock(1))" type="button" class="btn bg-main-color flex-grow-1" @click="openComponent(v.specialty,index)" style="margin-left: 30px;max-width:120px;">选择院校</button>
                            <div class="flex-grow-1 text-right" style="max-width:40px;">
                                <a class="glyphicon glyphicon-trash" @click="remove(form.apply_schools, index)" v-show="!isReadonly(1)"></a>
                            </div>
                        </div>
                        <transition name="silde">
                            <addSchool v-if="types === index" @close="types = false" v-model="v.school" prompt="选择院校" :name="isShowAddSchool" :isDetail="true"></addSchool>
                        </transition>
                    </div>
                    <div class="form-group" v-if="v.school.length > 0">
                        <div class="col-sm-offset-1 col-sm-11">
                            <table class="table table-school">
                            <thead>
                                <tr>
                                    <th width="30%">院校</th>
                                    <th width="33%">院系</th>
                                    <th width="15%">申请时间</th>
                                    <th width="15%">教授（可选）</th>
                                    <th width="">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(i, j) in v.school">
                                    <td>{{ i.school.name }}</td>
                                    <td>{{ i.department }}</td>
                                    <td>{{ i.deadline_at }}</td>
                                    <td>
                                    <input type="text" class="professor-input" v-model="i.professor" placeholder="输入" :disabled="isReadonly(1)">
                                    </td>
                                    <td><a class="glyphicon glyphicon-trash" @click="remove(v.school, j)" v-show="!isReadonly(1)"></a></td>
                                 </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-planning" v-if="isInProcess('promotion')">
                <div class="strategy-title" :class="{'strategy-active': isLock(2) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(2)"></i>背景规划</h4>
                    <a class="add" @click="add(form.promotion.content)" v-if="!isLock(2) && !readonly">+添加</a>
                </div>
                <div class="plan-list strategy-content">
                    <div class="form-group" v-for="(i, index) in form.promotion.content">
                        <label class="col-sm-1 control-label">活动{{index+1}}</label>
                        <div class="col-sm-10 display-flex">
                            <!-- <div class="flex-grow-1"> -->
                                <input v-model="i.activity" class="form-control" :disabled="isReadonly(2)" :class="{'strategy-input-active': isReadonly(2)}">
                            <!-- </div> -->
                            <!-- <div class="flex-grow-1" style="margin-left: 30px;max-width:120px;line-height:35px">
                                <a class="glyphicon glyphicon-trash" @click="remove(form.promotion.content, index)" v-show="!isReadonly(2)"></a>
                            </div> -->
                        </div>
                        <div class="col-sm-1 text-right"><a class="glyphicon glyphicon-trash" @click="remove(form.promotion.content, index)" v-show="!isReadonly(2)"></a></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="strategy-title" :class="{'strategy-active': isLock(3) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(3)"></i>时间规划</h4>
                </div>
                <div class="strategy-content">
                    <div class="form-group" v-if="form.schedule.promotion && isInProcess('promotion') && form.promotion.content.length > 0">
                        <label class="col-md-1 control-label">提升背景</label>
                        <double-datetimepicker class="col-md-5" :config="dateConfig" label="至" v-model="form.schedule.promotion" :disabled="isReadonly(3)"></double-datetimepicker>

                    </div>
                    <div class="form-group" v-if="form.schedule.document && isInProcess('document')">
                        <label class="col-md-1 control-label">文书创作</label>
                        <double-datetimepicker class="col-md-5" :config="dateConfig" label="至" v-model="form.schedule.document" :disabled="isReadonly(3)"></double-datetimepicker>

                    </div>
                    <div class="form-group" v-if="form.schedule.online_apply && isInProcess('online_apply')">
                        <label class="col-md-1 control-label">网络申请</label>
                        <double-datetimepicker class="col-md-5" :config="dateConfig" label="至" v-model="form.schedule.online_apply" :disabled="isReadonly(3)"></double-datetimepicker>
                    </div>
                    <div class="form-group" v-if="form.schedule.visa && isInProcess('visa')">
                        <label class="col-md-1 control-label">准备签证</label>
                        <double-datetimepicker class="col-md-5" :config="dateConfig" label="至" v-model="form.schedule.visa" :disabled="isReadonly(3)"></double-datetimepicker>
                    </div>
                </div>
            </div>
            <div class="text-center" v-if="!readonly">
                <button type="submit" :disabled="busy" class="btn bg-main-color strategy-button">保存</button>
            </div>
        </form>

        <leave-message v-if="tab_active_index == 3" :period="'strategy'" :readId="readId"></leave-message>
    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'
    import DoubleDatetimepicker from '../../../components/datetimepicker/DoubleDatetimepicker.vue'
    import '../../../directive/textareaAutoSize'
    import AddSchool from '../../../components/RightPanel/AddSchool.vue'
    import InputSelect from '../../../components/InputSelect.vue'

    export default{
        mixins: [require('./mixin').default],
        components:{
            AddSchool,
            InputSelect,
            LeaveMessage,
            DoubleDatetimepicker
        },
        mounted(){

        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return {
                form: {
                    strategy: {
                        strategy: null,
                        lock: {}
                    },
                    apply_schools: {},
                    promotion: {},
                    schedule: {},
                    start: {}
                },
                dateConfig:{
                    format: "YYYY-MM-DD"
                },
                service_at: null,
                strategy_end: null,
                process: [],
                errors: {},
                busy: false,
                tab_active_index: 1,
                lock: {},
                readonly: false,
                specialties: [],
                isShowAddSchool: false,
                types: false,
                readId: 0,
                newMessages: 0
            }
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && ['admin', 'tutor'].indexOf(user.role) >= 0)return false
                return true
            },
            lock(){
                return this.form.strategy.lock
            },
            service_start(){
                let time = this.service_at ? this.service_at.substr(0, 10) : '--';
                return this.form.strategy &&  this.form.strategy.created_at? this.form.strategy.created_at.substr(0, 10) : time;
            },
            service_end(){
                let time = this.strategy_end ? this.strategy_end.substr(0, 10) : '--';
                return this.form && this.form.strategy.progress==1 ? this.form.strategy.updated_at.substr(0, 10) : time;
            },
        },
        watch:{
            'form.schedule':(val)=>{
                if (!$.isPlainObject(val)) {
                    val = {};
                }
                if (!$.isPlainObject(val.promotion)) {
                    val.promotion = {};
                }
                if (!$.isPlainObject(val.document)) {
                    val.document = {};
                }
                if (!$.isPlainObject(val.online_apply)) {
                    val.online_apply = {};
                }
                if (!$.isPlainObject(val.visa)) {
                    val.visa = {};
                }
            },
            'form.apply_schools'(val){
                val.forEach((v, k)=>{
                    if(!Array.isArray(v.school)){
                        this.$set(v, 'school', [])
                    }
                })
            },
            'form.promotion':(val)=>{
                // if (!$.isPlainObject(val)) {
                //     val = {};
                // }
                // if (Array.isArray(val.content) && val.content.length < 1) {
                //     val.content.push({})
                // }
            },
        },
        methods: {
            openComponent(value,type){
                if(!value) {
                    $.alert({
                        content: '请输入专业',
                        title: '提示',
                    });
                }else{
                    this.isShowAddSchool = value;
                    this.types = type;
                }
            },
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/strategy?applyId='+applyId).then((r)=>{
                    let data = r.data;
                    this.setFormData(data.apply);
                    this.service_at = data.apply.submit_at;
                    this.strategy_end = data.apply.strategy_end;
                    this.specialties = data.specialties;
                    this.process = data.apply.process;
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k,v)=>{
                    if(!v){
                        v = {}
                    }
                    if(k == 'strategy'){
                        if(!v.lock) v.lock = {}
                    }
                    if(k == 'promotion'){
                        if(!v.content) v.content = []
                    }
                    if(k == 'apply_schools' && !Array.isArray(v)) {
                        v = Object.values(v)
                    }
                    form[k] = v;
                });
                if(!$.isEmptyObject(form)){
                    this.$set(this, 'form', form);
                }
            },
            submitMainForm(){
                if(this.readonly){
                    return;
                }
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/strategy/'+applyId,o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action() {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });
                }, (response) => {
                    o.errors = response.data;
                    o.busy = false;
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'strategy'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            remove(arr, index){
                arr.splice(index, 1);
            },
            add(arr){
                arr.push({});
            },
            isInProcess(i){
                return this.process && this.process.indexOf(i) >= 0
            },
            specialtyChange(v){
                if(v.school) v.school = []
            }
        },
    }
</script>

<style lang="scss">
    $bg-gray: #d1d1d1;
    $color: #d52045;
    $color-gray: #8a8a8a;
    .strategy-title{
        margin-bottom: 10px;
        .add{
            float: right;
            margin: 14px 0;
            color: $color;
        }
    }
    .glyphicon-trash{
        line-height: 30px;
    }

    .apply-school-list{
        border-bottom: 1px solid #dddddd;
        &:last-child{
            border-bottom: 0;
        }
    }
    .apply-school{

        .table-school{
            color: #fff;
            border-spacing: 5px;
            border-collapse: collapse;
            th{
                background: #999;
                border: 1px solid #aaa;
                font-weight: normal;
            }
            td{
                border: 1px solid #aaa;
                color: #000;
                &:last-child{
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }

        .professor-input{
            border: none;
            padding: 5px 0;
            width: 85%;
        }
    }

    .strategy-bg{
        input{
            width: 85%;
        }
        i{
            float: right;
            line-height: 27px;
            margin: 0!important;
            padding-right: 20px;
        }
    }
    .strategy-grade{
        input{
            width: 66%;
            border: 0;
        }
    }
    .strategy-grade span ,.strategy-delete{
        color: $color-gray;
        cursor: pointer;
    }
    .strategy-button{
        margin: 5em 0;
        width: 8em;
        text-align: center;
    }
</style>
