<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;调查反馈
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon survey-icon"></i>调查反馈</h2>
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言</li>
        </ul>
        <form class="card form" @submit.prevent="submit" v-if="tab_active_index == 1">
            <div class="survey-notice text-center">您的反馈与建议，我们前进的方向</div>
            <div class="survey-items">
                <ul class="survey-list">
                    <li>
                        <label>整体质量</label>
                        <Range v-model="form.feedback.whole_evaluation" :disableds="isReadonly()"></Range>
                    </li>
                    <li>
                        <label>前景评估</label>
                        <Range v-model="form.feedback.prospect_evaluation" :disableds="isReadonly()"></Range>
                    </li>
                    <li>
                        <label>策略制定</label>
                        <Range v-model="form.feedback.strategize" :disableds="isReadonly()"></Range>
                    </li>
                    <li v-if="isInProgress('promotion')">
                        <label>背景提升</label>
                        <Range v-model="form.feedback.promotion" :disableds="isReadonly()"></Range>
                    </li>
                    <li v-if="isInProgress('document')">
                        <label>文书创作</label>
                        <Range v-model="form.feedback.document" :disableds="isReadonly()"></Range>
                    </li>
                    <li v-if="isInProgress('online_apply')">
                        <label>网络申请</label>
                        <Range v-model="form.feedback.online_apply" :disableds="isReadonly()"></Range>
                    </li>
                    <li v-if="isInProgress('visa')">
                        <label>签证培训</label>
                        <Range v-model="form.feedback.visa_training" :disableds="isReadonly()"></Range>
                    </li>
                    <li>
                        <label>服务沟通</label>
                        <Range v-model="form.feedback.service_communication" :disableds="isReadonly()"></Range>
                    </li>
                    <li>
                        <label>服务价格</label>
                        <Range v-model="form.feedback.service_price" :disableds="isReadonly()"></Range>
                    </li>
                </ul>
                <ul class="survey-issue">
                    <li>
                        <label class="survey-issue-label">您是否使用过其他机构的类似服务？</label>
                        <div class="survey-issue-input">
                            <input type="radio" value="1" v-model="form.feedback.use_service" :disabled="isReadonly()"><label>是</label>
                            <input type="radio" value="0" v-model="form.feedback.use_service" :disabled="isReadonly()"><label>否</label>
                        </div>
                    </li>
                    <li>
                        <label class="survey-issue-label">您是否会向朋友推荐问路石教育的留学申请服务？</label>
                        <div class="survey-issue-input">
                            <input type="radio" value="1" v-model="form.feedback.recommend_service" :disabled="isReadonly()"><label>是</label>
                            <input type="radio" value="0" v-model="form.feedback.recommend_service" :disabled="isReadonly()"><label>否</label>
                        </div>
                    </li>
                    <li>
                        <label class="survey-issue-label">如果需要您是否会再次选择问路石教育所提供的服务？</label>
                        <div class="survey-issue-input">
                            <input type="radio" value="1" v-model="form.feedback.service_again" :disabled="isReadonly()"><label>是</label>
                            <input type="radio" value="0" v-model="form.feedback.service_again" :disabled="isReadonly()"><label>否</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="survey-items padding-left-40">
                <p class="survey-title">其它意见</p>
                <textarea rows="3" v-autosize v-model="form.feedback.advice" :disabled="isReadonly()" :class="{'strategy-input-active': isReadonly()}" placeholder="可选"></textarea>
            </div>
            <div class="text-center promotion-save">
                <button type="submit" :disabled="busy" class="btn bg-main-color">保存</button>
            </div>
        </form>

        <leave-message v-if="tab_active_index == 3" :period="'finish'"></leave-message>
    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'
    import Range from '../../../components/Range.vue'
    import '../../../directive/textareaAutoSize'

    export default{
        components:{
            LeaveMessage,
            Range
        },
        mounted(){
        },
        created(){
            this.getData()
        },
        data(){
            return{
                form:{
                    feedback: {
                        whole_evaluation: 50,
                        prospect_evaluation: 50,
                        strategize: 50,
                        promotion: 50,
                        document: 50,
                        online_apply: 50,
                        visa_training: 50,
                        service_communication: 50,
                        service_price: 50,
                        use_service: null,
                        recommend_service: null,
                        service_again: null
                    }
                },
                progresses: [],
                busy: false,
                tab_active_index: 1
            }
        },
        methods: {
            isReadonly(){
                return false
            },
            getFeedback(k){
                if(!this.form.feedback[k] && this.form.feedback[k] != 0){
                    this.$set(this.form.feedback, k, 0);
                }
                return this.form.feedback[k];
            },
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/feedback?applyId='+applyId).then((r)=>{
                    this.setFormData(r.data.feedback);
                    this.progresses = r.data.progresses;
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k,v)=>{
                    form[k] = v;
                });
                if(!$.isEmptyObject(form)){
                     this.$set(this.form, 'feedback', form)
                }
            },
            isInProgress(i){
                return this.progresses && this.progresses.indexOf(i) >= 0
            },
            submit(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.post('study-abroad/feedback?applyId='+applyId, o.form.feedback).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });
                }, (response) => {
                    let error = '保存失败';
                    $.each(response.data, (k,v)=>{
                        error = v[0];return false;
                    });
                    $.alert({
                        title: error,
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    o.busy = false;
                                }
                            },
                        },
                    });
                });
            }
        }
    }
</script>

<style lang="scss">
    .survey-notice{
        margin-bottom: 4em;
        margin-top: 2em;
        font-weight: 500;
        font-size: 15px;
    }
    .survey-items{
        .survey-title{
            margin: 20px 0;
        }
        .survey-list{
            li{
                padding-left: 100px;
                position: relative;
                list-style: none;
                label{
                    font-weight: normal;
                    margin-right: 1em;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    line-height: 58px;
                }
                .finish-range{
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                }
            }
        }
        textarea{
            width: 100%;
        }
        .survey-issue{

            li{
                list-style: none;
                margin-bottom: 1em;
                .survey-issue-label{
                    width: 28em;
                    font-weight: normal;
                }
                .survey-issue-input{
                    display: inline-block;
                    margin-left: 1em;
                    input{
                        vertical-align: middle;
                        margin-top: 0;
                    }
                    label{
                        margin: 0 4em 0 10px;
                        color: #727272;
                    }
                }
            }
        }
    }
    .promotion-save{
        margin: 4em 0;
        button{
            padding: 5px 2.5em;
        }
    }
</style>
