<template>
    <div class="right-container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">留学申请服务报告</a>&nbsp;&gt;&nbsp;准备签证
        </div>
        <div class="page-title text-center">
            <h2 class="service-h2"><i class="service-icon ccie-icon"></i>准备签证</h2>
            <div class="subtitle" :class="{'service-time-flag':form.visa.progress != 1}">{{service_start}}至{{service_end}}
            <span v-if="form.visa.progress != 1" class="flag" :class="{underway: form.visa.apply_id}">
                <span v-if="form.visa.apply_id">进行中</span>
                <span v-else>未开始</span>
                <span class="triangle"></span>
            </span>
        </div>
            <img class="seal" :class="{'active' : form.visa.progress == 1}" src="../../../images/seal_finish.png">
        </div>
        <ul class="service-title text-center">
            <li :class="{ 'active': tab_active_index == 1 }" @click="tab_active_index = 1">任务清单</li>
            <li :class="{ 'active': tab_active_index == 3 }" @click="tab_active_index = 3">我要留言<span class="badge badge-default" v-if="newMessages">{{newMessages}}</span></li>
        </ul>
        <form class="card form" :class="{'readonly': readonly}" @submit.prevent="submitMainForm" v-if="tab_active_index == 1">
            <ul class="certificate-list">
                <li class="strategy-title" :class="{'strategy-active': isLock(0) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(0)"></i>材料准备培训</h4>
                </li>
                <li class="strategy-title" :class="{'strategy-active': isLock(1) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(1)"></i>面试培训</h4>
                </li>
                <li class="strategy-title" :class="{'strategy-active': isLock(2) }">
                    <h4><i class="glyphicon glyphicon-ok" @click="setLock(2)"></i>签证前材料整理与注意事项告知</h4>
                </li>
            </ul>
            <div class="text-center produce-button" v-if="!readonly">
                <button type="submit" :disabled="busy" class="btn bg-main-color">保存</button>
            </div>
        </form>

        <leave-message v-if="tab_active_index == 3" :period="'visa'" :readId="readId"></leave-message>

    </div>
</template>

<script lang="babel">
    import LeaveMessage from './widget/LeaveMessage.vue'

    export default{
        mixins: [require('./mixin').default],
        components:{
            LeaveMessage
        },
        mounted(){

        },
        created(){
            this.getData()
            this.newMessage()
        },
        data(){
            return {
                form: {
                    visa: {
                        lock: {}
                    }
                },
                schedule: {},
                process: [],
                busy: false,
                tab_active_index: 1,
                readId: 0,
                newMessages: 0
            }
        },
        computed:{
            readonly(){
                const user = this.$store.state.user;
                if(user && user.role == 'admin')return false
                return true
            },
            lock(){
                return this.form.visa.lock;
            },
            service_start(){
                let result = this.schedule && this.schedule.visa && this.schedule.visa.start;
                return result ? this.schedule.visa.start : '--';
            },
            service_end(){
                let result = this.schedule && this.schedule.visa && this.schedule.visa.end;
                return result ? this.schedule.visa.end : '--';
            }
        },
        methods: {
            getData(){
                const applyId = this.$route.params.id;
                this.$http.get('study-abroad/visa?applyId='+applyId).then((r)=>{
                    this.setFormData(r.data.visa);
                    this.schedule = r.data.schedule
                    this.process = r.data.process
                });
            },
            newMessage(){
                this.$http.get('study-abroad/new-message-count', {
                    params:{
                        apply_id: this.$route.params.id,
                        period: 'visa'
                    }
                }).then((r)=>{
                    this.newMessages = r.data.count;
                    this.readId = r.data.readId;
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k,v)=>{
                    if(k == 'lock') {
                        if(!v) v = {};
                    }
                    form[k] = v;
                });
                if(!$.isEmptyObject(form)){
                     this.$set(this.form, 'visa', form)
                }
            },
            submitMainForm(){
                let o = this;
                o.busy = true;
                const applyId = o.$route.params.id;
                o.$http.put('study-abroad/visa/'+applyId, o.form).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action() {
                                    o.busy = false;
                                    window.location.reload()
                                }
                            },
                        },
                    });
                }, (response) => {
                    o.busy = false;
                });
            }
        },
    }
</script>

<style lang="scss">
    .certificate-list{
        padding: 0;
        list-style: none;
        margin-bottom: 6em;
        h4{
            font-size: 16px;
            i{
                margin-right: 10px;
            }
        }
    }
    .produce-button{
       button{
        padding: 6px 2.5em;
       }
    }
</style>
