<template>
    <div class="admin-left-sidebar">
        <div class="one-level" v-for="i in menu" v-if="hasRole(i.view_roles)">
            <router-link v-if="i.to" :to="i.to" @click="">
                <span v-if="i.icoClass" :class="i.icoClass"></span>
                <span v-html="i.title"></span>
            </router-link>
            <a href="javascript:;" v-else>
                <span v-if="i.icoClass" :class="i.icoClass"></span>
                <span v-html="i.title"></span>
            </a>
            <div class="two-level" v-if="i.children">
                <router-link :to="c.to?c.to:{path:'/'}" v-if="hasRole(c.view_roles)" v-for="c in i.children">{{ c.title }}
                    <span v-if="c.count || c.count == 0">({{c.count}})</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        props: ['menu'],
        data(){
            return{

            }
        },
        methods: {
            hasRole(roles){
                if(!roles) return false;
                for (let i in roles){
                    if(this.$store.state.user && roles[i] == this.$store.state.user.role){
                        return true;
                    }
                }
                return false;
            }
        }
    }

</script>

<style lang="scss" scoped>
    .admin-left-sidebar {
        text-align: center;
        border: 1px #ccc solid;
        line-height: 3;

        a {
            display: block;
        }

        & > .one-level {
            &:last-child{
                .two-level {
                    border-bottom: none;
                }
            }

            & > a {
                position: relative;
                border-bottom: 1px #ccc solid;
                color: #da244f;

                &.router-link-active {
                    background: #da244f;
                    color: #fff;
                }
                // &.draft-tag{
                //     position: absolute;
                //     display: inline-block;
                //     border-radius: 5px;
                //     background: #edccd3;
                //     color: #da244f;
                // }
            }

            & > .two-level {
                background: #ebebeb;
                border-bottom: 1px #ccc solid;

                a {
                    color: #898989;

                    &.router-link-active {
                        background: #da244f;
                        color: #fff;
                    }
                }

            }
        }
    }
</style>
