<template>
    <div class="chart">
        <canvas></canvas>
    </div>
</template>

<script lang="babel">
    const Chart = require('chart.js/dist/Chart.min');

    export default{
        props:{
            'value': Object,
            'progresses': Array
        },
        data(){
            return {
                chart: null
            }
        },
        mounted(){
            if(this.value){
                this.initChart()
            }
        },
        beforeDestroy(){
            this.chart.destroy();
        },
        methods:{
            initChart(){
                let labels = [];
                let datas = [];

                for (let value of this.value) {
                    let isPush = false;
                    if(value.name == '背景提升'){
                        if(this.isInProgress('promotion')){
                            isPush = true;
                        }
                    } else if(value.name == '文书创作'){
                        if(this.isInProgress('document')){
                            isPush = true;
                        }
                    } else if(value.name == '网络申请'){
                       if(this.isInProgress('online_apply')){
                            isPush = true;
                        }
                    }  else if(value.name == '签证培训'){
                        if(this.isInProgress('visa')){
                            isPush = true;
                        }
                    } else {
                        isPush = true;
                    }

                    if(isPush){
                        labels.push(value.name)
                        datas.push(value.value)
                        isPush = false;
                    }
                }

                this.chart = new Chart(this.$el.getElementsByTagName('canvas'), {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                data: datas,
                                backgroundColor: 'rgba(218, 165, 32, 0.2)',
                                borderColor: 'rgba(218, 165, 32, 1)',
                                borderWidth: 1,

                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: false,
                            categoryPercentage: 0.3,
                            barPercentage: 0.3,
                        },
                        scales: {
                            xAxes: [{
                                stacked: true,
                                barThickness: 60,
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    suggestedMax: 10
                                }
                            }]
                        }
                    }
                });
            },
            isInProgress(i){
                return $.inArray(i, this.progresses) != -1 ? true : false;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .chart{
        margin-left: -10px;
        margin-bottom: 10px;
    }
</style>
