<template>
    <form class="form form-search" @submit.prevent="submit">
        <div class="form-group floating-label">
            <div class="input-group">
                <div class="input-group-content">
                    <input type="text" class="form-control" :placeholder="placeholder" v-model="keyword">
                </div>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-lg"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </form>
</template>

<script lang="babel">
    export default{
        props:{
            placeholder: {
                type: String,
                default: null
            },
        },
        data(){
            return {
                keyword: null
            }
        },
        methods:{
            submit(){
                this.$emit('submit', this.keyword)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .form.form-search{
        .form-control {
            padding: 0;
            height: 37px;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom-color:  #da244f;
            background: transparent;
            color: #0c0c0c;
            font-size: 16px;
            -webkit-box-shadow: none;
            box-shadow: none;
            z-index:0;
        }

        .btn {
            width: 40px;
            height: 37px;
            background-color:  #da244f;
            display: inline-block;
            margin-bottom: 0;
            margin-left: 10px;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 4.5px 7px;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            i {
                color: #fff;
                font-size: 20px;
                text-align: center;
            }
        }
    }
</style>
