<template>
    <div class="autocomplete input-ico right"
         @keydown.up="highlight(highlightedIndex - 1)"
         @keydown.down="highlight(highlightedIndex + 1)"
         @keydown.enter="select(highlightedIndex)"
    >
        <input type="text" :value="search_text" :disabled="disabled" :placeholder="placeholder" class="form-control" :class="input_class" :required="required"
               @focus="onFocus"
               @input="onInput"
        >
        <span class="ico text gray glyphicon glyphicon-remove" v-if="search_text.length > 0" @click="search_text = ''"></span>
        <div class="result-list" v-show="is_show" ref="result_list">
            <div v-if="type">
                <div class="gray" v-if="getSchoolsType().length > 0">国内</div>
                <div class="item" v-for="(i, index) in getSchoolsType()"
                     :class="{'highlighted': highlightedIndex === index}"
                     @click="onClickli(i)"
                >{{ getName(i) }}</div>
                <div class="gray" v-if="getSchoolsType(1).length > 0">国外</div>
                <div class="item" v-for="(i, index) in getSchoolsType(1)"
                     :class="{'highlighted': highlightedIndex === index}"
                     @click="onClickli(i)"
                >{{ getName(i) }}</div>
            </div>
            <div v-else>
                <div class="item" v-for="(i, index) in result_list"
                     :class="{'highlighted': highlightedIndex === index}"
                     @click="onClickli(i)"
                >{{ getName(i) }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        props: {
            'value': String,
            'placeholder': String,
            'required': Boolean,
            'disabled': Boolean,
            'type': String,
            'input_class': [String, Object],
        },
        data(){
            return {
                is_show: false,
                result_list: [],
                highlightedIndex: -1,
                search_text: this.value ? this.value : ''
            }
        },
        watch: {
            'value'(val, oldValue) {
                this.search_text = val;
            },
            'search_text'(val) {
                this.$emit('input', val);
                this.$emit('change', val);
            }
        },
        computed: {
            'search_url'(){
                let url = 'study-abroad/specialties-by-name';
                switch (this.type) {
                    case 'schools':
                        url = 'study-abroad/schools-by-name';
                        break;
                }
                return url
            }
        },
        created(){
            $(document).click((event)=> {
                if($(event.target).parents('.autocomplete').length == 0){
                    this.hideList();
                }
            });
        },
        methods: {
            getSchoolsType(is_abroad = null){
                if(!this.result_list.length){
                    return [];
                }
                let ret_arr = [];
                for(let i of this.result_list){
                    if(is_abroad && i.type == 'abroad'){
                        ret_arr.push(i);
                    }else if(!is_abroad && i.type != 'abroad'){
                        ret_arr.push(i);
                    }
                }
                return ret_arr;
            },
            getList(keyword = ''){
                this.$http.get(this.search_url, {
                    params: {'keyword': keyword},
                    hideLoading: true
                }).then((r)=> {
                    this.$set(this, 'result_list', []);
                    r.body.forEach((v)=> {
                        if (this.isShow(v)) {
                            this.result_list.push(v)
                        }
                    });
                    if (this.result_list.length > 0) {
                        this.is_show = true;
                    }else if(r.body.length > 0){
                        this.getList();
                    }
                })
            },
            onFocus(e){
                this.onInput(e)
            },
            onInput(e){
                this.search_text = e.target.value
                this.getList(e.target.value);

            },
            onClickli(item){
                const value = this.getName(item);
                this.search_text = value;
                this.$emit('input', value);
                this.hideList()
            },
            hideList(){
                this.is_show = false;
                this.highlightedIndex = -1;
            },
            getName(i){
                return i.name
            },
            isShow(i){
                if (this.getName(i) == this.search_text) {
                    return false
                }
                return true
            },
            highlight(index) {
                if (!this.is_show) {
                    return;
                }
                if (index < 0) {
                    index = 0;
                } else if (index >= this.result_list.length) {
                    index = this.result_list.length - 1;
                }
                this.highlightedIndex = index;

                var elSuggestions = this.$refs.result_list;
                var elSelect = elSuggestions.children[index];
                var scrollTop = elSuggestions.scrollTop;
                var offsetTop = elSelect.offsetTop;
                if (offsetTop + elSelect.scrollHeight > (scrollTop + elSuggestions.clientHeight)) {
                    elSuggestions.scrollTop += elSelect.scrollHeight;
                }
                if (offsetTop < scrollTop) {
                    elSuggestions.scrollTop -= elSelect.scrollHeight;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .autocomplete{
        position: relative;
        .result-list{
            position: absolute;
            left: 0;
            right: 0;
            overflow-y: auto;
            border: 1px solid #d7d7d7;
            border-top: 0;
            box-shadow: 0 2px 10px #d7d7d7;
            z-index: 9999;
            background: #FFF;
            max-height: 300px;

            .gray{
                font-size: 12px;
                padding: 5px;
            }

            .item{
                padding: 10px;
                cursor: pointer;
                color: #8a8a8a;

                &:hover{
                    color: #da244f;
                }

                &.highlighted{
                    background: #da244f;
                    color: #fff;
                }
            }
        }
    }
</style>
