<template>
    <div class="loading"></div>
</template>

<script>
    export default{
        data(){
            return{

            }
        },

    }
</script>

<style lang="scss" scoped>
    .loading {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.8);
        z-index: 99999;
    }
    .loading:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 10px;
        text-indent: -9999em
    }

    .loader-animation-6 .loading:before, .loading:before {
        width: 1em;
        height: 1em;
        margin: -.5em 0 0 -.5em;
        border: none;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: 0 0;
        -webkit-animation: loader-animation-6 1.7s infinite ease;
        animation: loader-animation-6 1.7s infinite ease;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    @-webkit-keyframes loader-animation-6 {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
        5%, 95% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
        10%, 59% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -.435em -4.125em 0 -.1em #da244f, -.865em -4.06em 0 -.2em #da244f, -1.28em -3.945em 0 -.3em #da244f, -1.485em -3.875em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -.435em -4.125em 0 -.1em #da244f, -.865em -4.06em 0 -.2em #da244f, -1.28em -3.945em 0 -.3em #da244f, -1.485em -3.875em 0 -.315em #da244f
        }
        20% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -1.69em -3.79em 0 -.1em #da244f, -2.775em -3.085em 0 -.2em #da244f, -3.335em -2.44em 0 -.3em #da244f, -3.745em -1.7em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -1.69em -3.79em 0 -.1em #da244f, -2.775em -3.085em 0 -.2em #da244f, -3.335em -2.44em 0 -.3em #da244f, -3.745em -1.7em 0 -.315em #da244f
        }
        38% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -1.885em -3.7em 0 -.1em #da244f, -3.225em -2.61em 0 -.2em #da244f, -3.875em -1.485em 0 -.3em #da244f, -4.1em -.45em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -1.885em -3.7em 0 -.1em #da244f, -3.225em -2.61em 0 -.2em #da244f, -3.875em -1.485em 0 -.3em #da244f, -4.1em -.45em 0 -.315em #da244f
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
    }

    @keyframes loader-animation-6 {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
        5%, 95% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
        10%, 59% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -.435em -4.125em 0 -.1em #da244f, -.865em -4.06em 0 -.2em #da244f, -1.28em -3.945em 0 -.3em #da244f, -1.485em -3.875em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -.435em -4.125em 0 -.1em #da244f, -.865em -4.06em 0 -.2em #da244f, -1.28em -3.945em 0 -.3em #da244f, -1.485em -3.875em 0 -.315em #da244f
        }
        20% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -1.69em -3.79em 0 -.1em #da244f, -2.775em -3.085em 0 -.2em #da244f, -3.335em -2.44em 0 -.3em #da244f, -3.745em -1.7em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -1.69em -3.79em 0 -.1em #da244f, -2.775em -3.085em 0 -.2em #da244f, -3.335em -2.44em 0 -.3em #da244f, -3.745em -1.7em 0 -.315em #da244f
        }
        38% {
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, -1.885em -3.7em 0 -.1em #da244f, -3.225em -2.61em 0 -.2em #da244f, -3.875em -1.485em 0 -.3em #da244f, -4.1em -.45em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, -1.885em -3.7em 0 -.1em #da244f, -3.225em -2.61em 0 -.2em #da244f, -3.875em -1.485em 0 -.3em #da244f, -4.1em -.45em 0 -.315em #da244f
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f;
            box-shadow: 0 -4.15em 0 0 #da244f, 0 -4.15em 0 -.1em #da244f, 0 -4.15em 0 -.2em #da244f, 0 -4.15em 0 -.3em #da244f, 0 -4.15em 0 -.315em #da244f
        }
    }
</style>
