<template>
    <div class="header">
        <div class="header-logo text-center">
            <router-link to="/"><img src="../images/logo.png" alt=""></router-link>
        </div>
        <div class="header-user text-right">
            <template v-if="user">
                <div class="link-item">
                        <span class="iconfont icon-userSetting header-userSet" v-if="user.role == 'admin'"></span>
                        <span class="iconfont icon-icon1 header-userSet" v-if="user.role == 'student'"></span>
                        <span class="iconfont icon-userTutor header-userSet" v-if="user.role == 'tutor'"></span>
                        <span class="iconfont icon-customerservice header-userSet" v-if="user.role == 'service'"></span>
                        {{ user.nickname ? user.nickname : '匿名' }}
                    <div class="submenu nav">
                        <a href="javascript:;" @click="redirect">个人资料</a>
                        <router-link to="/my/account">修改密码</router-link>
                        <a href="javascript:;" @click="logout">退出</a>
                    </div>
                </div>
                </template>
                <template v-else>
                <router-link to="/auth/login" class="main-color">登录</router-link>
                <router-link to="/auth/register" class="main-color">注册</router-link>
            </template>
        </div>
        <div class="header-nav text-center">
            <div class="link-item" v-for="i in getMenu()">
                <router-link :to="i.to">{{ i.text }}</router-link><i v-if="i.child" class="iconfont icon-downArrow"></i>
                <div class="submenu" v-if="i.child">
                    <router-link :to="j.to" v-for="j in i.child">{{ j.text }}</router-link>
                </div>
            </div>
            <!-- <span>|</span> -->
            <div class="link-item">
                <router-link to="/about" :class="{ 'is-active': active_key == 'About' }">关于我们</router-link>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import {mapGetters, mapActions} from 'vuex'
    import parameter from '../config/parameter'

    export default{
        mounted(){
        },
        data(){
            return{
                active_key: 'service',
                ...parameter
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'current_role'
            ]),
        },
        methods:{
            ...mapActions([
                'clearUser',
            ]),
            getMenu(){
                return this.main_nav[this.current_role]
            },
            hasRole(roles){
                if(!roles) return false;
                for (let i in roles){
                    if(roles[i] == this.current_role){
                        return true;
                    }
                }
                return false;
            },
            redirect(){
                if(this.user.name && this.user.cellphone){
                    this.$router.push({
                        name:'Service.AuditingUser',
                        params:{id: this.user.id}
                    });
                } else {
                    this.$router.push('/my');
                }
            },
            logout(){
                this.$http.get('my/logout').then((response) => {
                    this.clearUser();
                    this.$router.push('/auth/login')
                    // if(this.$router.currentRoute.meta.auth){
                    //     this.$router.push({
                    //         path: '/',
                    //     })
                    // }
                });
            }
        },
        components:{
        },
        watch: {
            $route () {
                let currentRoute = this.$router.currentRoute;
                if(currentRoute.meta.headerNav){
                    this.active_key = currentRoute.meta.headerNav
                }else{
                    this.active_key = currentRoute.name
                }
            }
        }
    }
</script>

<style lang="scss">
    .header {
        height: 40px;
        position: relative;

        .link-item{
            padding: 0 25px;
            display: inline-block;
            position: relative;
            .user-item{
                margin-right: -25px;
            }
            i{
                font-size: 18px;
                color: #FFF;
            }
            &>a{
                color: white;
                padding-bottom: 5px;

                &:hover, &.router-link-active{
                    border-bottom: 2px solid #da244f;
                }
            }

            &:hover{
                .submenu{
                    display: block;
                }
            }

            .submenu{
                text-align: center;
                z-index: 255;
                display: none;
                position: absolute;
                left: 0;
                top: 70px;
                width: 100%;
                line-height: 2;
                background: #eeeeee;

                &.nav{
                    top: 40px;
                }

                &>a{
                    display: block;
                    border-bottom: 1px #fff solid;
                    height: 38px;
                    line-height: 38px;

                    &:last-child{
                        border-bottom:none;
                    }

                    &:hover{
                        color: #d52045;
                    }
                }
            }
        }
    }
    .header-logo {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 3;
        margin-left: -35px;

        img {
            height: 60px;
        }
    }
    .icon-userTutor{
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url("../images/userTutor.png") no-repeat center center;
        background-size: 25px;
    }
    .header-userSet{
        font-size: 21px;
        vertical-align: middle;
    }
    .header-nav {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .6);
        height: 70px;
        line-height: 70px;
        z-index: 2;

        span {
            color: white;
        }
    }

    .header-user {
        padding: 0 10px;
        line-height: 40px;

        a {
            margin: 0 5px;
        }
    }

</style>
