<template>
    <div class="OwlCarousel-banner">
        <div class="owl-carousel owl-theme">
            <slot>
                <!--
                <a class="item">
                    <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/240.jpeg?imageView2/1/w/1440/h/400">
                </a>
                -->
            </slot>
        </div>
        <div class="li" v-if="li.count">
            <a v-for="i in li.count" @click="switchOwlCarouselItem(i)" href="javascript:;" :class="{ 'active': i == li.active+1 }"></a>
        </div>
    </div>
</template>

<script lang="babel">
    /**
     * OwlCarousel2
     * http://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html
     */
    require('owl.carousel/dist/owl.carousel.min');
    export default{
        props: {},
        mounted(){
            var self = this;
            let $el = $(this.$el);
            let $owlCarousel = $el.find('.owl-carousel');
            this.li.count = $owlCarousel.find('.item').length;
            $owlCarousel.owlCarousel({
                items: 1,
                lazyLoad: true,
            });
            $owlCarousel.on('changed.owl.carousel', ({item})=> {
                self.li.active = item.index;
            });
        },
        methods: {
            switchOwlCarouselItem(i){
                $(this.$el).find('.owl-carousel').trigger('to.owl.carousel', i-1);
            }
        },
        data(){
            return {
                li: {
                    count: null,
                    active: 0,
                }
            }
        },
    }
</script>

<style lang="css">
    @import "~owl.carousel/dist/assets/owl.carousel.min";
</style>

<style lang="scss" scoped>
    .OwlCarousel-banner {
        background: #fff;

        .li {
            text-align: center;
            font-size: 0;
            padding: 10px 0;

            a {
                display: inline-block;
                width: 2%;
                height: 5px;
                background: #c8c8c8;
                margin: 0 5px;

                &.active {
                    background: #da244f;
                }
            }
        }
    }
</style>
