<template>
    <div class="OwlCarousel-slide-gallery">
        <div class="nav">
            <a href="javascript:;" v-on:click="prev" class="carousel-btn iconfont icon-leftArrow"></a>
            <a href="javascript:;" v-on:click="next" class="carousel-btn iconfont icon-rightArrow pull-right"></a>
        </div>
        <div class="owl-carousel owl-theme">
            <slot>
                <!--
                <a class="item">
                    <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/240.jpeg?imageView2/1/w/1440/h/400">
                </a>
                -->
            </slot>
        </div>
    </div>
</template>

<script lang="babel">
    /**
     * OwlCarousel2
     * http://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html
     */
    require('owl.carousel/dist/owl.carousel.min');
    export default{
        props: {
            items:{
                default: 4
            }
        },
        mounted(){
            let $el = $(this.$el);
            let $owlCarousel = $el.find('.owl-carousel');
            let loop = false;
            if(this.items.length > 4) {
                loop = true;
            }
            $owlCarousel.owlCarousel({
                items: this.items,
                loop:loop,
                nav:false,
                lazyLoad: true,
            });
        },
        methods: {
            prev(){
                $(this.$el).find('.owl-carousel').trigger('prev.owl.carousel');
            },
            next(){
                $(this.$el).find('.owl-carousel').trigger('next.owl.carousel');
            }
        },
        data(){
            return {
            }
        },
    }
</script>


<style>
    @import "~owl.carousel/dist/assets/owl.carousel.min";
    .OwlCarousel-slide-gallery{
        position: relative;
    }

    .OwlCarousel-slide-gallery .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .OwlCarousel-slide-gallery .owl-item{
        padding: 0 10px;
    }

    .OwlCarousel-slide-gallery .nav{
        position: absolute;
        left: 0;
        top: 50%;
        line-height: 1;
        margin-top: -30px;
        width: 100%;
    }
    .carousel-btn{
        font-size: 35px;
    }
</style>
