<template>
    <div class="widget-popover-container">
        <div @click="onClick" class="widget-popover-trigger">
            <slot></slot>
        </div>
        <div class="widget-popover-content" v-if="isShow">
            <slot name="content"></slot>
            <div class="popper__arrow" x-arrow></div>
        </div>
    </div>
</template>

<script lang="babel">
//    import Popper from 'popper.js/build/popper.min'
    const Popper = require('popper.js/build/popper.min');

    export default{
        props: {
            placement:{
                default: 'bottom' //top, top-start, top-end, bottom, bottom-start, bottom-end, left, left-start, left-end, right, right-start, right-end
            },
            isClickClose: {
                default: true
            }
        },
        data(){
            return {
                isShow: false,
                popper: null,
            }
        },
        watch: {
            isShow(val, oldVal) {
                if (val) {
                    this.switchHide();
                    this.$nextTick(() => {
                        this.switchShow();
                    });
                } else {
                    this.switchHide();
                }
            }
        },
        mounted(){
            $(document).click((event)=> {
                if($(event.target).parents('.widget-popover-container').length == 0){
                    this.isShow = false;
                }
            });
        },
        methods: {
            switchShow(){
                this.popper = new Popper(
                        this.$el.querySelector('.widget-popover-trigger'),
                        this.$el.querySelector('.widget-popover-content'),
                        {
                            placement: this.placement
                        }
                );
            },
            switchHide(){
                if (this.popper)this.popper.destroy();
            },
            onClick(){
                this.isShow = this.isShow ? false : true;
            },
            onClose(){
                if (this.isClickClose) {
                    this.isShow = false;
                }
            }
        },
        destroyed(){
            this.switchHide()
        }
    }
</script>

<style lang="scss" scoped>
    .widget-popover-container {
        position: relative;

        .widget-popover-content {
            background: #eee;
            width: auto;
            border-radius: 3px;
            box-shadow: 1px 1px 10px #ccc;
            padding: .5em;
            text-align: center;
            z-index: 1000;
        }
        .widget-popover-content .popper__arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
        }
        .widget-popover-content[x-placement^="top"] {
            margin-bottom: 5px;
        }
        .widget-popover-content[x-placement^="top"] .popper__arrow {
            border-width: 5px 5px 0 5px;
            border-color: #eee transparent transparent transparent;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
        .widget-popover-content[x-placement^="bottom"] {
            margin-top: 5px;
        }
        .widget-popover-content[x-placement^="bottom"] .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #eee transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
        .widget-popover-content[x-placement^="right"] {
            margin-left: 5px;
        }
        .widget-popover-content[x-placement^="right"] .popper__arrow {
            border-width: 5px 5px 5px 0;
            border-color: transparent #eee transparent transparent;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
        .widget-popover-content[x-placement^="left"] {
            margin-right: 5px;
        }
        .widget-popover-content[x-placement^="left"] .popper__arrow {
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent #eee;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
</style>
