<template>
    <div class="finish-range">
        <span>0</span>
        <div class="finish-range-input">
            <input type="range" :max="max" min="0" :value="value" :disabled="disableds" :class="classes" :style="{'background-image': '-webkit-linear-gradient(left ,#d52045 ' + offset + '%,#FFF ' + offset + '%, #d1d1d1 100%)'}" @input="onInput" :required="requireds">
            <div class="range-number">
                <div>
                    <span class="finish-range-show" :style="{'left' : (offset+1)+'%'}">{{num}}{{unit}}</span>
                </div>
            </div>
        </div>
        <span>{{max}}</span>
    </div>
</template>

<script lang="babel">
    export default{
        components:{
        },
        created(){

        },
        props: {
            'value': {
                default: 50
            },
            'disableds': {
                default: false
            },
            'requireds': {
                default: false
            },
            'classes': {
                default: ''
            },
            'max': {
                default: 100
            },
            'unit': {
                default: ''
            }
        },
        data(){
            return{
            }
        },
        computed: {
            offset(){
                return !this.value && this.value != 0 ? 50 : (this.value/this.max)*100;
            },
            num(){
                if(!$.isNumeric(this.value)) {
                    return this.max / 2;
                }
                if($.isNumeric(this.value)) {
                    return this.value;
                }
            }
        },
        watch:{
           'value'(val){
               console.log(val)
               if((!val && val != 0) || !$.isNumeric(val)){
                   this.$emit('input', 0);
                   this.$set(this, 'value', 0)
               }
           }
        },
        methods:{
            onInput(event){
                this.value = event.target.value;
                this.$emit('input', event.target.value)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .finish-range{
        color: #8a8a8a;
        font-size: 13px;
        margin: 20px 0;
        position: relative;
        padding: 0 25px 0 15px;

        & > span{
            position: absolute;

            &:first-child{
                left: 0;
            }

            &:last-child{
                text-align: right;
                right: 0;
            }
        }
    }
    .finish-range-input{
        display: inline-block;
        width: calc( 100% - 5px);
        vertical-align: middle;

        .range-number{
            padding-left: 6px;
            padding-right: 15px;

            > div{
                position: relative;
            }

            .finish-range-show{
                color: #d52045;
                position: absolute;
                left: 0;
                top: -30px;
                font-size: 14px;
                transform: translateX(-50%);
                display: inline-block;
                width: 40px;
            }
        }

        input{
            width: 100%;
            height: 3px;
            vertical-align: middle;
            padding: 0;
        }
    }

</style>
