<template>
    <input class="form-control" type="text" :value="value">
</template>

<script lang="babel">
    /**
     * http://selectize.github.io/selectize.js
     */
    require('selectize/dist/js/selectize.min');
    // require('selectize/dist/css/selectize.bootstrap3');

    export default{
        props: ['value', 'config', 'type'],
        data(){
            return{
                $selectize: null,
            }
        },
        watch:{
            'value':(val)=>{
            },
        },
        mounted(){
            let $select = $(this.$el);
            this.$selectize = $select.selectize({
                    plugins: ['remove_button'],
                    delimiter: ',',
                    persist: false,
                    maxItems: 10,
                    preload: true,
                    valueField: 'name',
                    labelField: 'name',
                    searchField: ['name'],
                    options: [],
                    // render: {
                    //     item: function(item, escape) {
                    //         return '<div>' +item.name + '</div>';
                    //     },
                    //     option: function(item, escape) {
                    //         return '<div>' +item.name +'</div>';
                    //     }
                    // },
                    create: function(input) {
                        return {
                          id: input,
                          name: input,
                        }
                    },
                    load: (query, callback)=>{
                        if(this.type == 'tags') {
                            this.$http.get('tags', {
                                hideLoading: true,
                                params: {
                                    type: 'article',
                                    keyword: query,
                                }
                            }).then((r)=>{
                                callback(r.body);
                            })
                        }
                    }
                });
            $select.on("change",  (e)=>{
                this.$emit('input',$select.val());
            });
        },
        beforeDestroy(){
            if(this.$selectize){
                this.$selectize[0].selectize.destroy();
            }
        },
        methods:{
        }
    }
</script>
<style lang="scss">
    @import '~selectize/dist/css/selectize.bootstrap3';
    .selectize-input{
        border-radius: 0;
        border-color: #dddddd !important;
    }
</style>
