<template>
    <select v-model="value" style="width:100%"></select>
</template>

<script lang="babel">
    require('select2/dist/js/select2.min.js');
    require('select2/dist/js/i18n/zh-CN.js');
    require('select2/dist/css/select2.min.css');

    export default{
        props: ['value', 'readonly'],
        data(){
            return{
            }
        },
        mounted(){
            let $eventSelect = $(this.$el);
            $eventSelect.select2({
                language: "zh-CN",
                ajax: {
                    url: "users",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            roles: ['student', 'tutor', 'admin'],
                            keyword: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 15) < data.total
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                minimumInputLength: 1,
                templateResult: function(repo){
                    if (repo.loading) return repo.text;
                    return repo.name
                },
                templateSelection: function(repo){
                    return repo.name || repo.text;
                }
            });
            $eventSelect.on("change",  (e)=>{
                this.$emit('input',$eventSelect.val());
            });
        },
        methods:{

        }
    }
</script>

<style lang="scss">
    .select2-container--default .select2-selection--multiple{
        border: 1px solid #d1d1d1!important;
        border-radius: 0!important;
    }
</style>
