<template>
    <div v-html="value"></div>
</template>

<script lang="babel">
    import {mapMutations} from 'vuex'

    require('bootstrap/js/modal.js');
    require('bootstrap/js/dropdown.js');
    require('bootstrap/js/tooltip.js');
    $.support.transition = false

    window.CodeMirror = require('codemirror/lib/codemirror');
    require('codemirror/mode/xml/xml');
    require('codemirror/lib/codemirror.css');

    require('summernote/dist/summernote.min');
    require('summernote/dist/lang/summernote-zh-CN.min');
    // require('summernote/dist/summernote.css');


    if(!window.FileAPI){
        window.FileAPI = require('fileapi/dist/FileAPI.html5.js');
    }

    export default{
        props:{
            toolbar: {
                type: Array,
                required: false,
                default: function() {
                    return [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['fontname', ['fontname']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['fullscreen', 'codeview', 'help']]
                    ];
                }
            },
            value: String
        },
        data(){
            return{
                $summernote: null,
                qiniu: null
            }
        },
        watch:{
            value(val){
                // if(this.$summernote && val){
                //     this.$summernote.summernote('code', val)
                // }
            }
        },
        mounted(){
            this.getQiniu();
            const imageTransform = {
                maxWidth: 1200,
                maxWidth: 1200,
//                preview: true,
                // quality: 0.86
            };
            this.$summernote = $(this.$el)
                .summernote({
                    lang: 'zh-CN',
                    height: 'auto',
                    minHeight: 400,
                    toolbar: this.toolbar,
                    contentType: false,
                    fontNames: [
                        '黑体', '宋体', 'Microsoft YaHei', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New',
                        'Helvetica Neue', 'Helvetica', 'Impact', 'Lucida Grande',
                        'Tahoma', 'Times New Roman', 'Verdana'
                      ],
                    fontNamesIgnoreCheck: ['Microsoft YaHei', '黑体', '宋体'],
                    callbacks: {
                        onImageUpload:(files)=>{
                            for (let file of files){
                                FileAPI.upload({
                                    url: this.getQiniu().upload_url,
                                    data: {
                                        key: this.getFileName(file),
                                        token: this.qiniu.token
                                    },
                                    files: {
                                        file: file
                                    },
                                    imageTransform: imageTransform,
//                                    imageOriginal: false,
//                                    imageAutoOrientation: false,
                                    prepare:(file, options)=>{
                                        this.addLoading();
                                    },
                                    progress:(evt)=>{
                                        console.log('progress:' + (evt.loaded / evt.total * 100).toFixed(2) + '%')
                                    },
                                    complete:(err, xhr)=>{
                                        if (!err) {
                                            const qiniu_path = JSON.parse(xhr.responseText).key;
                                            const file_url = this.getQiniu().download_url + '/' + qiniu_path
                                            this.$summernote.summernote('insertImage', file_url);
                                        }
                                        this.removeLoading();
                                    }
                                });
                            }
                        }
                    }
                })
                .on('summernote.change', (we, contents, $editable) => {
                    this.$emit('input', contents);
                })
        },
        beforeDestroy(){
            if(this.$summernote){
                this.$summernote.summernote('destroy');
            }
        },
        methods:{
            ...mapMutations([
                'addLoading',
                'removeLoading'
            ]),
            getQiniu(){
                if(!this.qiniu){
                    if(Cookies.get('qiniu')){
                        this.qiniu = JSON.parse(Cookies.get('qiniu'));
                    }else{
                        this.$http.get('supplier/qiniu').then((r)=> {
                            this.qiniu = r.body;
                            Cookies.set('qiniu', JSON.stringify(r.body), { expires: 0.04 })
                        })
                    }
                }
                return this.qiniu;
            },
            getFileName(file){
//                let extension_name = /\.[^\.]+/.exec(file.name)[0];

                return new Date().getTime() + '/' + file.name;
            },
        }
    }
</script>
<style lang="scss">
    @import '~summernote/dist/summernote.css';
    .panel{
        border-radius: 0;
        border-color: #dddddd !important;
    }
</style>