<template>
    <div class="user-bg-red text-center" v-if="user">
        <div v-if="breadcrumb" class="container breadcrumb">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow">
                <i class="iconfont icon-leftArrow"></i>
            </a>
            <!--
            <route-link :to="{name: 'Service' }" class="gray">全部服务</route-link>
            >
            <route-link :to="{name: 'Service' }" class="gray">留学申请服务（销售中）</route-link>
            >
            {{ user.name }}-->
        </div>
        <div class="user-info">
            <img class="avatar" :src="user.avatar">
            <h4>{{ user.nickname ? user.nickname : '匿名' }}</h4>
            <div class="user-education" v-if="user.education">
                {{ user.education.school }} {{ user.education.specialty }} {{ user.education.degree }}
                <br>
                {{ user.education.date }}
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        props: {
            breadcrumb: {
                default: false,
            },
            user:{
                type: Object,
                default: null,
            },
        },
        created(){
        },
        data(){
            return{
            }
        },
    }
</script>

<style lang="scss" scoped>
.user-bg-red {
    height: 400px;
    background: url('../images/user-bg-01.jpg');
    background-position: center center;
    padding: 100px 0;
    color: #fff;
    background-size: cover;

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
    }

    .breadcrumb {
        height: auto;
        line-height: inherit;
        padding: 0;

        i{
            font-size: 30px;
        }
        .arrow {
            float: left;
            color: #fff;
        }

        a.gray {
            color: #999;
        }
    }
}
</style>
