<template>
    <div>
        <div class="auth-header pos-r">
            <div class="pos-a">
                <div class="container text-center">
                    <div class="logo">
                        <router-link to="/">
                            <img src="../../images/logo.png">
                        </router-link>
                    </div>
                    <div class="name">
                        问路石
                    </div>
                    <div class="hr"></div>
                    <div class="h2">
                        山高人为峰  问石助你行
                    </div>
                </div>
            </div>
        </div>
        <div class="container auth-form">
            <div class="text-center link">
                <router-link to="/auth/login" :class="{ 'is-active': $router.currentRoute.name == 'Login' }">登录</router-link>
                <router-link to="/auth/register" :class="{ 'is-active': $router.currentRoute.name == 'Register' }">注册</router-link>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default{
        mounted(){
        },
        data(){
            return{

            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    .auth-header {
        background-image: url(http://og9i0ercv.bkt.clouddn.com/auth/auth_bg.png?imageView2/1/format/jpg/interlace/1);
        height: 360px;
        background-size: cover;
        background-position: center center;

        .pos-a {
            position: absolute;
            left: 0;
            width: 100%;
            top: 15%;
            color: #fff;

            .logo img {
                width: 70px;
            }
            .hr{
                margin: 20px 0;
                border: 0;
                &:after{
                    content: '';
                    display: block;
                    width: 40%;
                    height: 1px;
                    background: linear-gradient(to right, transparent, #FFF, transparent);
                    margin: 0 auto;
                }
            }
            .name {
                padding-top: 20px;
            }
        }
    }

    .auth-form {
        padding-top: 50px;
        width: 300px;
        margin: 0 auto;

        .link {
            font-size: 1.5rem;

            a {
                color: #acacac;
                margin: 30px;

                &.is-active {
                    color: #da244f;
                    padding-bottom: 10px;
                    border-bottom: 2px #da244f solid;
                }
            }
        }

        form {
            padding: 50px 0;

            .ico{
                color: #da244f;
                i {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    line-height: 36px;
                    font-size: 24px;
                }
            }
        }

        &.reset{
            padding-top: 200px;


            .title{
                font-size: 2rem;
            }
        }
    }
</style>
