<template>
    <form @submit.prevent="sendForm">
        <div class="form-group input-ico left" :class="{ 'has-error': errors().has('email') }">
            <div class="ico">
                <i class="iconfont icon-email-login"></i>
            </div>
            <input type="email" v-model="form.$fields.email" class="form-control" required placeholder="邮箱">
            <div class="help-block" v-if="errors().has('email')">{{ errors().get('email') }}</div>
        </div>
        <div class="form-group input-ico left" :class="{ 'has-error': errors().has('password') }">
            <div class="ico">
                <i class="iconfont icon-lock"></i>
            </div>
            <input type="password" v-model="form.$fields.password" class="form-control" required placeholder="密码">
            <div class="help-block" v-if="errors().has('password')">{{ errors().get('password') }}</div>
        </div>
        <div class="form-group text-center">
            <button :disabled="form.$busy" class="btn btn-block bg-main-color" type="submit">登录</button>
        </div>
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" value="1" v-model="form.$fields.remember"> 记住密码
            </label>
        </div>
        <router-link :to="{name: 'Reset'}" class="pull-right main-color">忘记密码</router-link>
    </form>
</template>

<script lang="babel">
    import {mapActions} from 'vuex'

    export default {
        data () {
            return {
                form: {
                    $fields: {
                        email: null,
                        password: null,
                        remember: false
                    },
                    $errors: {},
                    $busy: false
                },
            }
        },
        methods:{
            ...mapActions([
                'setUser',
            ]),
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            sendForm(){
                this.form.$busy = true;
                this.$http.post('auth/login', this.form.$fields).then((response) => {
                    this.setUser(response.data);
                    let router_name = 'Service';
                    if(window.sessionStorage && window.sessionStorage.getItem('BeforeLoginName')){
                        router_name = window.sessionStorage.getItem('BeforeLoginName');
                        window.sessionStorage.removeItem('BeforeLoginName')
                    }
                    this.$router.push({
                        path: router_name,
                    })
                }, (response) => {
                    this.form.$errors = response.data;
                }).finally(() => {
                    this.form.$busy = false
                });
            }
        },
    }
</script>

<style lang="scss">
    .checkbox-inline{
        label{
            font-weight: normal!important;
        }
    }
</style>
