<template>
    <form @submit.prevent="sendForm">
        <div class="form-group input-ico left" :class="{ 'has-error': errors().has('email') }">
            <div class="ico">
                <i class="iconfont icon-email-login"></i>
            </div>
            <input type="email" v-model="form.$fields.email" class="form-control" required placeholder="邮箱">
            <div class="help-block" v-if="errors().has('email')">{{ errors().get('email') }}</div>
        </div>
        <div class="form-group input-ico left" :class="{ 'has-error': errors().has('password') }">
            <div class="ico">
                <i class="iconfont icon-lock"></i>
            </div>
            <input type="password" v-model="form.$fields.password" class="form-control" required placeholder="密码">
            <div class="help-block" v-if="errors().has('password')">{{ errors().get('password') }}</div>
        </div>
        <div class="form-group input-ico left" :class="{ 'has-error': errors().has('password_confirmation') }">
            <div class="ico">
                <i class="iconfont icon-lock"></i>
            </div>
            <input type="password" v-model="form.$fields.password_confirmation" class="form-control" required placeholder="确认密码">
            <div class="help-block" v-if="errors().has('password_confirmation')">{{ errors().get('password_confirmation') }}</div>
        </div>
        <div class="text-center">
            <button :disabled="form.$busy" class="btn btn-block bg-main-color" type="submit">马上注册</button>
        </div>
    </form>
</template>

<script lang="babel">
    export default {
        data () {
            return {
                form: {
                    $fields: {
                        email: null,
                        password: null,
                        password_confirmation: null,
                        router_name: null
                    },
                    $errors: {},
                    $busy: false
                }
            }
        },
        methods:{
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            sendForm(){
                this.form.$busy = true;
                if(window.sessionStorage && window.sessionStorage.getItem('BeforeLoginName')){
                    this.form.$fields.router_name = window.sessionStorage.getItem('BeforeLoginName');
                    window.sessionStorage.removeItem('BeforeLoginName')
                }
                this.$http.post('auth/register', this.form.$fields).then((response) => {
                    this.$router.push({
                        name: 'Notice',
                        params:{
                            'type': 'register',
                            'email': this.form.$fields.email
                        }
                    })
                }, (response) => {
                    this.form.$errors = response.data;
                }).finally(() => {
                    this.form.$busy = false
                });
            }
        }
    }
</script>

<style lang="scss">

</style>
