<template>
    <div class="container detail">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name:'ArticlesMy.default'}">发文管理</router-link>&nbsp;>&nbsp;审批发文
            <div class="edit" v-if="isEdit">
                <router-link :to="{name: 'Articles.edit', params:{id: $route.params.id}}">
                    <i class="glyphicon glyphicon-edit main-color"></i>&nbsp;<span class="main-color">编辑</span>
                </router-link>
            </div>
        </div>
        <h3 class="title main-color text-center">{{ article.title }}</h3>
        <p class="text-center">提交日期： {{ created }}&nbsp;&nbsp;&nbsp;
            <span v-if="article.user">发布者：
                <router-link v-if="article.author == 'personal'" :to="{name:'Service.AuditingUser',params:{id: article.user.id}}">{{author}}</router-link> &nbsp; &nbsp;
                <span v-if="article.author != 'personal'">{{author}}</span>
            </span>
        </p>
        <div v-if="tags" class="article-tags"><span v-for="i in tags">{{i}}</span></div>
        <div class="hr"></div>
        <div class="content article-content" v-html="article.content"></div>
        <div class="hr"></div>
        <div class="form-group row remark">
            <p class="main-color col-md-12">审批意见</p>
            <div class="col-md-12">
                <textarea row="5" class="form-control" maxlength="500" v-model="article.remark" style="height: 100px"></textarea>
            </div>
        </div>
        <div class="form-group text-center check-button" v-if="isAdmin && article.status == 'check'">
            <button type="button" class="btn border-main-color" @click="$router.go(-1)">取消</button>
            <button class="btn bg-main-color" @click="submit('publish')">发布</button>
            <button class="btn bg-blue-color" @click="submit('reject')">退稿</button>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        mixins: [require('./common').default],
        components: {
        },
        created(){
            this.getData()
        },
        data(){
            return {
                article: {}
            }
        },
        computed:{
        },
        methods: {
            submit(status){
                if(!this.article.remark){
                    $.alert({
                        title: '信息不完整',
                        content: '请输入审批意见。',
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                }
                            },
                        },
                    });
                } else {
                    this.article.status = status
                    let id = this.$route.params.id
                    this.$http.put('my/article/'+id,
                        this.article
                    ).then((r)=>{
                        this.$router.push({
                            name: 'Articles.My'
                        });
                    });
                }
            }
        },
        watch: {
        },
    }
</script>

<style lang="scss" scoped>
    $color: #d52045;

    .detail {
        padding: 100px 0;

        .breadcrumb {
            position: relative;
            height: 48px;
            line-height: 48px;
            margin-bottom: 3em;
            .edit {
                position: absolute;
                right: 0;
                top: 0.6em;
            }
        }

        .title {
            margin-bottom: 20px;
        }

        .content {
            padding: 1.0em 0;
        }

        .article-tags {
            text-align: center;
            margin: 1.7em;

            span {
                display: inline-block;
                border: 1px solid #999;
                margin: 0 .3em;
                height: 35px;
                line-height: 35px;
                padding: 0 18px;
                color: #666;
            }
        }
        .remark{
            margin-top: 1.7em;
        }

        .check-button {
            margin-top: 1.7em;

            .bg-blue-color{
                background: #3a7ea5;
                color: #fff;
            }
        }
    }
</style>