<template>
    <div>
        <!-- <owl-carousel-banner>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/189.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/333.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/290.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/209.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
        </owl-carousel-banner> -->
        <div class="head-img">
            <img src="http://og9i0ercv.bkt.clouddn.com/article/banner/%E9%97%AE%E8%B7%AF%E7%9F%B3-2017.png">
        </div>
        <div class="container">
            <div class="article-search-form row">
                <div class="col-sm-offset-4 col-sm-4">
                    <form-search placeholder="搜索资讯" @submit="submitForm"></form-search>
                </div>
            </div>
                <div class="event-tag text-center">
                    <a href="javascript:;" :class="{'active': v.is_show}" v-for="(v, index) in tags" @click="addSearchTag(v.id,index)">{{ v.name }}</a>
                </div>
            <div class="row news-list">
                <div class="col-sm-12 news-intro" v-for="v in articles">
                    <div class="col-sm-2 left text-center"><img :src="v.cover"></div>
                    <div class="col-sm-10 right">
                        <h4>
                            <router-link :to="{name: 'Articles.show', params: {id:v.id}}">{{ v.title }}</router-link>
                            <div class="flag" v-if="v.type=='activity'">活动<span class="triangle"></span></div>
                        </h4>
                        <div class="intro ellipsis">{{ v.description }}</div>
                        <p>发布者：{{ setAuthor(v.user, v.author) }}&nbsp;&nbsp;&nbsp;&nbsp;发布日期：{{ dateFormat(v.updated_at) }} &nbsp;&nbsp;&nbsp;&nbsp;阅读次数：{{ v.read_count }}</p>
                    </div>
                    <!-- <div class="hr"></div> -->
                </div>
            </div>
            <div class="text-center">
                <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import Pagination from '../../components/Pagination.vue'
    import OwlCarouselBanner from '../../components/OwlCarouselBanner.vue'
    import FormSearch from '../../components/FormSearch.vue'

    export default{
        components:{
            Pagination,
            OwlCarouselBanner,
            FormSearch
        },
        created(){
            this.getData()
            this.getTags()
        },
        data(){
            return{
                pagination_parameter: {},
                form: {
                    tag: [],
                    page: 1,
                    keyword: null
                },
                articles: [],
                tags: []
            }
        },
        methods:{
            setAuthor(user, type){
                if(type == 'system') {
                    return '问路石';
                } else {
                    return user.nickname ? user.nickname : '匿名';
                }
            },
            dateFormat(date){
                return date.substr(0, 10);
            },
            changePage(page){
                this.form.page = page;
                this.getData()
            },
            submitForm(keyword){
                this.form.keyword = keyword;
                this.getData(true);
            },
            addSearchTag(tagId, i){
                let tag = this.form.tag;
                let index = tag.indexOf(tagId);
                if( index >= 0) {
                    tag.splice(index, 1);
                    this.$set(this.tags[i],'is_show', false);
                } else {
                    tag.push(tagId);
                    this.$set(this.tags[i],'is_show', true);
                }
                this.form.tag = tag
                this.getData(true);
            },
            getData($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('articles', {
                    params: this.form
                }).then((r)=>{
                    let body = r.body
                    this.articles = body.data
                    this.pagination_parameter = body
                });
            },
            getTags(){
                this.$http.get('tags', {
                    params: {'type': 'article', 'status':'publish'}
                }).then((r)=>{
                    this.tags = r.body
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    $main-color: #da244f;
    .head-img{
        padding-top: 100px;
        padding-bottom: 20px;
        text-align: center;
        // img{
        //     width: 100%;
        // }
    }
    .article-search-form{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .event-tag {
        a {
            margin: 0 .1em;
            margin-bottom: 0.6em;
            display: inline-block;
            border: 1px solid red;
            height: 35px;
            line-height: 35px;
            padding: 0 18px;
            color: #da244f;

            &:hover, &:active, &:visited {
                background-color: #da244f;
                color: #fff;
            }
        }
        .active {
            background-color: #da244f;
            color: #fff;
        }
    }

    .news-list {
        margin-top: 80px;

        .news-intro {
            margin-bottom: 20px;
            border-top: 1px solid #eee;
            padding: 10px 0;

            .hr{
                height: auto;
            }

            a{
                color: #337ab7 !important;
            }
            .left{
                padding-left: 0;
            }

            .right {
                padding-right: 0;
                .intro {
                    height: 53px;
                    line-height: 24px;
                    padding: 5px 0;
                    -webkit-line-clamp: 2;

                    h4 {
                        cursor: pointer;
                    }
                }

                p {
                    color: #999;
                    margin-top: 5px;
                }
            }
        }
    }
</style>
