<template>
    <div class="container detail" v-if="is_show">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name:'ArticlesMy.default'}">发文管理</router-link>&nbsp;>&nbsp;{{ isEdit ? '修改发文' : '新发文' }}
        </div>
        <div class="article-content">
            <form @submit.prevent="submit">
                <div class="article-form">
                    <div class="form-group row" v-if="isAdmin && !isEdit">
                        <label class="col-md-1">类型</label>
                        <div class="col-md-11">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="type" value="article" v-model="form.type" :disabled="isEdit"><span>普通</span>
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="type" value="activity" v-model="form.type" :disabled="isEdit"><span>活动</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" v-if="isAdmin">
                        <label class="col-md-1">需要登录</label>
                        <div class="col-md-11">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="type" value="1" v-model="form.login_access"><span>是</span>
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="type" value="0" v-model="form.login_access"><span>否</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1">标题</label>
                        <div class="col-md-11"><input type="text" class="form-control" v-model="form.title"></div>
                    </div>
                    <div class="form-group row" v-if="isAdmin && !isEdit && form.type=='article'">
                        <label class="col-md-1">提交者</label>
                        <div class="col-md-11">
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="author" value="system" v-model="form.author" :disabled="isEdit"><span>问路石</span>
                            </label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline radio-styled">
                                <input type="radio" name="author" value="personal" v-model="form.author" :disabled="isEdit"><span>个人</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" v-if="form.user && isAdmin && form.type=='article'">
                        <label class="col-md-1">作者</label>
                        <div class="col-md-11">
                            <router-link v-if="form.author == 'personal'" :to="{name:'Service.AuditingUser',params:{id: form.user.id}}">{{author}}</router-link> &nbsp; &nbsp;
                            <span v-if="form.author != 'personal'">{{author}}</span>
                        </div>
                    </div>
                    <div class="form-group row" v-if="form.type=='activity'">
                        <label class="col-md-1">嘉宾</label>
                        <div class="col-md-10">
                            <div v-if="guest">
                                <router-link :to="{name:'Service.AuditingUser',params:{id: guest.id}}">{{ guest.nickname ? guest.nickname : '匿名'}}</router-link> &nbsp; &nbsp;
                                <span v-if="guest.education">{{ guest.education.school }}  |  {{ guest.education.specialty }}   |  {{ guest.education.degree }} </span>
                                <span v-if="guest.experience">{{ guest.experience.company }}  |  {{ guest.experience.position }} </span>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="radio-inline radio-styled">
                                <span @click="isShowAddStaff = true" class="main-color"><i class="icon-guest main-color"></i></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-1">标签</label>
                        <div class="col-md-11">
                            <selectize v-model="form.tags" type="tags"></selectize>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1">封面图</label>
                        <div class="col-md-11">
                            <div class="avatar-upload">
                                <FileUpload v-model="form.cover" :widthImg="190" :heightImg="130" class="avatar-mask">
                                    <img :src="form.cover">
                                    <img v-if="!form.cover" src="../../images/cover.png">
                                </FileUpload>
                            </div>
                            <div class="pic-tip">建议图片大小为190px * 130px最佳</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <summernote v-model="form.content"></summernote>
                        </div>
                    </div>
                    <div v-if="form.type=='activity'">
                        <div class="page-title text-center">
                            <div class="title main-color">
                                <span class="icon activity-icon"></span>
                                活动组织
                            </div>
                            <div class="bg-hr"></div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-1">开始时间</label>
                            <div class="col-sm-5">
                                <input-datetimepicker v-model="form.activity.start" :config="{format: 'YYYY-MM-DD HH:mm'}" required></input-datetimepicker>
                            </div>
                            <label class="control-label col-md-1">结束时间</label>
                            <div class="col-sm-5">
                                <input-datetimepicker v-model="form.activity.end" :config="{format: 'YYYY-MM-DD HH:mm'}"required></input-datetimepicker>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-1">截止日期</label>
                            <div class="col-sm-5">
                                <input-datetimepicker v-model="form.activity.deadline_at" :config="{format: 'YYYY-MM-DD'}" required></input-datetimepicker>
                            </div>
                            <label class="control-label col-md-1">名额限制</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" v-model="form.activity.maximum" required>
                            </div>
                        </div>
                        <template v-if="form.activity.contact">
                            <div class="form-group row">
                                <label class="col-md-1">交流形式</label>
                                <div class="col-sm-11">
                                    <label class="radio-inline radio-styled">
                                        <input type="radio" name="author" value="wechat" v-model="form.activity.contact.type"><span>微信</span>
                                    </label>
                                    <label class="radio-inline radio-styled">
                                        <input type="radio" name="author" value="qq" v-model="form.activity.contact.type"><span>QQ</span>
                                    </label>
                                    <label class="radio-inline radio-styled">
                                        <input type="radio" name="author" value="offline" v-model="form.activity.contact.type"><span>线下</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row" v-if="form.activity.contact.type=='wechat'">
                                <label class="control-label col-md-1">群名称</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" v-model="form.activity.contact.wechat_name">
                                </div>
                                <label class="control-label col-md-1">二维码</label>
                                <div class="col-sm-5">
                                    <div class="avatar-upload">
                                        <FileUpload v-model="form.activity.contact.wechat_qr" :widthImg="150" :heightImg="150" class="avatar-mask">
                                            <img :src="form.activity.contact.wechat_qr">
                                            <img v-if="!form.activity.contact.wechat_qr" src="../../images/qr.png" width="150px">
                                        </FileUpload>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="form.activity.contact.type=='qq'">
                                <label class="control-label col-md-1">群名称</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" v-model="form.activity.contact.qq_name">
                                </div>
                                <label class="control-label col-md-1">二维码</label>
                                <div class="col-sm-5">
                                    <div class="avatar-upload">
                                        <FileUpload v-model="form.activity.contact.qq_qr" :widthImg="150" :heightImg="150" class="avatar-mask">
                                            <img :src="form.activity.contact.qq_qr">
                                            <img v-if="!form.activity.contact.qq_qr" src="../../images/qr.png" width="150px">
                                        </FileUpload>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="form.activity.contact.type=='offline'">
                                <label class="control-label col-md-1">描述</label>
                                <div class="col-sm-11">
                                    <textarea row="3" class="form-control" maxlength="250" placeholder="" v-model="form.activity.contact.desc"></textarea>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="form-group text-center quiz-button">
                        <button type="button" class="btn border-main-color" @click="$router.go(-1)" v-if="showButton('cancel')">取消</button>
                        <button class="btn bg-main-color" @click="action_type='draft'" v-if="showButton('draft')">保存草稿</button>
                        <button class="btn bg-main-color" @click="action_type=getActionType('save')" v-if="showButton('save')">保存</button>
                        <button class="btn bg-main-color" @click="action_type=getActionType('publish')" v-if="showButton('publish')">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <transition name="sildes">
            <addStaff v-if="isShowAddStaff" :prompt="'选择嘉宾'" @add="addGuest" roles="tutor" @close="isShowAddStaff = false"></addStaff>
        </transition>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'
    import Selectize from '../../components/selectize.vue'
    import AddStaff from '../../components/RightPanel/AddStaff.vue'
    import Pagination from '../../components/Pagination.vue'
    import FormSearch from '../../components/FormSearch.vue'
    import FileUpload from '../../components/FileUpload.vue'
    import summernote from '../../components/summernote.vue'
    import InputDatetimepicker from '../../components/datetimepicker/InputDatetimepicker.vue'

    export default{
        mixins: [require('./../check-user').default],
        components: {
            Selectize,
            Pagination,
            FormSearch,
            FileUpload,
            AddStaff,
            summernote,
            InputDatetimepicker
        },
        created(){
            this.check(this.user)
            if(this.$route.params.id) {
                this.getData()
            }else{
                this.is_show = true;
            }
            if(this.isAdmin) {
                this.form.author = 'system'
            }
        },
        data(){
            return {
                form:{
                    type: 'article',
                    author:'personal',
                    cover: '',
                    content: '',
                    user_id: '',
                    activity: {
                        contact: {
                            qq_qr: null,
                            wechat_qr: null,
                            type: 'wechat'
                        }
                    }
                },
                action_type: 'check',
                guest: null,
                isShowAddStaff: false,
                is_show: false
            }
        },
        computed:{
            ...mapGetters([
                'user'
            ]),
            isAdmin(){
                if(this.user) {
                    return this.user.role == 'admin' ? true : false;
                }
            },
            isEdit(){
                return this.$route.params.id ? true : false;
            },
            isOwner(){
                if(this.user) {
                    return !this.isEdit || this.user.id == this.form.user_id ? true : false;
                }
            },
            author(){
                if(this.form.author == 'system') {
                    return '问路石';
                } else {
                    return this.form.user.nickname ? this.form.user.nickname : '匿名';
                }
            }
        },
        methods: {
            getActionType(action){
                let action_type = 'check';
                if(action == 'save') {
                     if(this.isAdmin && this.form.status == 'publish') {
                        action_type = 'publish';
                    }
                }
                if(action == 'publish') {
                    if(this.isAdmin) {
                        action_type = 'publish';
                    }
                }
                return action_type;
            },
            showButton(type){
                let arr = ['cancel','draft','save','publish'];
                if(this.form.type == 'activity') {
                    arr = ['cancel','publish'];
                } else {
                    if(this.isEdit) {
                        if(this.form.status == 'draft') {
                            arr = ['draft','publish'];
                        } else {
                            if(this.isAdmin){
                                arr = ['cancel','save'];
                            } else {
                                arr = ['cancel','publish'];
                            }
                        }
                    } else {
                        arr = ['cancel','draft','publish'];
                    }
                }
                return arr.indexOf(type) >= 0 ? true : false;
            },
            addGuest(user){
                this.guest = user;
                this.form.activity.user_id = user.id;
            },
            submit(){
                this.form.status = this.action_type
                let id = this.$route.params.id
                if(id){
                    this.$http.put('my/article/'+id,
                        this.form
                    ).then((r)=>{
                        this.$router.go(-1);
                    }, (response) => {
                        let error = '保存失败';
                        $.each(response.data, (k,v)=>{
                            error = v[0];return false;
                        });
                        $.alert({
                            title: '发文不完整',
                            content: error,
                            buttons: {
                                ok: {
                                    text: '确定',
                                    action: () => {
                                    }
                                },
                            },
                        });
                    });
                } else {
                    this.$http.post('my/article',
                        this.form
                    ).then((r)=>{
                        this.$router.go(-1);
                    }, (response) => {
                        let error = '保存失败';
                        $.each(response.data, (k,v)=>{
                            error = v[0];return false;
                        });
                        $.alert({
                            title: '发文不完整',
                            content: error,
                            buttons: {
                                ok: {
                                    text: '确定',
                                    action: () => {
                                    }
                                },
                            },
                        });
                    });
                }
            },
            getData(){
                this.$http.get('my/article/'+this.$route.params.id).then((r)=>{
                    this.form = r.body
                    this.is_show = true;
                    if(this.form.activity) {
                        this.guest = this.form.activity.guest
                    }
                });
            }
        },
        watch: {
            'form.type'(val){
                if(val == 'activity'){
                    if($.isEmptyObject(this.form.activity)){
                        this.$set(this.form, 'activity', {
                            contact: {
                                type: 'wechat',
                                wechat_qr: null,
                                qq_qr: null
                            }
                        })
                    }
                }
            },
            '$route.params':function(val){
                if($.isEmptyObject(val)){
                    window.location.reload()
                    // this.$set(this, 'form', {});
                } else {
                    this.getData()
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    $color: #d52045;
    .detail {
        padding: 100px 0;
        .breadcrumb {
            position: relative;
            height: 48px;
            line-height: 48px;
            margin-bottom: 3em;
        }

        .article-content{
            margin-top: 1.7em;
            .control-label {
                line-height: 2.3em;
            }
            .pic-tip{
                color: #999;
                font-size: 12px;
            }
            a {
                color: #337ab7;
            }

            .avatar-upload{
                margin-bottom: 10px;
            }

            .page-title {
                .icon {
                    display: inline-block;
                    width: 45px;
                    height: 32px;
                    vertical-align: middle;

                    &.activity-icon {
                        background: url("../../images/activity-icon.png") no-repeat center center;
                    }
                }
            }

            .icon-guest{
                display: inline-block;
                width: 24px;
                height: 32px;
                vertical-align: middle;
            }

            .bg-hr{
                background: #da244f;
                height: 2px;
            }
        }
    }
</style>