<template>
    <div class="container detail" v-if="article">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name:'ArticlesMy.default'}">全部发文</router-link>&nbsp;>&nbsp;正文
            <div class="edit" v-if="isEdit">
                <router-link :to="{name: 'Articles.edit', params:{id: $route.params.id}}">
                    <i class="glyphicon glyphicon-edit main-color"></i>&nbsp;<span class="main-color">编辑</span>
                </router-link>
            </div>
        </div>
        <h3 class="title main-color text-center">{{ article.title }}</h3>
        <p class="text-center">提交日期： {{ created }}&nbsp;&nbsp;&nbsp;
            <span v-if="article.user">发布者：
                <router-link v-if="article.author == 'personal'" :to="{name:'Service.AuditingUser',params:{id: article.user.id}}">{{author}}</router-link> &nbsp; &nbsp;
                <span v-if="article.author != 'personal'">{{author}}</span>
            </span>
        </p>
        <div v-if="tags" class="article-tags"><span v-for="i in tags">{{i}}</span></div>
        <div class="hr"></div>
        <div class="content article-content" v-html="article.content"></div>
        <div class="hr"></div>
        <div class="form-group row remark" v-if="article.remark">
            <p class="main-color col-md-12">审批意见</p>
            <div class="col-md-12">
                {{ article.remark }}
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        mixins: [require('./common').default],
        components: {
        },
        created(){
            this.getData()
        },
        data(){
            return {
                article: {}
            }
        },
        computed:{
        },
        methods: {
            edit(){
                this.$router.push({
                    name: 'Articles.edit',
                    params: {id: this.article.id}
                });
            }
        },
        watch: {
        },
    }
</script>

<style lang="scss">
    $color: #d52045;

    .detail {
        padding: 100px 0;

        .breadcrumb {
            position: relative;
            .edit {
                position: absolute;
                right: 0;
                top: 0.6em;
            }
        }
        .title {
            margin-bottom: 20px;
        }

        .content {
            padding: 1.0em 0;
        }

        .article-tags {
            text-align: center;
            margin: 1.7em;

            span {
                display: inline-block;
                border: 1px solid #999;
                margin: 0 .3em;
                height: 35px;
                line-height: 35px;
                padding: 0 18px;
                color: #666;
            }
        }
        .remark{
            margin-top: 1.7em;
        }
    }
</style>
