<template>
    <div class="container detail">
        <div class="breadcrumb text-center">
            <router-link :to="{name:'Articles'}" class="arrow"><i class="iconfont icon-leftArrow"></i></router-link>
            <router-link :to="{name:'Articles'}">全部发文</router-link>&nbsp;>&nbsp;正文
        </div>
        <h3 class="title main-color text-center">{{ article.title }}</h3>
        <template v-if="article.type=='article'">
            <p class="text-center">发布时间： {{ publish }} &nbsp;&nbsp;&nbsp;&nbsp;阅读次数： {{ article.read_count }}<span v-if="article.user">&nbsp;&nbsp;&nbsp;&nbsp;发布者： {{ author }}</span></p>
            <div v-if="article.tags" class="article-tags"><span v-for="i in article.tags">{{ i.name }}</span></div>
        </template>
        <template v-if="article.type=='activity' && activity">
            <p class="text-center">发布时间： {{ publish }} &nbsp;&nbsp;&nbsp;&nbsp;阅读次数： {{ article.read_count }}<span v-if="article.user">&nbsp;&nbsp;&nbsp;&nbsp;报名人数： {{ registers_count }}</span></p>
            <div v-if="article.tags" class="article-tags"><span v-for="i in article.tags">{{ i.name }}</span></div>
            <div class="hr"></div>
            <ul class="col-sm-12 activity-item">
                <li class="col-sm-offset-1 col-sm-3">
                    <h4><i class="glyphicon glyphicon-time main-color"></i>&nbsp;时间</h4>
                    <p v-for="i in activity.date">{{ i }}</p>
                </li>
                <li class="col-sm-offset-1 col-sm-3" v-if="activity.guest">
                    <h4><i class="icon-guest main-color"></i>&nbsp;主持嘉宾</h4>
                    <p><router-link :to="{name:'Service.AuditingUser',params:{id: activity.guest.id}}">{{ activity.guest.nickname ? activity.guest.nickname : '匿名' }}</router-link></p>
                    <p v-if="activity.guest.education">{{ activity.guest.education.school }}  |  {{ activity.guest.education.specialty }}  |  {{ activity.guest.education.degree }}</p>
                    <p v-if="activity.guest.experience">{{ activity.guest.experience.company }}  |  {{ activity.guest.experience.position }}</p>
                </li>
                <li class="col-sm-offset-1 col-sm-3" v-if="activity.contact">
                    <h4><i class="iconfont icon-msg main-color"></i>&nbsp;线上交流</h4>
                    <p v-if="activity.contact.type == 'qq'">QQ {{ activity.contact.qq_name }}</p>
                    <p v-if="activity.contact.type == 'wechat'">微信 {{ activity.contact.wechat_name }}</p>
                    <p v-if="activity.contact.type == 'offline'">线下交流 {{ activity.contact.desc }}</p>
                </li>
            </ul>
            <div class="col-sm-12 content-hr"></div>
            <div class="countdown" v-if="activity.status=='register'">距离报名截止还有{{ activity.register_date.least }}</div>
            <div class="text-center regist" v-if="!isRegister">
                <button class="btn bg-main-color" @click="register(activity.id)" v-if="activity.status=='register' &&registers_count < activity.maximum">我要报名</button>
                <button class="btn bg-gray-color" v-if="activity.status=='register' && registers_count == activity.maximum">已报满</button>
                <button class="btn bg-gray-color" v-if="activity.status!='register'">已过期</button>
            </div>
            <div class="text-center regist" v-else>
                <button class="btn bg-gray-color">已报名</button>
            </div>
            <div class="text-center" v-if="activity.contact.qq_qr || activity.contact.wechat_qr">
                <p>请扫描下面二维码加入活动群</p>
                <img v-if="activity.contact.type == 'wechat'" :src="activity.contact.wechat_qr">
                <img v-if="activity.contact.type == 'qq'" :src="activity.contact.qq_qr">
            </div>
        </template>
        <div class="hr"></div>
        <div class="content article-content" v-html="article.content"></div>
        <div class="hr"></div>
        <template v-if="article.tags">
        <p class="main-color" v-if="RelatedArticles.length > 0">相关阅读</p>
        <owl-carousel-slide-gallery v-if="RelatedArticles.length > 0">
            <div class="text-center item" v-for="i in RelatedArticles">
                <router-link :to="{name: 'Articles.show', params: {id:i.id}}">
                    <div class="owl-img">
                        <img class="owl-lazy" :data-src="i.cover">
                    </div>
                    <p>{{ i.title }}</p>
                </router-link>
            </div>
        </owl-carousel-slide-gallery>
        </template>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'
    import OwlCarouselSlideGallery from '../../components/OwlCarouselSlideGallery.vue'

    export default{
        components:{
            OwlCarouselSlideGallery
        },
        created(){
            this.getData()
        },
        data(){
            return{
                article: {},
                RelatedArticles: []
            }
        },
        watch: {
            '$route' (to, from) {
                 this.getData();
            }
        },
        computed:{
            ...mapGetters([
                'user'
            ]),
            needLogin(){
                return this.article.login_access ? true : false;
            },
            author(){
                if(this.article.author == 'system') {
                    return '问路石';
                } else {
                    return this.article.user.nickname ? this.article.user.nickname : '匿名';
                }
            },
            publish(){
                return this.article.updated_at ? this.article.updated_at.substr(0, 10) : null;
            },
            activity(){
                return this.article.activity;
            },
            registers_count(){
                if(!this.activity && !this.activity.registers) {
                    return 0;
                } else {
                    return this.activity.registers.length;
                }
            },
            isRegister(){
                let res = false;
                $.each(this.article.activity.registers, (k, v)=>{
                    if(v.id == this.user.id){
                        res = true;
                        return false;
                    }
                });
                return res;
            }
        },
        methods:{
            register(activityId){
                this.$http.post('my/activity',
                    {'activity_id': activityId}
                ).then((r)=>{
                    let title = '报名成功';
                    if(r.data.status == 'error'){
                        title = r.data.msg
                    }
                    $.alert({
                        title: title,
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    window.location.reload()
                                }
                            },
                        },
                    });
                });
            },
            getData(){
                this.$http.get('articles/'+this.$route.params.id).then((r)=>{
                    this.article = r.body
                    this.getRelatedArticles(this.article.tags, this.article.id)
                    if(this.loginAccess()) {
                        this.addReadCount()
                    }
                });

            },
            addReadCount(){
                this.$http.put('articles/'+this.$route.params.id);
            },
            loginAccess(){
                if(this.needLogin) {
                    if(!this.user) {
                         $.alert({
                            title: '提示',
                            content: '该资讯所包含内容目前仅对已注册用户开放，点击登录按钮跳转到登录界面。',
                            columnClass: 'col-md-5 col-md-offset-4',
                            buttons: {
                                close:{
                                    btnClass: 'bg-white',
                                    text: '取消',
                                },
                                ok: {
                                    text: '登录',
                                    action: () => {
                                        sessionStorage.setItem('BeforeLoginName', '/articles/show/'+this.article.id)
                                        this.$router.push('/auth');
                                    }
                                }
                            },
                        });
                        this.$router.go(-1);
                        return false;
                    }
                }
                return true;
            },
            getRelatedArticles(tags, id){
                let RelatedTags = [];
                $.each(tags, (k,v)=>{
                    RelatedTags.push(v.id);
                });
                if(tags.length > 0) {
                    this.$http.get('articles', {
                        params: {tag: RelatedTags, no_include_id: id}
                    }).then((r)=>{
                        this.RelatedArticles = r.body.data
                    })
                }
            }
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $color-orange: #fabf00;
    .color-orange {
        color: $color-orange;
    }
    .bg-gray-color {
        background-color: #999;
    }

    .container {
        position: relative;
        .arrow {
            position: absolute;
            left: 0;
            margin-left: 0;
            color: $color!important;
            i{
                font-size: 30px;
            }
        }
    }
    .detail {
        padding: 100px 0;

        .title {
            margin-bottom: 20px;
        }

        .hr{
            margin: 10px 0;
        }
        .content-hr{
            margin: 25px 0;
            &:after{
                content: '';
                display: block;
                width: 50%;
                height: 1px;
                background: linear-gradient(to right, #FFF, #d1d1d1, #FFF);
                margin: 0 auto;
            }
        }

        .activity-item{
            padding: 5px 0;

            li {
                list-style: none;
                // text-align: center;
                h4{
                    margin-bottom: 20px;
                }

                a{
                    color: #337ab7 !important;
                }

                p {
                    text-indent: 24px;
                }
                i{
                    font-size: 20px;
                }
                .icon-guest{
                    display: inline-block;
                    width: 20px;
                    height: 22px;
                    background-size: 16px;
                }
            }
        }

        .countdown {
            text-align: center;
            color: $color-orange;
            font-size: 24px;
        }

        .regist {
            margin: 30px 0;
        }

        .article-tags {
            text-align: center;
            margin: 1.7em;

            span {
                display: inline-block;
                border: 1px solid #999;
                margin: 0 .3em;
                height: 35px;
                line-height: 35px;
                padding: 0 18px;
                color: #666;
            }
        }
        .owl-img {
            width: 100%;
            height: 200px;
            line-height: 200px;
            vertical-align: middle;
            img {
                display: inline!important;
                width: auto !important;
                max-width: 100%;
                max-height: 200px;
            }
        }
    }
</style>
