<template>
    <div class="search-content bg-t1">
        <div class="page-title text-center">
            <div class="title main-color">欢迎您加入问路石导师服务网络</div>
        </div>
        <div class="container">
            <div class="group-searchBox row">
                <div class="event-form" title="请输入姓名/职业/技能/服务/院校/专业/公司/论文/专利/团体">
                    <form-search placeholder="搜索导师" class="col-md-offset-2 col-md-8" @submit="submitForm"></form-search>
                </div>
            </div>
            <div>
                <h4 class="group-notice main-color text-center" @click="submitForm('all')">全站共有{{total}}位导师</h4>
                <div class="row tab-item">
                    <div class="col-sm-4 study-table" v-for="v in schools" @click="searchBySchool(v.school)">
                        <div class="study-table-cell">
                            <img :src="lists[v.school] ? lists[v.school] : 'http://og9i0ercv.bkt.clouddn.com/schools_logo/placeholder.png?imageView2/1/w/128/h/128'" alt="">
                        </div>
                        <div class="study-table-cell study-table-txt">
                            <h4>{{v.school}}</h4>
                            <div><span>{{v.rows}}</span>位导师</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import OwlCarouselBanner from '../../../components/OwlCarouselBanner.vue'
    import FormSearch from '../../../components/FormSearch.vue'
    import Pagination from '../../../components/Pagination.vue'
    import {mapGetters} from 'vuex'

    export default{
        components:{
            OwlCarouselBanner,
            FormSearch,
            Pagination
        },
        created(){
            this.getData()
        },
        data(){
            return{
                schools:[],
                lists: [],
                total: 0
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        methods: {
            submitForm(searchword){
                this.$router.push({
                    name:'Group.search',
                    params: {'searchword':searchword ? searchword : 'all'}
                });
            },
            searchBySchool(school){
                this.$router.push({
                    name:'Group.search',
                    params: {'searchword':school}
                });
            },
            getData(){
                this.$http.get('meeting/tutors').then((r)=>{
                    this.schools = r.body.schools;
                    this.lists = r.body.schoolLists;
                    this.total = r.body.num
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .search-content{
        padding: 100px 0;
    }
    .tab-item{
        margin: 2em 0 8em 0;
        > .col-sm-4{
            padding: 15px;
            border: 1px solid #ccc;
            margin-right: -1px;
            margin-top: -1px;

            img{
                max-width: 7em;
                height: 7em;
                // border-radius: 100%;
            }
        }
        .view-more{
            padding-top: 50px;
        }
    }
    .study-table{
        display: table;
        text-align: center;
        cursor: pointer;
        background-color: #fff;

        .study-table-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &:first-child{
                width: 33%;
                padding-right: 1em;
                img{
                    // width: 100%;
                }
            }
        }
        .study-table-txt{
            text-align: left;
            font-size: 16px;
            h4{
                font-size: 16px;
            }
            span{
                color: #d52045;
            }
        }
    }
    .group-notice{
        margin-top: 1em;
        cursor: pointer;
    }
    .group-searchBox{
        width: 50%;
        margin: 2em auto 0 auto;
        .group-select{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            background: #d52045;
            color: #FFF;
            text-align: center;
            width: 9em;
            select{
                background: transparent;
                border: 0;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                vertical-align: middle;
            }
        }
    }
</style>
