<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>

    export default{
        data(){
            return{
            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $bg-gray: #d1d1d1;
    $color-gray: #8a8a8a;
    .quiz-cont{
        padding: 80px 0;
    }
    .breadcrumb {
        position: relative;
        height: 48px;
        line-height: 48px;
        margin-bottom: 3em;
    }
    a.gray {
        color: #999;
    }
    .arrow {
        position: absolute;
        left: 0;
        color: $color!important;
        i{
            font-size: 30px;
        }
    }


</style>
