<template>
    <div class="container quiz-cont">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name: 'Issue.all'}" class="gray">全部提问</router-link>&nbsp;&gt;&nbsp;<span v-if="form.status == 'untake'">修改</span>{{edit ? '问题' : '我要提问'}} {{ $route.params.mode ? '('+$route.params.mode+')' : ''}}
        </div>
        <div class="quiz-content">
            <div class="quiz-title text-center main-color">{{edit ? form.theme : '新提问'}}</div>
            <form class="quiz-form" @submit.prevent="submit">
                <div class="form-group row" v-if="tutor && tutor.education">
                    <label class="control-label col-md-1">导师</label>
                    <div class="form-quiz-span control-label col-md-11"><span class="blue-color"><router-link :to="{name:'Service.AuditingUser',params:{id: tutor.id}}">{{ tutor.nickname ? tutor.nickname : '匿名' }}</router-link></span> {{tutor.education.school}} | {{tutor.education.specialty}} | {{tutor.education.degree}}</div>
                </div>
                <div class="form-group row" v-if="!isEdit">
                    <label class="control-label col-md-1">主题</label>
                    <div class="control-label form-quiz-span col-md-11"><input type="text" class="form-control" v-model="form.theme"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-1">描述</label>
                    <div class="control-label form-quiz-span col-md-11" v-if="isEdit">{{form.description}}</div>
                    <div class="control-label form-quiz-span col-md-11" v-else><textarea class="form-control" rows="8" v-model="form.description"></textarea></div>
                </div>
                <!-- <div class="form-group row" v-if="!$route.params.mode">
                    <label class="control-label col-md-1">应答</label>
                    <div class="form-quiz-span col-md-11">
                        <label><input name="mode" type="radio" value="在线回复" :disabled="isEdit" v-model="form.mode">在线回复</label>
                        <label><input name="mode" type="radio" value="语音会议" :disabled="user.duration && isEdit" v-model="form.mode">语音会议</label>
                    </div>
                </div> -->
                <div class="form-group row" v-if="form.mode == '语音会议' && (form.status =='untake' || !isEdit)">
                    <label class="control-label col-md-1">预约</label>
                    <div class="form-quiz-span col-md-11">
                          <div class="col-xs-10 calendar-list">
                              <div class="calendar-item" v-for="(i, index) in form.session">{{ getTimeFormat(i.date, i.hour, i.period) }}<i class="iconfont icon-delete" @click="form.session.splice(index, 1)"></i></div>
                          </div>
                          <div class="col-xs-2 calendar-icon"><i class="glyphicon glyphicon-time" @click="isShowAddStaff = true" v-show="form.session.length < 3"></i></div>
                    </div>
                </div>
                <div class="form-group row" v-if="form.calendar">
                    <label class="control-label col-md-1">时间</label>
                    <div class="control-label form-quiz-span col-md-11">
                        {{ getTimeFormat(form.calendar.date, form.calendar.hour, form.calendar.period) }}
                        &nbsp;&nbsp;<span v-if="form.duration">{{ form.duration }}分钟</span>
                    </div>
                </div>
                <template v-if="form.answer">
                    <hr/>
                    <div class="form-group row">
                        <div class="form-quiz-span col-md-12"><span>{{ form.answer }}</span></div>
                    </div>
                    <hr/>
                </template>
                <div class="form-group row" v-if="form.remark">
                    <label class="control-label col-md-1">拒绝原因</label>
                    <div class="control-label form-quiz-span col-md-11 gray">
                        {{form.remark}}
                    </div>
                </div>
                <div class="form-group text-center quiz-button" v-if="!isEdit">
                    <button type="button" onclick="window.history.go(-1)" class="btn border-main-color">取消</button>
                    <button type="submit" :disabled="busy" class="btn bg-main-color">提交</button>
                </div>
            </form>
        </div>
        <transition name="sildes">
            <getCalendar v-if="isShowAddStaff"  @add="addSession" :tutorId="form.tutor_id" @close="isShowAddStaff = false"></getCalendar>
        </transition>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'
    import Range from '../../../components/Range.vue'
    import getCalendar from '../../../components/calendar/getCalendar.vue'

    export default{
        mixins: [require('./../Issue/common').default],
        components:{
            getCalendar,
            Range
        },
        data(){
            return{
                form:{
                    session: [],
                    tutor_id: null,
                    apply_id: null,
                    mode: null
                },
                isShowAddStaff: false,
                tutor: {},
                edit: false,
                busy: false
            }
        },
        watch:{
            'form':(val)=>{
                if($.isPlainObject(val.session)){
                    this.$set(this.form, 'session', [])
                }
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
            isEdit(){
                return this.edit && this.form.status != 'untake' ? true : false;
            }
        },
        created(){
            if(this.$route.params.id){
                this.getData()
                this.edit = true
            } else{
                this.init()
                if(this.$route.params.type == 1){
                    this.form.apply_id = this.$route.params.type
                }
                this.form.mode = this.$route.params.mode
            }
        },
        methods:{
            init(){
                let query = {
                    with:[
                        'education'
                    ]
                };
                this.$http.get('users/'+this.$route.params.tutorId, {
                    params: query
                }).then((r)=>{
                    this.tutor = r.body
                    this.form.tutor_id = r.body.id
                });
            },
            addSession(time){
                this.form.session.push(time);
                if(this.form.session.length == 3){
                    this.isShowAddStaff = false
                }
            },
            getData(){
                let query = {
                    with:[
                        'tutor.education',
                        'calendar'
                    ]
                };
                this.$http.get('meetings/'+this.$route.params.id, {
                    params: query
                }).then((r)=>{
                    this.form = r.body
                    this.tutor = r.body.tutor
                });
            },
            submit(){
                this.busy = true;
                this.$http.post('my/meeting', this.form).then((r)=>{
                   this.busy = false;
                    this.$router.push({
                        name: 'Issue.all'
                    })
                }, (response) => {
                    this.busy = false;
                    let error = '保存失败';
                    $.each(response.data, (k,v)=>{
                        error = v[0];return false;
                    });
                    $.alert({
                        title: '提交失败',
                        content: error,
                    });

                });
            }
        }
    }
</script>

<style lang="scss" scoped>
 $blue-color: #337ab7;
 .blue-color{
    color: $blue-color;
 }
.quiz-cont{
    .control-label{
        line-height: 2.4em;
    }
    .quiz-title{
        margin-bottom: 4em;
        font-size: 18px;
    }
    .form-group{
        margin-bottom: 20px;
    }
    .form-quiz-span{
        span{
            margin-right: 10px;
        }
        label{
            margin-right: 5em;
            color: #727272;
            input{
                margin-right: 10px;
            }
        }
    }
    .quiz-button{
        margin-top: 8em;
        button{
            width: 8em;
        }
    }
    .calendar-list{
        margin: 0;
        padding: 0;
        .calendar-item{
            height: 2.5em;
            line-height: 2.5em;
            i{
                color: #aeaeae;
                font-size: 18px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
    .calendar-icon{
        margin: 0;
        padding: 0;
        color: #da244f;
        text-align: right;
        cursor: pointer;
        font-size: 24px;
    }
}
</style>
