<template>
    <div class="container search-content">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{ name: 'Service.Group'}" class="gray">导师联盟</router-link>&nbsp;&gt;&nbsp;搜索结果
        </div>
        <div class="group-searchBox row">
            <div class="event-form" title="请输入姓名/职业/技能/服务/院校/专业/公司/论文/专利/团体">
                <form-search  placeholder="搜索导师" class="col-md-offset-2 col-md-8" @submit="submitForm"></form-search>
            </div>
        </div>
        <div class="search-list">
            <div class="search-items" v-for="v in tutors">
                <div class="search-items-title"><span class="main-color"><router-link :to="{name:'Service.AuditingUser',params:{id: v.id}}">{{ v.nickname ? v.nickname : '匿名' }}</router-link></span><span>{{v.occupation}}</span><span v-if="v.education">{{v.education.school}} | {{v.education.specialty}} | {{v.education.degree}}</span></div>
                <div class="search-items-tag" v-if="v.service_tags.length > 0 || v.skills.length > 0">
                    <span v-for="i in v.service_tags" v-if="v.service_tags.length > 0">{{i.name}}</span>
                    <span v-for="i in v.skills" v-if="v.skills.length > 0">{{i.name}}</span>
                </div>
                <div class="search-info" v-if="v.service_tags.length >0 && hasMeeting(v.service_tags)">
                    {{v.brief}}
                    <div class="btn-group dropdown" role="group" v-if="user">
                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [我要提问]
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)" @click="checkUser(v.id, '在线回复')">在线回复</a><!-- <router-link :to="{name: 'Group.quiz', params:{tutorId: v.id, type: 0, mode: '在线回复'}}">在线回复</router-link> --></li>
                          <li><a href="javascript:void(0)" @click="checkUser(v.id, '语音会议')">语音会议</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
        </div>
    </div>
</template>

<script lang="babel">
    import OwlCarouselBanner from '../../../components/OwlCarouselBanner.vue'
    import FormSearch from '../../../components/FormSearch.vue'
    import Pagination from '../../../components/Pagination.vue'
    import {mapGetters} from 'vuex'

    export default{
        mixins: [require('./../../check-user').default],
        components:{
            OwlCarouselBanner,
            FormSearch,
            Pagination
        },
        created(){
            if(this.$route.params.searchword){
                this.form.searchword = this.$route.params.searchword;
            }
            this.getData()
        },
        data(){
            return{
                pagination_parameter: {},
                form: {
                    page: 1,
                    searchword: null,
                    roles: 'tutor',
                    service_tags: true,
                    with:[
                        'education',
                        'skills'
                    ]
                },
                tutors:{},
                schools:[],
                lists: []
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        methods: {
            hasMeeting(serviceTags){
                let res = false;
                $.each(serviceTags, (k,v)=>{
                    if('问题解答' == v.name) {
                        res = true;
                        return false;
                    }
                });
                return res;
            },
            changePage(page){
                this.form.page = page;
                this.getData()
            },
            submitForm(searchword){
                this.$router.push({
                    name:'Group.search',
                    params: {'searchword':searchword ? searchword : 'all'}
                });
                this.getData(true);
            },
            getData($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('users', {
                    params: this.form
                }).then((r)=>{
                    this.tutors = r.body.data;
                    this.pagination_parameter = r.body;
                });
            },
            checkUser(id, mode){
                if(this.check(this.user, false)){
                    if(mode == '语音会议'){
                        this.checkDuration(id);
                    } else {
                        this.$router.push({
                            name: 'Group.quiz',
                            params:{tutorId: id, type: 0, mode: mode}
                        });
                    }
                }
            },
            checkDuration(tutorId){
                let duration = this.user.duration;
                if(duration == 0){
                    $.alert({
                        columnClass: 'col-md-6 col-md-offset-3',
                        title: '您目前没有可用的语音会议时间',
                        content: '<div class="form-group" style="padding-right:6px"><div>语音会议为用户提供了一个与问路石专家进行在线实时交流的平台。</div><hr><div style="text-align:center;margin-bottom:10px">请扫描下面二维码与问路石销售取得联系</div><div style="text-align:center"><img src="http://og9i0ercv.bkt.clouddn.com/qr/%E4%BA%8C%E7%BB%B4%E7%A0%81-%E7%9F%B3%E6%B2%B9%E7%95%8C%E5%B0%8F%E5%8A%A9%E6%89%8B_03.png" style="width:100px;height:100px"></div></div>',
                        buttons: {
                            ok: {
                                text: '我知道了',
                                action: () => {
                                    this.getData(true);
                                }
                            },
                        },
                    });
                } else {
                    this.$router.push({
                        name: 'Group.quiz',
                        params:{tutorId: tutorId, type: 0, mode: '语音会议'}
                    });
                }
            }
        },
        watch:{
            '$route' (to, from) {
                this.form.searchword = to.params.searchword
                this.getData(true);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .search-content{
        padding: 100px 0;
    }
    .tab-item{
        margin: 6em 0 8em 0;
        > .col-xs-4{
            padding: 15px;
            border: 1px solid #ccc;
            margin-right: -1px;
            margin-top: -1px;

            img{
                width: 7em;
                height: 7em;
                border-radius: 100%;
            }
        }
        .view-more{
            padding-top: 50px;
        }
    }
    .study-table{
        display: table;
        text-align: center;
        cursor: pointer;

        .study-table-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            &:first-child{
                width: 33%;
                padding-right: 1em;
                img{
                    width: 100%;
                }
            }
        }
        .study-table-txt{
            text-align: left;
            font-size: 16px;
            h4{
                font-size: 16px;
            }
            span{
                color: #d52045;
            }
        }
    }
    .group-notice{
        margin-top: 6em;
    }
    .group-searchBox{
        width: 50%;
        margin: 2em auto 0 auto;
        .group-select{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            background: #d52045;
            color: #FFF;
            text-align: center;
            width: 9em;
            select{
                background: transparent;
                border: 0;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                vertical-align: middle;
            }
        }
    }
    .search-list{
        margin: 5em auto;
        .search-items{
            border-bottom: 1px solid #d1d1d1;
            padding: 20px 0;
            position: relative;

            &:last-child{
                border-bottom: 0;
            }
            .search-info{
                a{
                    color: #1a85ff;
                    border: none;
                    background: #fff;
                }
                .dropdown{
                    .btn{
                        padding-left: 10px;
                    }
                    &:hover{
                        .dropdown-menu{
                            display: block;
                        }
                    }
                }
            }
            .dropdown-menu{
                min-width: 100px;
                margin: 0;

                li{
                    &>a{
                        border-bottom: 1px #fff solid;
                        color: #000;

                        &:last-child{
                            border-bottom:none;
                        }

                        &:hover{
                            color: #d52045;
                        }
                    }
                }
            }
        }
        .search-items-title{
            font-size: 18px;
            span{
                margin-right: 20px;
            }
            a{
                color: &main-color
            }
        }
        .search-items-tag{
            margin: 1em 0;
            span{
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #d1d1d1;
                margin-right: 10px;
            }
        }
    }
</style>
