@mixin boxSizing($cont) {
    -webkit-box-sizing: $cont;
    -o-box-sizing: $cont;
    -ms-box-sizing: $cont;
    -moz-box-sizing: $cont;
    box-sizing: $cont;
}

@mixin userSelect($val:none) {
    -webkit-user-select: $val;
    -o-user-select: $val;
    -ms-user-select: $val;
    -moz-user-select: $val;
    user-select: $val;
}

@mixin outline($val:none) {
    -webkit-outline: $val;
    -o-outline: $val;
    -ms-outline: $val;
    -moz-outline: $val;
    outline: $val;
}

@mixin backgroundImg($color, $img, $pos:center center, $val:initial) {
    background: $color $img no-repeat $pos;
    -webkit-background-size: $val;
    -o-background-size: $val;
    -ms-background-size: $val;
    -moz-background-size: $val;
    background-size: $val;
}

html, body, .body {
    min-width: 200px;
    height: 100%;
    font-family: "Microsoft YaHei" sans-serif;
    color: #2d2d2d;
}

html {
    font-size: 12px;
}

a {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @include userSelect();
    cursor: pointer;
    text-decoration: none !important;
    &:link {
        color: inherit;
        text-decoration: none !important;
    }
    &:visited {
        color: inherit;
        text-decoration: none !important;
    }
    &:hover {
        color: inherit;
        text-decoration: none !important;
    }
    &:active {
        color: inherit;
        text-decoration: none !important;
    }
}

a:focus, a:hover {
    text-align: none !important;
}

img {
    max-width: 100%;
}

.main-color, a.main-color {
    color: #da244f;
}

.bg-main-color,
a.bg-main-color,
a.bg-main-color:hover,
.bg-main-color:hover,
.bg-main-color:focus {
    background: #da244f;
    color: white;
}

.bg-blur-color,
a.bg-blur-color,
a.bg-blur-color:hover,
.bg-blur-color:hover,
.bg-blur-color:focus {
    background: #3c7fa6;
    color: white;
}

.border-main-color,
a.border-main-color,
a.border-main-color:hover,
.border-main-color:hover,
.border-main-color:focus {
    background: white;
    color: #da244f;
    border: 1px #da244f solid;
}

.page-title {
    padding: 1rem 0;
    line-height: 2;

    .title {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}

.hr {
    border-bottom: 1px solid #eee;
}

.pos-r {
    position: relative;
}

.breadcrumb {
    height: 60px;
    line-height: 60px;

    a {
        color: #999;
        display: inline-block;
        margin-left: 8px;

        &:hover, &:active {
            color: #999;
        }
    }
}

.aqua{
    color: #1a85ff !important;
}

.bg-t1 {
    background: url("../images/service_bg_02.jpg") no-repeat;
    background-size: cover;
}

.bg-t2 {
    background: url("../images/service_bg_03.jpg") no-repeat;
    background-size: cover;
}

.icon-tutor{
    background: url("../images/tutor.png") no-repeat center center;
    background-size: 25px;
}

.icon-guest{
    background: url("../images/guest-icon.png") no-repeat center center;
    background-size: 23px;
}

.wrapper {
    /* 页面内容撑满100%的屏幕 */
    min-height: 100%;
    /* 负边距大小即为页脚高度 */
    margin-bottom: -50px;
}

/* 用来填充被页脚遮挡部分 */
.wrapper:after {
    content: "";
    display: block;
    height: 50px;
}

/* 进行中、未开始标签 */
.flag {
    margin-left: 30px;
    position: relative;
    height: 24px;
    line-height: 24px;
    background-color: #fbaf5d;
    width: 58px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;

    .triangle {
        top: 0px;
        left: -16px;
        border-right: 16px solid #fbaf5d;
        border-bottom: 12px solid transparent;
        border-top: 12px solid transparent;
        display: inline-block;
    }

    &.underway {
        background-color: #7accc8;

        .triangle {
            border-right: 16px solid #7accc8;
        }
    }

    &.unstart {
        background-color: #fbaf5d;

        .triangle {
            border-right: 16px solid #fbaf5d;
        }
    }
}

.footer {
    height: 50px;
    line-height: 50px;
}

.xl-ico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;

    &.ico_ca_bk {
        background-image: url("../images/ico_ca_bk.png");
    }
    &.ico_ca_bs {
        background-image: url("../images/ico_ca_bs.png");
    }
    &.ico_ca_fw {
        background-image: url("../images/ico_ca_fw.png");
    }
    &.ico_ca_ss {
        background-image: url("../images/ico_ca_ss.png");
    }
    &.ico_ca_zx {
        background-image: url("../images/ico_ca_zx.png");
    }
    &.ico_ic_bk {
        background-image: url("../images/ico_ic_bk.png");
    }
    &.ico_ic_bs {
        background-image: url("../images/ico_ic_bs.png");
    }
    &.ico_ic_fw {
        background-image: url("../images/ico_ic_fw.png");
    }
    &.ico_ic_ss {
        background-image: url("../images/ico_ic_ss.png");
    }
    &.ico_ic_zx {
        background-image: url("../images/ico_ic_zx.png");
    }
}

// icon
.meeting-icon {
    background: url('../images/round_table.png') no-repeat center center;
}

.intro-icon {
    background: url('../images/intro.png') no-repeat center center;
}

label {
    margin: 0;
}

input:not([type=radio],[type=checkbox]){
    height: 2.5em;
    border-radius: 0;
}

button, input, select, textarea {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    @include boxSizing(border-box);
    @include outline();
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    @include backgroundImg(#FFF, url("../images/down-arrow.png"), 98% center);
    border-radius: 0;

    &::-ms-expand {
        display: none;
    }
}
input[type="range"]{
    -webkit-appearance: none;
    border-radius:2px;
    box-shadow:inset #ebb 0 0 5px;
    outline : none;
    border: 0;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:14px;
    height:19px;
    background: url('../images/thumb.png') no-repeat center center;
    position: relative;
}
.form-control{
    border-color: #cccccc!important;
    box-shadow: none;
}

textarea {
    resize: none;
}

// padding

.pad0{
    padding: 0;
}
.glyphicon-trash{
    color: #9c9c9c;
}

.container {
    position: relative;
    .arrow {
        position: absolute;
        left: 0;
        margin-left: -6px;
        color: #d52045 !important;
        i{
            font-size: 30px;
        }
    }
}

.content {
    &.article-content {
        p, span {
            line-height: 2em;
        }
    }
    & > p:last-child{
        margin: 0;
    }
    video {
        width: 100%;
        height: auto;
    }
    embed, iframe {
        width: 100%;
    }
}