//消息圆圈
[data-badge] {
    position: relative;
    &:after {
        content: attr(data-badge);
        position: absolute;
        text-align: center;
        border-radius: 50%;
        top: -10px;
        right: -10px;
        font-size: .7em;
        background: #da244f;
        color: white;
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
}

//超出省略
.ellipsis {
    display: -webkit-box; //必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
    //-webkit-box-orient //必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。
    text-overflow: ellipsis; //，可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; //第几行显示缩略符号
    -webkit-box-orient: vertical;
}

img {
    max-width: 100%;
    vertical-align: middle;

}

.cursor-pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

//两边对齐
.flex-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

//三角
.triangle {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 6px solid transparent; /* 下边框的高 */
    border-top: 6px solid transparent; /* 上方边框的高 */
    font-size: 0;
    line-height: 0;

    &.left {
        right: -8px;
        border-left: 8px solid transparent; /* 左边框的长度|宽度，以及背景色 */
    }

    &.right {
        left: -8px;
        border-right: 8px solid transparent; /* 右边框的长度|宽度，以及背景色 */
    }
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.max-width-100{
    max-width: 100%;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .flex-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
}

.input-ico {
    position: relative;

    > .ico {
        position: absolute;
        top: 0;
        width: 34px;
        text-align: center;
        line-height: 30px;

        img {
            max-height: 20px;
            max-width: 20px;
        }

        &.text{
            line-height: 34px;
        }
    }

    &.left {

        > .ico {
            left: 0;
        }

        > .form-control {
            padding-left: 30px;
        }
    }

    &.right {
        > .ico {
            right: 0;
        }

        > .form-control {
            padding-right: 30px;
        }
    }
}

select.form-control{
    padding-right: 30px;
    //background: url("images/select_right_ico.png") no-repeat 99% center;
    background: url("../images/autocomplete_ico.png") no-repeat center right 10px;
}

.border-none{
    border: none !important;
}

.border-right-none{
    border-right: none !important;
}

.border-bottom-none{
    border-bottom: none !important;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-left-40{
    padding-left: 40px;
}

.form-disabled-readonly{

    input:disabled{

        &[type="text"]{
            padding: 0 !important;
        }
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        background: none !important;
        border: 0 !important;
        padding-left: 0 !important;
    }

    :disabled::-webkit-input-placeholder { /* WebKit browsers */
        color:    #fff;
    }
    :disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #fff;
    }
    :disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff;
    }
    :disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #fff;
    }
}

.svg-ico{
    width: 26px;
    display: inline-block;
    height: 26px;
    vertical-align: middle;

    &.ico1{
        background: url("../images/svg/ico1.svg") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &.quiz{
        background: url("../images/quiz-icon.png") no-repeat;
        background-size: contain;
        background-position: center center;
    }
}
