@font-face {font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/iconfont.woff') format('woff'),
  url('fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e6cc"; }

.icon-downArrow:before { content: "\e638"; }

.icon-leftArrow:before { content: "\e600"; }

.icon-school:before { content: "\e65e"; }

.icon-userSetting:before { content: "\e6c5"; }

.icon-staff:before { content: "\e608"; }

.icon-date:before { content: "\e669"; }

.icon-comment:before { content: "\e602"; }

.icon-rightArrow:before { content: "\e615"; }

.icon-email:before { content: "\e705"; }

.icon-location:before { content: "\e606"; }

.icon-msg:before { content: "\e674"; }

.icon-job:before { content: "\e634"; }

.icon-list:before { content: "\e605"; }

.icon-cup:before { content: "\e6b6"; }

.icon-user:before { content: "\e658"; }

.icon-phone:before { content: "\e601"; }

.icon-education:before { content: "\e616"; }

.icon-group:before { content: "\e6d8"; }

.icon-delete:before { content: "\e603"; }

.icon-time:before { content: "\e63c"; }

.icon-icon1:before { content: "\e604"; }

.icon-printer:before { content: "\e67c"; }

.icon-email-login:before { content: "\e71d"; }

.icon-lock:before { content: "\e607"; }

.icon-wechat:before { content: "\e6ef"; }

.icon-customerservice:before { content: "\e675"; }

.icon-qq:before { content: "\e648"; }

.icon-btntelbook:before { content: "\e64d"; }