<template>
    <form class="card form" @submit.prevent="sendForm">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-error': form.$errors.has('logo')}">
                            <div class="form-control-static">
                                <file-upload v-model="form.$fields.logo">
                                    <img v-if="form.$fields.logo" :src="form.$fields.logo" width="128">
                                    <span v-else class="glyphicon glyphicon-picture" style="color:#ccc;font-size:150px"></span>
                                </file-upload>
                            </div>
                            <label>Logo</label>
                            <div class="help-block" v-if="form.$errors.has('logo')">{{ form.$errors.get('logo') }}</div>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <form-group v-model="form.$fields.name" :error="form.$errors.get('name')" label="学校中文名" required></form-group>
                        <form-group v-model="form.$fields.en_name" :error="form.$errors.get('en_name')" label="学校英文名" required></form-group>
                    </div><!--end .col -->
                </div>
            </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <label class="radio-inline radio-styled">
                    <input name="type" type="radio"  value="at_home" v-model="form.$fields.type" ><span>国内</span>
                </label>
                <label class="radio-inline radio-styled">
                    <input name="type" type="radio"  value="abroad" v-model="form.$fields.type" ><span>国外</span>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" :disabled="form.$busy" class="btn btn-lg ink-reaction btn-raised btn-primary">提交</button>
            </div>
        </div><!--end .card-actionbar -->
    </form><!--end .card -->
</template>

<script lang="babel">
    import FormGroup from '../../components/FormGroup.vue'
    import FileUpload from '../../components/FileUpload.vue'
    export default {
        components:{
            FormGroup,
            FileUpload
        },
        created(){
            if(this.$route.params.id){
                this.getData();
            }
        },
        data () {
            return {
                form: this.$form({
                    type: 'abroad',
                    logo: ''
                })
            }
        },
        watch: {
            '$route.params':function(val){
                if($.isEmptyObject(val)){
                    this.$set(this.form, '$fields', {
                        type: 'abroad'
                    });
                }
            }
        },
        methods:{
            getData(){
                this.$http.get('schools/'+this.$route.params.id).then((r)=>{
                    this.form.$fields = r.data;
                });
            },
            sendForm(){
                this.form.$busy = true;
                let url = 'schools';
                const route_params = this.$route.params;
                if(route_params.id){
                    url+='/'+route_params.id
                    this.form.put(url).then((r) => {
                        this.form.$busy = false;
                        if(r.data.status == 'error') {
                            toastr.error('该学校已存在');
                        } else {
                            toastr.success('添加成功');
                            this.$router.push({
                                name: 'schools.schoolLists',
                            })
                        }
                    }, (response) => {
                        this.form.$busy = false;
                    });
                } else {
                    this.form.post(url).then((r) => {
                        this.form.$busy = false;
                        if(r.data.status == 'error') {
                            toastr.error('该学校已存在');
                        } else {
                            toastr.success('添加成功');
                            this.$router.push({
                                name: 'schools.schoolLists',
                            })
                        }
                    }, (response) => {
                        this.form.$busy = false;
                    });
                }
            }
        },
    }
</script>
