<template>
    <form class="card form" @submit.prevent="sendForm">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="text-center col-sm-offset-3 col-sm-6">
                        <div class="form-group">
                            <input  type="text" v-model="form.$fields.name" class="form-control" required>
                            <label>专业名称</label>
                            <div class="help-block" v-if="errors().has('name')">{{ errors().get('name') }}</div>
                        </div>
                    </div><!--end .col -->
                    <!-- <div class="col-md-6">
                        <div>
                            <label class="radio-inline radio-styled">
                            <input name="type" type="radio"  value="at_home" v-model="form.$fields.type" ><span>国内</span>
                        </label>
                        <label class="radio-inline radio-styled">
                            <input name="type" type="radio"  value="abroad" v-model="form.$fields.type" ><span>国外</span>
                        </label>
                        </div>
                    </div> --><!--end .col -->
                </div>
            </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <button type="submit" :disabled="form.$busy" class="btn btn-lg ink-reaction btn-raised btn-primary">提交</button>
            </div>
        </div><!--end .card-actionbar -->
    </form><!--end .card -->
</template>

<script>
    export default {
        created(){
            if(this.$route.params.id){
                this.getData();
            }
        },
        data () {
            return {
                form: {
                    $fields: {
                        type: 'abroad'
                    },
                    $errors: [],
                    $busy: false
                }
            }
        },
        watch: {
            '$route.params':function(val){
                if($.isEmptyObject(val)){
                    this.$set(this.form, '$fields', {
                        type: 'abroad'
                    });
                }
            }
        },
        methods:{
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            getData(){
                this.$http.get('specialties/'+this.$route.params.id).then((r)=>{
                    this.form.$fields = r.data;
                });
            },
            sendForm(){
                this.form.$busy = true;
                let url = 'specialties';
                const route_params = this.$route.params;
                if(route_params.id){
                    url+='/'+route_params.id
                    this.$http.put(url, this.form.$fields).then((r) => {
                        this.form.$busy = false;
                        if(r.data.status == 'error') {
                            toastr.error('该专业已存在');
                        } else {
                            toastr.success('添加成功');
                            this.$router.push({
                                name: 'schools.specialtyLists',
                            })
                        }
                    }, (response) => {
                        this.form.$busy = false;
                    });
                } else {
                    this.$http.post(url, this.form.$fields).then((r) => {
                        this.form.$busy = false;
                        if(r.data.status == 'error') {
                            toastr.error('该专业已存在');
                        } else {
                            toastr.success('添加成功');
                            this.$router.push({
                                name: 'schools.specialtyLists',
                            })
                        }
                    }, (response) => {
                        this.form.$busy = false;
                    });
                }
            }
        },
        components:{

        }
    }
</script>
