<template>
    <form class="card form school-form" @submit.prevent="sendForm">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select name="select-school" class="form-control" required v-model="form.$fields.school_id" @change="getSpecialties()" :disabled="$route.params.id ? true : false">
                                <option v-for="v in schools" :value="v.id">{{v.name}}</option>
                            </select>
                            <label>学校</label>
                            <div class="help-block" v-if="errors().has('name')">{{ errors().get('name') }}</div>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" required v-model="form.$fields.specialty_id" :disabled="$route.params.id ? true : false">
                                 <option v-for="v in specialties" :value="v.id">{{v.name}}</option>
                            </select>
                            <label>专业</label>
                            <div class="help-block" v-if="errors().has('email')">{{ errors().get('email') }}</div>
                        </div>
                    </div><!--end .col -->
                    <div v-if="isShow">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.department" class="form-control">
                            <label>院系名称</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.link" class="form-control">
                            <label>链接</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.grade.gpa" class="form-control">
                            <label>GPA</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.grade.tofel" class="form-control">
                            <label>TOFEL</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.grade.ielts" class="form-control">
                            <label>IELTS</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.grade.gre" class="form-control">
                            <label>GRE(V-Q-A)</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.deadline_at" class="form-control">
                            <label>截止时间</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" v-model="form.$fields.inform_at" class="form-control">
                            <label>通知时间</label>
                        </div>
                    </div><!--end .col -->
                    </div>
                </div>
            </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <button type="submit" :disabled="form.$busy" class="btn btn-lg ink-reaction btn-raised btn-primary">提交</button>
            </div>
        </div><!--end .card-actionbar -->
    </form><!--end .card -->
</template>

<script>
    export default {
        created(){
            this.getSchoolSpecial()
            if(this.$route.params.id){
                this.getData();
            }
        },
        data () {
            return {
                form: {
                    $fields: {
                        grade: {}
                    },
                    $errors: {},
                    $busy: false
                },
                specialties: {},
                schools: {},
                isShow: true
            }
        },
        watch: {
            '$route.params':function(val){
                if($.isEmptyObject(val)){
                    this.$set(this.form, '$fields', {
                        grade: {}
                    });
                }
            }
        },
        methods:{
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            getData(){
                this.$http.get('school-specialty-info/'+this.$route.params.id).then((r)=>{
                    this.setFormData(r.data.info);
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k,v)=>{
                    if(k == 'grade'){
                        if(!v) v = {}
                    }
                    form[k] = v;
                });
                this.form.$fields = form
            },
            getSchoolSpecial(){
                this.$http.get('/admin/school-specialty', {
                    params: {'type': 'all'}
                }).then((r)=>{
                    this.schools = r.data.schools;
                    this.specialties = r.data.specialties;
                });
            },
            sendForm(){
                this.form.$busy = true;
                let url = 'school-specialty-info';
                const route_params = this.$route.params;
                if(route_params.id){
                    url+='/'+route_params.id;
                    this.$http.put(url, this.form.$fields).then((response) => {
                        toastr.success('添加成功');
                        this.form.$busy = false;
                        this.$router.push({
                                name: 'Schools',
                            });
                    }, (response) => {
                        this.form.$errors = response.data;
                        this.form.$busy = false;
                    });
                } else {
                    this.$http.post(url, this.form.$fields).then((response) => {
                        toastr.success('添加成功');
                        this.form.$busy = false;
                        this.$router.push({
                                name: 'Schools',
                            });
                    }, (response) => {
                        this.form.$errors = response.data;
                        this.form.$busy = false;
                    });
                }

            },
            getSpecialties(){
                let $el = $(this.$el);
                let schoolId = $el.find('select[name=select-school]').val();
                if(schoolId) {
                    this.$http.get('/admin/specialty',{
                        params: {'schoolId': schoolId}
                    }).then((r)=>{
                        this.specialties = r.body;
                    });
                }
                $.each(this.schools, (k, v)=>{
                    if(v.id == schoolId){
                        if(v.type == 'at_home'){
                            this.isShow = false;
                        } else {
                            this.isShow = true;
                        }
                    }
                });
            },
        },
        components:{

        }
    }
</script>
