<template>
    <section>
        <div class="section-body">
            <router-view></router-view>
        </div>
    </section>
</template>

<script>
    export default{
        data(){
            return{
                msg:'hello vue'
            }
        },
    }
</script>
