<template>
    <div class="card">
        <div class="card-body">
            <div class="text-right">
                <form class="form-inline" @submit.prevent="fetch(true)">
                    <div class="form-group">
                        <input type="text" v-model="form.keyword" placeholder="学校名" class="form-control">
                        <label>关键字</label>
                    </div>
                    <button type="submit" class="btn btn-default-light">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="width-2">Logo</th>
                        <th class="width-2">国内/国外</th>
                        <th class="width-7">学校</th>
                        <th class="width-3">专业</th>
                        <th class="width-4">截止日期</th>
                        <th class="text-right">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(v, index) in schools">
                        <td><img :src="v.school.logo" height="36"></td>
                        <td>{{ v.school.type=='at_home' ? '国内' : '国外' }}</td>
                        <td>{{ v.school.name }}</td>
                        <td>{{ v.specialty.name }}</td>
                        <td>{{ v.school.type=='at_home' ? '--' : v.deadline_at }}</td>
                        <td class="text-right">
                            <router-link v-if="v.school.type=='abroad'" :to="{name: 'schools.edit', params: {id: v.id}}" class="btn ink-reaction btn-icon-toggle" >
                                <i class="fa fa-pencil"></i>
                            </router-link>
                            <span class="btn ink-reaction btn-icon-toggle" @click="remove(v,index)">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
            </div>
        </div><!--end .card-body -->
    </div>
</template>

<script lang="babel">
    import parameter from '../../config/parameter'
    import Pagination from '../../components/Pagination.vue'

    export default{
        components:{
            Pagination
        },
        created(){
            this.fetch();
        },
        data(){
            return {
                parameter,
                schools: {},
                pagination_parameter: {},
                form: {
                    page: 1,
                    keyword: null,
                    deleted_at: ''
                }
            }
        },
        methods:{
            changePage(page){
                this.form.page = page;
                this.fetch()
            },
            remove(item, index){
                this.$http.delete('school-specialty-info/'+item.id).then((r)=>{
                    this.schools.splice(index, 1);
                });
            },
            fetch($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('school-specialty-info', {
                    params: this.form
                }).then((r)=>{
                    let body = r.body;
                    this.schools = body.data;
                    this.pagination_parameter = body;
                });
            }
        },
        watch:{
        }
    }
</script>
