<template>
    <div class="card">
        <div class="card-body">
            <div class="text-right">
                <form class="form-inline" @submit.prevent="fetch(true)">
                    <div class="form-group">
                        <input type="text" v-model="form.keyword" placeholder="专业名" class="form-control">
                        <label>关键字</label>
                    </div>
                    <button type="submit" class="btn btn-default-light">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="width-2">专业ID</th>
                        <th class="width-7">专业名</th>
                        <th class="text-right">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(v, index) in specialties">
                        <td>{{v.id}}</td>
                        <td>{{ v.name }}</td>
                        <td class="text-right">
                            <router-link :to="{name: 'schools.editSpecialty', params: {id: v.id}}" class="btn ink-reaction btn-icon-toggle" >
                                <i class="fa fa-pencil"></i>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
            </div>
        </div><!--end .card-body -->
    </div>
</template>

<script lang="babel">
    import parameter from '../../config/parameter'
    import Pagination from '../../components/Pagination.vue'

    export default{
        components:{
            Pagination
        },
        created(){
            this.fetch();
        },
        data(){
            return {
                parameter,
                specialties: {},
                pagination_parameter: {},
                form: {
                    page: 1,
                    keyword: null,
                    deleted_at: ''
                }
            }
        },
        methods:{
            changePage(page){
                this.form.page = page;
                this.fetch()
            },
            fetch($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('specialties', {
                    params: this.form
                }).then((r)=>{
                    let body = r.body;
                    this.specialties = body.data;
                    this.pagination_parameter = body;
                });
            }
        },
        watch:{
        }
    }
</script>
