<template>
<div class="admin-panel">
        <div class="right">
            <div class="container content">
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-4">
                        <form-search placeholder="搜索客服纪要" @submit="submitForm"></form-search>
                    </div>
                </div>
                <div class="record-list">
                    <div class="record-item row" v-for="(v, index) in records">
                        <div class="record-info col-sm-12">
                            <div class="left col-sm-6">
                            <span class="record-user">{{ v.name }}</span><span class="tag" v-for="i in v.service_tags">{{ i.name }}</span>
                            </div>
                            <div class="right col-sm-6 text-right">{{ timeFormat(v.created_at) }}
                            <div class="btn-group dropdown" role="group">
                                <i class="iconfont icon-btntelbook main-color dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="通讯信息"></i>
                                <ul class="dropdown-menu dropdown-menu-right">
                                  <li><i class="iconfont icon-email"></i>{{ v.email }}</li>
                                  <li><i class="iconfont icon-phone"></i>{{ v.cellphone_code }} {{ v.cellphone }}</li>
                                  <li v-if="v.contact_tool == '微信'"><i class="iconfont icon-wechat"></i>{{ v.contact_tool_no }}</li>
                                  <li v-if="v.contact_tool == 'QQ'"><i class="iconfont icon-qq"></i>{{ v.contact_tool_no }}</li>
                                </ul>
                            </div>
                            <router-link :to="{name: 'CustomerService.edit', params: {id:v.id}}"><i class="glyphicon glyphicon-edit main-color" title="编辑"></i></router-link><i class="glyphicon glyphicon-trash" @click="remove(index,v.id)" title="删除"></i></div>
                        </div>
                        <div class="record-content col-sm-12">
                            {{ v.summary }}
                        </div>
                        <div class="text-center main-color" v-if="isShowMore(index)">
                        <span @click="onClickSwitchMore(index)" class="more"><i class="iconfont icon-downArrow" :class="{'downArrow-trans' : doClick(index) }"></i>{{ doClick(index) ? '收起' : '更多' }}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <Pagination :parameter="pagination_parameter" @click="changePage"></Pagination>
                </div>
            </div>
        </div>
        <admin-left-sidebar :menu="left_menu" class="left"></admin-left-sidebar>
    </div>
</template>

<script lang="babel">
    import AdminLeftSidebar from '../../components/AdminLeftSidebar.vue'
    import Pagination from '../../components/Pagination.vue'
    import FormSearch from '../../components/FormSearch.vue'
    import parameter from '../../config/parameter'
    import {mapGetters} from 'vuex'

    export default{
        components: {
            AdminLeftSidebar,
            Pagination,
            FormSearch,
        },
        mounted(){

        },
        created(){
            this.getData()
        },
        data(){
            return {
                left_menu: [
                    {
                        title: '客服记录',
                        to: {name: 'CustomerService.default'},
                        icoClass: 'iconfont icon-customerservice',
                        view_roles: ['admin','service'],
                    },
                    {
                        title: '创建记录',
                        to: {name: 'CustomerService.create'},
                        icoClass: 'glyphicon glyphicon-plus',
                        view_roles: ['admin','service'],
                    }
                ],
                parameter,
                pagination_parameter: {},
                form: {
                    page: 1,
                    keyword: null
                },
                records: {},
                temp_index: null,
                display_more: [],
                click_show: []
            }
        },
        computed:{
            ...mapGetters([
                'user'
            ])
        },
        methods: {
            s_maxHeight(i){
                if(i == this.temp_index){
                    return {}
                }
                return {
                    'max-height': '88px',
                    'overflow': 'hidden'
                }
            },
            isShowMore(i){
                return this.display_more.indexOf(i) >= 0
            },
            doClick(i){
                return this.click_show.indexOf(i) >= 0
            },
            onClickSwitchMore(i){
                let index = this.click_show.indexOf(i)
                let $el = $(this.$el).find('.record-content').eq(i)
                if(index >= 0){
                    this.click_show.splice(index, 1);
                    $el.css('height', '75px');
                }else{
                    $el.css('height', 'auto');
                    this.click_show.push(i)
                }
            },
            timeFormat(time){
                return time ? time.substr(0, 10) : '';
            },
            submitForm(keyword){
                this.form.keyword = keyword;
                this.getData(true);
            },
            changePage(page){
                this.form.page = page;
                this.getData()
            },
            getData($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('customer-service', {
                    params: this.form
                }).then((r)=>{
                    this.records = r.body.data
                    this.pagination_parameter = r.body
                    this.contentShow()
                });
            },
            contentShow(){
                let $el = $(this.$el);
                this.$nextTick(()=>{
                    this.display_more = [];
                    $el.find('.record-content').each((k, v) => {
                        if(v.clientHeight > 75){
                            $(v).css('height', '75px');
                            this.display_more.push(k);
                        }
                    })
                })
            },
            remove(index, id){
                let o = this;
                $.confirm({
                    title: '删除记录',
                    content: '你是否确定要删除该记录?',
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '删除',
                            action: () => {
                                o.$http.delete('customer-service/' + id).then((r) => {
                                    o.records.splice(index, 1)
                                });
                            }
                        },
                    }
                });
            }
        },
        watch: {
        },
    }
</script>

<style lang="scss" scoped>
    .admin-panel{
        margin-top: 70px;
        overflow: hidden;

        &>div{
            margin-bottom: -3000px;
            padding-bottom: 3000px;
            float: right;
            display: inline;
        }

        &>.left {
            width: 280px;
        }

        &>.right {
            width: 100%;
            margin-left: -280px;
            padding-left: 280px;

            &>.content{
                padding: 20px;
            }
        }
    }
    $title-color: #1e90ff;
    .title {
        color: $title-color;
    }

    .group-select{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            background: #d52045;
            color: #FFF;
            text-align: center;
            width: 9em;
            select{
                background: transparent;
                border: 0;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                vertical-align: middle;
            }
        }
    .record-list {
        padding: 60px 15px;
        .record-item {
            padding: 1em 0;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
            .record-info {
                line-height: 2em;
                padding: 0;
                .left {
                    padding: 0;
                    .record-user {
                        font-size: 18px;
                        margin-right: 20px;
                    }
                    .tag {
                        margin: 0 .2em;
                        display: inline-block;
                        border: 1px solid #999;
                        height: 24px;
                        line-height: 24px;
                        padding: 0 15px;
                    }
                }
                .right {
                    padding: 0;
                    i {
                        margin: 0 .4em;
                        cursor: pointer;
                    }
                    .dropdown{
                        .btn{
                            padding-left: 10px;
                        }
                        &:hover{
                            .dropdown-menu{
                                display: block;
                            }
                        }
                    }
                    .dropdown-menu{
                        width: 250px;
                        margin: 0;

                        li{
                            &>i{
                                color: #c43c3c;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .record-content {
                padding: 1em 0;
                overflow: hidden;
            }
            .more {
                cursor: pointer;
                i.icon-downArrow{
                    font-size: 30px;
                    vertical-align: middle;
                    display: inline-block;
                    vertical-align: middle;
                    transition: all 0.3s;

                    &.downArrow-trans{
                        transform: rotate(180deg);
                     }
                }
            }
        }
    }
</style>