<template>
    <div class="container customer-service">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name:'CustomerService'}">客服记录</router-link>&nbsp;>&nbsp;{{ isEdit ? '修改记录' : '创建记录' }}
        </div>
        <form class="form-horizontal" @submit.prevent="submit">
            <div class="row content">
                <div class="form-group col-sm-12">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn bg-main-color" @click="isShowAddStaff = true"><i class="glyphicon glyphicon-search"></i>&nbsp;查询用户</button>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">姓名</label>
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="" v-model="record.name" required>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" placeholder="" v-model="record.email" required>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">电话</label>
                    <div class="col-sm-9">
                        <div class="col-sm-4 no-padding">
                            <select class="form-control border-right-none" v-model="record.cellphone_code">
                                <option :value="c.phone_code" v-for="c in parameter.CountriesRegions">{{ c.zh_cn }}</option>
                            </select>
                        </div>
                        <div class="col-sm-8 no-padding input-ico left">
                            <div class="ico text">{{ record.cellphone_code }}</div>
                            <input class="form-control" placeholder="" v-model="record.cellphone" required>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">聊天</label>
                    <div class="col-sm-9">
                        <div class="col-sm-4 no-padding">
                            <select class="form-control border-right-none" v-model="record.contact_tool">
                                <option>QQ</option>
                                <option>微信</option>
                            </select>
                        </div>
                        <div class="col-sm-8 no-padding">
                            <input class="form-control" v-model="record.contact_tool_no" required>
                        </div>
                    </div>
                </div>
               <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">购买服务意愿</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline checkbox-styled" v-for="v in service_tags">
                            <input type="checkbox" :value="v.id" v-model="record.service_tags"><span>{{ v.name }}</span>
                        </label>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="col-sm-12">
                        <textarea row="8" class="form-control" placeholder="输入会话纪要" v-autosize v-model="record.summary"></textarea>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="button" class="btn border-main-color" @click="$router.go(-1)">取消</button>
                    <button type="submit" class="btn bg-main-color" v-if="isEdit">保存</button>
                    <button type="submit" class="btn bg-main-color" v-else>创建</button>
                </div>
            </div>
        </form>
        <transition name="sildes">
            <add-user v-if="isShowAddStaff" :prompt="'查询已注册用户'" @add="addUser" roles="student" @close="isShowAddStaff = false"></add-user>
        </transition>
    </div>
</template>

<script lang="babel">
import parameter from '../../config/parameter'
import AddUser from '../../components/RightPanel/addUser.vue'
export default{
    components: {
        AddUser
    },
    created(){
        this.getServiceTags()
        if(this.$route.params.id){
            this.getData()
        }
    },
    data(){
        return{
            isShowAddStaff: false,
            service_tags: [],
            parameter,
            record:{
                service_tags: []
            }
        }
    },
    computed: {
        isEdit(){
            return this.$route.params.id ? true : false;
        }
    },
    watch: {
        'record': {
            handler: function (val, oldVal) {
                if(!val.service_tags){
                    val.service_tags = [];
                }
            },
        },
        '$route' (to, from) {
            console.log(to.params)
            if(!to.params.id) {
                this.$set(this, 'record', {
                    service_tags: [],
                });
            }
        }
    },
    methods:{
        addUser(user){
            let attr = ['name', 'email', 'cellphone_code',
                'cellphone', 'contact_tool', 'contact_tool_no'
            ];
            $.each(user,(k, v)=>{
                if(attr.indexOf(k) >= 0) {
                    this.$set(this.record, k, v)
                }
            });
            this.record.user_id = user.id
        },
        getServiceTags()
        {
            this.$http.get('service-tags').then((r)=>{
                this.service_tags = r.data
            });
        },
        getData(){
            this.$http.get('customer-service/'+this.$route.params.id).then((r)=>{
                this.record = r.data
            });
        },
        submit(){
            if(this.isEdit){
                this.$http.put('customer-service/'+this.$route.params.id,this.record).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    this.$router.push({
                                        name: 'CustomerService'
                                    });
                                }
                            },
                        },
                    });
                },(response) => {
                    let error = [];
                    $.each(response.data, (k,v)=>{
                        error = v[0].split('-');
                        return false;
                    });
                    $.alert({
                        title: '操作提示',
                        content: error[0],
                    });
                });
            } else {
                this.$http.post('customer-service',this.record).then((r)=>{
                    $.alert({
                        title: '保存成功',
                        content: '请点击 "确定" 按钮关闭此对话框。',
                        autoClose: 'ok|3000',
                        backgroundDismiss: true,
                        buttons: {
                            ok: {
                                text: '确定',
                                action: () => {
                                    this.$router.push({
                                        name: 'CustomerService'
                                    });
                                }
                            },
                        },
                    });
                },(response) => {
                    let error = [];
                    $.each(response.data, (k,v)=>{
                        error = v[0].split('-');
                        return false;
                    });
                    $.alert({
                        title: '操作提示',
                        content: error[0],
                    });
                });
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .customer-service {
        padding: 70px 0;
        .arrow {
            margin-left: 8px;
        }
        .form-group{
            margin: 0;
            margin-bottom: 15px;
            textarea {
                min-height: 250px;
            }
        }
        .search-user {
            padding: 2em 0;
        }
    }
</style>
