<template>
    <router-view></router-view>
</template>

<script lang="babel">
    export default{
        created(){
        },
        data(){
            return {
            }
        },
        methods:{
        },
    }
</script>