.form-panel {
  padding-top: 25px;

  .header {
    height: auto;
    position: relative;
    border-bottom: 1px solid #da244f;

    .title {
      color: #da244f;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 8px;

      .icon {
        display: inline-block;
        text-indent: 48px;
        height: 36px;
        line-height: 36px;

        &.iconfont{
          font-size: 28px;
          text-indent: 0;
        }

        &.wish-icon {
          background: url('../../images/wish-icon.png') no-repeat left center;
          background-size: 36px;
        }
        &.experience-icon {
          background: url('../../images/experience-icon.png') no-repeat left center;
          background-size: 36px;
        }
        &.other-paper-icon {
          background: url('../../images/other-paper-icon.png') no-repeat left center;
          background-size: 36px;
        }
        &.user-info-icon {
          background: url('../../images/user-info-icon.png') no-repeat left center;
          background-size: 36px;
        }
        &.education-icon {
          background: url('../../images/education-icon.png') no-repeat left center;
          background-size: 36px;
        }
        &.skill-icon {
          background: url('../../images/skill-icon.png') no-repeat left center;
          background-size: 34px;
        }
      }
    }

    .desc {
      text-align: center;
      color: #999;
      font-size: 11px;
    }

    .add {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #da244f;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
    }
  }
    .content {
        padding-top: 25px;

        input, select{
            //height: 34px;
        }
    }
    .hr {
        margin-bottom: 0;
        height: 0;
    }
    .form-upload{
        margin: 1em 0;
        button{
            margin-right: 10px;
        }
        span{
            color: #8a8a8a;
            margin-right: 20px;
            i{
                color: #9c9c9c;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
}
.exam-result{
  margin-bottom: 5px;
}
.exam-radio{
  span{
    color: #000;
    margin-left: 25px;
  }
}
.exam-school-work{
    padding-top: 18px;
}
.form-inline{
    margin: 2em 0;
}





