<template>
    <div class="form-panel" v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon education-icon">教育背景</span>
            </div>
            <span class="add add-work" v-if="!readonly" @click="add()">+&nbsp;添加</span>
        </div>
        <div v-for="(i, index) in value" class="content" v-if="!readonly">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">学位{{index+1}}</label>
                        <div class="col-md-10">
                            <select class="form-control" v-model="i.degree" required>
                                <option>学士</option>
                                <option>硕士</option>
                                <option>博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">专业</label>
                        <div class="col-md-10">
                            <input-select v-model="i.specialty" :required="true"></input-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">院校</label>
                        <div class="col-md-10">
                            <input-select v-model="i.school" type="schools" :required="true"></input-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">日期</label>
                        <div class="col-md-10">
                            <double-datetimepicker v-model="i.date" :config="dateConfig" label="至"></double-datetimepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right" v-if="value.length > 1">
                <a href="javascript:;" @click="remove(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div class="hr" v-if="(index + 1) != value.length"></div>
        </div>
        <div v-if="readonly" class="content">
            <table class="table">
                <tr v-for="i in value">
                    <td>{{ i.school }}</td>
                    <td>{{ i.specialty }}</td>
                    <td>{{ i.degree }}</td>
                    <td>{{ i.date }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script lang="babel">
    import DoubleDatetimepicker from '../datetimepicker/DoubleDatetimepicker.vue'
    import InputSelect from '../InputSelect.vue'

    export default{
        components:{
            InputSelect,
            DoubleDatetimepicker
        },
        created(){
        },
        data(){
            return{
                dateConfig:{
                    format: "YYYY-MM"
                }
            }
        },
        props: ['value', 'readonly'],
        methods: {
            add(){
                let arr = this.value;
                if (!Array.isArray(arr)) {
                    arr = [];
                }
                arr.push({});
            },
            remove(item){
                let arr = this.value;
                arr.splice(arr.indexOf(item), 1);
            },
        },
        watch: {
            'value': {
                handler: function (val, oldVal) {
                    if(!val.length){
                        val.push({});
                    }
                },
                deep: true
            },
        }
    }
</script>


<style lang="scss" scoped>
    @import "common";
</style>
