<template>
    <div class="form-panel" v-if="value">
        <div class="header hidden">
            <div class="title">
                <i class="glyphicon glyphicon-list-alt"></i>
                考试成绩
            </div>
        </div>
        <div v-if="!readonly">
            <div class="content" v-if="value.school_work">
                <div class="main-color">
                    ▌平均学业成绩
                </div>
                <div class="row exam-school-work">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">GPA 分数</label>
                            <div class="col-md-5">
                                <input class="form-control" type="number" min="0" step="0.01" max="99" v-model="value.school_work.gpa_score" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-5 control-label">GPA 分制</label>
                            <div class="col-md-5">
                                <input class="form-control" type="number" min="0" step="0.01" max="100" v-model="value.school_work.gpa_score_system" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-6 control-label">班级排名</label>
                            <div class="col-md-5">
                                <input class="form-control" type="number" min="0" max="10000" v-model="value.school_work.class_ranking">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-7 control-label">班级人数</label>
                            <div class="col-md-5">
                                <input class="form-control" type="number" min="0" max="10000" v-model="value.school_work.class_total">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" v-if="value.english">
                <div class="main-color exam-radio">
                    ▌英语水平考试成绩&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <input type="radio" name="english" value="" v-model="value.english.type" >
                        没有成绩
                    </span>
                    <span>
                        <input type="radio" name="english" value="toefl" v-model="value.english.type">
                        TOEFL
                    </span>
                    <span>
                        <input type="radio" name="english" value="ielts" v-model="value.english.type">
                        IELTS
                    </span>
                </div>
                <div>
                    <div class="main-color text-right exam-result" v-if="value.english.type == 'toefl'">总分：{{ toeflResult }}</div>
                    <div class="row" v-if="value.english.type == 'toefl'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Listening</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="30" step="0.1" v-model="value.english.toefl.hearing">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Reading</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="30" step="0.1" v-model="value.english.toefl.read">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Speaking</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="30" step="0.1" v-model="value.english.toefl.speaking">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-7 control-label">Writing</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="30" step="0.1" v-model="value.english.toefl.writing">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-color text-right exam-result" v-if="value.english.type == 'ielts'">平均分：{{ ieltsResult }}</div>
                    <div class="row" v-if="value.english.type == 'ielts'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Listening</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.english.ielts.hearing">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Reading</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.english.ielts.read">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Speaking</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.english.ielts.speaking">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-7 control-label">Writing</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.english.ielts.writing">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" v-if="value.postgraduate">
                <div class="main-color exam-radio">
                    ▌研究生入学考试成绩
                    <span>
                        <input type="radio" name="postgraduate" value="" v-model="value.postgraduate.type">
                        没有成绩
                    </span>
                    <span>
                        <input type="radio" name="postgraduate" value="gre" v-model="value.postgraduate.type">
                        GRE
                    </span>
                    <span>
                        <input type="radio" name="postgraduate" value="gmat" v-model="value.postgraduate.type">
                        GMAT
                    </span>
                </div>
                <div>
                    <div class="main-color text-right exam-result" v-if="value.postgraduate.type == 'gre' && value.postgraduate.gre">总分：{{ greResult }}</div>
                    <div class="row" v-if="value.postgraduate.type == 'gre' && value.postgraduate.gre">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Verbal</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" step="0.1" max="170" v-model="value.postgraduate.gre.math">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Quantitative</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" step="0.1" max="170" v-model="value.postgraduate.gre.chinese">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Analytical Writing</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="6" step="0.5" v-model="value.postgraduate.gre.writing">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-7 control-label">Subject</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" step="0.1" max="99" placeholder="可选" v-model="value.postgraduate.gre.special">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="main-color text-right exam-result" v-if="value.postgraduate.type == 'gmat' && value.postgraduate.gmat">总分：{{ gmatResult }}</div>
                    <div class="row" v-if="value.postgraduate.type == 'gmat' && value.postgraduate.gmat">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Verbal</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.postgraduate.gmat.math">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Quantitative</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.postgraduate.gmat.chinese">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Analytical Writing</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" v-model="value.postgraduate.gmat.writing">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-7 control-label">Integrated Reasoning</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="0" max="99" step="0.1" placeholder="可选" v-model="value.postgraduate.gmat.special">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" v-if="readonly">
            <div class="row">
                <div class="col-md-3">
                    平均学业积分（GPA）
                </div>
                <div class="col-md-6">
                    {{ value.school_work.gpa_score }}/{{ value.school_work.gpa_score_system }}
                </div>
                <div class="col-md-3 text-right">
                    班级排名-{{ value.school_work.class_ranking }}/{{ value.school_work.class_total }}
                </div>
            </div>
            <div class="row" v-if="value.english.type == 'toefl' && value.english.toefl">
                <div class="col-md-3">
                    TOEFL
                </div>
                <div class="col-md-6">
                    Listening-{{ value.english.toefl.hearing }},
                    Speaking-{{ value.english.toefl.speaking }},
                    Reading-{{ value.english.toefl.read }},
                    Writing-{{ value.english.toefl.writing }}
                </div>
                <div class="col-md-3 text-right">
                    总分-{{ toeflResult }}
                </div>
            </div>
            <div class="row" v-if="value.english.type == 'ielts' && value.english.ielts">
                <div class="col-md-3">
                    IELTS
                </div>
                <div class="col-md-6">
                    Listening-{{ value.english.ielts.hearing }},
                    Speaking-{{ value.english.ielts.speaking }},
                    Reading-{{ value.english.ielts.read }},
                    Writing-{{ value.english.ielts.writing }}
                </div>
                <div class="col-md-3 text-right">
                    总分-{{ ieltsResult }}
                </div>
            </div>
            <div class="row" v-if="value.postgraduate.type == 'gre' && value.postgraduate.gre">
                <div class="col-md-3">
                    GRE
                </div>
                <div class="col-md-6">
                    Verbal-{{ value.postgraduate.gre.math }},
                    Quantitative-{{ value.postgraduate.gre.chinese }},
                    Analytical Writing-{{ value.postgraduate.gre.writing }},
                    Subject-{{ value.postgraduate.gre.special }}
                </div>
                <div class="col-md-3 text-right">
                    总分-{{ greResult }}
                </div>
            </div>
            <div class="row" v-if="value.postgraduate.type == 'gmat' && value.postgraduate.gmat">
                <div class="col-md-3">
                    GMAT
                </div>
                <div class="col-md-6">
                    Verbal-{{ value.postgraduate.gmat.math }},
                    Quantitative-{{ value.postgraduate.gmat.chinese }},
                    Analytical Writing-{{ value.postgraduate.gmat.writing }},
                    Integrated Reasoning-{{ value.postgraduate.gmat.special }}
                </div>
                <div class="col-md-3 text-right">
                    总分-{{ gmatResult }}
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        created(){
        },
        data(){
            return {
                toeflResult: 0
            }
        },
        props: ['value', 'readonly'],
        methods:{
            sum(arr){
                let result = 0;
                if(typeof arr == 'object'){
                    arr = Object.values(arr)
                }
                if(Array.isArray(arr)){
                    for(let v of arr){
                        if(v)result += Number(v)
                    }
                }
                return result;
            },
        },
        computed:{
            'toeflResult'(){
                if(!this.value.english.toefl)return 0;
                return this.sum(this.value.english.toefl);
            },
            'ieltsResult'(){
                if(!this.value.english.ielts)return 0;
                let average = (this.sum(this.value.english.ielts) / 4).toFixed(3);
                if (!Number.isInteger(average)) {
                    let Decimal_places = Number((average * 1000).toString().substr(-3));
                    let int_average = Math.floor(average);
                    if (Decimal_places >= 750) {
                        average = int_average + 1
                    } else if (Decimal_places >= 250) {
                        average = int_average + 0.5
                    } else {
                        average = int_average
                    }
                }
                return average;
            },
            'greResult'(){
                if(!this.value.postgraduate.gre)return 0;
                let arr = [this.value.postgraduate.gre.math, this.value.postgraduate.gre.chinese];
                return this.sum(arr);
            },
            'gmatResult'(){
                if(!this.value.postgraduate.gmat)return 0;
                let arr = [this.value.postgraduate.gmat.math, this.value.postgraduate.gmat.chinese];
                return this.sum(arr);
            },
        },
        watch: {
            'value': {
                handler(val, oldVal){
                    if(this.readonly)return;
                    if (!$.isPlainObject(val.school_work)) {
                        this.$set(this.value, 'school_work', {})
                    }
                    if (!$.isPlainObject(val.english)) {
                        if(!this.readonly){
                            this.$set(this.value, 'english', {
                                type: 'toefl',
                            });
                        }else{
                            this.$set(this.value, 'english', {
                                type: '',
                            })
                        }

                    }
                    if (!$.isPlainObject(val.postgraduate)) {
                        if(!this.readonly){
                            this.$set(this.value, 'postgraduate', {
                                type: 'gre',
                            });
                        }else{
                            this.$set(this.value, 'postgraduate', {
                                type: '',
                            })
                        }

                    }
                },
                deep: true
            },
            'value.english.type': function(val, oldVal){
                let value = this.value.english;
                if (val && !value[val]) {
                    this.$set(value, val, {
                        hearing:'',
                        read:'',
                        speaking:'',
                        writing:'',
                    })
                }
//                if(oldVal && val != oldVal){
//                    this.$set(value, oldVal, {})
//                }
            },
            'value.postgraduate.type': function(val, oldVal){
                let value = this.value.postgraduate;
                if (val && !value[val]) {
                    this.$set(value, val, {
                        math:'',
                        chinese:'',
                        writing:'',
                        special:'',
                    })
                }
//                if(oldVal && val != oldVal){
//                    this.$set(value, oldVal, {})
//                }
            },
        }
    }
</script>


<style lang="scss" src="./common.scss" scoped></style>
