<template>
    <div class="form-panel" v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon experience-icon">工作经历</span>
            </div>
            <span class="add add-work" v-if="!readonly" @click="add()">+&nbsp;添加</span>
        </div>
        <div v-for="(i, index) in value" class="content" v-if="!readonly">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-1 control-label">职位{{index+1}}</label>
                        <div class="col-md-11">
                            <input class="form-control" placeholder="" v-model="i.position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">描述</label>
                        <div class="col-md-11">
                            <textarea row="4" class="form-control" maxlength="250" placeholder="可选" v-autosize v-model="i.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">公司</label>
                        <div class="col-md-10">
                            <input class="form-control" placeholder="" v-model="i.company">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">日期</label>
                        <div class="col-md-10">
                            <double-datetimepicker v-model="i.date" :config="dateConfig" label="至"></double-datetimepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <a href="javascript:;" @click="remove(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div class="hr" v-if="(index + 1) != value.length"></div>
        </div>
        <div v-if="readonly" class="content">
            <table class="table">
                <tr v-for="i in value">
                    <td>{{ i.company }}</td>
                    <td>{{ i.position }}</td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.description }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script lang="babel">
    import DoubleDatetimepicker from '../datetimepicker/DoubleDatetimepicker.vue'
    export default{
        components:{
            DoubleDatetimepicker
        },
        data(){
            return{
                dateConfig:{
                    format: "YYYY-MM"
                }
            }
        },
        props: ['value', 'readonly'],
        methods:{
            add(){
                let arr = this.value;
                if (!Array.isArray(arr)) {
                    arr = [];
                }
                arr.push({});
            },
            remove(item){
                let arr = this.value;
                arr.splice(arr.indexOf(item), 1);
            },
        },
        watch: {
        }
    }
</script>


<style lang="scss" scoped>
    @import "common";
</style>
