<template>
    <div class="form-panel" v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon other-paper-icon">补充材料</span>
            </div>
            <popover class="add add-work">
                <span v-if="!readonly" >+&nbsp;添加</span>
                <div slot="content" class="popover-dropdown">
                    <div class="black" v-for="(v, k, index) in options" @click="add(index)">{{ k }}</div>
                </div>
            </popover>
        </div>
        <template v-for="(v, k, option_index) in options">
            <div v-for="(vv, index) in filterValue(option_index)" class="content" v-if="!readonly">

                <div v-if="option_index == 0">
                    <div class="form-group" >
                        <label class="col-md-1 control-label">{{ v+(index+1) }}</label>
                        <div class="col-md-11">
                            <input class="form-control" v-model="vv.content.paper" />
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-md-1 control-label" v-model="vv.content.journals">期刊</label>
                        <div class="col-md-11">
                            <input class="form-control" v-model="vv.content.journals" />
                        </div>
                    </div>
                </div>
                <div v-if="option_index == 1">
                    <div class="form-group">
                        <label class="col-md-1 control-label">{{ v+(index+1) }}</label>
                        <div class="col-md-11">
                            <input class="form-control" v-model="vv.content.patent" />
                        </div>
                    </div>
                </div>
                <div v-if="option_index == 2">
                    <div class="form-group">
                        <label class="col-md-1 control-label">{{ v+(index+1) }}</label>
                        <div class="col-md-11">
                            <input class="form-control" v-model="vv.content.award" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">描述</label>
                        <div class="col-md-11">
                            <textarea class="form-control" v-autosize v-model="vv.content.description"></textarea>
                        </div>
                    </div>
                </div>
                <div v-if="option_index == 3" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ v+(index+1) }}</label>
                            <div class="col-md-10">
                                <input class="form-control" v-model="vv.content.institute" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">职位</label>
                            <div class="col-md-10">
                                <input class="form-control" v-model="vv.content.position" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a href="javascript:;" @click="remove(v)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                <div class="hr" v-if="(index + 1) != value.length"></div>
            </div>
        </template>
        <div v-if="readonly" class="content">
            <table class="table">
                <template v-for="(v, k, option_index) in options">
                    <tr v-for="(vv, index) in filterValue(option_index)">
                        <td>{{ v+(index+1) }}</td>
                        <td v-if="vv.type == 0">{{ vv.content.paper }}</td>
                        <td v-if="vv.type == 1">{{ vv.content.patent }}</td>
                        <td v-if="vv.type == 2">奖项名：{{ vv.content.award }} &nbsp;&nbsp;&nbsp;&nbsp;奖项描述：{{ vv.content.description }}</td>
                        <td v-if="vv.type == 3">协会名：{{ vv.content.institute }}&nbsp;&nbsp;&nbsp;&nbsp;职位：{{ vv.content.position }}</td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
</template>
<script lang="babel">
    import '../../directive/textareaAutoSize'
    import Popover from '../../components/Popover.vue'

    export default{
        components:{
            Popover
        },
        data(){
            return {
                options: {
                    '发表论文': '论文',
                    '授权专利': '专利',
                    '获得奖励': '获奖',
                    '专业协会': '协会',
                }
            }
        },
        props: ['value', 'readonly'],
        methods:{
            add(type){
                let arr = this.value;
                if (!Array.isArray(arr)) {
                    arr = [];
                }
                arr.push({
                    type: type,
                    content: {},
                });
            },
            remove(item){
                let arr = this.value;
                arr.splice(arr.indexOf(item), 1);
            },
            filterValue(i){
                return this.value.filter((v)=>{
                    return v.type == i;
                });
            }
        },
        watch: {
        }
    }
</script>


<style lang="scss" scoped>
    @import "common";
    .popover-dropdown{
        width: 90px;
        text-align: center;
    }
</style>
