<template>
    <div class="form-panel" v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon iconfont icon-icon1">&nbsp;&nbsp;<span style="font-size:22px">个人信息</span></span>
            </div>
        </div>
        <div class="row content" v-if="!readonly">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">姓名</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="" v-model="value.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">邮箱</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" placeholder="" v-model="value.email" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">昵称</label>
                    <div class="col-md-10">
                        <input class="form-control" v-model="value.nickname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">城市</label>
                    <div class="col-md-10">
                        <input class="form-control" v-model="value.city" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">聊天</label>
                    <div class="col-md-10">
                        <div class="col-md-4 no-padding">
                            <select class="form-control border-right-none" v-model="value.contact_tool">
                                <option>QQ</option>
                                <option>微信</option>
                            </select>
                        </div>
                        <div class="col-md-8 no-padding">
                            <input class="form-control" v-model="value.contact_tool_no" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">职业</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="可选" v-model="value.occupation">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <label class="col-md-2 control-label">电话</label>
                    <div class="col-md-10">
                        <div class="col-md-4 no-padding">
                            <select class="form-control border-right-none" v-model="value.cellphone_code">
                                <option :value="c.phone_code" v-for="c in parameter.CountriesRegions">{{ c.zh_cn }}</option>
                            </select>
                        </div>
                        <div class="col-md-8 no-padding input-ico left">
                            <div class="ico text">{{ value.cellphone_code }}</div>
                            <input class="form-control" placeholder="" v-model="value.cellphone" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1 control-label">简介</label>
                    <div class="col-md-11">
                        <textarea row="4" class="form-control" maxlength="250" placeholder="可选" v-autosize v-model="value.brief"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
import parameter from '../../config/parameter'
export default{
    data(){
        return{
            parameter
        }
    },
    props: ['value', 'readonly'],
    watch: {
        'value': {
            handler: function (val, oldVal) {
                if(!val.cellphone_code){
                    val.cellphone_code = 86;
                }
                if(!val.contact_tool){
                    val.contact_tool = '微信';
                }
                this.value = val
            },
            deep: true
        },
    },
    methods:{
    }
}
</script>


<style lang="scss" scoped>
    @import "common";
    .readonly .form-group{
        margin-bottom: 0;
    }
</style>
