<template>
    <div class="form-panel" v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon skill-icon">专业技能</span>
            </div>
            <span class="add add-work" v-if="!readonly" @click="add()">+&nbsp;添加</span>
        </div>
        <div class="content" v-if="!readonly">
            <div class="row">
                <div class="col-md-6" v-for="(i, index) in value" >
                    <div class="form-group">
                        <label class="col-md-2 control-label">技能{{index+1}}</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input class="form-control" v-model="i.name">
                                <a href="javascript:;" class="input-group-addon no-padding-right" @click="remove(i)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="content">
            <div class="row">
                <div class="col-md-6" v-for="(i, index) in value">
                    <div class="form-group">
                        <label class="col-md-2 control-label">技能{{index+1}}</label>
                        <div class="col-md-10">
                            <div class="form-control-static">{{ i.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="babel">
    export default{
        components:{

        },
        created(){
        },
        data(){
            return {}
        },
        props: ['value', 'readonly'],
        watch:{
        },
        methods: {
            add(){
                this.value.push({});
            },
            remove(item){
                let arr = this.value;
                arr.splice(arr.indexOf(item), 1);
            },
        }
    }
</script>


<style lang="scss" scoped>
    @import "common";
</style>
