<template>
    <div class="form-panel"  v-if="value">
        <div class="header">
            <div class="title">
                <span class="icon wish-icon">留学申请</span>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-12">
                <div class="main-color cont-title">
                    ▌申请意愿
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">申请学位</label>
                    <div class="col-md-9">
                        <select class="form-control" v-model="value.type" required>
                            <option v-for="(v,k) in parameter.degree">{{k}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">目标国家</label>
                    <div class="col-md-9">
                        <select class="form-control" v-model="value.country" required>
                            <option v-for="v in parameter.StudyAbroad.country">{{v}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">申请季</label>
                    <div class="col-md-9">
                        <div class="display-flex">
                            <select class="form-control flex-grow-1 border-right-none" v-model="value.season.year">
                                <option v-for="(v, index) in 5">{{ (new Date()).getFullYear()+index-1 }}</option>
                            </select>
                            <select class="form-control flex-grow-1" v-model="value.season.name">
                                <option v-for="i in ['春', '秋']">{{ i }}季</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1 control-label">首选专业</label>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <input-select v-model="value.major" :required="true"></input-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="display-flex">
                            <div class="flex-grow-1" style="max-width: 120px">
                                <button type="button" class="btn bg-main-color" @click="openComponent(value.major,'1')">选择院校</button>
                            </div>
                            <div class="schools-name flex-grow-1">
                                <span v-for="(i, j) in value.school">
                                    {{ i }}<i class="glyphicon glyphicon-remove gray" @click="value.school.splice(j, 1)"></i>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1 control-label">次选专业</label>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <input-select v-model="value.secondary" placeholder="可选"></input-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="display-flex">
                            <div class="flex-grow-1" style="max-width: 120px">
                                <button type="button" class="btn bg-main-color" @click="openComponent(value.secondary,'2')">选择院校</button>
                            </div>
                            <div class="schools-name flex-grow-1">
                                <span v-for="(i, j) in value.secondary_school">
                                    {{ i }}<i class="glyphicon glyphicon-remove gray" @click="value.secondary_school.splice(j, 1)"></i>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1 control-label">其它要求</label>
                    <div class="col-md-11">
                        <textarea row="3" class="form-control" maxlength="250" placeholder="可选" v-autosize v-model="value.other_requirement"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <transition name="silde">
            <addSchool v-if="types == 1" @close="types = false" :value="value.school" @change="(val)=>{$set(value, 'school', val)}" prompt="选择院校" :name="isShowAddSchool" :isDetail="false"></addSchool>
            <addSchool v-if="types == 2" @close="types = false" :value="value.secondary_school" @change="(val)=>{$set(value, 'secondary_school', val)}" prompt="选择院校" :name="isShowAddSchool" :isDetail="false"></addSchool>
        </transition>
    </div>
</template>

<script lang="babel">
    import parameter from '../../config/parameter'
    import AddSchool from '../RightPanel/AddSchool.vue'
    import InputSelect from '../InputSelect.vue'
    import '../../directive/textareaAutoSize'
    export default{
        components:{
            AddSchool,
            InputSelect
        },
        data(){
            return{
                parameter,
                isShowAddSchool: false,
                types:false
            }
        },
        methods:{
            openComponent(value,type){
                if(!value) {
                    $.alert({
                        content: '请输入专业',
                        title: '提示',
                        autoClose: 'ok|3000',
                    });
                }else{
                    this.isShowAddSchool = value;
                    this.types = type;
                }
            }
        },
        props: ['value'],
        watch: {
            'value': {
                handler(val, oldVal) {
                    if(!val.season){
                        this.$set(val, 'season', {
                            year: (new Date()).getFullYear()+1,
                            name: '秋季'
                        })
                    }
                },
                deep: true
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "common";
    .silde-enter-active, .silde-leave-active {
      transition: all .5s
    }
    .silde-enter{
        right: -100%;
    }
    .silde-leave, .silde-leave-active {
        right: -100%;
    }
    .schools-name{
        line-height: 2;

        > span{
            margin-right: 1em;
            white-space: nowrap;
            float: left;
            line-height: 2.5em;
        }
    }
    .cont-title{
        margin-bottom: 20px;
    }
</style>
