.about-info {
    padding: 50px 0;
}

.about-nav {
    float: left;
    display: inline-block;

    li {
        position: relative;
        height: 40px;
        list-style: none;
        line-height: 40px;
        text-align: center;
        cursor: pointer;

        &.active {
            background-color: #c43c3c;
            color: #fff;

            .triangle {
                top:14px;
                border-left: 8px solid #c43c3c;
            }
        }
    }
}

.about-content {
    float: left;
    display: inline-block;
    padding-bottom: 100px;

    .active {
        display: block;
    }
}

.about-plane {
    display: none;

    .text-emphasize {
        color: $main-color;
    }
}



