.auth-header {
  background: url("../images/auth_bg.png");
  height: 360px;
  background-size: cover;
  background-position: center center;

  .pos-a {
    position: absolute;
    left: 0;
    width: 100%;
    top: 15%;
    color: #fff;

    .logo img {
      width: 70px;
    }

    .name {
      padding-top: 20px;

    }
  }
}

.auth-form {
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;

  .link {
    font-size: 1.5rem;

    a {
      color: #acacac;
      margin: 30px;

      &.on {
        color: $main-color;
        padding-bottom: 10px;
        border-bottom: 2px $main-color solid;
      }
    }
  }

  form {
    padding: 50px 0;

    .form-group {
      position: relative;
    }

    .ico {
      position: absolute;
      left: 0;
      top: 0;
      line-height: 34px;
      width: 30px;
      text-align: center;

      img{
        max-height: 24px;
        max-width: 24px;
      }
    }

    input.form-control {
      padding-left: 30px;
    }
  }

  &.reset{
    padding-top: 200px;


    .title{
      font-size: 2rem;
    }
  }
}
