//@import "node_modules/normalize.css/normalize";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/colors.css/css/colors";
@import "node_modules/owl.carousel/dist/assets/owl.carousel.min";

[data-badge] {
  position: relative;
  &:after{
    content: attr(data-badge);
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: #da244f;
    color: white;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}

.ellipsis{
  display: -webkit-box; //必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
  //-webkit-box-orient //必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。
  text-overflow: ellipsis;//，可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; //第几行显示缩略符号
  -webkit-box-orient: vertical;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
