$main-color: #da244f;

html, body {
  height: 100%;
}

html {
  font-size: 12px;
}

a, a:hover, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

.main-color, a.main-color {
  color: $main-color;
}

.bg-main-color,
a.bg-main-color,
a.bg-main-color:hover,
.bg-main-color:hover,
.bg-main-color:focus {
  background: $main-color;
  color: white;
}

.header {
  height: 40px;
  position: relative;
}

.wrapper {
  /* 页面内容撑满100%的屏幕 */
  min-height: 100%;
  /* 负边距大小即为页脚高度 */
  margin-bottom: -50px;
}

/* 用来填充被页脚遮挡部分 */
.wrapper:after {
  content: "";
  display: block;
  height: 50px;
}

.footer {
  height: 50px;
  line-height: 50px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  margin-left: -35px;

  img {
    width: 70px;
  }
}

.header-nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  height: 70px;
  line-height: 70px;
  z-index: 2;
}

.header-nav a {
  color: white;
  padding-bottom: 5px;
}

.header-nav:hover a.active {
  border-bottom: none;
}

.header-nav a:hover, .header-nav a.active, .header-nav:hover a.active:hover {
  border-bottom: 2px solid $main-color;
}

.header-nav span {
  color: white;
  padding: 0 25px;
}

.header-user {
  line-height: 40px;

  a {
    margin: 0 5px;
  }
}

.bg-t1 {
  background: url("../images/service_bg_02.jpg");
}

.bg-t2 {
  background: url("../images/service_bg_03.jpg");
}

.page-title {
  padding: 1rem 0;

  .title {
    font-size: 3rem;
  }
}

.hr {
  border-bottom: 1px solid #eee;
  height: 30px;
  margin-bottom: 30px;
}

.pos-r{
  position: relative;
}

.breadcrumb {
  height: 60px;
  line-height: 60px;
  background-color: none;

  a {
    color: #999;
    display: inline-block;
    margin: 0 8px;

    &:hover, &:active {
      color: #999;
    }
  }
}

.inline-block {
  display: inline-block;
}

.flex-justify{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

.triangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent; /* 下边框的高 */
  border-top: 6px solid transparent; /* 上方边框的高 */
  font-size: 0;
  line-height: 0;

  &.left {
    right: -8px;
    border-left: 8px solid transparent; /* 左边框的长度|宽度，以及背景色 */
  }

  &.right {
    left: -8px;
    border-right: 8px solid transparent; /* 右边框的长度|宽度，以及背景色 */
  }
}
