.event-form {
    margin-top: 45px;
    margin-bottom: 40px;

    .form-control {
        padding: 0;
        height: 37px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: $main-color;
        background: transparent;
        color: #0c0c0c;
        font-size: 16px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn {
        width: 40px;
        height: 37px;
        background-color: $main-color;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 10px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 4.5px 7px;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        i {
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }
}

 .event-tag {
    a {
        display: inline-block;
        border: 1px solid red;
        height: 35px;
        line-height: 35px;
        padding: 0 18px;
        cursor: pointer;
        color: $main-color;

        &:hover, &:active {
            background-color: $main-color;
            color: #fff;
        }
    }

}

.event-list {
    padding-top: 80px;
}

.event-item {
    height: 200px;

    .title{
        font-size: 1.5rem;
        padding: 10px 0;

        .hot{
            background: red;
            color: white;
            font-size: 0.6em;
            padding: 0.1em 0.2em;
            position: relative;
            display: inline-block;
            margin-left: 10px;

            .triangle{
              border-right: 8px solid red;
              border-bottom: 8px solid transparent;
              border-top: 8px solid transparent;
            }
        }
    }

    .description{
        display: inline;
        float: right;
        width: 100%;
        margin-left: -240px;
        padding-left: 260px;
        background: none;
    }

    .image{
        display: inline;
        float: right;
        width: 240px;
    }

}

.event-img {
    height: 390px;
    position: relative;

    .title-bg {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80px;
        line-height: 80px;
        background-color: #000;
        opacity:0.4;
        filter:alpha(opacity=40);
    }

    .regist {
        width: 16%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 80px;
        line-height: 80px;
        background-color: $main-color;
        color: #fff;
        font-size: 30px;
        font-weight: normal;
    }

    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80px;
        line-height: 100px;
        font-size: 24px;
        color: #fff;
        text-indent: 48px;
    }
}
.event-content {
    padding: 50px 0;

    ul {
        height: 120px;
        padding: 35px 0;
        margin-bottom: 80px;

         li {
            list-style: none;

            p {
                text-indent: 24px;
            }
         }
    }
}

.event-guest {
    background: url("../images/event-regist-01.png");
    padding: 45px 0;

    .page-title{
        margin-bottom: 80px;
    }

    .personnels>div{
        margin-bottom: 50px;
    }
}

.event-unknown{
    padding: 100px 0;

    .video{
        margin-bottom: 100px;
    }

    .file-name{
        font-size: 1.5rem;
        line-height: 3;
    }
}
