 .news-form {
    margin-top: 45px;
    margin-bottom: 40px;

    .form-control {
        padding: 0;
        height: 37px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom-color: $main-color;
        background: transparent;
        color: #0c0c0c;
        font-size: 16px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn {
        width: 40px;
        height: 37px;
        background-color: $main-color;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 10px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 4.5px 7px;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        i {
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }
}

 .news-tag {
    a {
        display: inline-block;
        border: 1px solid red;
        height: 35px;
        line-height: 35px;
        padding: 0 18px;
        cursor: pointer;
        color: $main-color;

        &:hover, &:active {
            background-color: $main-color;
            color: #fff;
        }
    }
    .tag-partial {
        margin-bottom: 25px;
    }

    .tag-all {
        display: none;

        a {
            margin-bottom: 8px;
        }
    }

    .more {
        cursor: pointer;
    }

}

.news-list {
    margin-top: 80px;

    .news-intro {
        .left {
            float: left;
            display: inline-block;
            margin-right: 18px;
            margin-top: 12px;
            margin-bottom: 20px;
        }

        .right {
            width: 75%;
            float: left;
            display: inline-block;
            margin-top: 12px;
            margin-bottom: 20px;

            .intro {
                width: 100%;
                height: 63px;
                line-height: 23px;
                padding: 5px 0;
                overflow: hidden;

                h4 {
                    cursor: pointer;
                }

                a {
                    float: right;
                    display: inline-block;
                    cursor: pointer;
                    color: $main-color;

                    &:hover, &:active {
                        color: $main-color;
                    }
                }
            }

            p {
                color: #999;
            }
        }
    }
}
.detail {
    padding: 100px 0;

    .title {
        padding: 30px 0;
    }
}
