.service-footer {
  padding: 50px 0;

  .page-title {
    margin-bottom: 20px;
  }

  .card {
    background: #fff;
  }

  .card-title {
    padding: 40px 10px;
    height: 160px;
    color: #5c5c5c;
    -webkit-line-clamp: 4;
  }
}

.service.container{
  padding-top: 100px;

  .page-title{
    margin-bottom: 8rem;
  }
}

.my-service{
  padding: 0 0 100px 0;

  .title {
    font-size: 2rem;
  }

  .educational-information{
    padding-top: 4rem;

    a{
      font-size: 1.2rem;
      padding: 1rem 3rem;
      border: 1px #ccc solid;
      display: inline-block;
    }
  }

  .process-progress{
    padding: 100px 0;
  }

  .tutor-round-table{
    padding-top: 80px;
    line-height: 1.8;

    .icon{
      float: left;
      padding-top: 10px;
    }

    .info{
      float: left;
      padding-left: 10px;

      div:first-child{
        font-size: 1.5rem;
        font-weight: 900;
      }
    }

  }
}

.not-service {
  border-top:1px #ccc solid;
  padding: 100px 0 150px 0;

  .btn {
    padding: 6px 30px;
    margin-top: 20px;
  }
}

.service-area {

}

.service-apply {
  .explain {
    background: url('../images/apply-bg-01.jpg');
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .title {
    position: relative;
    color: $main-color;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    line-height: 165px;
    text-align: center;
    border-bottom: 1px solid $main-color;

    .add {
      position: absolute;
      right: 0;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
    }
  }

  .content-form {
    margin-top: 30px;
    color: #999;
    div {
      height: 40px;
      line-height: 40px;

      span {
        display: inline-block;
        width: 80px;

        &.text-top {
          vertical-align: top;
        }
      }
      select, input {
        width: 220px;
        height: 30px;
      }
      textarea {
        width: 600px;
      }
    }
  }
}

.service-area {
  padding: 50px 0;

}
