.user-bg-red {
    height: 390px;
    background: url('../images/user-bg-01.jpg');
    padding: 115px 0;
    color: #fff;

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
    }
}

.user-content {
    padding-top: 50px;
    min-height: 600px;

    .nav {

        li {
            font-size: 24px;
            text-align: center;
            cursor: pointer;

            &.active {
                border-bottom: 3px solid $main-color;
            }
        }
    }

    .hr {
        border-bottom: 10px solid #eee;
        margin-top: 0;
        height: 0;
    }

    .nav-tab {
        display: none;

        &.active {
            display: block;
        }

        button {
            background: $main-color;
            color: #fff;
            border-style: none;
            width: 100px;
            height: 34px;
            line-height: 33px;
            text-align: center;
            margin: 0 26%;

            &.avatar-save-btn {
                margin: 0 14%;
            }
        }

        .reset-pwd-form, .reset-avatar-form {
            p {
                height: 40px;

                span {
                    display: inline-block;
                    width: 80px;
                }
            }
            .default-avatar {
                margin: 13px 0;
            }
        }

       .title-bg {
          padding-top: 44px;
          margin-bottom: 10px;
          height: 100px;
          border-bottom: 1px solid $main-color;

          .title {
            text-align: center;
            color: $main-color;
            font-size: 20px;
            font-weight: bold;
          }

          .desc {
            text-align: center;
            color: #999;
            font-size: 11px;
          }
       }

       .info {
            margin-top: 30px;

            div {
                height: 40px;
                line-height: 40px;

                span {
                  display: inline-block;
                  width: 80px;
                  font-weight: bold;
                }
            }
        }

    }
}

.user-service {
    margin-top: 70px;

    .left {
        border-right: 2px solid #eee;
        padding: 20px 3%;

        .avatar {
            width: 130px;
            height: 130px;
            border-radius: 100px;
            overflow: hidden;
            padding: 15px;
        }

        .progress {
            height: 10px;
            background: #ddd;
        }

        .tag {
            display: inline-block;
            border: 1px solid #999;
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
            margin: 10px 8px;
        }
    }

    .right {
        padding: 20px 40px;

        .breadcrumb {
            position: relative;
            height: 48px;
            line-height: 48px;

            .arrow {
                position: absolute;
                left: 0;
                font-size: 48px;
            }

            a.gray {
                color: #999;
            }
        }

        .nav {
            height: 120px;
            padding: 30px 0;

            li {
                height: 60px;
                line-height: 80px;
                margin: 0 15px;
                padding: 0px;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;

                &.active {
                    border-bottom: 4px solid $main-color;
                }
            }
        }

        .nav-tab {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
