<template>
    <div class="container my-account">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <h4 class="title text-center main-color">修改密码</h4>
                <form class="form-horizontal" @submit.prevent="modifyPassword">
                    <div class="form-group" :class="{ 'has-error': errors().has('old_password') }">
                        <label class="col-sm-2 control-label gray">原密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" v-model="form.old_password" required>
                            <div class="help-block" v-if="errors().has('old_password')">{{ errors().get('old_password') }}</div>
                        </div>
                    </div>
                    <div class="form-group" :class="{ 'has-error': errors().has('password') }" required>
                        <label class="col-sm-2 control-label gray">新密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" v-model="form.password">
                            <div class="help-block" v-if="errors().has('password')">{{ errors().get('password') }}</div>
                        </div>
                    </div>
                    <div class="form-group" :class="{ 'has-error': errors().has('password_confirmation') }" required>
                        <label class="col-sm-2 control-label gray">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" v-model="form.password_confirmation">
                            <div class="help-block" v-if="errors().has('password_confirmation')">{{ errors().get('password_confirmation') }}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn border-main-color" onclick="window.history.go(-1)" type="button">取消</button>
                        <button class="btn bg-main-color" :disabled="busy" type="submit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import UserHeader from '../../components/UserHeader.vue'
    import {mapGetters, mapActions} from 'vuex'

    export default{
        components:{
            UserHeader,
        },
        data(){
            return{
                form:{
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                },
                form_errors: {},
                busy: false
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        created(){
            this.$set(this, 'avatar', this.user.avatar);
        },
        methods:{
            errors(){
                let errors = this.form_errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            modifyPassword(){
                this.busy = true;
                this.form_errors = {};
                this.$http.put('my/password', this.form).then((r)=>{
                    this.form = {};
                    this.msg('密码修改成功');
                }, (r)=>{
                    this.form_errors = r.data;
                }).finally(() => {
                    this.busy = false
                })
            },
            msg(msg){
                $.alert({
                    title: '提示',
                    content: msg,
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
.my-account {
    padding-top: 100px;
    padding-bottom: 50px;
    h4{
        margin-bottom: 40px;
    }
}
</style>
