<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default{
        components:{
        },
        data(){
            return{
            }
        }
    }
</script>
<style lang="scss" scoped>
    .my-nav {
        height: 60px;

        &>div {
            font-size: 24px;
            text-align: center;
            height: 60px;
            line-height: 57px;

            &>a{
                display: block;
                width: 200px;

                &.router-link-active{
                    border-bottom: 3px solid #c43c3c;
                }
            }
        }
    }
    .user-content {
        min-height: 600px;
    }
</style>
