<template lang="html">
    <div class="user-content">
    <div class="explain">
        <div class="desc container">
            <h4>请提供准确的个人资料以使问路石专家团队为您提供高质量服务</h4>
            <a class="main-color" href="javascript:;" @click="protocol('个人信息保密承诺书')">《个人信息保密承诺书》</a>
            <div v-if="form.user" class="avatar" title="点击上传头像">
                <div class="avatar-upload">
                    <img :src="form.user.avatar">
                    <FileUpload v-model="form.user.avatar" class="avatar-mask">
                        <img src="../../images/avatar-upload.png">
                    </FileUpload>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb text-center">
        <a href="javascript:;" @click="$router.go(-1)" class="gray">个人资料</a>&nbsp;&gt;&nbsp;编辑资料
    </div>
    <div class="container user-resume">
        <form class="form-horizontal" @submit.prevent="submit">
            <personal-information :value="form.user" :readonly="readonly"></personal-information>
            <educations :value="form.user_educations" :readonly="readonly"></educations>
            <experiences :value="form.user_experiences" :readonly="readonly"></experiences>
            <skills :value="form.user_skills" :readonly="readonly"></skills>
            <other-information :value="form.user_supplements" :readonly="readonly"></other-information>

            <div class="text-center padding-top-30">
                <button class="btn border-main-color" @click="back" type="button">取消</button>
                <button class="btn bg-main-color" :disabled="busy" type="submit" v-if="!readonly">保存</button>
            </div>
        </form>
    </div>

    </div>
</template>

<script lang="babel">
    import {mapGetters, mapActions} from 'vuex'

    import PersonalInformation from  '../../components/UserForm/PersonalInformation.vue'
    import Experiences from '../../components/UserForm/Experiences.vue'
    import Educations from '../../components/UserForm/Educations.vue'
    import Skills from '../../components/UserForm/Skills.vue'
    import OtherInformation from '../../components/UserForm/OtherInformation.vue'
    import FileUpload from '../../components/FileUpload.vue'

    export default{
        mixins: [require('./survey').default],
        components: {
            PersonalInformation,
            Educations,
            Experiences,
            Skills,
            OtherInformation,
            FileUpload
        },
        created(){
            this.fetchData();
        },
        mounted(){
        },
        data(){
            return {
                busy: false,
                form: {
                    action: 'user'
                },
                action_type: null
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        methods:{
            ...mapActions([
                'refreshUser',
            ]),
            back(){
                if(window.history.length > 1){
                    window.history.go(-1)
                } else {
                    this.$router.push({
                        name:'Service.AuditingUser',
                        params:{id: this.user.id}
                    });
                }

            },
            protocol(title){
                $.alert({
//                    content: 'url:text.txt',
                    content: `<div>任何用户向问路石所提供的个人资料属于保密信息，问路石将依据以下条款认真履行其保密职责：</div><div class="cont-list"><div><span>自知悉保密信息之日起，采取有效措施持有并保护该保密信息的安全和秘密性。</span></div><div><span>仅将保密信息用于向个人提供髙质量服务的必要范围；未经个人书面同意，不以任何方式将保密信息用于上述用途以外的任何事项。</span></div><div><span>将制定专门和人员负责保密信息查询工作，并制定严格的查询规定和明确的工作职责；未经个人书面同意，不以任何方式向任何单位、个人泄露保密信息。 如发现保密信息被用于问路石服务用途以外或被泄露，将立即采取有效措施防止泄露进一步扩大，并以书面形式及时通知个人。</span></div><div><span>违反上述保密承诺的，将立即采取有效措施停止泄密行为和消除影响。</span></div></div>
`,
                    title: title,
                    columnClass: 'col-md-12',
                    buttons: {
                            ok: {
                                text: '我知道了',
                            },
                        },
                });
            },
            submit(){
                this.busy = true;
                this.$http.post('my/study-abroad', this.form).then((response)=> {
                    if(!this.user.name && !this.user.phone){
                        this.doSurvey('User', this.user.id)
                        this.refreshUser();
                    } else {
                        $.alert({
                            title: '保存成功',
                            content: '请点击 "确定" 按钮关闭此对话框。',
                            autoClose: 'ok|3000',
                            backgroundDismiss: true,
                            buttons: {
                                ok: {
                                    text: '确定',
                                    action: () => {
                                        this.busy = false;
                                        this.refreshUser();
                                        this.$router.go(-1);
                                    }
                                },
                            },
                        });
                    }
                }, (response)=> {

                }).finally(() => {
                    this.busy = false
                });
            },
            setFormData(data){
                $.each(data, (k,v)=>{
                    if(!v){
                        v = {}
                    }
                    // if($.isArray(v) && v.length == 0){
                    //     v.push({})
                    // }
                    this.$set(this.form, k, v);
                });

            },
            fetchData () {
                this.$http.get('my/resume').then((response)=> this.setFormData(response.data));
            }
        },
    }
</script>

<style lang="scss">
    .explain {
        background: url('../../images/apply-bg-01.jpg');
        padding-top: 100px;
        padding-bottom: 30px;

        .desc{
            position: relative;

            a{
                margin-left: -4px;
            }

            .avatar-upload{
                width: 5.8em;
                height: 5.8em;
                border-radius: 100%;
                border: 1px solid #d52045;
                position: relative;
                display: inline-block;
                overflow: hidden;

                .avatar-mask{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 5.8em;
                    height: 5.8em;
                    border-radius: 100%;
                }
            }

            .avatar {
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -2.8em;
                width: 5.8em;
                height: 5.8em;
                border-radius: 100%;
                overflow: hidden;
            }
        }
    }
    .user-resume{
        padding-bottom: 30px;
    }
</style>
