.form-control{
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #0aa89e;
  border-color: #0aa89e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #0aa89e;
  background-color: #077871;
  border-color: #076e68;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #0aa89e;
  border-color: #0aa89e;
}
.btn-primary .badge {
  color: #0aa89e;
  background-color: #0aa89e;
}
.btn-primary:hover,
.btn-primary:focus,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #08867e;
  border-color: #08867e;
}
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #077871;
  border-color: #077871;
}
.btn-primary.btn-flat,
.btn-primary.btn-icon-toggle {
  color: #0aa89e;
}
