<template>
    <div class="addStaff-box">
        <div class="addStaff-head">
            <div class="addStaff-title">
                <span>{{ prompt }}</span>
                <div class="addStaff-close">
                    <i class="iconfont icon-close main-color" @click="close"></i>
                </div>
            </div>
            <div>已选择 <span class="main-color">{{ select_schools.length }}</span> 个院校</div>
        </div>
        <div class="addStaff-content">
            <div class="addStaff-items" v-for="(i, j) in schools" v-if="isShow(i)">
                <div class="addSchool-head row">
                    <h4 class="addStaff-name col-md-7">{{ i.school.name }}</h4>
                    <div class="col-md-5">
                        <button class="btn btn-block bg-main-color" @click="add(i)" type="button">选择</button>
                    </div>
                </div>
                <div>{{ i.school.en_name }}</div>
                <div class="gray" v-for="(v,k) in i.grade"><span class="text-uppercase">{{k}}</span>-{{v}}</div>
            </div>
        </div>
    </div>
</template>

<script lang="babel" scoped>
    export default{
        created(){
            this.fetch();
        },
        props: {
            'value': Array,
            'name': String,
            'prompt': String,
            'isDetail': Boolean,
        },
        data(){
            return{
                schools: [],
                select_schools: this.value ? this.value : [],
            }
        },
        watch: {
            'value'(val, oldValue) {
                this.select_schools = val ? val : [];
            },
            'select_schools'(val) {
                this.$emit('input', val);
                this.$emit('change', val);
            }
        },
        computed: {
        },
        methods:{
            isShow(item){
                for(let school_name of this.select_schools){
                    if(school_name.school && school_name.school.name){
                        school_name = school_name.school.name
                    }
                    if(item.school.name == school_name){
                        return false
                    }
                }
                return true;
            },
            fetch(){
                this.$http.get('study-abroad/schools-by-specialty', {
                    params:{
                        'keyword':this.name,
                        'type':'abroad'
                    }
                }).then((r)=>{
                    this.schools = r.data
                })
            },
            close(){
                this.$emit('close');
            },
            add(i){
                if(this.isDetail){
                    i.id = null;
                    this.select_schools.push(i);
                } else {
                    this.select_schools.push(i.school.name);
                }
            }
        }
    }
</script>

<style lang="scss">
    .addStaff-box{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 9999;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);
        padding: 20px 30px;
        overflow-y: auto;

        .addStaff-head{
            margin-bottom: 30px;
            .addStaff-title{
                margin: 20px 0 25px 0;
                font-weight: bold;
                span{
                    display: inline-block;
                    width: 48%;
                    font-size: 18px;
                }
                .addStaff-close{
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 28px;
                    }
                }
            }
            .addStaff-type{
                margin-top: 2.5em;
                font-weight: 500;
                label{
                    margin: 0 2em;
                    color: #7e7e7e;
                    font-weight: normal;
                    input{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .addStaff-items{
            border-bottom: 1px solid #d1d1d1;
            font-size: 15px;
            padding-bottom: 1em;
            .addStaff-name{
                margin-top: 20px;
                text-align: justify;
            }
            button{
                margin: 15px 0 20px 0;
            }
        }
    }
</style>
