<template>
    <div class="addStaff-box">
        <div class="addStaff-head">
            <div class="addStaff-title" v-if="prompt">
                <span>{{ prompt }}</span>
                <div class="addStaff-close">
                    <i class="iconfont icon-close main-color" @click="close"></i>
                </div>
            </div>
            <div class="search-staff">
                <search placeholder="搜索姓名" @submit="fetch"></search>
            </div>
            <!--<div class="addStaff-type">-->
                <!--留学意愿匹配-->
                <!--<label><input type="checkbox">专业</label>-->
                <!--<label><input type="checkbox">院校</label>-->
            <!--</div>-->
        </div>
        <div class="addStaff-content">
            <div class="addStaff-items" v-for="i in users">
                <h4 class="addStaff-name">{{ i.nickname ? i.nickname : '匿名' }}</h4>
                <div v-if="i.education">{{ i.education.school }}  |  {{ i.education.specialty }}   |  {{ i.education.degree }} </div>
                <div v-if="i.experience">{{ i.experience.company }}  |  {{ i.experience.position }} </div>
                <button class="btn bg-main-color" v-if="prompt=='选择嘉宾'" @click="add(i)">选择</button>
                <button class="btn bg-main-color" v-else @click="add(i)">分配</button>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import Search from '../FormSearch.vue';

    export default{
        components:{
            Search
        },
        created(){
            this.fetch();
        },
        props: ['value', 'prompt', 'roles','service'],
        data(){
            return{
                users: null
            }
        },
        methods:{
            fetch(keyword){
                let query = {
                    with:[
                        'education',
                        'experience'
                    ],
                    roles: this.roles,
                    keyword: keyword,
                    service: this.service,
                    all: true,
                };
                this.$http.get('users', {
                    params: query
                }).then((r)=>{
                    this.users = r.data
                })
            },
            close(){
                this.$emit('close');
            },
            add(user){
                this.$emit('add', user);
                this.close();
            }
        }
    }
</script>

<style lang="scss">
    .addStaff-box{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 9999;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);
        padding: 20px 30px;
        overflow-y: auto;
        .addStaff-head{
            margin-bottom: 30px;
            .addStaff-title{
                margin: 20px 0 25px 0;
                font-weight: bold;
                span{
                    display: inline-block;
                    width: 48%;
                    font-size: 18px;
                }
                .addStaff-close{
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 28px;
                    }
                }
            }
            .addStaff-type{
                margin-top: 2.5em;
                font-weight: 500;
                label{
                    margin: 0 2em;
                    color: #7e7e7e;
                    font-weight: normal;
                    input{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .addStaff-items{
            line-height: 2;
            border-bottom: 1px solid #d1d1d1;
            font-size: 15px;
            .addStaff-name{
                margin-top: 20px;
            }
            button{
                margin: 15px 0 20px 0;
            }
        }
    }
</style>
