<template>
    <div class="addStaff-box">
        <div class="addStaff-head">
            <div class="addStaff-title" v-if="prompt">
                <span>{{ prompt }}</span>
                <div class="addStaff-close">
                    <i class="iconfont icon-close main-color" @click="close"></i>
                </div>
            </div>
            <div class="search-staff">
                <search placeholder="电子邮件地址/手机号" @submit="fetch"></search>
            </div>
        </div>
        <div class="addStaff-content">
            <div class="addStaff-items" v-for="i in users" @click="add(i)">
                <h4 class="addStaff-name">{{ i.name ? i.name : '匿名' }}</h4>
                <div><i class="iconfont icon-email"></i>{{ i.email }}</div>
                <div v-if="i.cellphone"><i class="iconfont icon-phone"></i>{{ i.cellphone_code }} {{ i.cellphone }}</div>
                <div v-if="i.contact_tool == '微信' && i.contact_tool_no"><i class="iconfont icon-wechat"></i>{{ i.contact_tool_no }} </div>
                <div v-if="i.contact_tool == 'QQ' && i.contact_tool_no"><i class="iconfont icon-qq"></i>{{ i.contact_tool_no }} </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import Search from '../FormSearch.vue';

    export default{
        components:{
            Search
        },
        created(){
            this.fetch();
        },
        props: ['value', 'prompt', 'roles','service'],
        data(){
            return{
                users: null
            }
        },
        methods:{
            fetch(keyword){
                let query = {
                    roles: this.roles,
                    contact: keyword,
                    all: true,
                };
                this.$http.get('users', {
                    params: query
                }).then((r)=>{
                    this.users = r.data
                })
            },
            close(){
                this.$emit('close');
            },
            add(user){
                this.$emit('add', user);
                this.close();
            }
        }
    }
</script>

<style lang="scss">
    .addStaff-box{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 9999;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);
        padding: 20px 30px;
        overflow-y: auto;
        .addStaff-head{
            margin-bottom: 30px;
            .addStaff-title{
                margin: 20px 0 25px 0;
                font-weight: bold;
                span{
                    display: inline-block;
                    width: 48%;
                    font-size: 18px;
                }
                .addStaff-close{
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 28px;
                    }
                }
            }
            .addStaff-type{
                margin-top: 2.5em;
                font-weight: 500;
                label{
                    margin: 0 2em;
                    color: #7e7e7e;
                    font-weight: normal;
                    input{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .addStaff-items{
            cursor: pointer;
            padding-top: 1em;
            padding-bottom: 2em;
            line-height: 2em;
            border-bottom: 1px solid #d1d1d1;
            font-size: 15px;
            .addStaff-name{
                margin-top: 20px;
            }
            i{
                margin-right: 10px;
                color: #c43c3c;
                font-size: 24px;
            }
        }
    }
</style>
