<template>
    <div>
        <div class="container about-info">
            <div class="row">
                <div class="col-sm-12">
                    <h3>问路石教育（Winners Education）</h3>
                    <p>成立于2015年，总部位于休斯顿市（美国），是一家专业的提供留学、学术、职业、移民、投资和创业的咨询与服务机构。</p>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row">
                <ul class="col-sm-2 about-nav">
                    <li class="active">我们的故事<div class="triangle left"></div></li>
                    <li>我们的使命<div class="triangle left"></div></li>
                    <li>我们的哲学<div class="triangle left"></div></li>
                    <li>我们的优势<div class="triangle left"></div></li>
                </ul>
                <div class="about-content col-sm-10">
                    <div class="row text-center about-plane active">
                        <router-link :to="{name: 'About.founder'}" class="col-sm-4">
                            <div class="text-center"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/Our%20Stories%20-%20Founder.jpg" width="100%" height="174px"></div>
                            <div class="desc">
                                <h3>创始人的故事</h3>
                                <div>共同的教育信念让一群北美华人精英走到了一起，立志做一颗普通却坚定的石子</div>
                            </div>
                        </router-link>
                        <router-link :to="{name: 'About.tutor'}" class="col-sm-4">
                            <div class="text-center"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/Mentor%20Story.jpg" width="100%" height="174px"></div>
                            <div class="desc">
                                <h3>导师的故事</h3>
                                <div>问路石导师用精彩的求学、学术、职业故事激励着渴望卓越的你不断前行</div>
                            </div>
                        </router-link>
                        <router-link :to="{name: 'About.student'}" class="col-sm-4">
                            <div class="text-center"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/Our%20Stories%20-%20Student.jpg" width="100%" height="174px"></div>
                            <div class="desc">
                                <h3>学员的故事</h3>
                                <div>问路石视学员为一生的朋友，并为其在人生旅途上所取得的每一次进步而欢呼喝彩</div>
                            </div>
                        </router-link>
                    </div>
                    <div class="about-plane">
                        <div class="col-sm-3">
                            <img src="http://og9i0ercv.bkt.clouddn.com/about_us/SKIPE.png">
                        </div>
                        <div class="col-sm-9">
                            <p><strong>助力个人发展，铺垫成就卓越之路（SKIPE）</strong></p>
                            <ul>
                                <li><span class="text-emphasize">S</span>kill 训练技能</li>
                                <li><span class="text-emphasize">K</span>nowledge 传播知识</li>
                                <li><span class="text-emphasize">I</span>nformation 分享信息</li>
                                <li><span class="text-emphasize">P</span>eople 共建人脉</li>
                                <li><span class="text-emphasize">E</span>nergy 传递能量</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-plane">
                        <div class="col-sm-3">
                            <img src="http://og9i0ercv.bkt.clouddn.com/about_us/Core%20Values.png">
                        </div>
                        <div class="col-sm-9">
                            <p><strong>6P 核心价值观：</strong></p>
                            <ul>
                                <li><span class="text-emphasize">P</span>assion 热情是事业的基石，是创造价值的动力源泉</li>
                                <li><span class="text-emphasize">P</span>ersistent 坚持是希望，水滴石穿是我们永恒的意志力</li>
                                <li><span class="text-emphasize">P</span>ositive 乐观积极是我们满满的正能量</li>
                                <li><span class="text-emphasize">P</span>rospect 远见让我们能洞悉未来发展的走向，让每一位客户高瞻远瞩</li>
                                <li><span class="text-emphasize">P</span>rofessional 专业是责任，是成就我们的灵魂</li>
                                <li><span class="text-emphasize">P</span>artnership 合作才能共赢，是我们始终倡导的服务理念</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-plane">
                        <div class="col-sm-3">
                            <img src="http://og9i0ercv.bkt.clouddn.com/about_us/CMN2X.png">
                        </div>
                        <div class="col-sm-9">
                            <p><strong>CMN2X计划</strong></p>
                            <p>成才之路非一朝一夕，需要早期做好规划，若能辅以前人经验提点，则卓越之路会走的更加顺利。由问路石教育首创的CMN2X辅才卓越计划(<span class="text-emphasize">C</span>oaching-<span class="text-emphasize">M</span>entoring-<span class="text-emphasize">N</span>etworking to e<span class="text-emphasize">X</span>cellence)，在不同的阶段给学员提供所需的原动力。该计划包括以下方面：名师指导；榜样激励；人际网络；成就卓越，并已获美国国家专利商标。</p>
                            <p>• <span class="text-emphasize">专家</span>导师</p>
                            <p>背靠波士顿名校学术圈、硅谷IT精英联盟、纽约芝加哥商务中心、休斯顿石油工业和医疗中心，拥有工业界和学术界强大的人脉资源；导师均来自于美国该专业排名最顶级的院校，所有专业资讯都来自于海外第一手信息源，保证精准有效</p>
                            <p>• <span class="text-emphasize">品质</span>服务</p>
                            <p>建立标准化服务流程；由专业团队对全过程进行质量控制并追踪结果；关注用户反馈以持续改进</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-contact">
            <div class="container contact-content">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h4 class="main-color">电话/传真</h4>
                        <div class="phone-item">
                            <p>美国</p>
                            <p><i class="iconfont icon-phone"></i>&nbsp;1-917-8681888</p>
                            <p><i class="iconfont icon-printer"></i>&nbsp;1-917-8681889</p>
                        </div>
                        <div class="phone-item">
                            <p>中国</p>
                            <p><i class="iconfont icon-phone"></i>&nbsp;400-900-7017</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="main-color">通信地址</h4>
                        <div class="addr-item">
                            <p>美国</p>
                            <p>Winners Academic Solutions</p>
                            <p>9800 Centre Parkway，Suite 860</p>
                            <p>Houston，TX 77036</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="main-color">电子邮箱</h4>
                        <div class="email-item">
                            <p>通用</p>
                            <p>contactus@winnersacademic.com</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="main-color">社交平台</h4>
                        <div class="col-sm-6 wechat-item">
                            <p>问路石官微</p>
                            <div><img src="../../images/wenlushi_qr.png"></div>
                        </div>
                        <div class="col-sm-6 wechat-item">
                            <p>石油界官微</p>
                            <div><img src="../../images/shiyoujie_qr.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        mounted(){
            let $el = $(this.$el);
            $el.find('.about-nav li').on('click', function () {
                $el.find('.about-content .about-plane')
                        .eq($(this).index())
                        .addClass('active')
                        .siblings().removeClass('active');
                $(this).addClass('active').siblings().removeClass('active');
            });
        },
        data(){
            return{

            }
        },
        components:{

        }
    }
</script>

<style lang="scss">
    .hr{
        margin: 30px auto;
    }

    .about-nav {
        float: left;
        display: inline-block;

        li {
            position: relative;
            height: 40px;
            list-style: none;
            line-height: 40px;
            text-align: center;
            cursor: pointer;

            &.active {
                background-color: #c43c3c;
                color: #fff;

                .triangle {
                    top: 14px;
                    border-left: 8px solid #c43c3c;
                }
            }
        }
    }

    .about-content {
        float: left;
        display: inline-block;
        padding-bottom: 100px;

        .active {
            display: block;
        }
    }

    .about-plane {
        display: none;

        .text-emphasize {
            color: #da244f;
        }
        .desc {
            min-height: 148px;
            padding: 15px 20px;
            text-align: left;
            border: 1px solid #ccc;
            h3{
                text-align: center;
                margin: 15px 0;
            }
        }
    }
    .about-contact{
        padding: 4em 0;
        // padding-left: 9em;
        background: url('./../../images/bg_about_us.png') no-repeat center center;
        .contact-content{
            // padding-left: 5em;
            h4{
                font-weight: normal;
                margin-bottom: 45px;
            }
            .email-item, .addr-item, .phone-item{
                margin: 25px 0;
                i{
                    font-size: 20px;
                }
                p{
                    &:first-child{
                        color: #898989;
                    }
                }
            }
            .wechat-item{
                padding-left: 0;
                p{
                    &:first-child{
                        color: #898989;
                    }
                }
            }
        }
    }
</style>
