<template>
    <div class="container detail">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link to="/about">关于我们</router-link>&nbsp;>&nbsp;创始人的故事
        </div>
        <h3 class="title main-color text-center">谦卑的石子，伟大的信念</h3>
        <div class="hr"></div>
        <div class="content">
            <p style="color: rgb(51, 51, 51); font-family: Arial, sans-serif;">问路石教育，正如一颗普通谦卑的石子，是由一群平凡低调务实，而又勤奋热心的北美华人精英基于一个共同伟大的教育信念而产生的集求学、学术、职业发展等于一身的国际化人才孵化机构。他们中的每一个人都有着自己的独特的成长轨迹，在通往成功的道路上孜孜以求。在他们奋力攀登的同时，也看到了很多正和他们当年一样处于迷茫困顿的学子们正在人生的道路上徘徊彷徨，由于缺乏适当的指引而步入迷途。他们也曾耳闻目睹很多优秀学子因为错误的选择，被耽搁在学业前进的道路上，轻者变得玩世不恭，重者则身心俱毁，感到无比的心痛。心痛不如行动！数百颗公益正义之心走到了一起，碰撞激发，自发组织起一个为广大学子提供投石问路服务的咨询培训机构 – 问路石。</p><p style="margin-top: 10px; margin-bottom: 0px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif;">问路石从诞生之初，就和普通的留学中介和留学咨询服务区分开，其独特的教育理念和服务特点总结如下：</p><ul style="margin: 10px 0px 0px; color: rgb(51, 51, 51); font-family: Arial, sans-serif;"><li style="word-wrap: break-word;">国际化人才发展是一项系统工程，不只是一个申请拿到录取通知然后出国的简单过程，更重要的是在于如何走好留学之后的路</li><li style="word-wrap: break-word;">成功的路必须由自己来走，可以有人引导，但是不能让人代劳</li><li style="word-wrap: break-word;">每个人都有提高上升的空间，直到生命最后一刻</li><li style="word-wrap: break-word;">只有大家都为你的成功而欢呼，才是真正的成功</li><li style="word-wrap: break-word;">成功源于一颗不断追求卓越的心</li></ul><p style="margin-top: 10px; margin-bottom: 0px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif;">在数十位北美名校博士经过长达半年的头脑风暴之后，首创了国际领先的CMN2X 辅才卓越计划，将明确的方向指引，健康的社交网络，和个人追求卓越的心结合起来，通过长达2-3年的计划来激发个人的潜力，辅以正确的路线规划，必将让学员更快更稳的前行！</p><p style="color: rgb(51, 51, 51); font-family: Arial, sans-serif;">山高人为峰，问石助你行。伸出你的手，捡起这颗平凡而又普通的石头，让它成为你迈向辉煌的踮脚基石吧！问路石教育的网络期待您的加入，让我们一起携手共创未来。</p>
        </div>
        <div class="hr"></div>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'

    export default{
        components: {
        },
        data(){
            return {
            }
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .container {
        .arrow{
            margin-left: 6px;
        }
    }
    .detail {
        padding-bottom: 20px;

        .title {
            margin-bottom: 20px;
        }

        .content {
            padding: 1.7em 0;
        }
    }
</style>