<template>
    <div>
        <div class="head-img">
            <div class="toggle-area">
            <div>问路石首席团队留学手册</div>
            <a href="http://og9i0ercv.bkt.clouddn.com/document/pdf/%E6%8A%95%E7%9F%B3%E9%97%AE%E8%B7%AF%E8%B5%A2%E5%9C%A8%E5%9C%A8%E7%BE%8E%E5%9B%BD.pdf" target="_blank">点击领取</a></div>
            <img width="100%" src="../../images/about_us.jpg">
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default{
        components:{
        },
        data(){
            return{
            }
        }
    }
</script>
<style lang="scss" scoped>
    .head-img{
        position: relative;
        padding: 70px 0;
        .toggle-area{
            position: absolute;
            left: 62%;
            bottom: 30%;
            width: 260px;
            height: 80px;
            padding: 12px;
            background: red;
            cursor: pointer;
            color: #fff;
            font-size: 20px;
            opacity: 0.7;
            filter:alpha(opacity=70);
            a{
                font-size: 14px;
            }
        }
    }
    .about-info {
        padding: 50px 0;
    }
</style>
