<template>
    <div class="container detail">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link to="/about">关于我们</router-link>&nbsp;>&nbsp;导师的故事
        </div>
        <h3 class="title main-color text-center">从江南农村到世界顶级石油公司 –跨界石油人的升华之路</h3>
        <div class="hr"></div>
        <div class="content">
            <p class="p1"><span class="s1">世上本没有路，走的人多了，也就成了路</span></p><p class="p2"><span class="s1">北美石油圈子里，有一部分人是从别的专业跨界进入石油领域的，这些跨界石油人走的究竟是怎样的一条路呢？是花团锦簇的康庄大道，还是遍地荆棘的羊肠小路? 本文作者用了15年的时间，从学原子物理到做石油软件到彻底进入油气工业核心，<b>从江南农村一路走进了世界顶尖石油公司并获得了美国移民局EB1A绿卡</b>。作者希望通过分享自己的成长历程，给读者朋友们在成长，留学，工作等问题上提供一点借鉴。</span></p>
            <p class="p3"><span class="s1"><b>辗转经历</b></span></p>
            <p class="p4"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/%E5%88%9B%E5%A7%8B%E4%BA%BA%E6%95%85%E4%BA%8B-pic1.jpg"></p>
            <p class="p5"><span class="s1">我出生于普通江南农村家庭(上图为作者出生地)，1998年考入中国科学技术大学本科。中科大出国风气很盛，我选择了出国较普遍的物理专业，报考时是抱着铁定要出国留学的理想。大三大四忙于考G考托，专业课学习放松了，影响了GPA，直接失去了进入美国Top 20院校物理系的资格。我选择了提前毕业去香港中文大学读有奖学金的硕士，希望以此为跳板，再续留学美国名校的梦想。在实验室搞了两年物理实验，拿了硕士学位，却彻底失去了继续攻读物理的兴趣。于是2004年9月我卷了铺盖来到北京，经过一段痛苦挣扎的北漂生活，体会到了不少人生酸甜苦辣。最困难时我先和初中一个同学严冬时节挤在北京香山的一个没暖气没热水的小平房，后来又拉了另外一个初中同学在中关村合租了一个改装了的三居中的一间（三个人三张床）。幸运的是我最后成功面试了一家外企石油服务公司（斯伦贝谢），进入了石油行业。公司培训多，文化好，工作期间我积累了不少石油相关基本知识，增加了工作经验，提升了交流能力。从2006年开始，公司里面陆续有同事成功了申请美国Top 3 Petroleum Engineering School，让我也很心动，再次燃起了留美的念头。于是跟同事们请教经验，从头开始准备G托。每天白天上班，晚上练英语，上班路上还听英语单词和听力材料。TOEFL考试报名很难，最后抢到了石家庄一个偏僻的中专学校考点的座位，还正赶上结婚纪念日。GRE写作最后只考了3.5分，申请美国的信心顿减。2007年底我被北京分公司授予最佳员工奖，对职业发展期望大大提升，于是中间拖延了一年。2008年4月我到美国出差，请了一天年假，在Rice，Texas AM, UT Austin同学接力帮助下，来到了UT 石油工程系，和几个大教授打了个照面。其中最想见的教授，之前并没有约好时间，于是便坐在通往他的办公室的系楼顶层的楼梯从早上9点等到了中午12：30，后来才知道他通常是吃了中饭才来，见面只不过聊了两分钟，让我兴奋的是他说对我有兴趣，但是必须先被系里录取，然后才能资助我。于是回到了北京，我继续出国计划。为要一封推荐信，我八月奥运会期间跑了一趟香港和硕士导师吃了顿饭，9月又参加了本科母校校庆，跟老教授们聊了聊理想，终于在08年10月份把春季申请材料递上去了，凭借工作经验和自认为比较独到的PS，幸运的拿到了UTAustin 石油工程系09年春季的录取通知，教授当晚就把OfferLetter也发到了我的信箱，开启了我的留学美国之路。</span></p>
            <p class="p5"><span class="s1"><b>留学 - 学业篇</b></span></p>
            <p class="p6"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/%E5%88%9B%E5%A7%8B%E4%BA%BA%E6%95%85%E4%BA%8B-pic2.jpg"></p>
            <p class="p5"><span class="s1">在美国读书的第一项修炼，就是修课和考试。美国顶尖院校的修课要求都很高，课业也很多。而且这里绝不允许抄袭作弊等现象，一旦发现，轻则被警告处分，重则直接失去继续攻读学位的资格。这样的例子屡见不鲜，不少人因此过早结束了留学之旅，甚为可惜。我所攻读的UT石油工程系，如果读硕士，需要修12门课；据我所知，斯坦福大学的能源环境工程系对课业的要求甚至更多。这边的课程，除了上课做作业，还要开讨论会，做团队项目，写报告，做演讲，其工作量要远大于国内修课。对博士来说，最难的当属qualify考试。UT石油工程系三门基础课分别是：EngineeringAnalysis （相当于高数），Transport Phenomena，Petrophysics。这些课提前一个学期上过，但到年底时必须所有博士生都重新聚在一起再考一次，考试的内容比课堂上学的要宽很多，也深很多。考过qualify是读博士的前提条件，第一次不过还可再考一次，第二次不过就只能直接转硕士了。在这样的高压推动之下，我没有后退的选择，只能全力而为，有意思的是，我的博士<b>GPA达到了3.9</b>，远远超过我本科和硕士阶段的成绩。看来本科和硕士阶段是我太放松了，希望学弟学妹不要步我后尘。</span></p>
            <p class="p5"><span class="s1"><b>留学 - 学术篇</b></span></p>
            <p class="p6"><img src="
            http://og9i0ercv.bkt.clouddn.com/about_us/%E5%88%9B%E5%A7%8B%E4%BA%BA%E6%95%85%E4%BA%8B-pic3.jpg"></p>
            <p class="p7"><span class="s1">石油工程院系对博士发表文章的要求普遍不高，可能主要是以工业应用为主的缘故吧。不像很多science的专业，“publish or perish”成为常态。但博士毕业有几篇文章，不管是期刊还是会议，用处还是很大的，对职业发展和绿卡申请都很有帮助。自从我对地质的理解加深之后，我就开始重新梳理手里的数据，试图从地质和油藏的角度去解释这些数据，经常会有一些意想不到的收获。之前三年写得一些程序也能拿来加快处理数据的效率，所以之前的工作也没算白费。这样一来，每次和导师开会都会有一些新的解释结果，几周下来，一套数据解释完毕，就琢磨着写点文章。有数据有创新有结果，写起文章来还是很顺利的。我从2012年4月到2013年8月，<b>写了16篇文章</b>，正好是每月一篇。平时的辛勤笔耕让博士论文得写作过程变得非常容易，基本上就是把文章的内容串起来，变成章节，再写个Introduction和Summary，所以最后博士论文我只花了一个月时间。我的辛勤笔耕最终取得了丰厚的回报，2014年暑假我的<b>杰出人才绿卡</b>(EB1A)通过美国移民局审批，2015</span><span class="s2">年初应邀担任</span><span class="s1"><b>国际地球物理Interpretation杂志副主编</b>。</span></p>
            <p class="p3"><span class="s1"><b>留学- 职业篇</b></span></p>
            <p class="p4"><img src="http://og9i0ercv.bkt.clouddn.com/about_us/%E5%88%9B%E5%A7%8B%E4%BA%BA%E6%95%85%E4%BA%8B-pic4.jpg"></p>
            <p class="p8"><span class="s1">在走完艰苦的学业学术发展道路之后，拿到了学位，留学人士需要考虑的是前途去向问题。据我观察，比较成功的案例大致分几类，第一类是学术特别优秀者，直接获取美国大学的助理教授教职位（Faculty），走tenure路线，成为学术领域的翘楚；第二类是在相关工业找到一个工作，留在美国拿高薪爬职业台阶，成为工程师医生律师等专业人士；第三类是学成归国，以现在祖国所提供各种优厚人才项目，比如千人计划或青年千人，回国任教自己开实验室带学生；第四类是归国创业群体，他们在美国积累了足够的人生阅历和国际视野，带着好的创业理念和项目回国创办公司；也有不少人拿到学位之后，继续在美国院校从事博士后研究，加强自己的学术背景，让自己更有竞争力，他们最后也会走上述几类路线。</span></p><p class="p2"><span class="s1">就我个人而言，我选择了加入工业界成为一个专业人士。虽然有不少教职位可以申请，但我认为石油工程领域真正的尖端技术在工业界。只有走进国际化的operator，成为其核心团队中的一员，才能真正接触并领略到当前石油勘探和开发领域的高精尖技术，贡献自己所学到的东西，发挥更直接的经济效益。以我工作的项目为例，在美国墨西哥湾深海钻一口油井，总花费在2亿美金左右，任何一点失误都会造成巨大的经济损失，这一点在BP 2010年漏油事件中得到了充分的体现。</span></p><p class="p9"><span class="s1"><b>总结</b></span></p><p class="p5"><span class="s1">作为一个石油地质方向的专业人士，我经常把石头作为自己的榜样。石头无处不在，贱无可贱，然而每块石头都有自己亿万斯年的沉积历史，构成石头每一粒沙都有自己飞流直下漂洋过海的轨迹，然后在高温高压作用下，聚沙成石，聚石成山，正是一颗颗普通的石头构成了这个坚实的世界，它们平凡而伟大，人亦如此。佛云：一沙一世界。每个人都有自己的独特之处，都能够走出自己美丽的人生轨迹，关键是你敢不敢把自己放到高温高压的环境里去锤炼，只要温度压力够，石墨也能变钻石！对我个人来说，出国留学给予我挑战自我，实现自我的机会，但我也意识到我离成功还遥远，我希望我的人生之路能够在后续的沉积压实中进一步升华，仅以此文与诸君共勉。</span></p>
            <p class="p5"><span class="s1"><b>作者简介：</b></span></p>
            <p><img src="http://og9i0ercv.bkt.clouddn.com/about_us/%E5%88%9B%E5%A7%8B%E4%BA%BA%E6%95%85%E4%BA%8B-pic5.jpg">
            </p>
            <p class="p8"><span class="s1">徐赤诚博士毕业于德克萨斯大学奥斯汀分校石油工程系，现就职于澳大利亚矿业巨头必和必拓，从事深海油田和陆上非常规油气藏的岩石物理研究工作。徐博士2002年本科毕业于中国科学技术大学，2004年硕士毕业于香港中文大学。2004年至2009年，徐博士在斯伦贝谢北京地球物理中心从事核磁共振测井工具软件开发和测试工作。他于2009年1月加入德克萨斯大学奥斯汀分校石油工程系的岩石物理和储层评价研究企业联合会，致力于测井地质学和岩石沉积相分类的研究，在读期间发表会议和期刊文章近20篇，并多次担任SPE，SEG年会的审稿委员会，参与审稿和主持会议，兼职担任国际地球物理协会主办的期刊Interpretation的副编和SPE油藏动态描述技术委员会成员。2013年获取博士学位后，他加入BP美国从事深海油田开发工作，在岩石物理领域积累了12年的工业界和学术界经验。</span></p>
        </div>
        <div class="hr"></div>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'

    export default{
        components: {
        },
        data(){
            return {
            }
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .container {
        .arrow{
            margin-left: 6px;
        }
    }
    .detail {
        padding-bottom: 20px;

        .title {
            margin-bottom: 20px;
        }

        .content {
            padding: 1.7em 0;
        }
    }
</style>