<template>
    <div class="body">
        <loading v-if="$store.state.isLoading"></loading>
        <div class="wrapper">
            <main-header v-if="$router.history.current.meta.isHideHeader ? false : true "></main-header>
            <router-view></router-view>
        </div>
        <div class="footer bg-black">
            <div id="copyright" class="container white text-center">
                Copyright 2016
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import MainHeader from './components/MainHeader.vue'
    import Loading from './components/Loading.vue'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        components: {
            MainHeader,
            Loading
        },
        created(){
            //this.checkUser();
        },
        mounted(){
        },
        data () {
            return {
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'isLoading'
            ]),
        },
        methods: {
            ...mapActions([
                'setUser',
                'clearUser'
            ]),
            checkUser(){
//                if(this.user)return;
                this.$http.get('my').then((response) => {
                    this.setUser(response.data);
                    if (this.$router.currentRoute.name == 'Login') {
                        this.$router.push({
                            path: '/',
                        })
                    }
                }, (response) => {
                    this.clearUser();
                    if(this.$router.currentRoute.meta.auth){
                        this.$router.push({
                            name: 'Login',
                        })
                    }
                }).finally(()=>{
                });
            }
        },
    }
</script>

<style lang="scss" src="./scss/main.scss"></style>
