<template>
    <div>
        <div v-show="!disabled" class="adaptive-fixed-adaptive">
        <div class="adaptive">
            <input type="text" class="form-control" :value="start" :class="input_class">
        </div>
        <div class="fixed">{{label}}</div>
        <div class="adaptive">
            <input type="text" class="form-control" :value="end" :class="input_class">
        </div>
        <div class="clearfix"></div>
        </div>
        <div v-if="disabled"  class="form-control-static">
            {{ start + ' ' +label + ' ' + end }}
        </div>
    </div>
</template>

<script lang="babel">
    /**
     * http://eonasdan.github.io/bootstrap-datetimepicker/
     */
    $.fn.datetimepicker = require('eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min');
    require('eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css');

    export default{
        props: {
            'value': {
                default: ''
            },
            'config': {},
            'label': {
                default: ' ~ '
            },
            'disabled': {
                default: false
            },
            'input_class': {}
        },
        data(){
            return {
                start: '',
                end: '',
                is_object: false,
                default_config: {
                    format: 'YYYY-MM-DD', //http://momentjs.com/docs/#/displaying/format/ 'YYYY-MM-DD HH:mm:ss'
                    locale: 'zh-CN',
                }
            }
        },
        mounted(){
            let $el1 = $(this.$el).find('input').eq(0);
            let $el2 = $(this.$el).find('input').eq(1);
            if (this.config) {
                Object.assign(this.default_config, this.config)
            }
            $el1.datetimepicker(this.default_config);
            this.default_config.useCurrent = false;
            $el2.datetimepicker(this.default_config);

            $el1.on("dp.change", (event)=> {
                $el2.data("DateTimePicker").minDate(event.date);
                $el2.data("DateTimePicker").format(this.default_config.format);
                this.$set(this, 'start', event.target.value)
            });
            $el2.on("dp.change", (event)=> {
                $el1.data("DateTimePicker").maxDate(event.date);
                $el1.data("DateTimePicker").format(this.default_config.format);
                this.$set(this, 'end', event.target.value)
            });
        },
        watch: {
            'start'(val){
                if(this.is_object){
                    this.$emit('input', {
                        start: val,
                        end: this.end
                    });
                }else{
                    this.$emit('input', val + ' ~ ' + this.end);
                }
            },
            'end'(val){
                if(this.is_object){
                    this.$emit('input', {
                        start: this.start,
                        end: val
                    });
                }else{
                    this.$emit('input', this.start + ' ~ ' + val);
                }
            },
        },
        computed: {},
        created(){
            let val = this.value ? this.value : ''
            if (typeof val == 'string') {
                var value = val.split(' ~ ');
                this.$set(this, 'start', value[0])
                this.$set(this, 'end', value[value.length - 1])
            }else if(typeof val == 'object'){
                this.is_object = true;
                if(val.start){
                    this.$set(this, 'start', val.start)
                }
                if(val.end){
                    this.$set(this, 'end', val.end)
                }
            }
        },
        destroyed(){
            let $el1 = $(this.$el).find('input').eq(0);
            let $el2 = $(this.$el).find('input').eq(1);
            if ($el1.data("DateTimePicker")) {
                $el1.data("DateTimePicker").destroy();
            }
            if ($el2.data("DateTimePicker")) {
                $el2.data("DateTimePicker").destroy();
            }
        },
        methods: {
        }
    }
</script>
<style lang="scss" scoped>
    .adaptive-fixed-adaptive {

        & > .adaptive, & > .fixed {
            display: inline;
            float: left;

            &.adaptive {
                width: 50%;
                margin-left: -16px;
                padding-left: 16px;

                &:first-child {
                }

                &:last-child {
                    background: none;
                }
            }

            &.fixed {
                width: 30px;
                line-height: 34px;
                text-align: center;
            }

            input {
                padding-right: 25px;
                background: url("../../images/datepicker_ico.png") no-repeat center right 6px;
                background-size: 20px;
            }
        }
    }
</style>
