<template>
    <input type="text" :value="value" @input="onInput" />
</template>

<script lang="babel">
    /**
     * http://eonasdan.github.io/bootstrap-datetimepicker/
     */
    $.fn.datetimepicker = require('eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min');
    require('eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css');



    export default{
        props: ['value', 'config'],
        data(){
            return{
                default_config:{
                    format: 'YYYY-MM-DD HH:mm:ss', //http://momentjs.com/docs/#/displaying/format/
                    locale: 'zh-CN'
                }
            }
        },
        mounted(){
            let $el = $(this.$el);
            if(this.config){
                Object.assign(this.default_config, this.config)
            }
            $el.datetimepicker(this.default_config);
            $el.on("dp.change", (event)=>{
                this.$emit('input', event.target.value);
            });
        },
        destroyed(){
            let $el = $(this.$el);
            if($el.data("DateTimePicker")){
                $el.data("DateTimePicker").destroy();
            }
        },
        methods:{
            onInput(event){
                this.$emit('input', event.target.value)
                console.log(event.target.value)
            },
        }
    }
</script>
<style lang="scss" scoped>
    input{
        width: 100%;
        vertical-align: middle;
        padding-right: 25px;
        background: url("../../images/datepicker_ico.png") no-repeat center right 6px;
        background-size: 20px;
    }
</style>
