<template>
    <form class="card form" @submit.prevent="sendForm">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-primary"><i class="fa fa-chevron-right"></i>&nbsp;基本信息</h4>
                    <br/>
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-error': errors().has('avatar')}">
                            <div class="form-control-static">
                                <file-upload v-model="form.$fields.avatar">
                                    <img v-if="form.$fields.avatar" :src="form.$fields.avatar" width="120">
                                    <span v-else class="glyphicon glyphicon-picture" style="color:#ccc;font-size:120px"></span>
                                </file-upload>
                            </div>
                            <div class="help-block" v-if="errors().has('avatar')">{{ errors().get('avatar') }}</div>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-10">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="name" type="text" v-model="form.$fields.name" class="form-control" required>
                                <label>姓名</label>
                                <div class="help-block" v-if="errors().has('name')">{{ errors().get('name') }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="nickname" type="text" v-model="form.$fields.nickname" class="form-control">
                                <label>昵称</label>
                                <div class="help-block" v-if="errors().has('nickname')">{{ errors().get('nickname') }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="email" type="email" v-model="form.$fields.email" class="form-control" required>
                                <label>邮箱</label>
                                <div class="help-block" v-if="errors().has('email')">{{ errors().get('email') }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="password" type="password" v-model="form.$fields.password" class="form-control">
                                <label>密码</label>
                                <div class="help-block" v-if="errors().has('password')">{{ errors().get('password') }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="password_confirmation" type="password" v-model="form.$fields.password_confirmation" class="form-control">
                                <label>确认密码</label>
                                <div class="help-block" v-if="errors().has('password_confirmation')">{{ errors().get('password_confirmation') }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" v-model="form.$fields.duration" class="form-control">
                                <label>所剩时长</label>
                                <div class="help-block" v-if="errors().has('duration')">{{ errors().get('duration') }}</div>
                            </div>
                        </div>
                        <div class="col-md-12" v-if="form.$fields.role=='tutor'">
                            <div class="form-group">
                                <label>服务</label>
                                <div class="col-md-offset-1 col-md-11">
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" value="留学服务" v-model="form.$fields.service_tags"><span>留学服务</span>
                                    </label>&nbsp;&nbsp;
                                    <label class="checkbox-inline checkbox-styled">
                                        <input type="checkbox" value="问题解答" v-model="form.$fields.service_tags"><span>问题解答</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" v-if="form.$fields.education && $route.params.id">
                    <h4 class="text-primary"><i class="fa fa-chevron-right"></i>&nbsp;最新教育信息</h4>
                    <br/>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" v-model="form.$fields.education.school">
                                <option v-for="v in schools" :value="v.name">{{v.name}}</option>
                            </select>
                            <label>学校</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" v-model="form.$fields.education.specialty">
                                 <option v-for="v in specialties" :value="v.name">{{v.name}}</option>
                            </select>
                            <label>专业</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="email" type="text" v-model="form.$fields.education.degree" class="form-control">
                            <label>学位</label>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="email" type="text" v-model="form.$fields.education.date" class="form-control">
                            <label>日期</label>
                        </div>
                    </div><!--end .col -->
                </div>
            </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <label class="radio-inline radio-styled">
                    <input type="radio" name="role" value="student" v-model="form.$fields.role" ><span>用户</span>
                </label>
                <label class="radio-inline radio-styled">
                    <input type="radio" name="role" value="service" v-model="form.$fields.role" ><span>客服</span>
                </label>
                <label class="radio-inline radio-styled">
                    <input type="radio" name="role" value="tutor" v-model="form.$fields.role" ><span>导师</span>
                </label>
                <label class="radio-inline radio-styled">
                    <input type="radio" name="role" value="admin" v-model="form.$fields.role" ><span>质控</span>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" :disabled="form.$busy" class="btn ink-reaction btn-raised btn-primary">提交</button>
            </div>
        </div><!--end .card-actionbar -->
    </form><!--end .card -->
</template>

<script>
    import FileUpload from '../../components/FileUpload.vue'
    export default {
        components:{
            FileUpload
        },
        created(){
            if(this.$route.params.id){
                this.getData();
            }
        },
        data () {
            return {
                form: {
                    $fields: {
                        id: null,
                        nickname: null,
                        avatar: '',
                        role: 'tutor',
                        service_tags: [],
                        education: {},
                        email: null,
                        password: null,
                        password_confirmation: null
                    },
                    $errors: {},
                    $busy: false
                },
                specialties: [],
                schools: []
            }
        },
        watch: {
            '$route.params':function(val){
                if($.isEmptyObject(val)){
                    this.$set(this.form, '$fields', {
                        avatar: '',
                    });
                }

                if(!val.service_tags){
                    this.$set(this.form.$fields, 'service_tag', []);
                }
            }
        },
        methods:{
            errors(){
                const errors = this.form.$errors;
                return {
                    has(id){
                        return errors.hasOwnProperty(id);
                    },
                    get(id){
                        if (this.has(id)) return errors[id][0];
                    },
                }
            },
            getData(){
                this.$http.get('users/'+this.$route.params.id).then((r)=>{
                    let data = r.body
                    this.form.$fields = data.user;
                    this.schools = data.schools;
                    this.specialties = data.specialties
                });
            },
            sendForm(){
                this.form.$busy = true;
                let url = 'users';
                const route_params = this.$route.params;
                if(route_params.id){
                    url+='/'+route_params.id
                    this.$http.put(url, this.form.$fields).then((response) => {
                        toastr.success('修改成功');
                        this.form.$busy = false;
                        this.$router.push({
                                name: 'users',
                            });
                    }, (response) => {
                        this.form.$errors = response.data;
                        this.form.$busy = false;
                    });
                } else {
                    this.$http.post(url, this.form.$fields).then((response) => {
                        toastr.success('添加成功');
                        this.form.$busy = false;
                        this.$router.push({
                                name: 'users',
                            });
                    }, (response) => {
                        this.form.$errors = response.data;
                        this.form.$busy = false;
                    });
                }
            }
        }
    }
</script>
