<template>
    <div class="card">
        <div class="card-body">
            <form class="form-inline" @submit.prevent="fetch(true)">
                <div class="form-group">
                    <input type="text" v-model="form.keyword" placeholder="姓名/昵称" class="form-control">
                    <label>关键字</label>
                </div>
                <div class="checkbox checkbox-styled">
                    <label>
                        <input type="checkbox" v-model="form.deleted_at">
                        <span>禁用的用户</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-default-light">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </form>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="width-2">头像</th>
                        <th>姓名</th>
                        <th>昵称</th>
                        <th>邮箱</th>
                        <th class="width-2">角色</th>
                        <th class="text-right">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in users">
                        <td><img class="img-circle width-1" :src="user.avatar" alt=""></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.nickname ? user.nickname : '--' }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ parameter.roles[user.role] }}</td>
                        <td class="text-right">
                            <router-link :to="{name: 'users.edit', params: {id: user.id}}" class="btn ink-reaction btn-icon-toggle" >
                                <i class="fa fa-pencil"></i>
                            </router-link>
                            <button type="button" v-if="!user.deleted_at" @click="del(user)" class="btn ink-reaction btn-icon-toggle">
                                <i class="fa fa-ban"></i>
                            </button>
                            <span v-if="user.deleted_at">
                                <button type="button"  @click="del(user, 'restore')" class="btn ink-reaction btn-icon-toggle">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button type="button" @click="del(user, 'force')" class="btn ink-reaction btn-icon-toggle">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
            </div>
        </div><!--end .card-body -->
    </div>
</template>

<script lang="babel">
    import parameter from '../../config/parameter'
    import Pagination from '../../components/Pagination.vue'

    export default{
        components:{
            Pagination
        },
        created(){
            this.fetch();
        },
        data(){
            return {
                parameter,
                users: [],
                pagination_parameter: {},
                form: {
                    page: 1,
                    keyword: null,
                    deleted_at: ''
                }
            }
        },
        methods:{
            changePage(page){
                this.form.page = page;
                this.fetch()
            },
            fetch($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('users', {
                    params: this.form
                }).then((r)=>{
                    let body = r.body;
                    this.users = body.data;
                    this.pagination_parameter = body;
                });
            },
            /**
             *
             * @param user
             * @param ac restore|force
             */
            del(user, ac){
                let users = this.users;
                let url = 'users/'+user.id;
                if(ac){
                    url += '?ac='+ac
                }
                this.$http.delete(url).then((r)=>{
                    users.splice(users.indexOf(user), 1);
                })
            }
        },
        watch:{
        }
    }
</script>
