<template>
    <section>
        <div class="section-body">
            <div id="home-page">
                <br>
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>{{ msg }}</a>
                <router-link to="/login" class="waves-effect">登录</router-link>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        data () {
            return {
                msg: 'Hello Vue 2.0xxxx!'
            }
        }
    }
</script>
