<template>
    <section class="section-account">
        <!-- 公司标志 -->
        <div class="spacer">
            <div class="logo"></div>
        </div>
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <span class="text-lg text-bold text-primary">WEB ADMIN</span>
                        <br/>
                        <br/>
                        <form class="form" @submit.prevent="sendForm">
                            <form-group type="email" v-model="form.$fields.email" :error="form.$errors.get('email')" label="Email" required></form-group>
                            <form-group type="password" v-model="form.$fields.password" :error="form.$errors.get('password')" label="Password" required></form-group>
                            <br/>
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox" v-model="form.$fields.remember">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" :disabled="form.$busy" type="submit">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import FormGroup from '../components/FormGroup.vue'
    import {mapActions} from 'vuex'

    export default {
        mounted(){
            toastr.clear();
        },
        data () {
            return {
                form: this.$form({
                    email: 'admin@gg.cn',
                    password: 'admin',
                    remember: true
                })
            }
        },
        methods:{
            ...mapActions([
                'setUser',
            ]),
            sendForm(){
                this.form.post('auth/login').then((response) => {
                    this.setUser(response.data);
                    this.$router.push({
                        name: 'Home',
                    })
                });
            }
        },
        components:{
            FormGroup
        }
    }
</script>
