<template>
    <section>
        <div class="section-body">
            <form class="card form" @submit.prevent="sendForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form-group type="text" v-model="form.$fields.nickname" :error="form.$errors.get('nickname')" label="昵称" required></form-group>
                            <form-group type="email" v-model="form.$fields.email" :error="form.$errors.get('email')" label="邮箱" required helpText="登录帐号"></form-group>
                        </div>
                        <div class="col-sm-6">
                            <form-group type="password" v-model="form.$fields.password" :error="form.$errors.get('password')" label="密码" helpText="不填写不修改密码"></form-group>
                            <form-group type="password" v-model="form.$fields.password_confirmation" :error="form.$errors.get('password_confirmation')" label="确认密码" helpText="再次输入密码防止输错"></form-group>
                        </div>
                    </div>
                </div><!--end .card-body -->
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <button type="submit" :disabled="form.$busy" class="btn ink-reaction btn-raised btn-primary">提交</button>
                    </div>
                </div><!--end .card-actionbar -->
            </form><!--end .card -->
        </div>
    </section>
</template>

<script>
    import FormGroup from '../components/FormGroup.vue'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        created(){
            if(this.user){
                this.form.$fields.nickname = this.user.nickname;
                this.form.$fields.email = this.user.email;
            }
        },
        data () {
            return {
                form: this.$form({
                    nickname: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                })
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods:{
            ...mapActions([
                'setUser',
            ]),
            sendForm(){
                this.form.put('my').then((response) => {
                    this.setUser(response.data);
                    toastr.success('修改成功')
                });
            }
        },
        components:{
            FormGroup
        }
    }
</script>
