<template>
    <div class="container">
        <div class="breadcrumb text-center gray">全部发文</div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <form-search placeholder="搜索资讯" @submit="submitForm"></form-search>
            </div>
        </div>
        <template v-if="!isAdmin">
            <table class="article-table">
                <thead>
                    <tr>
                        <th width="60%">标题</th>
                        <th width="10%">状态</th>
                        <th width="15%">日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <template v-for="(v, index) in articles">
                    <tr>
                        <td class="title">
                        <router-link :to="{name: 'Articles.review', params:{id: v.id}}">{{ v.title }}</router-link>
                        </td>
                        <td class="gray">{{ parameter.articleStatus[v.status] }}</td>
                        <td>{{ dateFormat(v.created_at) }}</td>
                        <td>
                            <router-link :to="{name: 'Articles.edit', params:{id: v.id}}" v-if="v.status!='publish'"><i class="glyphicon glyphicon-edit main-color" title="编辑"></i></router-link>&nbsp;&nbsp;
                            <a href="javascript:;" title="删除"><i class="glyphicon glyphicon-trash remove" @click="remove(index, v)"></i></a>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
        <template v-else>
            <div class="row">
                <div class="status-tag text-center">
                    <a href="javascript:;" @click="changeByStatus('check')" :class="{'active':form.status}">待审批</a>
                    <a href="javascript:;" @click="changeByUser()" :class="{'active':form.userId}">我的发文</a>
                </div>
            </div>
            <table class="article-table">
                <thead>
                    <tr>
                        <th width="55%">标题</th>
                        <th width="10%">状态</th>
                        <th width="10%">发布者</th>
                        <th width="15%">日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <template v-for="(v, index) in articles">
                    <tr>
                        <td class="title" v-if="v.type=='article'">
                        <router-link v-if="v.status!='check'" :to="{name: 'Articles.review', params:{id: v.id}}">{{ v.title }}</router-link>
                        <router-link v-else :to="{name: 'Articles.check', params:{id: v.id}}">{{ v.title }}</router-link>
                        </td>
                        <td class="title" v-if="v.type=='activity'">
                        <router-link :to="{name: 'Articles.show', params:{id: v.id}}">{{ v.title }}</router-link><div class="flag">活动<span class="triangle"></span></div>
                        </td>
                        <td class="gray">
                        <span v-if="v.type=='activity' && v.activity">{{ parameter.articleStatus[v.activity.status] }}</span>
                        <span v-else>{{ parameter.articleStatus[v.status] }}</span>
                        </td>
                        <td>
                        <router-link :to="{name:'Service.AuditingUser', params:{id: v.user.id}}" v-if="v.author != 'system'"> {{ setAuthor(v.user, v.author) }}</router-link>
                        <span v-else>{{ setAuthor(v.user, v.author) }}</span>
                        </td>
                        <td>{{ dateFormat(v.created_at) }}</td>
                        <td class="operator-icon">
                            <router-link :to="{name: 'Articles.edit', params:{id: v.id}}" v-if="v.type=='activity' && v.activity && v.activity.status=='register'"><i class="glyphicon glyphicon-edit main-color" title="编辑"></i></router-link>
                            <router-link :to="{name: 'Articles.edit', params:{id: v.id}}" v-if="v.type=='article' && v.status=='publish'"><i class="glyphicon glyphicon-edit main-color" title="编辑"></i></router-link>
                            <router-link :to="{name: 'Articles.check', params:{id: v.id}}" v-if="v.type=='article' && v.status=='check'"><i class="glyphicon glyphicon-check main-color" title="审批"></i></router-link>
                            <a href="javascript:;" title="删除"><i class="glyphicon glyphicon-trash remove" @click="remove(index, v)"></i></a>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
        <div class="text-center">
            <Pagination :parameter="pagination_parameter" @change="changePage"></Pagination>
        </div>
    </div>
</template>

<script lang="babel">
    import Pagination from '../../../components/Pagination.vue'
    import FormSearch from '../../../components/FormSearch.vue'
    import parameter from '../../../config/parameter'
    import {mapGetters} from 'vuex'

    export default{
        components: {
            Pagination,
            FormSearch,
        },
        created(){
            this.getData()
        },
        data(){
            return {
                parameter,
                pagination_parameter: {},
                form: {
                    status: null,
                    userId: null,
                    page: 1,
                    keyword: null
                },
                articles: []
            }
        },
        computed:{
            ...mapGetters([
                'user'
            ]),
            isAdmin(){
                return this.user.role == 'admin' ? true : false;
            }
        },
        methods: {
            dateFormat(date){
                return date ? date.substr(0, 10) : '';
            },
            changePage(page){
                console.log(page)
                this.form.page = page;
                this.getData()
            },
            setAuthor(user, type){
                if(type == 'system') {
                    return '问路石';
                } else {
                    return user.nickname ? user.nickname : '匿名';
                }
            },
            changeByUser(){
                let userId = this.form.userId;
                this.form.userId =  userId ? null : this.user.id;
                this.form.status = null;
                this.getData(true)
            },
            changeByStatus(status){
                let res = this.form.status;
                this.form.status = res ? null : status;
                this.form.userId = null;
                this.getData(true)
            },
            submitForm(keyword){
                this.form.keyword = keyword;
                this.getData(true);
            },
            getData($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('my/article', {
                    params: this.form
                }).then((r)=>{
                    this.articles = r.body.data
                    this.pagination_parameter = r.body
                });
            },
            remove(index, item){
                let o = this;
                $.confirm({
                    title: '删除发文',
                    content: '你是否确定要删除：'+item.title,
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '删除',
                            action: () => {
                                o.$http.delete('my/article/' + item.id).then((r) => {
                                    o.articles.splice(index, 1)
                                });
                            }
                        },
                    }
                });
            }
        },
        watch: {
        },
    }
</script>

<style lang="scss" scoped>
    $title-color: #1e90ff;
    .title {
        color: $title-color;
    }

    .group-select{
            position: relative;
            display: inline-block;
            margin-right: 10px;
            background: #d52045;
            color: #FFF;
            text-align: center;
            width: 9em;
            select{
                background: transparent;
                border: 0;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                vertical-align: middle;
            }
        }
    .status-tag {
        margin: 20px 0;

        a {
            margin: 0 .1em;
            display: inline-block;
            border: 1px solid red;
            height: 2.5em;
            line-height: 2.4em;
            padding: 0 18px;
            color: #da244f;

            &:hover, &:active {
                background-color: #da244f;
                color: #fff;
            }
        }
        .active{
            background-color: #da244f;
            color: #fff;
        }
    }
    .article-table{
        width: 100%;
        margin-top: 30px;
        thead{
            background: #d52045;
            color: #FFF;
            th{
                padding: 8px 0;
                &:first-child{
                    padding-left: 30px;
                }
            }
        }
        td{
            padding: 8px 0;
            &:first-child{
                padding-left: 30px;
            }
            &.table-icon{
                i{
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
            .flag{
                height: 20px;
                line-height: 20px;
                width: 40px;
                .triangle {
                    left: -15px;
                    border-right: 16px solid #fbaf5d;
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                }
            }
            a{
                color: #1e90ff;

                &:hover,&:visited{
                    color: #1e90ff;
                }
            }

            &.operator-icon{
                a {
                    margin-right: 10px;
                }
            }
        }
        .table-child{
            width: 100%;
            border-top: 1px solid #d1d1d1;
            background: #f4f4f4;
            line-height: 2;
            padding: 10px 0 10px 30px;
            span{
                margin-right: 6em;
                &:first-child{
                    color: #8a8a8a;
                }
            }
        }
    }
</style>