<template>
    <div class="admin-panel">
        <div class="right">
            <router-view class="content"></router-view>
        </div>
        <admin-left-sidebar :menu="left_menu" class="left"></admin-left-sidebar>
    </div>
</template>

<script lang="babel">
    import AdminLeftSidebar from '../../../components/AdminLeftSidebar.vue'
    export default{
        components: {
            AdminLeftSidebar
        },
        created(){
            this.hasDraft()
        },
        data(){
            return {
                left_menu: [
                    {
                        title: '全部发文',
                        to: {name: 'ArticlesMy.default'},
                        icoClass: 'glyphicon glyphicon-list',
                        view_roles: ['admin','student','tutor'],
                    },
                    {
                        title: '我要发文',
                        to: {name: 'Articles.create'},
                        icoClass: 'glyphicon glyphicon-plus',
                        view_roles: ['admin','student','tutor'],
                    }
                ]
            }
        },
        methods:{
            hasDraft(){
                this.$http.get('my/draft').then((r)=>{
                    this.setNav(r.body)
                });
            },
            setNav(draft){
                if(!$.isEmptyObject(draft)) {
                    this.left_menu[1].title += '<span style="height: 18px; width: 25px;position:absolute;top: 12px;right: 40px;line-height: 1.8em;display: inline-block;border-radius: 5px;background: #edccd3;font-size: 10px">草稿</span>';
                    this.left_menu[1].to = {name: 'Articles.edit', params:{id: draft.id}};
                } else {
                    this.left_menu[1].title = '我要发文';
                    this.left_menu[1].to = {name: 'Articles.create'};
                }
            }
        },
        watch: {
            '$route' (to, from) {
                 this.hasDraft();
            }
        },
    }
</script>

<style lang="scss" scoped>
    .admin-panel{
        margin-top: 70px;
        overflow: hidden;

        &>div{
            margin-bottom: -3000px;
            padding-bottom: 3000px;
            float: right;
            display: inline;
        }

        &>.left {
            width: 280px;
        }

        &>.right {
            width: 100%;
            margin-left: -280px;
            padding-left: 280px;

            &>.content{
                padding: 20px;
            }
        }
    }
</style>