<template>
    <div class="admin-panel" v-if="left_menu.length > 0">
        <span class="calendar" @click="isShowAddStaff = true" v-if="current_role == 'tutor'"></span>
        <div class="right">
            <router-view class="content"></router-view>
        </div>
        <admin-left-sidebar :menu="left_menu" class="left"></admin-left-sidebar>
        <transition name="sildes">
            <setCalendar v-if="isShowAddStaff"  @close="isShowAddStaff = false"></setCalendar>
        </transition>
    </div>
</template>

<script lang="babel">
    import {mapGetters} from 'vuex'
    import setCalendar from '../../../components/calendar/setCalendar.vue'
    import AdminLeftSidebar from '../../../components/AdminLeftSidebar.vue'
    export default{
        components: {
            setCalendar,
            AdminLeftSidebar
        },
        created(){
            this.fetch()
        },
        data(){
            return{
                isShowAddStaff: false,
                left_menu: [],
                menus: [
                    {
                        title: '问题解答',
                        to: null,
                        icoClass: 'svg-ico quiz',
                        view_roles: ['admin', 'tutor'],
                        children: [
                            {
                                title: '未受理',
                                to: {name: 'Admin.quiz',params: {status: 'untake'}},
                                count: 0,
                                view_roles: ['admin','tutor']
                            },
                            {
                                title: '服务中',
                                to: {name: 'Admin.quiz',params: {status: 'service-in'}},
                                count: 0,
                                view_roles: ['admin', 'tutor']
                            },
                            {
                                title: '已解答',
                                to: {name: 'Admin.quiz',params: {status: 'resolve'}},
                                count: 0,
                                view_roles: ['admin', 'tutor']
                            },
                            {
                                title: '已拒绝',
                                to: {name: 'Admin.quiz',params: {status: 'refuse'}},
                                count: 0,
                                view_roles: ['admin','tutor']
                            }
                        ]
                    },
                    {
                        title: '留学申请',
                        to: null,
                        icoClass: 'svg-ico ico1',
                        view_roles: ['admin', 'tutor'],
                        children: [
                            {
                                title: '销售中',
                                to: {name: 'Admin.StudyAbroad', params: {status: 'sales-in'}},
                                count: 0,
                                view_roles: ['admin']
                            },
                            {
                                title: '服务中',
                                to: {name: 'Admin.StudyAbroad', params: {status: 'service-in'}},
                                count: 0,
                                view_roles: ['admin', 'tutor']
                            },
                            {
                                title: '已完成',
                                to: {name: 'Admin.StudyAbroad', params: {status: 'complete'}},
                                count: 0,
                                view_roles: ['admin', 'tutor']
                            },
                            {
                                title: '已终止',
                                to: {name: 'Admin.StudyAbroad', params: {status: 'stop'}},
                                count: 0,
                                view_roles: ['admin']
                            }
                        ]
                    }
                ]
            }
        },
        computed:{
            ...mapGetters([
                'user',
                'current_role'
            ]),
        },
        watch: {
            '$route' (to, from) {
                 this.fetch();
            }
        },
        methods:{
            fetch(){
                this.$set(this,'left_menu',[]);
                if(this.current_role == 'tutor') {
                    let service_tags = this.user.service_tags;
                    $.each(service_tags, (k,v)=>{
                        if(v.name == '问题解答') {
                            this.$http.get('meeting/meeting-count').then((r)=> {
                                this.setMeeting(r.data)
                            });
                            this.left_menu.push(this.menus[0]);
                        }
                        if(v.name == '留学服务') {
                            this.$http.get('study-abroad/apply-count').then((r)=> {
                                this.setStudyAbroad(r.data)
                            });
                            this.left_menu.push(this.menus[1]);
                        }
                    });
                } else {
                    this.$http.get('meeting/meeting-count').then((r)=> {
                        this.setMeeting(r.data)
                    });
                    this.$http.get('study-abroad/apply-count').then((r)=> {
                        this.setStudyAbroad(r.data)
                    });

                    this.$set(this, 'left_menu', this.menus);
                }

            },
            setStudyAbroad(data){
                for(let i of this.menus[1].children){
                    this.$set(i, 'count', 0);
                    for (let ii of data){
                        if(i.to.params.status == ii.status){
                            this.$set(i, 'count', ii.rows)
                        }
                    }
                }
            },
            setMeeting(data){
                for(let i of this.menus[0].children){
                    this.$set(i, 'count', 0);
                    for (let ii of data){
                        if(i.to.params.status == ii.status){
                            this.$set(i, 'count', ii.rows)
                        }
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .admin-panel{
        margin-top: 70px;
        overflow: hidden;
        position: relative;

        .calendar{
            position: absolute;
            top: 2px;
            left: 235px;
            z-index: 9999;
            display: inline-block;
            width: 40px;
            height: 40px;
            background: url("../../../images/calendar-button.png") no-repeat center center;
            background-size: 32px;
        }

        &>div{
            // margin-bottom: -3000px;
            // padding-bottom: 3000px;
            float: right;
            display: inline;
        }

        &>.left {
            width: 280px;
            overflow: auto;
        }

        &>.right {
            width: 100%;
            margin-left: -280px;
            padding-left: 280px;
            overflow-y: auto;
            max-height: calc(100vh - 161px);

            &>.content{
                padding: 20px;
            }
        }
    }
</style>
