<template>
    <div class="container quiz-cont">
        <quiz-users :meetings="meetings"></quiz-users>
        <div class="text-center">
            <pagination :parameter="pagination_parameter" @change="clickPage"></pagination>
        </div>
    </div>
</template>

<script lang="babel">
    import Pagination from '../../../components/Pagination.vue'
    import QuizUsers from './widget/QuizUsers.vue'

    export default{
        components:{
            Pagination,
            QuizUsers
        },
        created(){
            this.getData()
        },
        data(){
            return{
                pagination_parameter: null,
                form:{
                    page: 1,
                    status: this.$route.params.status
                },
                meetings: []
            }
        },
        computed: {
        },
        methods: {
            clickPage(page){
                this.form.page = page;
                this.getData();
            },
            getData(){
                this.$http.get('meeting/tutor', {
                    params: this.form
                }).then((r)=> {
                    this.pagination_parameter = r.body
                    this.meetings = r.body.data
                })
            },
        },
         watch: {
            '$route' (to, from) {
                this.form.status = to.params.status
                this.getData()
            }
        },
    }
</script>

<style lang="scss" scoped>
    .quiz-cont{
        padding: 80px 0;
    }
</style>
