<template>
    <div class="sales-in">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <form-search placeholder="搜索姓名/学校/专业" @submit="submitForm"></form-search>
            </div>
        </div>
        <study-abroad-users :StudyAbroadUsers="StudyAbroadApplies"></study-abroad-users>
        <div class="text-center">
            <pagination :parameter="pagination_parameter" @change="clickPage"></pagination>
        </div>
    </div>
</template>

<script lang="babel">
    import Pagination from '../../../components/Pagination.vue'
    import FormSearch from '../../../components/FormSearch.vue'
    import StudyAbroadUsers from './widget/StudyAbroadUsers.vue'
    export default{
        components: {
            Pagination,
            FormSearch,
            StudyAbroadUsers
        },
        created(){
            this.fetch();
        },
        data(){
            return {
                form: {
                    keyword: null,
                    page: 1,
                    status: this.$route.params.status
                },
                StudyAbroadApplies: [],
                pagination_parameter: null
            }
        },
        methods: {
            clickPage(page){
                this.form.page = page;
                this.fetch();
            },
            submitForm(keyword){
                this.form.keyword = keyword;
                this.fetch(true);
            },
            fetch($is_reset_page){
                if($is_reset_page){
                    this.form.page = 1
                }
                this.$http.get('study-abroad/applies', {
                    params: this.form
                }).then((r)=> {
                    this.pagination_parameter = r.body
                    this.StudyAbroadApplies = r.body.data
                })
            },
        },
        watch: {
            '$route' (to, from) {
                this.form.status = to.params.status
                this.fetch();
            }
        },
    }
</script>
