<template>
    <div class="circle-progress">
        <div class="font" :style="font_style">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    /**
     * circle progress
     * https://github.com/kottenator/jquery-circle-progress
     */
    require('jquery-circle-progress/dist/circle-progress.min');
    export default{
        ready(){
            let value = this.value > 1 ? 1 : (this.value < 0 ? 0 : this.value);
            if (value > 0) {
                this.font_style.color = '#da244f';
            }
            let size = this.size ? this.size : 100;
            $(this.$el).circleProgress({
                value: value,
                size: size,
                fill: this.font_style.color
            });
        },
        methods: {
        },
        props: [
            'value',
            'size'
        ],
        data(){
            return {
                font_style: {
                    color: '#959595'
                }
            }
        },
    }
</script>

<style>
    .circle-progress {
        position: relative;
        display: inline-block;
    }

    .font {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
    }
</style>
