<template>
    <label>
        <slot></slot>
        <input type="file" :accept="accept" :disabled="busy" @change="change">
    </label>
</template>

<script lang="babel">
    import moment from 'moment'
    /**
     * https://github.com/mailru/FileAPI
     * @type {{cors: boolean, withCredentials: boolean}}
     */
    window.FileAPI = {
//        debug: true,
        cors: true,
        withCredentials: false
    };
    window.FileAPI = require('fileapi/dist/FileAPI.html5.js');
    //    require('fileapi/plugins/FileAPI.exif.js')
    //    require('fileapi/plugins/FileAPI.id3.js')

    export default{
        data(){
            return {
                qiniu: null,
                busy: false
            }
        },
        props: {
            'value': {
                required: true
            },
            'accept': {
                default: 'image/*'
            },
            'pram': {
                default: {}
            }
        },
        created(){
            this.getQiniu()
        },
        methods: {
            getQiniu(){
                if(!this.qiniu){
                    this.$http.get('supplier/qiniu').then((r)=> {
                        this.qiniu = r.body;
                    })
                }
                return this.qiniu;
            },
            change(event){
                if(event.target.files.length == 0)return;
                let imageTransform = {
                    maxWidth: 270,
                    maxWidth: 270,
                    // preview: true,
                    // quality: 1
                };
                if(this.pram.imageTransform){
                    $.extend(imageTransform, this.pram.imageTransform)
                }
                this.busy = true;
                for (let i = 0; i < event.target.files.length; i++) {
                    let file = event.target.files[i];

                    var xhr = FileAPI.upload({
                        url: this.getQiniu().upload_url,
                        data: {
                            key: this.getFileName(file),
                            token: this.qiniu.token
                        },
                        files: {
                            file: file
                        },
                        imageTransform: imageTransform,
                        imageOriginal: false,
                        imageAutoOrientation: false,
                        progress:(evt)=>{
                            console.log('progress:' + (evt.loaded / evt.total * 100).toFixed(2) + '%')
                        },
                        complete:(err, xhr)=>{
                            if (!err) {
                                const qiniu_path = JSON.parse(xhr.responseText).key
                                const file_url = this.getQiniu().download_url + '/' + qiniu_path
                                this.$emit('input', file_url, this.pram)
                                this.$emit('upload', {
                                    file_url: file_url,
                                    file_name: file.name,
                                    file_time: moment(file.lastModified).format('YYYY-MM-DD HH:mm:ss')
                                }, this.pram)
                            }
                            this.busy = false;
                        }
                    });
                }
            },
            getFileName(file){
                let date = new Date();
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let hour = date.getHours();
                let minute = date.getMinutes();
                let second = date.getSeconds();
                let file_name = year + '.' + month + '.' + day + '_' + hour + '.' + minute + '.' + second + '/' + file.name;

                return file_name;
            },
        }
    }
</script>

<style lang="scss" scoped>
    [type="file"] {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
    }
</style>
