<template>
    <div class="form-group" :class="{'has-error': error}">
        <textarea v-if="type=='textarea'" class="form-control" v-model="value"
          :cols="cols"
          :rows="rows"
          :name="name"
          :readonly="readonly"
          :required="required"
          :disabled="disabled"
          :maxlength="maxlength"
          :placeholder="placeholder"
        ></textarea>
        <template v-else>
            <div v-if="slots.before||slots.after" class="input-group">
                <slot name="before"></slot>
                <input class="form-control"
                       :type="type"
                       :value="value"
                       :name="name"
                       :readonly="readonly"
                       :required="required"
                       :disabled="disabled"
                       :maxlength="maxlength"
                       :placeholder="placeholder"
                       @input="onInput"
                />
                <slot name="after"></slot>
            </div>
            <template v-else>
                <input class="form-control"
                       :type="type"
                       :value="value"
                       :name="name"
                       :readonly="readonly"
                       :required="required"
                       :disabled="disabled"
                       :maxlength="maxlength"
                       :placeholder="placeholder"
                       @input="onInput"
                />
            </template>
        </template>
        <slot name="label"><label v-if="label" class="control-label">{{ label }}</label></slot>
        <div v-if="error" class="help-block">{{ error }}</div>
        <div v-else="helpText" class="help-block" >{{ helpText }}</div>
    </div>
</template>

<script lang="babel">
    export default{
        props: {
            value: {
                type: String,
                default: null
            },
            error: {
                type: String,
                default: null
            },
            disabled: {
                type: Boolean,
                default: false
            },
            helpText: {
                type: String,
                default: null
            },
            label: {
                type: String,
                default: null
            },
            max: {
                type: String,
                default: null
            },
            maxlength: {
                type: Number,
                default: 250
            },
            min: {
                type: String,
                default: null
            },
            minlength: {
                type: Number,
                default: 0
            },
            placeholder: {
                type: String,
                default: null
            },
            readonly: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            rows: {
                type: Number,
                default: 3
            },
            type: {
                type: String,
                default: 'text'
            },
        },
        data(){
            return{
                randomId: 'input-' + Math.random()
            }
        },
        computed:{
            slots () {
                return this._slotContents || {}
            },
        },
        methods: {
            onInput(event){
                this.$emit('input', event.target.value)
            }
        }
    }
</script>
