<template>
    <header id="header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand" >
                        <div class="brand-holder">
                            <a href="">
                                <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="headerbar-right">
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <span class="profile-info">
                                {{ user.nickname }}
                                <small>{{ user.email }}</small>
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li><router-link to="/my">我的资料</router-link></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" @click="logout">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default{
        mounted(){
        },
        data(){
            return{
                msg:'hello vue'
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods:{
            ...mapActions([
                'clearUser',
            ]),
            logout(){
                this.$http.get('my/logout').then((response) => {
                    this.clearUser();
                    this.$router.push({
                        name: 'Login',
                    })
                });
            }
        },
    }
</script>
