<template>
    <div id="menubar" class="menubar-inverse">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:;">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="javascript:;">
                    <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">
            <ul id="main-menu" class="gui-controls">
                <template v-for="item in items">
                <li v-if="item.to">
                    <router-link :to="{path:item.to}">
                        <div class="gui-icon" v-if="item.icon"><i :class="item.icon"></i></div>
                        <span class="title">{{ item.name }}</span>
                    </router-link>
                </li><!--end /menu-li -->

                <li class="gui-folder" v-if="item.child">
                    <a>
                        <div class="gui-icon" v-if="item.icon"><i :class="item.icon"></i></div>
                        <span class="title">{{ item.name }}</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li v-for="i in item.child">
                            <router-link :to="{path:i.to}">
                                <span class="title">{{ i.name }}</span>
                            </router-link>
                        </li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
    import menubar from '../config/menubar'

    export default{
        mounted(){
            let $link_active = $(this.$el).find('.router-link-active');
            if($link_active.length){
                $link_active.parents('.gui-folder').addClass('expanded');
                $link_active.parents('li').addClass('active');
            }
            require('../styles/material_admin/js/AppNavigation');
        },
        data(){
            return{
                items: menubar
            }
        },
    }
</script>
