<template>
    <ul class="pagination">
        <li :class="{ 'disabled': parameter.prev_page_url ? false:true }" @click="setCurrentPage(parameter.current_page - 1)">
            <a href="javascript:;">&laquo;</a>
        </li>
        <li v-for="i in parameter.last_page" :class="{ 'active':parameter.current_page == i }" @click="setCurrentPage(i)">
            <a href="javascript:;">{{ i }}</a>
        </li>
        <li :class="{ 'disabled': parameter.next_page_url ? false:true }" @click="setCurrentPage(parameter.current_page + 1)">
            <a href="javascript:;">&raquo;</a>
        </li>
    </ul>
</template>

<script>
    export default{
        created(){
        },
        data() {
            return {
            }
        },
        computed: {
        },
        methods: {
            setCurrentPage(page){
                let parameter = this.parameter;
                if(page && parameter.current_page != page && page <= parameter.last_page){
                    this.current_page = page;
                    this.$emit('change', page)
                }
            },
        },
        props: {
            parameter:{
                type: Object,
                default: {},
            },
        }
    }
</script>
