<template>
    <div>
        <div class="container study-contents">
            <div class="breadcrumb text-center">
                <router-link :to="{name: 'Service'}">服务站</router-link>&nbsp;>
                学术写作服务
            </div>
            <div class="row page-title text-center">
                <div class="title main-color">
                    ACADEMIC PAPER SERVICE
                </div>
            </div>
            <div class="row text-center">
                <p>问路石教育为有期刊/会议等科技论文写作需求的学员提供专业的一站式服务</p>
            </div>
            <br><br>
        </div>
        <div class="service-area bg-t2">
            <div class="page-title text-center">
                <div class="title main-color">SERVICE CATALOG</div>
                <div class="subtitle">全面的服务项目与多场景服务范围，满足用户多样化的论文写作需求</div>
            </div>
            <div class="area-content">
                <div class="area-items">
                    <table class="academic-tables">
                        <thead>
                            <tr>
                                <td></td>
                                <td>前景评估</td>
                                <td>英文翻译</td>
                                <td>语言文法</td>
                                <td>组织结构</td>
                                <td>逻辑表达</td>
                                <td>专业修订</td>
                                <td>投稿修改</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SCI翻译与润色</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                            </tr>
                            <tr>
                                <td>SCI润色</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                            </tr>
                            <tr>
                                <td>全文翻译与润色</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>全文润色</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>全文专业翻译</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>全文基础翻译</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>摘要翻译与润色</td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center service-area-more">
                    <a class="main-color" @click="showDialog()">您是否了解问路石科技论文写作培训？</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    export default{
        components:{
        },
        mounted(){
        },
        created(){
        },
        data(){
            return{
            }
        },
        methods:{
            showDialog(){
                $.alert({
                    content: `<p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">  问路石科技论文写作培训 问路石教育有感于科技论文写作技能对科研技术人员学业与职业发展的重要性，特精心打造一系列面向各学科领域的科技论文写作培训课程。</p><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">   首批推出的课程涵盖了石油工程与地质科学专业。</p><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">   课程具体内容如下：</p><ul style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;"> <li>        科技论文基础写作技能  </li>   <li>        期刊论文的写作、投递与回复技巧 </li>   <li>        会议论文的写作、投递与回复技巧  </li></ul>`,
                    title: '问路石科技论文写作培训',
                    columnClass: 'col-sm-6 col-sm-offset-3',
                    buttons: {
                        ok: {
                            text: '我知道了',
                        },
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .item{
        .inst-items{
            width: 20%;
            float: left;
        }
    }
    .study-contents{
        padding-top: 50px;
    }
    .service-area {
        padding: 50px 0;
    }
    .instructor-team{
        position: relative;
        width: 100%;
        padding: 4em 0;
    }
    .subtitle{
        line-height: 2;
    }
    .success-case{
        padding-bottom: 50px;

        .tab-nav{
            padding: 50px 0;

            a{
                font-size: 16px;
                padding: 5px;
                margin: 10px;

                &.is-active{
                    color: #da244f;
                    border-bottom: 3px #da244f solid;
                }
            }
        }
    }
    .area-content{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        .area-items{
            margin: 3em 0;
            h4{
                margin: 1em 0;
            }
        }
        table{
            width: 100%;
        }
        thead{
            background: #e07d92;
            color: #FFF;
            height: 2em;
            tr{
                height: 50px;
            }
        }
        tbody{
            tr{
                td{
                    border: 2px solid #e9e3e6;
                    border-top: 0;
                    background: #FFF;
                    padding: 20px 0;
                    font-size: 13px;
                    vertical-align: top;
                    background: rgba(255, 255, 255, 0.588);
                    a{
                        text-decoration: underline!important;
                    }
                }
            }
        }
        .service-area-more{
            text-decoration: underline!important;
            margin: 4em 0 0 0;
        }
        .academic-tables{
            tbody{
                tr{
                    td{
                        vertical-align: middle;
                        padding: 0;
                        border: 0;
                        border-bottom: 2px solid #e8e2e3;
                        height: 75px;
                        i{
                            color: #7e7e7e;
                            font-size: 20px;
                        }
                        &:first-child{
                            color: #d52045;
                            background: rgba(218, 36, 79, 0.102);
                            border: 0;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
</style>
