<template>
    <div class="display-flex">
        <div class="left-box">
            <div class="aud-left-items">
                <img :src="userInfo.avatar" class="aud-avatar">
                <div class="aud-name" v-if="is_contract_show || isOwner">{{ userInfo.name }}</div>
                <div class="aud-name" v-else>{{ userInfo.nickname ? userInfo.nickname : '匿名' }}</div>
                <div class="aud-job" v-if="userInfo.occupation">{{ userInfo.occupation}}</div>
            </div>
            <div class="aud-left-items" v-if="userInfo.skills && userInfo.skills.length > 0">
                <div class="aud-left-title main-color">专业技能</div>
                <div class="aud-left-icon">
                    <img src="../../images/setting.png">
                </div>
                <div class="aud-content-list" v-for="v in userInfo.skills">{{v.name}}</div>
            </div>
            <div class="aud-left-items" v-if="userInfo.role == 'tutor' && userInfo.service_tags.length > 0">
                <div class="aud-left-title main-color">导师服务</div>
                <div class="aud-left-icon">
                    <img src="../../images/service-icon.png">
                </div>
                <div class="aud-content-list" v-for="v in userInfo.service_tags">{{v.name}}</div>
            </div>
            <div class="aud-left-info">
                <template v-if="is_contract_show || isOwner">
                    <div class="aud-infos">
                        <span class="aud-infos-icon email-icon"><i class="iconfont icon-email"></i></span>
                        <span>{{ userInfo.email }}</span>
                    </div>
                    <div class="aud-infos" v-if="userInfo.cellphone">
                        <span class="aud-infos-icon"><i class="iconfont icon-phone"></i></span>
                        <span>{{ userInfo.cellphone_code }} {{ userInfo.cellphone }}</span>
                    </div>
                    <div class="aud-infos" v-if="userInfo.contact_tool_no">
                        <span class="aud-infos-icon"><i class="iconfont icon-msg"></i></span>
                        <span>{{ userInfo.contact_tool }}：{{ userInfo.contact_tool_no }}</span>
                    </div>
                </template>
                <div class="aud-infos" v-if="userInfo.city">
                    <span class="aud-infos-icon"><i class="iconfont icon-location"></i></span>
                    <span>{{ userInfo.city }}</span>
                </div>
            </div>
        </div>
        <div class="aud-contentBox flex-grow-1">
            <div class="breadcrumb text-center">
                <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
                <div class="text-right" v-if="isOwner">
                    <router-link to="/my">
                        <i class="glyphicon glyphicon-edit main-color"></i>&nbsp;<span class="main-color">编辑</span>
                    </router-link>
                </div>
            </div>
            <div class="aud-intro">
                <div class="aud-title">
                    <i class="iconfont icon-icon1"></i><span>个人简介</span>
                </div>
                <div class="aud-content" v-if="userInfo.brief">
                    {{ userInfo.brief}}
                </div>
            </div>
            <div class="aud-exp">
                <div class="aud-exp-items">
                    <div class="aud-title">
                        <i class="iconfont icon-education"></i><span>教育背景</span>
                    </div>
                    <div class="aud-content">
                        <div class="aud-list" v-for="value in userInfo.educations">
                            <div>
                                <span>{{ value.degree }}   {{ value.specialty }}</span>
                                <span class="aud-list-time">{{ rangeDateConversion(value.date) }}</span>
                            </div>
                            <div class="main-color">{{ value.school }}</div>
                        </div>
                    </div>
                </div>
                <div class="aud-exp-items">
                    <div class="aud-title">
                        <i class="iconfont icon-job"></i><span>工作经历</span>
                    </div>
                    <div class="aud-content">
                        <div class="aud-list" v-for="value in userInfo.experiences">
                            <div>
                                <span>{{ value.position }}</span>
                                <span class="aud-list-time">{{ rangeDateConversion(value.date) }}</span>
                            </div>
                            <div class="aud-list-job">{{ value.description }}</div>
                            <div class="main-color">{{ value.company }}</div>
                        </div>
                    </div>
                </div>
                <div class="aud-exp-items" v-if="getSupplementsType(0).length || getSupplementsType(1).length">
                    <div class="aud-title">
                        <i class="iconfont icon-list"></i><span>学术成果</span>
                    </div>
                    <div class="aud-content">
                        <div class="aud-list" v-for="v in getSupplementsType(0)">
                            <div>
                                <span>{{v.content.paper}}</span>
                            </div>
                            <div class="main-color">{{ v.content.journals }}</div>
                        </div>
                        <div class="aud-list" v-for="v in getSupplementsType(1)">
                            <div>
                                <span>{{v.content.patent}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aud-exp-items" v-if="getSupplementsType(2).length">
                    <div class="aud-title">
                        <i class="iconfont icon-cup"></i><span>获奖荣誉</span>
                    </div>
                    <div class="aud-content">
                        <div class="aud-list" v-for="v in getSupplementsType(2)">
                            <div>
                                <span>{{v.content.award}}</span>
                            </div>
                            <div class="aud-list-job">{{v.content.description}}</div>
                        </div>
                    </div>
                </div>
                <div class="aud-exp-items" v-if="getSupplementsType(3).length">
                    <div class="aud-title">
                        <i class="iconfont icon-group"></i><span>专业协会</span>
                    </div>
                    <div class="aud-content">
                        <div class="aud-list" v-for="v in getSupplementsType(3)">
                            <div>
                                <span>{{v.content.position}}</span>
                            </div>
                            <div class="main-color">{{v.content.institute}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="userInfo.latest_articles || userInfo.latest_activities">
        <div class="right-box" v-if="userInfo.latest_articles.length > 0 || userInfo.latest_activities.length > 0">
            <router-link class="article-item" :to="{name: 'Articles.show', params: {id:v.id}}" v-for="v in userInfo.latest_articles">
                <div class="text-center">
                    <img :src="v.cover">
                </div>
                <div class="article-title">
                    <span>{{ v.title }}</span><div class="flag" v-if="v.type=='activity'">活动<span class="triangle"></span></div>
                </div>
            </router-link>
            <router-link class="article-item" :to="{name: 'Articles.show', params: {id:v.article.id}}" v-for="v in userInfo.latest_activities">
                <div class="text-center">
                    <img :src="v.article.cover">
                </div>
                <div class="article-title">
                    <span>{{ v.article.title }}</span><div class="flag" v-if="v.article.type=='activity'">活动<span class="triangle"></span></div>
                </div>
            </router-link>
        </div>
        </template>
    </div>
</template>

<script lang="babel">
    import {mapGetters, mapActions} from 'vuex'

    export default{
        components:{
        },
        created(){
            this.getUserInfo();
            this.getUserRelated()
        },
        data(){
            return{
                userInfo: {},
                readonly: true,
                is_contract_show: false
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
            isAdmin(){
                if(this.user) {
                    return this.user.role == 'admin' ? true : false;
                }
            },
            isOwner(){
                if(this.user) {
                    return this.user.id == this.userInfo.id ? true : false;
                }
            }
        },
        methods: {
            getSupplementsType(type){
                const arr = this.userInfo.supplements;
                if(!Array.isArray(arr) || !arr.length) return [];
                return arr.filter((v)=>{
                    return v.type == type
                });
            },
            getUserInfo(){
                let query = {
                    service_tags: true,
                    with:[
                        'educations',
                        'education',
                        'exams',
                        'experience',
                        'experiences',
                        'skills',
                        'supplements',
                        'latestArticles',
                        'latestActivities.article'
                    ]
                };
                // if(this.isOwner) {
                //     query.with.push([latestArticles]);
                //     query.with.push([latestActivities.article]);
                // }
                this.$http.get('users/'+this.$route.params.id, {
                    params: query
                }).then((r)=>{
                    this.userInfo = r.body;
                });
            },
            getUserRelated(){
                this.$http.get('my/check-related',{
                    params: {'anotherUserId': this.$route.params.id}
                }).then((r)=>{
                    this.is_contract_show = r.data
                });
            },
            rangeDateConversion(date){
                if(!date || typeof date != 'string') return '';
                let date_Arr = date.split(' ~ ');
                if(date_Arr.length < 2 || date_Arr[1] == '') {
                    return date_Arr[0]+' 至今';
                } else {
                    return date.split(' ~ ').join(' 至 ');
                }
            }
        },
        watch: {
            '$route' (to, from) {
                this.getUserInfo();
            }
        }
    }
</script>

<style lang="scss" scoped>
    $color: #d52045;
    $bg-gray: #d1d1d1;
    $color-gray: #8a8a8a;
    .quiz-cont{
        padding: 80px 0;
    }
    .breadcrumb {
        position: relative;
        height: 48px;
        line-height: 48px;
        margin-bottom: 3em;
    }
    a.gray {
        color: #999;
    }
    .arrow {
        position: absolute;
        left: 0;
        margin-left: 0;
        color: $color!important;
        i{
            font-size: 30px;
        }
    }
    .left-box{
        // width: 320px;
        width: 20%;
        min-width: 340px;
        padding: 70px 20px 0 20px;
        background: url(http://og9i0ercv.bkt.clouddn.com/bg/aud-left.png?imageView2/1/format/jpg/interlace/1) repeat-y top center;
        text-align: center;
    }
    .aud-left-items{
        padding-top: 2em;
        .aud-avatar{
            width: 6em;
            height: 6em;
            border-radius: 100%;
            border: 1px solid #d52045;
            margin-bottom: 20px;
        }
        .aud-name{
            font-size: 18px;
            margin-bottom: 5px;
        }
        .aud-job{
            font-size: 18px;
            &:before,
            &:after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 3px;
                height: 3px;
                background: #d52045;
                border-radius: 100%;
                margin: 0 5px;
            }
        }
        .aud-left-title{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .aud-left-icon{
            margin-bottom: 15px;
            img{
                width: 3em;
            }
        }
        .aud-content-list{
            margin-bottom: 8px;
        }
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #d7ccd3, #e18196, #eae3e5);
            margin-top: 2em;
        }
    }
    .aud-left-info{
        padding: 2em 0;
        text-align: left;
        .aud-infos{
            margin-bottom: 1em;
            .aud-infos-icon{
                display: inline-block;
                background: #d52045;
                vertical-align: middle;
                color: #FFF;
                border-radius: 100%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                margin-right: 5px;
                &.email-icon{
                    line-height: 20px;
                }
                i{
                    font-size: 18px;
                }
            }
        }
    }
    .aud-contentBox{
        // width: 55%;
        padding: 100px 40px 0 40px;
        .aud-content{
            margin-top: 15px;
            margin-left: 55px;
        }
        .aud-intro{
            margin: 2em 0;
            border-bottom: 2px solid #d52045;
            min-height: 7em;
            overflow: hidden;
            .aud-content{
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }
    .aud-title{
        i{
            display: inline-block;
            width: 45px;
            height: 45px;
            border: 1px solid #d52045;
            border-radius: 100%;
            font-size: 28px;
            text-align: center;
            line-height: 42px;
            color: #d52045;
            margin-right: 10px;
            &.icon-userInfo{
                font-size: 25px;
            }
            &.icon-job{
                line-height: 40px;
            }
        }
        span{
            font-size: 18px;
        }
    }
    .aud-exp-items{
        margin-bottom: 4em;
        .aud-list{
            position: relative;
            padding-bottom: 2em;
            line-height: 1.8;
            .aud-list-time{
                color: #8a8a8a;
                margin-left: 20px;
            }
            .aud-list-job{
                color: #8a8a8a;
                // font-size: 12px;
            }
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                left: -36px;
                top: 10px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: #d52045;
            }
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                left: -33px;
                top: -16px;
                width: 1px;
                height: 136%;
                background: #d52045;
                z-index: -1;
            }
            &:last-child{
               &:after{
                // display: none;
                height: 30px;
               }
            }
        }
    }
    .right-box{
        width: 18%;
        min-width: 320px;
        min-height: 900px;
        max-height: 900px;
        margin-top: 5em;
        text-align: center;
        border-left: 1px solid #d7d7d7;
        overflow: hidden;
        overflow-y: auto;
        a.article-item{
            display: block;
            margin-top: 1.5em;

            .article-title{
                text-align: center;
                height: 2.5em;
                line-height: 2.5em;
            }
            .flag{
                height: 20px;
                line-height: 20px;
                width: 40px;

                .triangle {
                    left: -16px;
                    border-right: 16px solid #fbaf5d;
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                }
            }
        }
    }
</style>

