<template>
    <div class="container">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <router-link :to="{name: 'StudyAbroadDetail'}">留学申请服务</router-link>&nbsp;>成功案例
        </div>
        <div class="group-searchBox row">
            <div class="event-form">
                <form-search placeholder="搜索申请年份" class="col-md-offset-4 col-md-4" @submit="submitForm"></form-search>
            </div>
        </div>
        <!-- <div class="row">
                <div class="status-tag text-center">
                    <a href="javascript:;" @click="getCases()" :class="{'active':last_year}">去年</a>
                </div>
            </div> -->
        <div class="tab-item">
            <div class="case-items" v-for="(v,index) in cases">
                <div class="case-items-tile text-center" v-if="v.length > 0">
                    <h3 class="main-color">{{index}}</h3>
                </div>
                <div class="case-items-content" v-if="v.length > 0" >
                    <ul class="case-items-list" :style="s_maxHeight(index)">
                        <li v-for="i in v">
                            <div class="case-items-tablecell school-logo">
                                <div><img :src="i.apply_schools[0].school.logo" alt=""></div>
                                <h5>{{i.apply_schools[0].school.name}}</h5>
                            </div>
                            <div class="case-items-info case-items-tablecell">
                                <h5><router-link :to="{name:'Service.AuditingUser',params:{id: i.user.id}}">{{ i.user.nickname ? i.user.nickname : '匿名' }}</router-link>&nbsp;&nbsp;&nbsp;&nbsp;{{i.user.education.school}} | {{i.user.education.specialty}} | {{i.user.education.degree}} </h5>
                                <div class="case-infos" v-if="i.user.exams">
                                    <span v-if="i.user.exams.school_work">GPA: {{i.user.exams.school_work.gpa_score}}/{{i.user.exams.school_work.gpa_score_system}}</span>
                                    <span v-if="i.user.exams.english.type == 'toefl' && i.user.exams.english.toefl">
                                    TOFEL: {{toeflResult(i.user.exams.english.toefl)}}
                                    <!-- （听力-{{i.user.exams.english.toefl.hearing}}、口语-{{i.user.exams.english.toefl.speaking}}、阅读-{{i.user.exams.english.toefl.read}}、写作-{{i.user.exams.english.toefl.writing}}） -->
                                    </span>
                                    <span v-if="i.user.exams.english.type == 'ielts' && i.user.exams.english.ielts">
                                    IELTS: {{ieltsResult(i.user.exams.english.ielts)}}
                                    <!-- （听力-{{i.user.exams.english.ielts.hearing}}、口语-{{i.user.exams.english.ielts.speaking}}、阅读-{{i.user.exams.english.ielts.read}}、写作-{{i.user.exams.english.ielts.writing}}） -->
                                    </span>
                                    <span v-if="i.user.exams.postgraduate.type == 'gre' && i.user.exams.postgraduate.gre">
                                    GRE: {{greResult(i.user.exams.postgraduate.gre)}} + {{i.user.exams.postgraduate.gre.writing}}
                                    <!-- （数学-{{i.user.exams.postgraduate.gre.math}}，语文-{{i.user.exams.postgraduate.gre.chinese}}，写作-{{i.user.exams.postgraduate.gre.writing}}） -->
                                     </span>
                                    <span v-if="i.user.exams.postgraduate.type == 'gmat' && i.user.exams.postgraduate.gmat">
                                    GMAT: {{gmatResult(i.user.exams.postgraduate.gmat)}}
                                    <!-- （数学-{{i.user.exams.postgraduate.gmat.math}}，语文-{{i.user.exams.postgraduate.gmat.chinese}}，写作-{{i.user.exams.postgraduate.gmat.writing}}） -->
                                     </span>
                                </div>
                                <div class="gray" v-if="i.season">{{i.season.year}}{{i.season.name}}</div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center main-color" v-show="index != temp_index && v.length > 3"><span class="case-items-more" @click="temp_index=index"><i class="iconfont icon-downArrow"></i>更多</span></div>
                    <div class="text-center main-color" v-show="index == temp_index && v.length > 3"><span class="case-items-more" @click="temp_index=''"><i class="iconfont icon-downArrow downArrow-trans"></i>收起</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import FormSearch from '../../components/FormSearch.vue'
    export default{
        components:{
            FormSearch
        },
        created(){
            this.getData()
        },
        data(){
            return{
                cases: {},
                form: {
                     applyYear: null,
                },
                temp_index: null
            }
        },
        methods:{
            s_maxHeight(i){
                if(i == this.temp_index){
                    return {}
                }
                return {
                    'max-height': 'calc(170px * 3)',
                    'overflow': 'hidden'
                }
            },
            submitForm(searchword){
                this.form.applyYear = searchword;
                this.getData()
            },
            toeflResult(toefl){
                return toefl.hearing + toefl.speaking + toefl.read + toefl.writing;
            },
            ieltsResult(ielts){
                let sum = ielts.hearing + ielts.speaking + ielts.read + ielts.read;
                let average = (sum / 4).toFixed(3);
                if (!Number.isInteger(average)) {
                    let Decimal_places = Number((average * 1000).toString().substr(-3));
                    let int_average = Math.floor(average);
                    if (Decimal_places >= 750) {
                        average = int_average + 1
                    } else if (Decimal_places >= 250) {
                        average = int_average + 0.5
                    } else {
                        average = int_average
                    }
                }
                return average;
            },
            greResult(gre){
                return gre.math + gre.chinese;
            },
            gmatResult(gmat){
                return gmat.math + gmat.chinese;
            },
            getData(){
                this.$http.get('case',{
                    params: this.form
                }).then((r)=>{
                    let data = r.data;
                    this.cases = data.case_groups;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .container{
        padding: 7em 0 10em 0;
        margin: 0 auto;
    }
    .status-tag {
        margin: 20px 0;

        a {
            margin: 0 .1em;
            display: inline-block;
            border: 1px solid red;
            height: 2.5em;
            line-height: 2.4em;
            padding: 0 18px;
            color: #da244f;

            &:hover, &:active {
                background-color: #da244f;
                color: #fff;
            }
        }
        .active{
            background-color: #da244f;
            color: #fff;
        }
    }
    .case-card{
        margin:  2em 0 3em;
        div{
            display: inline-block;
            margin: 0 10px;
            padding: 5px 10px;
            background: #FFF;
            border: 1px solid #d1d1d1;
        }
    }
    .case-items{
        margin-top: 5em;
    }
    .case-items-tile{
        h3{
            margin: 5px 0;
            font-weight: normal;
            font-size: 22px;
        }
        small{
            color: #828282;
            font-size: 13px;
            font-weight: normal;
        }
    }
    .case-items-list{
        margin: 1.5em 0;
        border-top: 1px solid #d52045;
        padding: 0;
        li{
            display: table;
            width: 100%;
            list-style: none;
            padding: 20px 3em;
            padding-left: 0;
            border-bottom: 1px solid #e8e8e8;
            overflow: hidden;

            &:last-child {
                border-bottom: 0;
            }
            .case-items-tablecell{
                display: table-cell;
                vertical-align: middle;
                &.school-logo {
                    width: 220px;
                    text-align: center;
                    padding-right: 20px;

                    img{
                        max-width: 6em;
                        height: 6em;
                        // border-radius: 100%;
                    }
                }
            }

            .case-items-info{
                line-height: 3.3em;
                h5{
                    font-size: 16px;
                }
            }
            .case-infos{
                span{
                    margin-right: 1em;
                    font-size: 13px;
                    color: #aaaaaa;
                }
            }
        }
    }

    .case-items-more{
        margin: 1em 0 5em 0;
        font-size: 16px;
        cursor: pointer;
        i{
            font-size: 26px;
            vertical-align: middle;
            &.icon-downArrow{
                font-size: 30px;
                vertical-align: middle;
                display: inline-block;
                vertical-align: middle;
                transition: all 0.3s;

                &.downArrow-trans{
                    transform: rotate(180deg);
                 }
            }
        }
    }
</style>
