<template>
    <div>
        <!-- <owl-carousel-banner>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/240.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/230.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
            <a class="item">
                <img class="owl-lazy" data-src="http://7xpyuo.com1.z0.glb.clouddn.com/250.jpeg?imageView2/1/w/1440/h/400/interlace/1/q/100">
            </a>
        </owl-carousel-banner> -->
        <div class="container service">
            <div class="page-title text-center" v-show="study_abroad_applies || meeting">
                <div>我的服务</div>
            </div>
            <div class="my-service" v-if="meeting">
                <div class="text-center">
                    <div class="title main-color">问题解答服务</div>
                </div>
                <div class="issue-box">
                    <div class="issue-content row">
                        <div class="col-sm-offset-4 col-sm-8 single">
                            <div class="issue-title">
                                <i class="iconfont main-color" :class="{'icon-phone':meeting.mode=='语音会议','icon-msg':meeting.mode=='在线回复'}"></i><span>{{ meeting.theme }}</span>
                                <div class="flag" :class="meeting.status" v-if="meeting.status != 'resolve'">{{ parameter.meetingStatus[meeting.status] }}<span class="triangle"></span></div>
                            </div>
                            <div class="issue-info" v-if="meeting.tutor">
                                <div>
                                    <span class="main-color"><router-link :to="{name:'Service.AuditingUser',params:{id: meeting.tutor.id}}">{{ meeting.tutor.nickname ? meeting.tutor.nickname : '匿名'}}</router-link></span>
                                    <span v-if="meeting.tutor.education">{{ meeting.tutor.education.school }} | {{ meeting.tutor.education.specialty }} | {{ meeting.tutor.education.degree }}</span>
                                </div>
                                <div>
                                   <span>{{ meeting.mode }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center padding-top-30">
                        <router-link :to="{ name: 'Issue.all'}" class="btn bg-main-color">查看全部提问</router-link>
                    </div>
                </div>
            </div>
            <div class="not-service" v-if="meeting"></div>
            <div class="my-service" v-if="study_abroad_applies">
                <div class="text-center">
                    <div class="title main-color">留学申请服务</div>
                </div>
                <wish class="educational-information text-center" :value="study_abroad_applies"></wish>
                <div class="text-center" v-if="!isStatus('complete')">
                    <div class="tutor-round-table" v-if="study_abroad_applies.tutor">
                        <div v-if="study_abroad_applies.tutor">
                            <div class="icon">
                                <img src="images/tutor.png">
                            </div>
                            <div class="info">
                                <div>导师</div>
                                <router-link :to="{name:'Service.AuditingUser',params:{id: study_abroad_applies.tutor.id}}" tag="a" class="aqua">{{ study_abroad_applies.tutor.nickname ? study_abroad_applies.tutor.nickname : '匿名' }}</router-link>
                                <div v-if="study_abroad_applies.tutor.education">
                                    {{ study_abroad_applies.tutor.education.school }}
                                    ｜  {{ study_abroad_applies.tutor.education.specialty }}
                                    |    {{ study_abroad_applies.tutor.education.degree }}
                                </div>
                                <div v-if="study_abroad_applies.tutor.experience">
                                    {{ study_abroad_applies.tutor.experience.company }}
                                    |    {{ study_abroad_applies.tutor.experience.position }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="process-progress flex-justify" v-if="isStatus('service-in')">
                        <circle-progress :value="study_abroad_applies.progresses.start" v-if="study_abroad_applies.progresses.start != null">
                            启动服务
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.strategy" v-if="study_abroad_applies.progresses.strategy != null">
                            制定策略
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.promotion" v-if="study_abroad_applies.progresses.promotion != null">
                            提升背景
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.document" v-if="study_abroad_applies.progresses.document != null">
                            文书创作
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.online_apply" v-if="study_abroad_applies.progresses.online_apply != null">
                            网络申请
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.visa" v-if="study_abroad_applies.progresses.visa != null">
                            准备签证
                        </circle-progress>
                        <circle-progress :value="study_abroad_applies.progresses.feedback" v-if="study_abroad_applies.progresses.feedback != null">
                            调查反馈
                        </circle-progress>
                    </div>

                </div>
                <div class="text-center" v-if="isStatus('complete')">
                    <div class="service-result" v-if="study_abroad_applies.online_apply">
                        <div v-if="study_abroad_applies.apply_schools && study_abroad_applies.apply_schools.length > 0">
                                <span class="apply-school-span" v-if="isEnroll(v.result)" v-for="v in study_abroad_applies.apply_schools">
                                {{v.school.name}} | {{v.specialty.name}} ({{apply_school_status[v.result]}})&nbsp;<i v-if="study_abroad_applies.online_apply.apply_school_id == v.id" class="main-color glyphicon glyphicon-ok"></i></span>
                        </div>
                    </div>
                </div>
                <div class="text-center padding-top-30">
                    <router-link :to="{name: 'StudyAbroadForm'}" class="btn bg-main-color" v-if="!isStatus('complete')">
                        {{ isStatus(null)?'修改个人背景草稿':'修改意愿与背景' }}
                    </router-link>
                    <router-link v-if="!isStatus(null)" :to="report_path" class="btn bg-main-color">查看服务报告</router-link>
                </div>
            </div>

            <div class="my-service" v-if="AcademicPapers">
                <div class="text-center">
                    <div class="title">学术论文服务</div>
                    <div class="title-en gray">Application for Study Abroad Service</div>
                </div>
                <div class="process-progress text-center">
                    <circle-progress value="1">
                        启动服务
                    </circle-progress>
                    <circle-progress value="0.75">
                        修改定稿
                    </circle-progress>
                    <circle-progress value="0">
                        调查反馈
                    </circle-progress>
                </div>
                <div class="text-center">
                    <a href="" class="btn bg-main-color">查看服务报告</a>
                </div>
            </div>

            <!-- <div class="not-service">
                <div class="text-center">
                    <div class="inline-block" v-if="!study_abroad_applies">
                        <div class="main-color">■ 免费留学前景评估 ■</div>
                        <router-link :to="{ name: 'StudyAbroadForm'}" class="btn bg-main-color">提交个人背景</router-link>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="service-footer bg-t1">
            <div class="page-title text-center">
                <div class="title main-color">欢迎您成为问路石服务网络中的一员</div>
            </div>
            <div class="container">
                <div class="col-sm-3">
                    <router-link :to="{name: 'StudyAbroadDetail'}" class="card">
                        <div class="card-image">
                            <img src="http://og9i0ercv.bkt.clouddn.com/service/banner/add-service-study-abroad.png?imageView2/1/w/255/h/150/interlace/1/q/80">
                        </div>
                        <div class="card-title text-center ellipsis">
                            留学、访学、游学<br/>
                            本科/硕士/博士申请，特色专业申请
                        </div>
                    </router-link>
                </div>
                <div class="col-sm-3">
                    <router-link :to="{name: 'AcademicPaperDetail'}" class="card">
                        <div class="card-image  text-center">
                            <img src="../../images/add-service-academic-paper.png">
                        </div>
                        <div class="card-title text-center ellipsis">
                            期刊论文、会议论文、学术报告<br/>
                            全文/摘要翻译与润色
                        </div>
                    </router-link>
                </div>
                <div class="col-sm-3">
                    <div class="card" @click="careerTip">
                        <div class="card-image  text-center">
                            <img src="../../images/career-training.png">
                        </div>
                        <div class="card-title text-center ellipsis">
                            找工作、找兼职、找实习<br/>
                            专业技能培训，简历写作与面试培训
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" @click="legalTip">
                        <div class="card-image  text-center">
                            <img src="../../images/add-service-legal-immigration.png">
                        </div>
                        <div class="card-title text-center ellipsis">
                            职业移民、投资移民<br/>
                            背景提升，文书写作，移民申请
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import Wish from '../../components/Wish.vue'
    import parameter from '../../config/parameter'
    import CircleProgress from '../../components/CircleProgress.vue'
    import OwlCarouselBanner from '../../components/OwlCarouselBanner.vue'

    export default {
        components:{
            OwlCarouselBanner,
            CircleProgress,
            Wish
        },
        created(){
            this.fetchData()
        },
        data () {
            return {
                parameter,
                meeting: null,
                study_abroad_applies: null,
                AcademicPapers: null
            }
        },
        computed: {
            report_path(){
                let ret = {
                    name: 'Service.study_service',
                    params: {
                        id: this.study_abroad_applies.id
                    }
                };
                if(this.isStatus('sales-in')){
                    ret.name = 'StartService'
                }
                return ret;
            },
            apply_school_status(){
                return {
                    'own_expense' : '自费',
                    'fellowship'  : '助学金',
                    'scholarship' : '奖学金'
                };
            }
        },
        methods:{
            /**
             * @param status 'sales-in','service-in','complete','stop'
             * @returns {boolean}
             */
            isStatus(status){
                let ret = false;
                if(Array.isArray(status)){
                    for (let v of status){
                        if(this.study_abroad_applies.status == v){
                            ret = true;
                            break;
                        }
                    }
                }else{
                    ret = this.study_abroad_applies.status == status;
                }
                return ret;
            },
            isEnroll(result){
                let res = [
                    'own_expense',
                    'fellowship',
                    'scholarship'
                ];
                return res.indexOf(result) >= 0 ? true : false;
            },
            fetchData(){
                if(!this.$store.state.user) return;
                this.$http.get('my/study-abroad?ac=service').then((r)=>{
                    let data = r.body;
                    $.each(data,(k, v)=>{
                        this.$set(this, k, v);
                    })
                })
            },
            careerTip(){
                $.confirm({
                    columnClass: 'col-md-5 col-md-offset-3',
                    title: '职业培训服务',
                    content: '在线服务平台正在建设中，获取详细信息请与问路石取得联系',
                    buttons: {
                        ok: {
                            text: '我知道了',
                            action: () => {

                            }
                        },
                    }
                });
            },
            legalTip(){
                $.confirm({
                    columnClass: 'col-md-5 col-md-offset-3',
                    title: '法律移民服务',
                    content: '在线服务平台正在建设中，获取详细信息请与问路石取得联系',
                    buttons: {
                        ok: {
                            text: '我知道了',
                            action: () => {

                            }
                        },
                    }
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .service-footer {
        padding: 30px 0;

        .page-title {
            margin-bottom: 60px;
        }

        .card {
            display: block;
            background: #fff;
        }

        .card-title {
            padding: 30px 10px;
            height: 120px;
            color: #5c5c5c;
            line-height: 30px;
            -webkit-line-clamp: 4;
        }
    }

    .service.container{
        padding-top: 70px;

        .page-title{
            margin-bottom: 3rem;
            font-size: 16px;
        }
    }

    .my-service{
        padding-bottom: 30px;

        .title {
            font-size: 2rem;
            margin: 20px 0;
        }

        .educational-information{
            padding-top: 2rem;
        }

        .process-progress{
            padding: 50px 0;

            .circle-progress {
                margin: 0 20px;
            }
        }

        .tutor-round-table{
            display: inline-block;
            padding-top: 40px;
            line-height: 1.8;
            overflow: hidden;

            .icon{
                float: left;
                padding-top: 10px;
            }

            .info{
                float: left;
                padding-left: 10px;
                text-align: left;

                div:first-child{
                    font-size: 1.5rem;
                    font-weight: 900;
                }
            }

        }
    }

    .not-service {
        padding: 20px 0;

        .btn {
            padding: 6px 30px;
            margin-top: 20px;
        }
        &:last-child{
            padding: 0px 0 100px 0;
            &:before{
                display: none;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 50%;
            height: 1px;
            background: linear-gradient(to right, #FFF, #d1d1d1, #FFF);
            margin: 0 auto;
        }
    }
    .issue-box{
        padding-top: 3rem;
        .issue-content{
            padding-bottom: 30px;
            line-height: 1.8;
            .single{
                padding-left: 5.0em;
            }
            .issue-title{
                font-size: 16px;
                i{
                    margin-right: 10px;
                    font-size: 22px;
                }
                .meet-icon{
                    display: inline-block;
                    width: 22px;
                    height: 23px;
                    background: url('../../images/round_table.png') no-repeat center center;
                    background-size: contain;
                    -o-background-size: contain;
                    -moz-background-size: contain;
                    -ms-background-size: contain;
                    -webkit-background-size: contain;
                    vertical-align: middle;
                }
                .flag{
                    height: 20px;
                    line-height: 20px;
                    width: 50px;

                    .triangle {
                        left: -15px;
                        border-right: 16px solid #fbaf5d;
                        border-bottom: 10px solid transparent;
                        border-top: 10px solid transparent;
                    }

                    &.refuse{
                        background-color: #33739b;
                        .triangle {
                            border-right: 16px solid #33739b;
                        }
                    }

                    &.service-in{
                        background-color: #6fc5c1;
                        .triangle {
                            border-right: 16px solid #6fc5c1;
                        }
                    }
                }
            }
            .issue-info{
                margin-left: 32px;
                span{
                    margin-right: 15px;
                }
            }
        }
    }
    .service-result{
        padding: 10px 0;
        .apply-school-span{
            margin-right: 1.0em;
            display: inline-block;
            padding: 5px 20px;
            border: 1px solid #d1d1d1;
            background: #FFF;
            text-align: center;
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }
</style>
