<template>
    <router-view></router-view>
</template>

<script>

    export default{
        data(){
            return{
            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    $color: #d52045;
    $bg-gray: #d1d1d1;
    $color-gray: #8a8a8a;
    .right-container{
        display: inline-block;
        width: 100%;
        padding: 20px 40px;
    }
    .service-h2{
      color: $color;
      font-size: 25px;
      margin: 20px 0;
      line-height: 1.3em;
      @at-root .service-icon{
        display: inline-block;
        width: 38px;
        height: 35px;
        margin-right: 10px;
        vertical-align: bottom;
        &.strategy-icon{
            background: url("../../images/strategy.png") no-repeat center center;
        }
        &.start-icon{
            background: url("../../images/airplane.png") no-repeat center center;
        }
        &.up-icon{
            background: url("../../images/up.png") no-repeat center center;
        }
        &.page-icon{
            background: url("../../images/page.png") no-repeat center center;
        }
        &.network-icon{
            background: url("../../images/page_ico.png") no-repeat center center;
        }
        &.ccie-icon{
            background: url("../../images/ccie.png") no-repeat center center;
        }
        &.downAirplane-icon{
            background: url("../../images/down-airplane.png") no-repeat center center;
        }
        &.finish-icon{
            background: url("../../images/finish.png") no-repeat center center;
        }
        &.survey-icon{
            background: url("../../images/survey.png") no-repeat center center;
        }
      }
    }
    .inputGroup{
        position: relative;
        margin-bottom: 25px;
        label{
            font-weight: normal;
            vertical-align: middle;
            margin-right: 20px;
        }
        input, select{
            border: 1px solid $bg-gray;
            border-radius: 0;
            -webkit-appearance: none;
            vertical-align: middle;
            position: relative;
        }
    }
    .strategy-title{
        margin-bottom: 10px;

        h4{
            display: inline-block;
            i{
                font-size: 20px;
                margin-right: 2px;
                color: $bg-gray;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        span{
            float: right;
            margin: 10px 0;
            color: $color;
        }
    }
    .strategy-content{
        margin-left: 25px;
        margin-bottom: 30px;

        textarea{
            width: 100%;
            resize: none;
        }
    }

    .badge-default {
        background-color: $color;
    }
</style>
