<template>
    <div class="container quiz-cont">
        <div class="breadcrumb text-center">
            <a href="javascript:;" @click="$router.go(-1)" class="arrow"><i class="iconfont icon-leftArrow"></i></a>
            <a href="javascript:;" @click="$router.go(-1)" class="gray">问题解答服务({{parameter.meetingStatus[form.status]}})</a>&nbsp;&gt;&nbsp;提问
        </div>
        <div class="quiz-content">
            <div class="quiz-title text-center main-color">{{ form.theme }}</div>
            <form class="quiz-form" @submit.prevent="submit">
                <div class="form-group row">
                    <label class="control-label col-md-1">提问者</label>
                    <div class="form-quiz-span col-md-11" v-if="form.user"><span><router-link :to="{name:'Service.AuditingUser',params:{id: form.user.id}}" class="main-color">{{form.user.nickname ? form.user.nickname : '匿名'}}</router-link></span> <span v-if="form.user.education">{{form.user.education.school}} | {{form.user.education.specialty}} | {{form.user.education.degree}}</span></div>
                </div>
                 <div class="form-group row">
                    <label class="control-label col-md-1">提交日期</label>
                    <div class="form-quiz-span col-md-11"><span>{{ created }}</span></div>
                </div>
                <div class="form-group row" v-if="form.calendar">
                    <label class="control-label col-md-1">预约</label>
                    <div class="form-quiz-span col-md-11">
                        {{ getTimeFormat(form.calendar.date, form.calendar.hour, form.calendar.period) }}
                    </div>
                </div>
                <hr/>
                <div class="form-group row">
                    <div class="form-quiz-span col-md-12"><span>{{form.description}}</span></div>
                </div>
                <hr/>
                <div class="form-group row" v-if="form.mode == '语音会议' && form.status =='untake'">
                    <h5 class="col-md-12 text-center">请从下面的预约时间候选中选择最终的会议时间</h5>
                    <div class="form-quiz-span col-md-12">
                        <select class="form-control" v-model="form.calendar_id">
                            <option v-for="i in form.session" :value="i.id">{{ getTimeFormat(i.date, i.hour, i.period) }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" v-if="form.status != 'refuse' && form.status != 'untake' && form.mode == '语音会议'">
                    <h5 class="col-md-12 text-center" v-if="form.status =='service-in'">请从下面输入实际的会议时长和对此问题的回复</h5>
                    <div class="form-quiz-span col-md-12">
                        <Range v-model="form.duration" :max="120" :unit="'分'" :disableds="form.status != 'service-in'"></Range>
                    </div>
                </div>
                <div class="form-group row" v-if="form.status == 'service-in'">
<!--                     <label class="control-label col-md-1">解答</label> -->
                    <h5 class="col-md-12 text-center" v-if="form.mode == '在线回复' && form.status =='service-in'">请从下面输入对此问题的回复</h5>
                    <div class="form-quiz-span col-md-12">
                        <textarea rows="10" class="form-control" placeholder="输入解答" v-model="form.answer"></textarea>
                    </div>
                </div>
                <div class="form-group row" v-if="form.status == 'resolve'">
                    <label class="control-label col-md-1">解答</label>
                    <div class="form-quiz-span col-md-11">
                        {{form.answer}}
                    </div>
                </div>
                <div class="form-group row" v-if="form.status == 'refuse'">
                    <label class="control-label col-md-1">拒绝原因</label>
                    <div class="form-quiz-span col-md-11 gray">
                        {{form.remark}}
                    </div>
                </div>
                <div class="form-group text-center quiz-button">
                    <button class="btn border-main-color" onclick="window.history.go(-1)" v-if="form.status == 'service-in'">取消</button>
                    <button class="btn bg-main-color" type="submit" v-if="form.status == 'untake'" @click="form.operation='service-in'">受理</button>
                    <button class="btn bg-main-color" type="submit" v-if="form.status == 'service-in'" @click="form.operation='resolve'">结束</button>
                    <button class="btn bg-blue-color" type="button" @click="refuse" v-if="form.status == 'untake'">拒绝</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="babel">
    import Range from '../../components/Range.vue'
    import parameter from '../../config/parameter'

    export default{
        mixins: [require('./Issue/common').default],
        components:{
            Range
        },
        data(){
            return{
                parameter,
                form:{
                    operation: null,
                    status: null,
                    remark: null
                }
            }
        },
        computed: {
            statusTranslate(){
                let map = {
                    'untake'      : '未受理服务请求',
                    'service-in'   : '处理服务请求',
                    'resolve'      : '已解答服务',
                    'refuse'       : '已拒绝服务',
                };
                return map[this.form.status];
            },
            created(){
                return this.form.created_at ? this.form.created_at.substr(0,10) : '';
            }
        },
        created(){
            this.getData()
        },
        methods:{
            getData(){
                let query = {
                    with:[
                        'user.education',
                        'calendar'
                    ]
                };
                this.$http.get('meetings/'+this.$route.params.id, {
                    params: query
                }).then((r)=>{
                    this.form = r.body
                });
            },
            submit(){
                this.$http.put('meeting/tutor/'+this.$route.params.id,
                    this.form
                ).then((r)=>{
                    let title = this.form.operation == 'service-in' ? '受理成功' : '回复成功';
                    let msg = '请点击 "确定" 按钮关闭此对话框。';
                    if(r.data.status == 'error') {
                        title = '受理失败',
                        msg = r.data.msg
                    }
                    if(this.form.mode == '语音会议' || this.form.operation == 'resolve') {
                        $.alert({
                            title: title,
                            content: msg,
                            autoClose: 'ok|3000',
                            backgroundDismiss: true,
                            buttons: {
                                ok: {
                                    text: '确定',
                                    action: () => {
                                        if(r.data.status != 'error'){
                                            this.$router.push({
                                            name: 'Admin.quiz',
                                            params: {status: this.form.operation}
                                        });
                                        }
                                    }
                                },
                            },
                        });
                    } else {
                        $.alert({
                            title: title,
                            content: '是否立即回复提问？',
                            buttons: {
                                close:{
                                    btnClass: 'bg-white',
                                    text: '稍后回复',
                                    action: () => {
                                        this.$router.push({
                                            name: 'Admin.quiz',
                                            params: {status: this.form.operation}
                                        });
                                    }
                                },
                                ok: {
                                    text: '立即回复',
                                    action: () => {
                                        this.$router.push({
                                            name: 'Service.quizInfo',
                                            params: {
                                                id: this.$route.params.id,
                                                status: this.form.operation
                                            }
                                        });
                                    }
                                },
                            },
                        });
                    }
                }, (response) => {
                    let error = [];
                    $.each(response.data, (k,v)=>{
                        error = v[0].split('-');
                        return false;
                    });
                    $.alert({
                        title: error[1] ? error[1] :'操作提示',
                        content: error[0],
                    });
                });
            },
            refuse(){
                let o = this;
                this.form.operation='refuse';
                $.confirm({
                    title: '拒绝原因',
                    content: '<div class="form-group"><textarea rows="4" class="form-control" id="remark" placeholder="请填写拒绝原因"></textarea></div><p class="text-danger" style="display:none">&nbsp;&nbsp;拒绝原因必须填写</p>',
                    buttons: {
                        close:{
                            btnClass: 'bg-white',
                            text: '取消',
                        },
                        ok: {
                            text: '拒绝',
                            action: function () {
                                var input = this.$content.find('#remark');
                                var errorText = this.$content.find('.text-danger');
                                if (input.val() == '') {
                                    errorText.show();
                                    return false;
                                } else {
                                    o.form.remark = input.val();
                                    o.$http.put('meeting/tutor/'+o.$route.params.id,
                                        o.form
                                    ).then((r)=>{
                                        if(r.data.status != 'error'){
                                            o.$router.push({
                                                name: 'Admin.quiz',
                                                params: {status: o.form.operation}
                                            });
                                        }
                                    });
                                }
                            }
                        }
                    }
                });
            }
        },
        watch: {
            '$route' (to, from) {
                this.getData();
            }
        },
    }
</script>

<style lang="scss" scoped>
    $color: #d52045;
    $bg-gray: #d1d1d1;
    $color-gray: #8a8a8a;
    .bg-blue-color{
        background: #33739b;
        color: #FFF;
    }
    .quiz-cont{
        padding: 80px 0;
    }
    .breadcrumb {
        position: relative;
        height: 48px;
        line-height: 48px;
        margin-bottom: 3em;
    }
    a.gray {
        color: #999;
    }

    .quiz-title{
        margin-bottom: 4em;
        font-size: 18px;
    }
    .form-group{
        margin-bottom: 25px;
    }
    .form-quiz-span{
        span{
            margin-right: 10px;
        }
        label{
            margin-right: 5em;
            color: #727272;
            input{
                margin-right: 10px;
            }
        }
    }
    .quiz-button{
        margin-top: 8em;
        button{
            width: 8em;
            margin-right: 10px;
        }
    }
</style>
