<template lang="html">
    <div class="service-apply">
        <div class="explain">
            <div class="desc container">
                <h4><span v-if="form.study_abroad_applies && form.study_abroad_applies.id">修改</span><span v-else>提交</span>留学意愿与个人背景</h4>
                <p>问路石全球专家团队将基于您的服务意愿与个人背景在三个工作日内提供专业的留学前景评估。</p>
                <a class="main-color" href="javascript:;" @click="protocol('个人信息保密承诺书')">《个人信息保密承诺书》</a>
            </div>
        </div>

        <form class="container form-horizontal" @submit.prevent="submit" v-if="form">
            <study-abroad-intention :value="form.study_abroad_applies"></study-abroad-intention>
            <exam-results :value="form.user_exams"></exam-results>
            <personal-information :value="form.user"></personal-information>
            <educations :value="form.user_educations"></educations>
            <experiences :value="form.user_experiences"></experiences>
            <skills :value="form.user_skills"></skills>
            <other-information :value="form.user_supplements"></other-information>

            <div class="text-center submit">
                <button class="btn border-main-color" onclick="window.history.go(-1)" :disabled="busy" type="button">取消</button>
                <button class="btn bg-main-color" v-if="!this.form.study_abroad_applies || !this.form.study_abroad_applies.status" :disabled="busy" type="submit" @click="action_type = 'save'">保存草稿</button>
                <button class="btn bg-main-color" :disabled="busy" type="submit" @click="action_type = 'submit'">提交</button>
            </div>
        </form>
    </div>
</template>

<script lang="babel">
    import {mapGetters, mapActions} from 'vuex'

    import StudyAbroadIntention from '../../components/UserForm/StudyAbroadIntention.vue'
    import PersonalInformation from  '../../components/UserForm/PersonalInformation.vue'
    import Experiences from '../../components/UserForm/Experiences.vue'
    import Educations from '../../components/UserForm/Educations.vue'
    import ExamResults from '../../components/UserForm/ExamResults.vue'
    import Skills from '../../components/UserForm/Skills.vue'
    import OtherInformation from '../../components/UserForm/OtherInformation.vue'

    export default{
        mixins: [require('./../My/survey').default],
        components: {
            StudyAbroadIntention,
            PersonalInformation,
            Educations,
            Experiences,
            Skills,
            ExamResults,
            OtherInformation,
        },
        created(){
            this.fetchData();
        },
        mounted(){
        },
        data(){
            return {
                busy: false,
                form: {},
                action_type: null
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        methods:{
            ...mapActions([
                'refreshUser',
            ]),
            protocol(title){
                $.alert({
//                    content: 'url:text.txt',
                    content: `<div>任何用户向问路石所提供的个人资料属于保密信息，问路石将依据以下条款认真履行其保密职责：</div><div class="cont-list"><div><span>自知悉保密信息之日起，采取有效措施持有并保护该保密信息的安全和秘密性。</span></div><div><span>仅将保密信息用于向个人提供髙质量服务的必要范围；未经个人书面同意，不以任何方式将保密信息用于上述用途以外的任何事项。</span></div><div><span>将制定专门和人员负责保密信息查询工作，并制定严格的查询规定和明确的工作职责；未经个人书面同意，不以任何方式向任何单位、个人泄露保密信息。 如发现保密信息被用于问路石服务用途以外或被泄露，将立即采取有效措施防止泄露进一步扩大，并以书面形式及时通知个人。</span></div><div><span>违反上述保密承诺的，将立即采取有效措施停止泄密行为和消除影响。</span></div></div>
`,
                    title: title,
                    columnClass: 'col-md-12',
                    buttons: {
                        ok: {
                            text: '我知道了',
                        },
                    }
                });
            },
            submit(){
                this.busy = true;
                let form = {
                    action_type: this.action_type,
                    action: 'apply'
                };
                Object.assign(form, this.form);
                this.$http.post('my/study-abroad', form).then((response)=> {
                    if(!this.user.name && !this.user.phone){
                        this.doSurvey('Service')
                        this.refreshUser();
                    } else {
                        $.alert({
                            title: '保存成功',
                            content: '请点击 "确定" 按钮关闭此对话框。',
                            autoClose: 'ok|3000',
                            backgroundDismiss: true,
                            buttons: {
                                ok: {
                                    text: '确定',
                                    action: () => {
                                        this.refreshUser();
                                        this.$router.push({
                                            name: 'Service',
                                        });
                                    }
                                },
                            },
                        });
                    }
                }).finally(() => {
                    this.busy = false
                });
            },
            setFormData(data){
                let form = {};
                $.each(data, (k,v)=>{
                    if(!v){
                        v = {}
                    }
//                    if(Array.isArray(v) && v.length == 0){
//                        v.push({})
//                    }
                    form[k] = v;
                });
                this.$set(this, 'form', form);
            },
            fetchData () {
                this.$http.get('my/study-abroad').then((response)=> this.setFormData(response.data));
            }
        },
    }
</script>

<style lang="scss">
    .service-apply {

        .submit{
            padding: 50px 0 50px 0;
        }

        .explain {
            background: url('../../images/apply-bg-01.jpg');
            padding-top: 80px;
            padding-bottom: 30px;
            a{
                margin-left: -5px;
            }
        }
    }
</style>
