<template>
    <div>
        <div class="container study-contents">
            <div class="breadcrumb text-center">
                <router-link :to="{name: 'Service'}">服务站</router-link>&nbsp;>
                留学申请服务
            </div>
            <div class="row page-title text-center">
                <div class="title main-color">
                    Application for Study Abroad Service
                </div>
                <h5 class="subtitle col-xs-offset-3 col-xs-6">
                    问路石教育为有志于留学美国、加拿大、澳大利亚、欧洲等国家的学员提供导师制一站式服务，所覆盖的留学申请类型包活本科、研究生、访问学者、本科转学等
                </h5>
            </div>
            <br><br><br>
            <hr>
            <br><br><br>
            <div class="row text-center">
                <p>问路石全球专家团队将基于您的服务意愿与个人背景在三个工作日内提供专业的留学前景评估。</p>
                <!-- <router-link :to="{name: 'StudyAbroadForm'}" class="btn bg-main-color study-abroad-button">免费留学前景评估</router-link> -->
                <a @click="toApply()" class="btn bg-main-color study-abroad-button">免费留学前景评估</a>
            </div>
            <br><br><br>
        </div>
        <div class="service-area bg-t2">
            <div class="page-title text-center">
                <div class="title main-color">SERVICE CATALOG</div>
                <div class="subtitle">全面的服务项目与多场景服务范围，满足用户多样化的留学申请需求</div>
            </div>
            <div class="area-content">
                <div class="area-items">
                    <h4>全要素服务项目</h4>
                    <table>
                        <thead>
                            <tr>
                                <td>前景评估</td>
                                <td>选校辅导</td>
                                <td>背景提升</td>
                                <td>写作培训</td>
                                <td>文书创作</td>
                                <td>学校申请</td>
                                <td>奖学金申请</td>
                                <td>签证培训</td>
                                <td>留学第一年</td>
                                <td>圆桌会议</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>基于个人背景分析<br/>留学意愿实现<br/>难易度</td>
                                <td>院校选择<br/>专业选择<br/>教授选择<br/>（8-10所）</td>
                                <td>论文发表<br/>暑假实习</td>
                                <td>论文写作培训<br/>文书写作培训</td>
                                <td>内容策划与<br/>写作翻译与润色<br/>(全套/自选）</td>
                                <td>网络申请递交<br/>邮寄申请材料<br/>申请面试指导<br/><a href="javascript:;" class="main-color" @click="showGuarantee">(关于录取保证)</a></td>
                                <td>引荐教授<br/>沟通指导</td>
                                <td>材料准备培训<br/>面试培训</td>
                                <td>生活指导<br/>学业指导</td>
                                <td>在线或语音咨询</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="area-items">
                    <h4>多场景服务范围</h4>
                    <table class="area-tables">
                        <thead>
                            <tr>
                                <td>服务范围</td>
                                <td>前景评估</td>
                                <td>选校辅导</td>
                                <td>背景提升</td>
                                <td>写作培训</td>
                                <td>文书创作</td>
                                <td>学校申请</td>
                                <td>奖学金申请</td>
                                <td>签证培训</td>
                                <td>留学第一年</td>
                                <td>圆桌会议</td>
                                <td width="200px">目标用户</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>综合留学申请</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td>10小时</td>
                                <td>提前一年<br/>具有较好的学习和科研基础<br/>追求卓越</td>
                            </tr>
                            <tr>
                                <td>基础留学申请</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td>提前3个月<br/>具有一定的学习与科研基础</td>
                            </tr>
                            <tr>
                                <td>文书点石成金</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>10小时</td>
                                <td>DIY申请，提前6个月<br/>希望系统提升英语写作技能<br/>希望获得选校建议</td>
                            </tr>
                            <tr>
                                <td>文书基础写作</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>DIY申请，提前3个月<br/>希望获得选校建议</td>
                            </tr>
                            <tr>
                                <td>文书加急写作</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>DIY申请，提前1个月<br/>无法及时完成文书准备</td>
                            </tr>
                            <tr>
                                <td>策略规划与申请指导</td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="glyphicon glyphicon-ok"></i></td>
                                <td></td>
                                <td>10小时</td>
                                <td>DIY申请<br/>具有良好的英文写作技能</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center service-area-more">
                    <a class="main-color" @click="showDialog()">您是否了解公益项目-寒门雄鹰助飞计划？</a>
                </div>
            </div>
        </div>
        <div class="instructor-team">
            <div class="page-title text-center">
                <div class="title main-color">MENTOR TEAM</div>
                <div class="subtitle">来自全球顶级院校、企业、研究机构的专家构建起问路石的留学服务导师团队</div>
            </div>
            <div class="carousel-box" v-if="tutors && tutors.length > 0">
                <owl-carousel-slide-gallery :items="1">
                    <div class="item" v-for="v in chunk(tutors, 5)">
                        <router-link :to="{name:'Service.AuditingUser',params:{id: i.id}}" class="inst-items" v-for="i in v">
                            <img :src="i.avatar" alt="">
                            <div class="inst-info">
                                <div class="inst-name">{{i.nickname ? i.nickname : '匿名'}}</div>
                                <div class="inst-job" v-if="i.education">{{i.education.school}}| {{i.education.specialty}} | {{i.education.degree}}</div>
                                <div class="inst-detail" v-if="i.experience">{{i.experience.company}} | {{i.experience.position}}</div>
                            </div>
                        </router-link>
                    </div>
                </owl-carousel-slide-gallery>
            </div>
            <div class="inst-bg"></div>
        </div>
        <div class="success-case container">
            <div class="page-title text-center">
                <div class="title main-color">success case</div>
                <div class="subtitle">100%的付出，100%的成功</div>
            </div>
            <div class="row tab-item">
                <div class="col-xs-4 study-table" v-for="i in cases">
                    <div class="study-table-cell">
                        <img :src="i.school.logo ? i.school.logo : 'http://og9i0ercv.bkt.clouddn.com/schools_logo/placeholder.png?imageView2/1/w/128/h/128'" alt="">
                    </div>
                    <div class="study-table-cell study-table-txt">
                        <h4>{{i.school.name}}</h4>
                        <div><span>{{i.rows}}</span>个案例</div>
                    </div>
                </div>
                <div class="col-xs-12 text-center view-more">
                    <router-link :to="{name: 'case', params:{id:$route.params.id}}" class="btn bg-main-color">查看案例</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import OwlCarouselSlideGallery from '../../components/OwlCarouselSlideGallery.vue'

    export default{
        components:{
            OwlCarouselSlideGallery
        },
        mounted(){
            $(this.$el).find('.carousel-box').on('mouseover', '.inst-items', function (){
                $(this).addClass('inst-active').siblings().removeClass('inst-active');
            })
        },
        created(){
            this.fetch()
        },
        data(){
            return{
                tutors: [],
                cases: {},
                tab_active_index: 1
            }
        },
        methods:{
            chunk(array, size){
                let result = [];
                for (let i = 0, len = array.length; i < len; i += size) {
                    result.push(array.slice(i, i + size));
                }
                return result;
            },
            fetch(){
                this.$http.get('study-abroad-detail',{
                    params: {'service' : '留学服务'}
                }).then((r)=>{
                    let data = r.data;
                    this.tutors = data.tutors;
                    this.cases = data.cases;
                });
            },
            toApply(){
                sessionStorage.setItem('BeforeLoginName', '/service/study-abroad-form')
                this.$router.push('/service/study-abroad-form');
            },
            showDialog(){
                $.alert({
                    content: `<p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	问路石教育的创始人大多来自于中国农村贫寒家庭，有感于网络文章“寒门再难出贵子”，公司决议面向高校推广实施公益性质的寒门雄鹰助飞计划，为来自于贫困家庭的有志于出国留学发展的优秀学子提供每月餐饮补助，暑假带薪实习，并资助各项英语标准化考试和国外大学申请费，免费提供北美专家科研辅导和留学咨询。寒门雄鹰助飞计划现向全国各大高校在读大二大三年级学生开放接受奖学计划申请。</p><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	申请者要求:</p><ul style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	<li>		目前本科GPA 3.6/4.0 以上	</li>	<li>		大学英语等级考试成绩600/710以上	</li>	<li>		个人有强烈出国深造意愿并愿意接受指导	</li>	<li>		家庭年收入低于所在省市贫困线	</li></ul><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	问路石教育将为每位入选者提供总额高达8万元的礼包资助，具体如下：</p><ul style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	<li>		大学本科期间每月150元餐饮补助	</li>	<li>		暑期带薪实习，由北美名校导师指导项目	</li>	<li>		提供校园或校际Leadership Program	</li>	<li>		支助北美申请所需英语标准化考试费用（提供两次机会达标）	</li>	<li>		北美大学申请费（最多8所）	</li>	<li>		北美留学专家团队指导文书写作	</li>	<li>		留学抵达美国的后续学术和职业发展规划	</li></ul><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	申请者将以下文件发至问路石教育公益事业部邮箱: jonathan.zhao@winnersacademic.com</p><p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	请在邮件标题注明“寒门雄鹰助飞计划申请 –所在院校和姓名“</p><ul style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">	<li>		个人最新简历	</li>	<li>		学业计划陈述一封（中英文皆可），要求详细阐述申请者到美国留学的学习动机和目标	</li>	<li>		高考成绩单，大学录取通知书，和目前大学本科成绩单复印件	</li>	<li>		所获学术竞赛奖项复印件	</li></ul>`,
                    title: '公益项目 - 寒门雄鹰助飞计划',
                    columnClass: 'col-md-12',
                    buttons: {
                        ok: {
                            text: '我知道了',
                        },
                    }
                });
            },
            showGuarantee(){
                $.alert({
                    content: `<p style="color:#333333;font-family:Arial, sans-serif;font-size:14px;background-color:#FFFFFF;">只要问路石教育协助申请人获得双方商定所选学校名单（《选校补充协议》）内任何一所学校的录取，则视为申请成功。如果申请人未收到《选校补充协议》内任何一所学校的录取，应申请人要求终止合同，问路石教育退还申请人所缴纳的全部留学服务费用；或应申请人要求，问路石教育将按照合同服务条款为申请人免费提供下一年度的申请工作。</p>`,
                    title: '关于录取保证',
                    columnClass: 'col-md-6 col-md-offset-3',
                    buttons: {
                        ok: {
                            text: '我知道了',
                        },
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .item{
        .inst-items{
            width: 20%;
            float: left;
        }
    }
    .study-contents{
        padding-top: 70px;
    }
    .service-area {
        padding: 50px 0;
    }
    .instructor-team{
        position: relative;
        width: 100%;
        padding: 4em 0;
    }
    .subtitle{
        line-height: 2;
    }
    .success-case{
        padding-bottom: 50px;

        .tab-nav{
            padding: 50px 0;

            a{
                font-size: 16px;
                padding: 5px;
                margin: 10px;

                &.is-active{
                    color: #da244f;
                    border-bottom: 3px #da244f solid;
                }
            }
        }
        .tab-item{
            margin: 6em 0 8em 0;
            > .col-xs-4{
                padding: 15px;
                border: 1px solid #ccc;
                margin-right: -1px;
                margin-top: -1px;

                img{
                    max-width: 7em;
                    height: 7em;
                    // border-radius: 100%;
                }
            }
            .view-more{
                padding-top: 50px;
            }
        }
    }
    .study-table{
        display: table;
        text-align: center;
        .study-table-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
                // width: 100%;
            }
            &:first-child{
                width: 33%;
                padding-right: 1em;
            }
        }
        .study-table-txt{
            text-align: left;
            font-size: 16px;
            h4{
                font-size: 16px;
            }
            span{
                color: #d52045;
            }
        }
    }
    .study-abroad-button{
        margin:  40px 0 0 0;
    }
    .carousel-box .owl-item{
        padding: 0!important;
        height: 297px;
        overflow: hidden;
        img{
            height: 14em;
            transition: all 0.3s ease;
        }
    }
    .carousel-box{
        width: 1100px;
        margin: 6em auto;
    }
    .inst-bg{
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('../../images/inst-bg.png') no-repeat center center;
        width: 100%;
        height: 241px;
        z-index: -1;
    }
    .inst-info{
        background: #FFF;
        border: 1px solid #ebebeb;
        border-top: 0;
        padding: 1em;
        line-height: 2;
        height: 13em;
    }
    .inst-name{
        font-size: 16px;
    }
    .inst-detail{
        opacity: 0;
        font-size: 13px;
        line-height: normal;
        transition: all 0.3s ease;
    }
    .inst-active{
        img{
            height: 11em!important;
        }
        .inst-detail{
            opacity: 1;
        }
    }
    .area-content{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        .area-items{
            margin: 3em 0;
            h4{
                margin: 1em 0;
            }
        }
        table{
            width: 100%;
        }
        thead{
            background: #e07d92;
            color: #FFF;
            height: 2em;
            tr{
                height: 50px;
            }
        }
        tbody{
            tr{
                td{
                    border: 2px solid #e9e3e6;
                    border-top: 0;
                    background: #FFF;
                    padding: 20px 0;
                    font-size: 13px;
                    vertical-align: top;
                    background: rgba(255, 255, 255, 0.588);
                    a{
                        text-decoration: underline!important;
                    }
                }
            }
        }
        .service-area-more{
            text-decoration: underline!important;
            margin: 4em 0 0 0;
        }
        .area-tables{
            tbody{
                tr{
                    td{
                        vertical-align: middle;
                        padding: 0;
                        border: 0;
                        border-bottom: 2px solid #e8e2e3;
                        height: 75px;
                        i{
                            color: #7e7e7e;
                            font-size: 20px;
                        }
                        &:first-child{
                            color: #d52045;
                            background: rgba(218, 36, 79, 0.102);
                            border: 0;
                            font-weight: 500;
                        }
                        &:nth-last-child(1),&:nth-last-child(2){
                            border: 2px solid #e9e3e6;
                            border-top: 0;
                            border-right: 0;
                            border-bottom: 2px solid #e8e2e3;
                        }
                    }
                }
            }

        }
    }
</style>
