<template>
    <div id="app">
        <div class="days">
            <div class="week" v-for="i in 7">{{ getWeek(i, 'short') }}</div>
            <div class="day" :class="{'has-set':chunk(i).length > 0}" v-for="(i, index) in days_list" @click="fecth(i, index)">
                <span v-if="i.d == 1" class="month-tip">{{ i.m }}月</span>
                <div :class="{'current':index==_index}">
                {{ i.d }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        props:['arr'],
        data () {
            return {
                _index: null,
                value: moment().format(this.format),
                format: 'YYYY-MM-DD', //http://momentjs.com/docs/#/displaying/format/
                days_list: []
            }
        },
        created: function () {
            moment.locale('zh-cn');
            // if (!this.moment_value.isValid()) {
            //     this.value = moment().format(this.format)
            // }
            // this._index = moment(this.value, this.format).format('d');
            this.fecth({
                    y: this.moment_value.format('Y'),
                    m: this.moment_value.format('M'),
                    d: this.moment_value.format('D'),
                    w: this.moment_value.format('dddd')
            },moment(this.value, this.format).format('d'))

        },
        computed: {
            moment_value: function () {
                return moment(this.value, this.format)
            }
        },
        watch: {
        },
        methods: {
            fecth(item, index){
                this._index = index
                this.value = moment(this.value, this.format);
                this.daysList();

                this.$emit('change', {
                    date: item.y+'-'+this.dateFormat(item.m)+'-'+this.dateFormat(item.d),
                    week: item.w
                });
            },
            chunk(item){
                let result = [];
                let date = item.y+'-'+this.dateFormat(item.m)+'-'+this.dateFormat(item.d);
                $.each(this.arr, (k, v)=>{
                    if(v.date == date){
                        result.push(v)
                    }
                });
                return result;
            },
            dateFormat(i){
                return String(i).length == 1 ? '0'+i : i ;
            },
            daysList(){
                this.days_list = [];
                let current_day = this.moment_value;
                const current_month = current_day.format('M');//当月

                const current_first_day_week_number = current_day.format('d');

                if(current_first_day_week_number != 0){
                    for (let i=0;i<current_first_day_week_number;i++){
                        //current_day.subtract(1, 'days');
                        this.days_list.push({});
                    }
                }

                for(let i = 1;i<=31;i++){
                    this.days_list.push({
                        y: current_day.format('Y'),
                        m: current_day.format('M'),
                        d: current_day.format('D'),
                        w: current_day.format('dddd')
                    });
                    current_day.add(1, 'days');
                }
            },
            getWeek: function (n, type = null) {
                moment.locale('en');
                let ret_data = [];
                n -= 1;
                switch (type) {
                    case 'short':
                        //ps:周日_周一_周二_周三_周四_周五_周六
                        ret_data = moment.weekdaysShort()
                        break;
                    case 'min':
                        //ps:日_一_二_三_四_五_六
                        ret_data = moment.weekdaysMin()
                        break;
                    default:
                        //ps:星期日_星期一_星期二_星期三_星期四_星期五_星期六
                        ret_data = moment.weekdays()
                        break;
                }
                return ret_data[n]
            }
        }

    }
</script>

<style lang="scss">
    $color: #da244f;
    .display {
        text-align: center
    }

    .days {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        cursor: pointer;
        position: relative;
    }

    .days > div {
        box-sizing: border-box;
        flex: 0 0 auto;
        flex-basis: calc(100% / 7);
        max-width: calc(100% / 7);

        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        position: relative;
        .month-tip{
            position: absolute;
            top: -5px;
            left: 9px;
            font-size: 8px;
            display: inline-block;
            width: 30px;
            height: 15px;
            line-height: 15px;
            border-radius: 5px;
            background-color: $color;
            color: #fff;
        }
        .current {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -15px;
            margin-top: -15px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            color: white;
            border-radius: 50%;
            background-color: $color;
        }
    }
    .days > div.day.has-set {
        color: $color;
        font-weight: bolder;
    }
    // .days > div.day.current {
    //     position: absolute;
    //     left: 50%;
    //     margin-left: -25px;
    //     width: 25px;
    //     height: 25px;
    //     color: white;
    //     border-radius: 50%;
    //     background-color: $color;
    // }
</style>
