<template>
    <div class="calendar-box">
        <div class="calendar-head">
            <div class="calendar-title">
                <span>导师日历</span>
                <div class="calendar-close">
                    <i class="iconfont icon-close main-color" @click="close"></i>
                </div>
            </div>
        </div>
        <div class="calendar-content">
            <div>
                <div class="tips yellow-color">请选择三段开放时间以提高达成预约的可能性。
                </div>
                <div>
                    <datepicker :arr="data_hours" @change="changeDate"></datepicker>
                </div>
            </div>
           <!--  <div class="btn-group dropdown" role="group">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ parameter.timeZone[time_zone] }}
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0)" v-for="(v, index) in parameter.timeZone" :value="index" @click="changeTimeZone(index)">{{ v }}</a></li>
                </ul>
            </div> -->
            <div class="calendar-date">开放时间:{{ monthDay }} {{ date.week }}</div>
            <div class="calendar-list">
                <div class="calendar-item" v-for="i in date_arr">
                    <span class="left" :title="getTitle(i.hour, i.period)">{{ setHour(i.hour, i.period) }}</span>
                    <span class="right"><button class="btn bg-main-color" @click="add(i)">选择</button></span>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="babel">
    import datepicker from './datepicker.vue'
    import parameter from '../../config/parameter'

    export default{
        mixins: [require('./common').default],
        components:{
            datepicker
        },
        created(){
            this.getData()
        },
        props: ['tutorId'],
        data(){
            return{
                parameter,
                time_zone: 'America',
                date: {},
                data_hours: []
            }
        },
        computed:{
            monthDay(){
                return this.date && this.date.date ? this.date.date.substr(5, 5) : "";
            },
            date_arr(){
                let result = [];
                let date = this.date.date;
                $.each(this.data_hours, (k, v)=>{
                    if(v.date == date){
                        result.push(v)
                    }
                });
                return result;
            }
        },
        methods:{
            changeTimeZone(index){
                this.$set(this, 'time_zone', index);
            },
            add(time){
                this.data_hours.splice(this.data_hours.indexOf(time), 1);
                this.$emit('add', time);
                // this.close();
            },
            getData(){
                this.$http.get('calendars',{
                    params: {'tutorId': this.tutorId}
                }).then((r)=>{
                    this.data_hours = r.data
                });
            },
            changeDate(date){
                if(date) {
                    this.$set(this, 'date', date);
                }
            },
            setHour(hour, period){
                let v = Number(hour)+1;
                let next_hour = (String(v).length == 1 ? '0'+v : v );
                return hour+':00 '+period+' - '+next_hour+':00 '+period;
            }
        }
    }
</script>

<style lang="scss">
    $color: #da244f;
    $color-yellow: #fde35b;

    .bg-yellow-color{
        background-color: $color-yellow;
        color: $color;
        border: 1px solid $color !important;
    }

    .yellow-color{
        background-color: $color-yellow;
    }

    .calendar-box{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 9999;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);
        overflow-y: auto;
        .calendar-head{
            margin-bottom: 20px;
            margin-left: 10px;
            .calendar-title{
                margin: 20px 0 25px 0;
                font-weight: bold;
                span{
                    display: inline-block;
                    width: 48%;
                    font-size: 24px;
                }
                .calendar-close{
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 28px;
                    }
                }
            }
        }
        .calendar-content{
            .tips{
                padding: 10px 10px;
            }
            .calendar-date{
                background: $color;
                padding: 15px 10px;
                color: #fff;
                font-size: 18px;
            }
            .calendar-list{
                padding: 0 15px;
               .calendar-item{
                    position: relative;
                    border-bottom: 1px solid #ccc;
                    height: 60px;
                    line-height: 60px;
                    span{
                        position: absolute;
                        &.left{
                            left: 10px;
                        }
                        &.right{
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
</style>