<template>
    <div class="calendar-box">
        <div class="calendar-head">
            <div class="calendar-title">
                <span>我的日历</span>
                <div class="calendar-close">
                    <i class="iconfont icon-close main-color" @click="close"></i>
                </div>
            </div>
        </div>
        <div class="calendar-content">
            <div>
                <div class="zone-time">
                    开放时间
                    <!-- <span class="time-zone-select">
                        <div class="btn-group dropdown" role="group">
                            <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ parameter.timeZone[time_zone] }}
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="javascript:void(0)" v-for="(v, index) in parameter.timeZone" :value="index" @click="changeTimeZone(index)">{{ v }}</a></li>
                            </ul>
                        </div>
                    </span> -->
                </div>
                <div class="tips yellow-color" v-if="is_show && data_hours.length > 0">
                    <p>设置已改变，请点击”保存“按钮。</p>
                    <div class="text-right">
                        <button class="btn bg-yellow-color" @click="close">取消</button>
                        <button class="btn bg-main-color" @click="submit">保存</button>
                    </div>
                </div>
                <div>
                    <datepicker :arr="data_hours" @change="changeDate"></datepicker>
                </div>
            </div>
            <table class="day-list">
                <tbody>
                    <tr>
                        <td class="bg-main-color"></td>
                        <td colspan="2" class="bg-pink-color date">{{ date.date }} {{ date.week }}</td>
                    </tr>
                    <tr>
                        <td class="bg-main-color" width="10%"></td>
                        <td class="bg-pink-color" width="45%"><i class="icon icon-sun"></i><span class="period">AM</span></td>
                        <td class="bg-pink-color" width="45%"><i class="icon icon-moon"></i><span class="period">PM</span></td>
                    </tr>
                    <tr v-for="(i, index) in 12">
                        <td class="bg-main-color">{{ getHour(index) }}</td>
                        <td @click="onClickHour('AM', index)" v-html="getDayData('AM', index)" :title="getTitle(index,'AM')"></td>
                        <td @click="onClickHour('PM', index)" v-html="getDayData('PM', index)" :title="getTitle(index,'PM')"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="babel">
    import datepicker from './datepicker.vue'
    import parameter from '../../config/parameter'

    export default{
        mixins: [require('./common').default],
        components:{
            datepicker
        },
        created(){
            this.getData()
        },
        props: [],
        data(){
            return{
                parameter,
                time_zone: 'America',
                date: {},
                data_hours: [],
                date_arr: [],
                is_show: false,
            }
        },
        computed: {
            date_arr(){
                let result = [];
                let date = this.date.date;
                $.each(this.data_hours, (k, v)=>{
                    if(v.date == date){
                        result.push(v)
                    }
                });
                return result;
            }
        },
        watch:{
        },
        methods:{
            changeTimeZone(index){
                this.$set(this, 'time_zone', index);
            },
            onClickHour(period, index){
                this.$set(this, 'is_show', true);
                for(const i of this.data_hours){
                    if(i.period == period && i.hour == this.getHour(index) && i.date == this.date.date){
                        if(!i.meeting){
                            this.data_hours.splice(this.data_hours.indexOf(i), 1);
                            return;
                        }
                    }
                }
                this.data_hours.push({
                    hour: this.getHour(index),
                    period: period,
                    date: this.date.date,
                    time_zone: this.time_zone
                })
            },
            getDayData(period, index){
                for(const i of this.date_arr){
                    if(i.period == period && i.hour == this.getHour(index)){
                        if(!i.meeting){
                            return '开放';
                        } else {
                            return "<div style='color:orange' title='"+i.meeting.user.name+','+i.meeting.theme+"'>会议</div>";
                        }
                    }
                }
                return '';
            },
            getData(){
                this.$http.get('my/calendar').then((r)=>{
                    this.data_hours = r.data
                });
            },
            submit(){
                this.$http.post('my/calendar', this.data_hours).then((r)=>{
                    // this.$emit('close');
                    this.$set(this, 'is_show', false);
                });
            }
        }
    }
</script>

<style lang="scss">
    $color: #da244f;
    $color-pink: #f2c2cd;
    $color-yellow: #fde35b;
    .bg-pink-color{
        background-color: $color-pink;
        color: $color;
        border: 1px solid #fff !important;
    }

    .bg-yellow-color{
        background-color: $color-yellow;
        color: $color;
        border: 1px solid $color !important;
    }

    .yellow-color{
        background-color: $color-yellow;
    }
    .calendar-box{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 9999;
        background: #FFF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.38);
        overflow-y: auto;
        .calendar-head{
            margin-bottom: 20px;
            margin-left: 10px;
            .calendar-title{
                margin: 20px 0 25px 0;
                font-weight: bold;
                span{
                    display: inline-block;
                    width: 48%;
                    font-size: 24px;
                }
                .calendar-close{
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                    cursor: pointer;
                    i{
                        font-size: 28px;
                    }
                }
            }
            .calendar-period{
                margin-top: 2.5em;
                font-weight: 500;
                label{
                    margin: 0 2em;
                    color: #7e7e7e;
                    font-weight: normal;
                    input{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .calendar-content{
            .zone-time{
                position: relative;
                font-size: 18px;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                background-color: $color;
                color: #fff;

                .time-zone-select{
                    position: absolute;
                    display: inline-block;
                    height: 30px;
                    top: 0;
                    right: 0;
                    font-size: 14px;
                    .dropdown{
                        .btn{
                            border: 0;
                            background-color: $color;
                            color: #fff;
                            padding: 6px 10px !important;
                        }
                        .dropdown-menu{
                            min-width: 100px !important;
                        }
                        &:hover{
                            .dropdown-menu{
                                display: block;
                            }
                        }
                    }
                }
            }
            .tips{
                padding: 10px 10px;
                line-height: 1.0em;
            }
            table.day-list{
                width: 100%;
                background-color: transparent;
                border-spacing: 0;
                border-collapse: collapse;
                border-color: $color;

                tr{
                    // background-color: $color;
                    th{
                        text-align: center;
                    }
                    .date{
                        font-size: 18px;
                    }

                    td{
                        border: 1px solid #ccc;
                        border-top: 0;
                        // background: #FFF;
                        padding: 10px 0;
                        font-size: 13px;
                        vertical-align: top;
                        text-align: center;
                        line-height: 2.3em;
                        // background: #e9e3e6;
                        &:first-child{
                            border: 0;
                        }

                        .icon{
                            display: inline-block;
                            width: 34px;
                            height: 34px;
                            margin-right: 10px;
                            vertical-align: bottom;
                            &.icon-moon{
                                background: url("../../images/moon.png") no-repeat center center;
                            }
                            &.icon-sun{
                                background: url("../../images/sun.png") no-repeat center center;
                            }
                        }
                        .period{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
</style>